/** @define digits */
.digits {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 2.5em 0 1em;

    &__digit {
        margin: 0 0.4em;
        text-align: center;
        position: relative;

        &-value {
            @include typeface(--paragraph-center-bold-black);
            @include toEm(width, 40px, 1em);
            @include toEm(height, 40px, 1em);
            margin-bottom: 0.5em;
            border-radius: 50%;
            background-color: $COLOR_LIGHT_BLACK_4_SOLID;
            display: flex;
            justify-content: center;
            align-items: center;

            &--selected {
                background-color: $COLOR_WHITE;
                border: 2px solid $COLOR_LIGHT_GRAY_1;
            }
            &--latest {
                color: $COLOR_WHITE;
                background-color: $COLOR_LIGHT_GRAY_1;
                transform: translateY(-10px);
                transition: transform 0.2s ease-out, background-color 0.1s linear 0.2s;
            }
            &--win {
                transition: background-color 0.2s linear;
                background-color: $COLOR_GREEN_1;

                /* postcss-bem-linter: ignore */
                &.digits__digit-value--selected {
                    border: 2px solid $COLOR_GREEN_1;
                }
            }
            &--blink {
                background-color: $COLOR_GREEN_1;
                animation-name: blinking-light-gray-1;
                animation-duration: 500ms;
                animation-iteration-count: 4;
                animation-timing-function: step-end;

                /* postcss-bem-linter: ignore */
                &.digits__digit-value--selected {
                    animation-name: blinking-white;
                }
            }
            &--loss {
                transition: background-color 0.2s linear;
                background-color: $COLOR_RED;

                /* postcss-bem-linter: ignore */
                &.digits__digit-value--selected {
                    border: 2px solid $COLOR_RED;
                }
            }
        }
        &-spot {
            position: absolute;
            top: -35px;
            left: -10px;
            animation: bounce 0.8s forwards ease;
            opacity: 1;
            transition: opacity 0.3s;

            &-value {
                @include typeface(--paragraph-center-bold-black);
                color: $COLOR_LIGHT_BLACK_2;
            }
            &-last {
                @include typeface(--paragraph-center-bold-black);
                color: $COLOR_LIGHT_BLACK_1;

                &--win {
                    color: $COLOR_GREEN_1;
                }
                &--loss {
                    color: $COLOR_RED;
                }
            }
        }
        &--loss {
            transform: translateY(10px);
            transition: transform 0.2s ease-out 1s;
        }
    }
    &__pointer {
        position: absolute;
        bottom: -12px;
        padding: 0 1.2em;
        transition: margin-left 0.25s ease;
    }
    &__particles {
        position: absolute;
        padding: 0 20px;
        top: 8px;
        transform: rotate(45deg);
        opacity: 0;

        &-particle {
            background: $COLOR_GREEN_1;
            opacity: 0.7;
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            transition: transform 0.5s ease, opacity 0.5s linear 0.5s;
        }
        &--explode {
            opacity: 1;

            .digits__particles-particle {
                opacity: 0;

                &:nth-child(1) {
                    transform: translate(45px, 45px);
                }
                &:nth-child(2) {
                    transform: translate(45px, 0px);
                }
                &:nth-child(3) {
                    transform: translate(0px, 45px);
                }
                &:nth-child(4) {
                    transform: translate(-45px, 45px);
                }
                &:nth-child(5) {
                    transform: translate(-45px, -45px);
                }
                &:nth-child(6) {
                    transform: translate(-45px, 0px);
                }
                &:nth-child(7) {
                    transform: translate(0px, -45px);
                }
                &:nth-child(8) {
                    transform: translate(45px, -45px);
                }
            }
        }
    }
    &__icon {
        &-color {
            fill: $COLOR_ORANGE;
        }
        &--win .digits__icon-color {
            fill: $COLOR_GREEN_1;
        }
        &--loss .digits__icon-color {
            fill: $COLOR_RED;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(35px);
    }
    30% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blinking-white {
    50% {
        color: $COLOR_LIGHT_BLACK_1;
        background-color: $COLOR_WHITE;
    }
}

@keyframes blinking-light-gray-1 {
    50% {
        background-color: $COLOR_LIGHT_GRAY_1;
    }
}

@keyframes blinking-dark-blue-2 {
    50% {
        background-color: $COLOR_DARK_BLUE_2;
    }
}

@keyframes blinking-dark-blue-7 {
    50% {
        background-color: $COLOR_DARK_BLUE_7;
    }
}
