.acc-balance-container {
    display: flex;
    align-items: center;
    position: relative;

    .acc-balance {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .acc-switcher-container {
            position: relative;
            height: 100%;
        }
        .acc-info {
            display: flex;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 1.6em;
            cursor: pointer;

            p.acc-balance-id {
                @include typeface(--title-bold-black, default, center);
                pointer-events: none;

                &:after {
                    display: block;
                    content: attr(title);
                    font-weight: 500;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
            p.acc-balance-amount {
                @include typeface(--title-bold-green, default, center);
                padding: 8px;
                pointer-events: none;
            }
            .select-arrow {
                pointer-events: none;
                transition: transform 0.25s ease;
                transform: rotate(0deg);
                transform-origin: 50% 45%;
            }
            &:hover:not(.show) {
                background: $COLOR_LIGHT_BLACK_4;
            }
            &--is-virtual {
                p.acc-balance-amount {
                    color: $COLOR_ORANGE;
                }
                &:before {
                    @include typeface(--small-normal-orange, uppercase);
                    content: 'demo';
                    border: 1px solid $COLOR_ORANGE;
                    padding: 0.2em 0.8em;
                    margin-right: 0.8em;
                    border-radius: 16px;
                    pointer-events: none;
                }
            }
            &--show {
                .select-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
    button.btn {
        margin: 0 1.6em;
    }
}

.acc-switcher {
    &-wrapper {
        position: absolute;
        background: $COLOR_WHITE;
        transition: transform 0.25s ease, opacity 0.25s linear;
        box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_3;
        right: 0;
        top: calc(100% + 0.4em);
        width: 240px;
        border-radius: $BORDER_RADIUS;

        &--enter-done {
            opacity: 1;
            transform: translateY(0);
        }
        &--enter, &--exit {
            opacity: 0;
            transform: translateY(-2em);
        }
    }
    &__new-account {
        display: flex;
        justify-content: center;
        margin: 0.8em 0 1.6em;

        span {
            @include typeface(--small-normal-grey, default, center);
            padding: 0.8em 1.6em;
            border: 1px dashed $COLOR_LIGHT_BLACK_2;
            width: 100%;
            margin: 0 1.6em;
            border-radius: 4px;
            cursor: pointer;

            &:before {
                content: '\002B';
                color: $COLOR_LIGHT_BLACK_2;
                margin-right: 0.8em;
            }
            &:hover {
                background: $COLOR_LIGHT_BLACK_4;
            }
        }
    }
    &__list {
        height: 100%;
        border-radius: $BORDER_RADIUS;
        background-color: $COLOR_LIGHT_BLACK_4_SOLID;

        &__group {
            border-bottom: 4px solid $COLOR_WHITE;
            padding: 0.8em 0;
        }
        &__virtual {
            padding-top: 0.8em;
            padding-bottom: 1.6em;
        }
        &__title {
            @include typeface(--paragraph-bold-black);
            padding: 8px 16px;
            display: block;
        }
        .acc-switcher-account {
            @include typeface(--small-normal-black);
            cursor: pointer;
            padding: 8px 16px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .acc-switcher__id {
                @include typeface(--paragraph-light-black);
                display: flex;
                align-items: center;

                &.virtual:before {
                    @include typeface(--xxsmall-normal-orange, uppercase);
                    content: 'demo';
                    border: 1px solid $COLOR_ORANGE;
                    padding: 0.5em;
                    border-radius: 20px;
                    margin: 0 1em 0 0;
                }
                &__icon:before {
                    width: 100%;
                    height: 100%;
                    margin-right: 16px;
                    line-height: normal;
                    display: inline-block;
                    vertical-align: middle;
                }
                &__icon--usd:before {
                    content: url('../images/header/accounts/usd.svg');
                }
                &__icon--ust:before {
                    content: url('../images/header/accounts/ust.svg');
                }
                &__icon--aud:before {
                    content: url('../images/header/accounts/aud.svg');
                }
                &__icon--bch:before {
                    content: url('../images/header/accounts/bch.svg');
                }
                &__icon--eth:before {
                    content: url('../images/header/accounts/eth.svg');
                }
                &__icon--gbp:before {
                    content: url('../images/header/accounts/gbp.svg');
                }
                &__icon--btc:before {
                    content: url('../images/header/accounts/btc.svg');
                }
                &__icon--eur:before {
                    content: url('../images/header/accounts/eur.svg');
                }
                &__icon--ltc:before {
                    content: url('../images/header/accounts/ltc.svg');
                }
            }
            .acc-switcher__radio {
                height: 1em;
                width: 1em;
                border: 2px solid $COLOR_LIGHT_BLACK_2;
                border-radius: 50%;
            }
            &:hover {
                background: $COLOR_LIGHT_BLACK_4;
            }
            &--selected {
                .acc-switcher__radio {
                    border: 2px solid $COLOR_ORANGE;
                    background: $COLOR_WHITE;
                }
            }
        }
        .acc-button {
            padding: 0.8em;
            border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;

            button.btn {
                @include typeface(--small-normal-black);
                margin: 0;
                width: 100%;
            }
        }
        .acc-logout {
            @include typeface(--paragraph-normal-black);
            padding: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: $COLOR_WHITE;

            .inline-icon {
                width: 1.6em;
                height: auto;
                margin-left: 16px;
            }
            &:hover {
                background: $COLOR_LIGHT_BLACK_4;
            }
        }
    }
}

// Dark Theme
.theme--dark {
    .acc-switcher {
        &-wrapper {
            background: $COLOR_DARK_BLUE_3;
        }
        &-account:hover {
            background-color: $COLOR_DARK_BLUE_4;
        }
        &__list {
            background-color: $COLOR_DARK_BLUE_3;

            &__group {
                border-color: $COLOR_DARK_BLUE_2;
            }
            &__title {
                color: $COLOR_DARK_BLUE_7;
            }
            .acc-switcher-account {
                border-color: $COLOR_DARK_BLUE_2;

                .acc-switcher__id {
                    color: $COLOR_DARK_BLUE_7;
                }
                .acc-switcher__radio {
                    border-color: $COLOR_DARK_BLUE_7;
                }
                &--selected {
                    .acc-switcher__id {
                        color: $COLOR_WHITE;
                    }
                    .acc-switcher__radio {
                        border-color: $COLOR_GREEN_1;
                        background: $COLOR_GREEN_1;
                    }
                }
            }
            .acc-button {
                border-color: $COLOR_DARK_BLUE_2;
            }
            .acc-logout {
                background-color: $COLOR_DARK_BLUE_2;

                span {
                    color: $COLOR_DARK_BLUE_7;
                }
                &:hover {
                    background-color: $COLOR_DARK_BLUE_4;
                }
            }
        }
        &-header {
            color: $COLOR_DARK_BLUE_7;
        }
        &__new-account span {
            color: $COLOR_DARK_BLUE_7;
            border-color: $COLOR_DARK_BLUE_7;

            &:before {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover {
                background: $COLOR_DARK_BLUE_4;
            }
        }
    }
    .acc-balance-container {
        .acc-balance {
            .acc-info {
                p.acc-balance-id {
                    color: $COLOR_WHITE;
                }
                &:hover:not(.show) {
                    background-color: $COLOR_DARK_BLUE_4;

                    .symbols {
                        background: $COLOR_DARK_BLUE_4;
                    }
                }
                .acc-balance-amount {
                    .symbols {
                        background: $COLOR_DARK_BLUE_2;
                    }
                }
                .select-arrow .arrow-path {
                    fill: $COLOR_DARK_BLUE_7;
                }
                &--show {
                    &:after {
                        background: $COLOR_WHITE;
                    }
                }
                &--is-virtual {
                    .acc-balance-amount, .symbols {
                        color: $COLOR_ORANGE;
                    }
                }
            }
        }
    }
}
