.allow-equals {
    display: flex;
    align-items: center;

    > * {
        margin: 0.8em 0 0;
    }
    label {
        @include typeface(--small-left-normal-black, none);
        @include toEm(padding-left, 8px, 1.2em);
        cursor: pointer;
        font-size: 0.75rem;
    }
}
