.allow-equals {
    display: flex;
    align-items: center;

    > * {
        margin: 8px 0 0;
    }
    label {
        vertical-align: middle;
        padding-left: 8px;
        cursor: pointer;
        font-size: 0.75rem;
    }
}
