.allow-equals {
    display: inline-block;

    .input-field {
        display: inline-block;

        input {
            &:active, &:focus {
                box-shadow: none;
            }
        }
    }
    label {
        vertical-align: middle;
        padding-left: 8px;
        cursor: pointer;
        font-size: 0.75rem;
    }
    .tooltip {
        display: inline-block;
        height: 12px;
        width: 12px;

        .info {
            vertical-align: middle;
            padding-left: 2px;

            &:after {
                transform: scale(0.75);
            }
        }
    }
    .tooltip[data-tooltip] {
        i {
            &:before {
                content: url('../images/common/tooltip/ic_tooltip_info_dark.svg');
                position: absolute;
                right: 100%;
                z-index: 10;
                opacity: 0;
                transition: all 0.18s ease-out 0.18s;
                margin-right: 380px;
                margin-top: -3px;
            }
            &:hover:before {
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
        &:before {
            background: $COLOR_LIGHT_BLACK_1 !important;
            color: $COLOR_WHITE;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
        &:after {
            border-left-color: $COLOR_LIGHT_BLACK_1 !important;
            margin-right: 98px;
        }
        &:hover:after, &:hover:before {
            opacity: 1;
        }
        &[data-tooltip-pos=left] {
            &:before {
                padding-left: 40px;
                margin-right: 110px;
            }
        }
    }
}
