/** @define allow-equals */
.allow-equals {
    display: flex;
    align-items: center;

    &__label {
        margin: 0.6em 0 0;
        @include typeface(--paragraph-left-normal-black, none);
        @include toEm(padding, 0 8px, 1.2em);
        @include themify($themes) {
            color: themed('text_primary_color');
        }
        cursor: pointer;
    }
    & &__tooltip {
        &[data-tooltip] {
            width: 12px;
            height: 12px;
            margin-top: 0.3em;
            text-decoration: none;

            &:before {
                padding-left: 3.25em;
            }
            &:before, &:after {
                top: 60%;
            }
        }
        &-info {
            @extend %inline-icon.secondary;
        }
        &-info-balloon-icon {
            left: -310px;
            top: 328px;
        }
        &:hover {
            .allow-equals__tooltip-info {
                @extend %inline-icon.white;
            }
        }
    }
}
