.card-list {
    overflow: auto; // fixes margin collapse

    &__card {
        max-width: 450px;
        margin: 0.6rem auto;
        background-color: $COLOR_WHITE;
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: $COLOR_LIGHT_GRAY;
        }
    }
}
