div.contracts-popup-container {
    position: relative;
    z-index: 2;
    background: $COLOR_WHITE;
    border: solid 1px $COLOR_WHITE;
    border-radius: 4px;
    transition: transform 0.3s, opacity 0.3s;
    padding: 0.4em;
    color: $COLOR_LIGHT_BLACK_1;

    &:hover {
        border-color: $COLOR_LIGHT_GRAY_1;
    }
    &.mobile-only {
        border: solid 1px $COLOR_WHITE;

        .list-group {
            margin-bottom: 1.5em;

            .list-label {
                padding-left: 2.4em;
                margin-bottom: 0.8em;
            }
            .list-item {
                padding-bottom: 0.6em;
                padding-top: 0.6em;

                .categories-container {
                    margin-right: 0.8em;
                }
            }
        }
        &:hover, &:focus, &:active {
            border: solid 1px $COLOR_LIGHT_GRAY_1;
        }
    }
    .contracts-popup-display {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        span[name=contract_type] {
            @include typeface(--small-left-light-black);
            vertical-align: middle;
        }
        &:hover, &:focus {
            border-color: $COLOR_DARK_BLUE_5;
            outline: none;
        }
        .categories-container {
            margin-bottom: 0.2em;
        }
        &.desktop-only span[name=contract_type] {
            font-size: 1.2em;
        }
    }
    &:active, &:focus, &.show {
        outline: none;
        border-radius: 4px;
        border-color: $COLOR_LIGHT_GRAY_1;
        box-shadow: 0 0 0 2px $COLOR_LIGHT_GRAY_2;
    }
    &.show {
        &.mobile-only {
            z-index: 99;
        }
        & > .clicked {
            border-color: $COLOR_DARK_BLUE_5;
        }
    }
    .list-item {
        width: 100%;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0.8em;
        box-sizing: border-box;
        margin-bottom: 0.1em;
        transition: transform 0.3s opacity 0.3s;

        &:hover {
            background-color: #f2f3f8; /* stylelint-disable-line color-no-hex */

            .trade-type-info-icon {
                display: block;
            }
        }
        &.disabled {
            pointer-events: none;

            .contract-title {
                color: $COLOR_LIGHT_BLACK_4;
            }
        }
        .contract-icon {
            padding-right: 0.8em;
        }
        .contract-title {
            @include typeface(--paragraph-left-light-black);
        }
        .trade-type-info-icon {
            display: none;
            height: 16px;
            width: 16px;
            margin-left: auto;

            svg {
                pointer-events: none;
            }
        }
    }
    .contracts-popup-list {
        right: 0.4em;
        width: 100%;
        pointer-events: none;
        position: absolute;
        transition: transform 0.25s ease, opacity 0.25s;
        user-select: none;
        opacity: 0;
        height: 0;
        z-index: 999;

        .list-container {
            position: absolute;
            width: 290px;
            right: calc(100% + 1em);
            top: -5.4em;
            display: grid;
            grid-auto-columns: 1fr;
            z-index: 2;
            background: $COLOR_LIGHT_BLACK_4_SOLID;
            border-radius: 4px;
            box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_3;

            .list-group {
                padding: 1.6em 1.6em 0em;

                .list-label span {
                    @include typeface(--paragraph-left-normal-black);
                }
                &:last-child {
                    padding-bottom: 1.6em;
                }
                .list-items {
                    .list-item {
                        background-color: $COLOR_WHITE;

                        &:first-child {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            border-bottom: none;
                        }
                        &:last-child {
                            border-top: none;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                        &:only-child {
                            border-radius: 4px;
                        }
                        &.selected {
                            background: $COLOR_LIGHT_GRAY_1;

                            span {
                                font-weight: bold;
                                color: $COLOR_WHITE;
                            }
                        }
                        &:hover:not(.selected) {
                            background: $COLOR_LIGHT_BLACK_4;
                        }
                    }
                }
            }
            .categories-container {
                margin-right: 0.4em;

                .category-wrapper {
                    width: 2.4em;
                    height: 2.4em;
                }
            }
        }
        &-enter, &-exit {
            transform: translateX(20%);
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
        &-enter-done {
            transform: translateX(0);
            max-height: 100%;
            opacity: 1;
            pointer-events: auto;
        }
    }
    .trade-type-info-popup {
        right: 0.4em;
        width: 100%;
        pointer-events: none;
        position: absolute;
        transition: transform 0.25s ease, opacity 0.25s;
        transform: translateX(50%);
        user-select: none;
        opacity: 0;
        height: 0;
        z-index: 999;

        .trade-type-info {
            position: absolute;
            width: 290px;
            height: 544px;
            right: calc(100% + 1px);
            top: -5.4em;
            z-index: 2;
            background: $COLOR_LIGHT_BLACK_4_SOLID;
            border-radius: 4px;
            padding: 1.6em;
            box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_3;
            display: flex;
            flex-direction: column;

            .info-header {
                display: flex;
                align-items: center;
                margin-bottom: 0.8em;

                .title {
                    @include typeface(--paragraph-left-normal-black);
                    @include toEm(margin-left, 8px, 1.4em);
                }
            }
            .info-gif {
                width: 100%;
                height: 140px;
                background-color: $COLOR_WHITE;
                border-radius: 4px;
            }
            .info-content {
                margin-top: 1.6em;
                flex: 1;
                overflow-y: auto;

                p {
                    @include typeface(--paragraph-left-normal-black, none);
                    @include toEm(margin-bottom, 8px, 1.4em);
                }
            }
            .info-choose {
                button {
                    background: $COLOR_ORANGE;
                    margin: 1em 0;
                    width: 100%;

                    span {
                        @include typeface(--paragraph-center-normal-active, uppercase);
                    }
                }
            }
            .info-navigation {
                display: flex;
                align-self: flex-end;
                width: 100%;

                &__list {
                    display: inline-block;
                    text-align: center;
                    margin: 0 auto;

                    .circle-button {
                        width: 0.8em;
                        height: 0.8em;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 0.4em;
                        background-color: $COLOR_WHITE;
                        cursor: pointer;

                        &.active {
                            background-color: $COLOR_LIGHT_GRAY_1;
                        }
                    }
                }
                &__icon {
                    cursor: pointer;
                }
            }
        }
        &-enter, &-exit {
            transform: translateX(50%);
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
        &-enter-done {
            transform: translateX(0);
            max-height: 100%;
            opacity: 1;
            pointer-events: auto;
        }
    }
    .contracts-modal-list {
        .list-item {
            padding: 1.6em;
        }
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 35%;
        right: 0.8em;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        transform-origin: 45% 45;
        color: $COLOR_LIGHT_BLACK_4;
    }
    .categories-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .category-wrapper {
            margin: 0 0.2em;
        }
    }
}

// Dark Theme
.theme--dark {
    div.contracts-popup-container {
        color: $COLOR_DARK_BLUE_7;
        background: $COLOR_DARK_BLUE_2;
        border-color: $COLOR_DARK_BLUE_2;

        .contracts-popup-display span[name=contract_type] {
            color: $COLOR_DARK_BLUE_7;
        }
        &.mobile-only {
            .contracts-popup-display span {
                color: $COLOR_DARK_BLUE_7;
            }
            .contracts-modal-list {
                background: $COLOR_DARK_BLUE_5;
            }
        }
        &:hover {
            border-color: $COLOR_DARK_BLUE_7;
        }
        &:focus, &:active {
            outline: 0;
            border-color: $COLOR_DARK_BLUE_7;
            box-shadow: 0 0 0 2px rgba(127, 131, 151, 0.3);
        }
        .list-container {
            background: $COLOR_DARK_BLUE_3;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);

            .list-group .list-label span {
                color: $COLOR_DARK_BLUE_7;
            }
            .list-group .list-items .list-item {
                background: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;

                .contract-title {
                    color: $COLOR_DARK_BLUE_7;
                }
                &.selected {
                    background: $COLOR_DARK_BLUE_5;

                    span {
                        color: $COLOR_WHITE;
                    }
                }
                &:hover:not(.selected) {
                    background: $COLOR_DARK_BLUE_4;
                }
                .trade-type-info-icon {
                    svg path {
                        fill: $COLOR_DARK_BLUE_7;
                    }
                }
            }
        }
        .category-wrapper {
            background: $COLOR_DARK_BLUE_5;

            .category-type {
                @include colorIcon($COLOR_WHITE);
            }
        }
        .select-arrow .arrow-path {
            fill: $COLOR_DARK_BLUE_7;
        }
        .trade-type-info-popup {
            .trade-type-info {
                background: $COLOR_DARK_BLUE_3;

                .info-header {
                    svg path {
                        fill: $COLOR_DARK_BLUE_7;
                    }
                    .title {
                        color: $COLOR_DARK_BLUE_7;
                    }
                    span {
                        cursor: pointer;
                    }
                }
                .info-gif {
                    background-color: $COLOR_DARK_BLUE_2;
                    color: $COLOR_DARK_BLUE_8;
                }
                .info-content p {
                    color: $COLOR_DARK_BLUE_7;
                }
                .info-navigation {
                    &__list {
                        .circle-button {
                            background-color: $COLOR_DARK_BLUE_8;

                            &.active {
                                background-color: $COLOR_DARK_BLUE_7;
                            }
                        }
                    }
                    &__icon {
                        svg path {
                            fill: $COLOR_DARK_BLUE_7;
                        }
                    }
                }
            }
        }
    }
}
