/** @define contract-type-widget; */
.contract-type-widget {
    position: relative;
    z-index: 2;
    background: $COLOR_WHITE;
    border: solid 1px $COLOR_WHITE;
    border-radius: 4px;
    transition: transform 0.3s, opacity 0.3s;
    padding: 1em;
    color: $COLOR_LIGHT_BLACK_1;

    &__display {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        /* postcss-bem-linter: ignore */
        span[name=contract_type] {
            @include typeface(--small-left-normal-black);
            vertical-align: middle;
        }
        &:hover, &:focus {
            border-color: $COLOR_DARK_BLUE_5;
            outline: none;
        }
        &--clicked {
            border-color: $COLOR_DARK_BLUE_5;
        }
    }
    &__select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 35%;
        right: 0.8em;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        transform-origin: 45% 45;
        color: $COLOR_LIGHT_BLACK_4;
    }
    &__icon-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.6em;

        /* postcss-bem-linter: ignore */
        .category-wrapper {
            margin: 0 0.2em;
        }
    }
    &:hover {
        border-color: $COLOR_LIGHT_GRAY_1;
    }
    &:active, &:focus, &--show {
        outline: none;
        border-radius: 4px;
        border-color: $COLOR_LIGHT_GRAY_1;
        box-shadow: 0 0 0 2px $COLOR_LIGHT_GRAY_2;
    }
}
