div.contracts-popup-container {
    position: relative;
    margin: 8px 0;
    z-index: 2;
    cursor: pointer;
    background: $COLOR_WHITE;
    border: solid 1px $COLOR_GRAY;
    border-radius: 4px;

    &.mobile-only {
        border: solid 1px $COLOR_BLUE;
    }
    .contracts-popup-display {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 6px 0;

        i {
            margin-bottom: 5px;
        }
        span {
            font-size: inherit;
            text-transform: capitalize;
            line-height: 100%;
            vertical-align: middle;
            padding: 0;
            font-weight: 300;
        }
        &:hover {
            border-color: $COLOR_BLUE;
        }
    }
    &:active, &:focus, &.show {
        outline: 0;
        border-radius: 4px;
    }
    &.show {
        &.mobile-only {
            z-index: 99;
        }
        & > div.contracts-popup-list {
            right: 0;
            max-height: 100%;
            opacity: 1;
            pointer-events: auto;
        }
        & > .clicked {
            border-color: $COLOR_BLUE;
        }
        & > .select-arrow {
            top: 40%;
            transform: rotate(0deg);
        }
    }
    .list-item {
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;

        &:hover {
            background-color: #f2f3f8; /* stylelint-disable-line color-no-hex */
        }
        &.disabled {
            pointer-events: none;

            .contract-title {
                color: $COLOR_GRAY;
            }
        }
        &.selected {
            background-color: $COLOR_BLUE;

            .contract-title {
                color: $COLOR_WHITE;
            }
        }
        .contract-icon {
            padding-right: 8px;
        }
        .contract-title {
            text-transform: capitalize;
            font-weight: 300;
            font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
        }
    }
    .contracts-popup-list {
        right: -50%;
        width: 100%;
        pointer-events: none;
        position: absolute;
        transition: all 0.3s ease 0.15s;
        opacity: 0;
        height: 0;
        z-index: 999;

        .list-container {
            position: absolute;
            width: 560px;
            right: calc(100% + 10px);
            top: -56px;
            display: grid;
            grid-auto-columns: 1fr;
            z-index: 2;
            background: $COLOR_LIGHT_GRAY;
            border: solid 1px $COLOR_GRAY;
            border-radius: 4px;

            .list-group {
                padding: 1rem;

                .list-label span {
                    font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
                    padding: 8px;
                    display: block;

                }
                &:nth-child(odd) {
                    grid-column: 1;
                    padding: 1rem 0.5rem 1rem 1rem;
                }
                &:nth-child(even) {
                    grid-column: 2;
                    padding: 1rem 1rem 1rem 0.5rem;
                }
                .list-items {
                    .list-item {
                        border: 1px solid $COLOR_GRAY;
                        background-color: $COLOR_WHITE;

                        span.contract-title {
                            font-size: 0.75rem;
                        }
                        &:first-child {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            border-bottom: none;
                        }
                        &:last-child {
                            border-top: none;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                        &:only-child {
                            border-radius: 4px;
                            border: 1px solid $COLOR_GRAY;
                        }
                        &:first-child:nth-last-child(2) {
                            border-bottom: 1px solid $COLOR_GRAY;
                        }
                        &.selected {
                            background: $COLOR_BLUE;
                            color: $COLOR_WHITE;
                        }
                        &:hover:not(.selected) {
                            background: $COLOR_GRAY;
                        }
                    }
                }
            }
        }
    }
    .contracts-modal-list {
        .list-item {
            padding: 16px;
        }
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 40%;
        right: 15px;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
        transform-origin: 45% 30%;
        color: $COLOR_GRAY;

        &:before {
            content: '\002303';
            font-size: 1.1rem;
        }
    }
}

.contract-icon {
    &.ic-rise_fall {
        &:before {
            content: url('../images/trading_app/contracts/rise_fall.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/rise_fall.svg');
        }
    }
    &.ic-high_low {
        &:before {
            content: url('../images/trading_app/contracts/high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/high_low.svg');
        }
    }
    &.ic-touch {
        &:before {
            content: url('../images/trading_app/contracts/touch.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/touch.svg');
        }
    }
    &.ic-end {
        &:before {
            content: url('../images/trading_app/contracts/end.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/end.svg');
        }
    }
    &.ic-stay {
        &:before {
            content: url('../images/trading_app/contracts/stay.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/stay.svg');
        }
    }
    &.ic-asian {
        &:before {
            content: url('../images/trading_app/contracts/asian.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/asian.svg');
        }
    }
    &.ic-match_diff {
        &:before {
            content: url('../images/trading_app/contracts/match_diff.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/match_diff.svg');
        }
    }
    &.ic-even_odd {
        &:before {
            content: url('../images/trading_app/contracts/even_odd.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/even_odd.svg');
        }
    }
    &.ic-over_under {
        &:before {
            content: url('../images/trading_app/contracts/over_under.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/over_under.svg');
        }
    }
    &.ic-lb_call {
        &:before {
            content: url('../images/trading_app/contracts/lb_call.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_call.svg');
        }
    }
    &.ic-lb_put {
        &:before {
            content: url('../images/trading_app/contracts/lb_put.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_put.svg');
        }
    }
    &.ic-lb_high_low {
        &:before {
            content: url('../images/trading_app/contracts/lb_high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_high_low.svg');
        }
    }
}
