div.contracts-popup-container {
    position: relative;
    z-index: 2;
    background: $COLOR_WHITE;
    border: solid 1px $COLOR_GRAY;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover {
        border-color: $COLOR_BLUE;

        .select-arrow {
            color: $COLOR_BLUE;
        }
    }
    &.mobile-only {
        border: solid 1px $COLOR_GRAY;

        .list-group {
            margin-bottom: 1.5rem;

            .list-label {
                padding-left: 24px;
                margin-bottom: 8px;
            }
            .list-item {
                padding-bottom: 6px;
                padding-top: 6px;

                .categories-container {
                    margin-right: 8px;
                }
            }
        }
        &:hover, &:focus, &:active {
            border: solid 1px $COLOR_BLUE;
        }
    }
    .contracts-popup-display {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 4px;

        span {
            font-size: inherit;
            text-transform: capitalize;
            line-height: 100%;
            vertical-align: middle;
            padding: 0;
            font-weight: 300;
        }
        &:hover, &:focus {
            border-color: $COLOR_BLUE;
            outline: none;
        }
    }
    &:active, &:focus, &.show {
        outline: none;
        border-radius: 4px;
        border-color: $COLOR_BLUE;
        box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, .3); // stylelint-disable-line number-leading-zero
    }
    &.show {
        &.mobile-only {
            z-index: 99;
        }
        & > .clicked {
            border-color: $COLOR_BLUE;
        }
        & > .select-arrow {
            transform: rotate(90deg);
        }
    }
    .list-item {
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 1px;
        transition: all 0.2s;

        &:hover {
            background-color: #f2f3f8; /* stylelint-disable-line color-no-hex */

            .tooltip {
                display: block;
            }
        }
        &.disabled {
            pointer-events: none;

            .contract-title {
                color: $COLOR_GRAY;
            }
        }
        &.selected {
            background-color: $COLOR_BLUE;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.3s;

            .contract-title {
                color: $COLOR_WHITE;
            }
        }
        .contract-icon {
            padding-right: 8px;
        }
        .contract-title {
            text-transform: capitalize;
            font-weight: 300;
            font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
        }
        .tooltip {
            margin-left: auto;
            margin-top: 3px;
            display: none;
            transition: all 0.2s;
        }
    }
    .contracts-popup-list {
        right: 4px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        transition: transform 0.25s ease, opacity 0.25s;
        transform: translateX(50%);
        user-select: none;
        opacity: 0;
        height: 0;
        z-index: 999;

        .list-container {
            position: absolute;
            width: 290px;
            right: calc(100% + 10px);
            top: -54px;
            display: grid;
            grid-auto-columns: 1fr;
            z-index: 2;
            background: $COLOR_LIGHT_GRAY;
            border-radius: 4px;

            .list-group {
                padding: 1rem 1rem 0rem;

                .list-label span {
                    font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
                    padding: 8px;
                    display: block;
                }
                &:last-child {
                    padding-bottom: 1rem;
                }
                .list-items {
                    .list-item {
                        background-color: $COLOR_WHITE;

                        span.contract-title {
                            font-size: 0.75rem;
                        }
                        &:first-child {
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            border-bottom: none;
                        }
                        &:last-child {
                            border-top: none;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                        &:only-child {
                            border-radius: 4px;
                        }
                        &.selected {
                            background: $COLOR_BLUE;
                            color: $COLOR_WHITE;

                            span {
                                font-weight: 500;
                            }
                        }
                        &:hover:not(.selected) {
                            background: $COLOR_BRANDBLUE_5;
                        }
                    }
                }
            }
            .categories-container {
                margin-right: 4px;

                .category-wrapper {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        &-enter, &-exit {
            transform: translateX(50%);
            pointer-events: none;
            opacity: 0;
            height: 0;
        }
        &-enter-done {
            transform: translateX(0);
            max-height: 100%;
            opacity: 1;
            pointer-events: auto;
        }
    }
    .contracts-modal-list {
        .list-item {
            padding: 16px;
        }
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 35%;
        right: 8px;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        transform-origin: 45% 45;
        color: $COLOR_GRAY;
    }
    .categories-container {
        margin-bottom: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .category-wrapper {
            margin: 0 2px;
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    div.contracts-popup-container {
        background: $COLOR_BLUE;
        border-color: $COLOR_BRANDBLUE_85;

        &.mobile-only {
            .contracts-popup-display span {
                color: $COLOR_BRANDBLUE_40;
            }
            .contracts-modal-list {
                background: $COLOR_BLUE;
            }
        }
        &:hover {
            border-color: $COLOR_WHITE;
        }
        &:focus, &:active {
            outline: 0;
            border-color: $COLOR_WHITE;
            box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, 0.3) // stylelint-disable-line number-leading-zero
        }
        .list-container {
            border-color: $COLOR_BRANDBLUE_85;
            background: $COLOR_BRANDBLUE_95;

            .list-group .list-items .list-item {
                background: $COLOR_BLUE;
                border-color: $COLOR_BRANDBLUE_85;
                color: $COLOR_BRANDBLUE_40;

                &.selected {
                    background: $COLOR_BRANDBLUE_85;
                    font-weight: 600;
                    color: $COLOR_WHITE;
                }
                &:hover {
                    background: $COLOR_BRANDBLUE_85;
                    color: $COLOR_WHITE;
                }
                &:only-child, &:first-child:nth-last-child(2) {
                    border-color: $COLOR_BRANDBLUE_85;
                }
            }
        }
        .category-wrapper {
            background: $COLOR_BRANDBLUE_75;

            .category-type {
                path, rect {
                    &:not(.important) {
                        fill: $COLOR_WHITE;
                    }
                    &.transparent {
                        fill: $COLOR_BRANDBLUE_75;
                    }
                }
                .stroke-white {
                    stroke: $COLOR_WHITE;
                }
            }
        }
    }
}
