div.contracts-popup-container {
    position: absolute;
    margin: 8px 0;
    top: 0;
    left: 30%;

    .contracts-popup-display {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 200px;
        max-width: 200px;
        width: 100%;
        background: $COLOR_WHITE;
        height: 30px;
        cursor: pointer;
        border: solid 1px $COLOR_LIGHT_GRAY;
        border-radius: 4px;
        padding: 10px 8px;

        span {
            font-size: 1rem;
            text-transform: capitalize;
            line-height: 32px;
            vertical-align: middle;
            padding-left: 8px;
            font-weight: 300;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 60%;
            overflow: hidden;
        }
        &:hover {
            border-color: $COLOR_BLUE;
        }
    }
    &:active, &:focus, &.show {
        outline: 0;
        border-radius: 4px;
    }
    &.show > div.contracts-popup-list {
        top: 100%;
        max-height: 100%;
        opacity: 1;
        pointer-events: auto;
    }
    &.show > .clicked {
        border-color: $COLOR_BLUE;
    }
    &.show > .select-arrow {
        top: 40%;
        transform: rotate(180deg);
    }
    .contracts-popup-list {
        left: 0;
        top: 50%;
        width: 100%;
        pointer-events: none;
        position: absolute;
        transition: all 0.3s ease 0.15s;
        opacity: 0;
        height: 0;
        z-index: 999;

        .list-container {
            position: absolute;
            width: 200%;
            min-width: 500px;
            display: grid;
            z-index: 2;
            background: $COLOR_WHITE;
            border: solid 1px $COLOR_LIGHT_GRAY;

            .list-item {
                width: 100%;
                font-size: 1rem;
                cursor: pointer;

                i.contract-icon {
                    padding-right: 8px;
                }
                span {
                    text-transform: capitalize;
                    display: block;
                    pointer-events: none;
                    vertical-align: middle;
                    font-weight: 300;
                    font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
                    padding: 8px;
                }
                * {
                    height: 32px;
                    line-height: 32px !important;
                    display: inline-block;
                    vertical-align: middle;
                }
                &.disabled {
                    pointer-events: none;

                    span {
                        color: #dedede; /* stylelint-disable-line color-no-hex */
                    }
                }
                &:hover {
                    background-color: #f2f3f8; /* stylelint-disable-line color-no-hex */
                }
                &.selected span {
                    background-color: $COLOR_BLUE;
                    color: $COLOR_WHITE;
                    font-weight: 400;
                }
                &:nth-child(odd) {
                    grid-column: 1;
                }
                &:nth-child(even) {
                    grid-column: 2;
                }
            }
        }
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 40%;
        right: 15px;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        color: $COLOR_LIGHT_GRAY;
        font-size: 0.8rem;

        &:before {
            content: '\0025BE';
            color: $COLOR_BLACK;
        }
    }
}

.contract-icon {
    &.ic-rise_fall {
        &:before {
            content: url('../images/trading_app/contracts/rise_fall.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/rise_fall.svg');
        }
    }
    &.ic-high_low {
        &:before {
            content: url('../images/trading_app/contracts/high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/high_low.svg');
        }
    }
    &.ic-touch {
        &:before {
            content: url('../images/trading_app/contracts/touch.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/touch.svg');
        }
    }
    &.ic-end {
        &:before {
            content: url('../images/trading_app/contracts/end.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/end.svg');
        }
    }
    &.ic-stay {
        &:before {
            content: url('../images/trading_app/contracts/stay.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/stay.svg');
        }
    }
    &.ic-asian {
        &:before {
            content: url('../images/trading_app/contracts/asian.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/asian.svg');
        }
    }
    &.ic-match_diff {
        &:before {
            content: url('../images/trading_app/contracts/match_diff.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/match_diff.svg');
        }
    }
    &.ic-even_odd {
        &:before {
            content: url('../images/trading_app/contracts/even_odd.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/even_odd.svg');
        }
    }
    &.ic-over_under {
        &:before {
            content: url('../images/trading_app/contracts/over_under.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/over_under.svg');
        }
    }
    &.ic-lb_call {
        &:before {
            content: url('../images/trading_app/contracts/lb_call.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_call.svg');
        }
    }
    &.ic-lb_put {
        &:before {
            content: url('../images/trading_app/contracts/lb_put.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_put.svg');
        }
    }
    &.ic-lb_high_low {
        &:before {
            content: url('../images/trading_app/contracts/lb_high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_high_low.svg');
        }
    }
}
