$side-padding: 2rem;

.table {
    color: $COLOR_LIGHT_BLACK;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border: 1px solid $COLOR_GRAY;
    border-radius: 2px;

    &-row {
        border-bottom: 1px solid $COLOR_GRAY;
    }
    &-head, &-foot {
        font-weight: 600;
        text-align: left;
        background-color: $COLOR_LIGHT_GRAY;
    }
    th, td {
        padding: 0.75rem;
        border: none;

        &:first-child {
            padding-left: $side-padding;
        }
        &:last-child {
            padding-right: $side-padding;
        }
    }
    &--fixed-header:not(.table-clone) {
        .table-head {
            visibility: hidden;
        }
    }
    &-body &-row:hover {
        background-color: $COLOR_GRAY;
    }
    // styles for fixed table header
    &.table-clone {
        position: fixed;
        z-index: 80;
        pointer-events: none;

        .table-head {
            pointer-events: auto;
            visibility: visible;
        }
        .table-body {
            visibility: hidden;
        }
    }
}