$header-height: 42px;

.table {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: $COLOR_LIGHT_BLACK;
    font-size: 14px;
    border: 1px solid $COLOR_GRAY;

    &__cell {
        padding: 0.75rem;
        display: flex;
        align-items: center;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &__row {
        display: grid;
        padding: 0 16px;
        box-sizing: border-box;
        border-bottom: 1px solid $COLOR_GRAY;
    }
    &__head {
        height: $header-height;
        border-bottom: 1px solid $COLOR_GRAY;
    }
    &__head &__row {
        height: 100%;
        border-bottom: none;
    }
    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    &__body &__row {
        &:hover {
            background-color: $COLOR_GRAY;
            cursor: pointer;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__head, &__foot {
        font-weight: 600;
        white-space: nowrap;
        background-color: $COLOR_LIGHT_GRAY;
    }
    &__foot &__row {
        border-top: 1px solid $COLOR_GRAY;
        border-bottom: none;
    }
}