.datepicker {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 280px;

    &__input {
        border-radius: $BORDER_RADIUS;

        input {
            text-align: center;
            pointer-events: auto;

            &:focus, &:hover {
                outline: none;
                border-color: $COLOR_DARK_BLUE_5;
            }
        }
    }
    &__icon {
        opacity: 1;
        transition: opacity 0.1s;

        &:hover {
            cursor: pointer;
        }
        &--is-hidden {
            opacity: 0;
        }
    }
    // TODO: update datepicker UI in mobile
    &__native-overlay {
        background: $COLOR_WHITE;
        height: 3.2em;
        cursor: pointer;
        border: 0.1em solid $COLOR_LIGHT_BLACK_4;
        border-radius: $BORDER_RADIUS;
        font-size: 1.4rem;
        box-sizing: border-box;
        font-weight: 300;
        transition: border 0.25s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        border-color: transparent;
        background-clip: padding-box;
        text-align: left;

        &__arrowhead {
            display: block;
            position: absolute;
            top: 0.8em;
            right: 0.6em;
        }
    }
    // TODO: style native date picker
    input[type=date] {
        appearance: none;
        // sometimes we have 2 different elements with hover and focus in chrome mobile
        &:hover:not(:focus) {
            border-color: $COLOR_LIGHT_BLACK_4;
        }
        &::-webkit-date-and-time-value {
            margin: 0;
        }
    }
    &__picker {
        position: absolute;
        top: 7px;
        z-index: 999;
        transform-origin: left;
        transform: scale(1, 0) translate3d(20px, 0, 0);
        transition: transform 0.25s ease, opacity 0.25s linear;

        &--left {
            &.datepicker__picker--enter, &.datepicker__picker--exit {
                transform: scale(1, 1) translate3d(-275px, 0, 0);
                opacity: 0;

            }
            &.datepicker__picker--enter-done {
                transform: translate3d(-295px, 0, 0);
                opacity: 1;
            }
        }
    }
}

// Dark Theme
.theme--dark {
    .datepicker {
        &__input {
            background: $COLOR_DARK_BLUE_5;
            color: $COLOR_WHITE;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
        &__icon path {
            fill: $COLOR_DARK_BLUE_7;
        }
        &__native-overlay {
            background: $COLOR_DARK_BLUE_5;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
    }
}
