.DenialOfService {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;

    .DenialBox {
        p, h1 {
            color: $COLOR_WHITE;
        }
        p {
            padding: 1rem;
        }
        .btn {
            margin: 0 8px;
            box-shadow: none;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $COLOR_BRANDBLUE_85;

            &:hover {
                background-color: $COLOR_BRANDBLUE_75;
            }
            span {
                color: $COLOR_BRANDBLUE_40;
                font-size: 12px;
            }
        }
    }
}
