.full-page-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .modal-dialog {
        width: 560px;
        height: 160px;
        padding: 24px 8px 8px;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;

        p, h1 {
            text-align: left;
            padding: 0 16px;
        }
        h1 {
            font-size: 16px;
            margin: 4px 0;
        }
        p {
            flex-grow: 2;
            font-size: 12px;
        }
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
        .btn {
            margin: 0;
            box-shadow: none;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-end;

            span {
                font-weight: bold;
            }
        }
    }
}

.theme--dark {
    .full-page-modal {
        background-color: rgba(31, 36, 61, 0.8);

        .modal-dialog {
            background-color: $COLOR_DARK_BLUE_3;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);

            p, h1 {
                color: $COLOR_DARK_BLUE_7;
            }
            .btn {
                background-color: $COLOR_DARK_BLUE_3;

                &:hover {
                    background-color: $COLOR_DARK_BLUE_7;
                }
                span {
                    color: $COLOR_WHITE;
                    font-size: 12px;
                }
            }
        }
    }
}

.light {
    .full-page-modal {
        background-color: rgba(255, 255, 255, 0.8);

        .modal-dialog {
            background-color: $COLOR_WHITE;
            box-shadow: 0 2px 8px 0 rgba(42, 48, 82, 0.16);

            p, h1 {
                color: rgb(92, 92, 92);
            }
            .btn {
                &:hover {
                    background-color: $COLOR_LIGHT_BLACK_4;
                }
                span {
                    color: $COLOR_DARK_BLUE_3;
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .full-page-modal {
        .modal-dialog {
            width: 100vw;
            height: 100vh;
        }
    }
}
