.number-selector {
    margin-top: 15px;
    text-align: center;

    &__selection {
        width: calc(20% - 5px);
        height: 24px;
        border-radius: $BORDER_RADIUS;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_WHITE;
        margin-left: 5px;
        @include typeface(--paragraph-normal-black, default, center);

        &.selected {
            @include typeface(--paragraph-bold-white, default, center);
            background-color: $COLOR_LIGHT_GRAY_1;
        }
        &:hover:not(.selected) {
            cursor: pointer;
            background-color: $COLOR_LIGHT_BLACK_4;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
