.number-selector {
    margin-top: 0.8em;
    text-align: center;

    > div:first-child {
        margin-bottom: 0.5em;
    }
    &__selection {
        width: calc(20% - 4px);
        height: 24px;
        border-radius: $BORDER_RADIUS;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $COLOR_WHITE;
        @include typeface(--paragraph-normal-black);

        &:not(:first-child) {
            margin-left: 5px;
        }
        &.selected {
            @include typeface(--paragraph-bold-white);
            background-color: $COLOR_LIGHT_GRAY_1;
        }
        &:hover:not(.selected) {
            cursor: pointer;
            background-color: $COLOR_LIGHT_BLACK_4;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
