// Range Slider Thumb styling is set here
@mixin thumbStyle() {
    appearance: none;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.5s;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

// Range Slider
.range-slider {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 4px;
    box-sizing: border-box;

    label[for=range] {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 4px;
    }
    /* overriding firefox shadow pseudo element */
    input[type=range]::-moz-focus-outer {
        border: 0;
    }
    // TODO: remove once we have proper styling for input slider validation error
    &.error {
        input[type=range] {
            // Range Handle Thumb - Chrome / Webkit based browsers
            &::-webkit-slider-thumb {
                background: $COLOR_RED;
            }
            // Range Handle Thumb - Firefox / Gecko based browsers
            &::-moz-range-thumb {
                background: $COLOR_RED;
            }
        }
        .range-slider__line {
            background: $COLOR_RED !important;
        }
        .ticks__step--marked {
            background: $COLOR_RED !important;
            border-color: $COLOR_RED !important;
        }
    }
    &__track {
        position: relative;
        // removal of !important is pending refactor in main trading sass file that overrides rules for input els
        appearance: none !important;
        width: 100% !important;
        height: 2px !important;
        border-radius: 5px;
        background: $COLOR_WHITE !important;
        outline: none;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;

        // Range Handle Thumb - Chrome / Webkit based browsers
        &::-webkit-slider-thumb {
            @include thumbStyle();
            background: $COLOR_LIGHT_GRAY_1;
        }
        // Range Handle Thumb - Firefox / Gecko based browsers
        &::-moz-range-thumb {
            @include thumbStyle();
            background: $COLOR_LIGHT_GRAY_1;
        }
        // Range Handle Thumb - Microsoft Edge
        &::-ms-thumb {
            @include thumbStyle();
            background: $COLOR_LIGHT_GRAY_1;
        }
        &:hover, &:focus, &:active {
            border: 0;
            outline: none;
        }
        // Browser active classes for slider thumb
        &:active::-webkit-slider-thumb {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
        }
        &:active::-moz-range-thumb {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
        }
        &:active::-ms-thumb {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
        }
        &::-moz-range-track {
            background: $COLOR_WHITE;
        }
        &::-ms-track {
            background: $COLOR_WHITE;
        }
    }
    .ticks {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        left: 0;
        top: -2px;
        height: 0;

        &__step {
            height: 2px;
            width: 2px;
            border: 2px solid $COLOR_WHITE;
            background: $COLOR_WHITE;
            border-radius: 50%;
            margin: 0 3px;
            transition: background 0.5s, border-color 0.5s, box-shadow 0.5s;
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
            cursor: pointer;

            &--active, &--marked {
                background: $COLOR_LIGHT_GRAY_1;
                border-color: $COLOR_LIGHT_GRAY_1;
            }
            &--active {
                visibility: hidden;
                pointer-events: none;
            }
            &:hover:not(&--active) {
                background: $COLOR_LIGHT_GRAY_1;
                border-color: $COLOR_LIGHT_GRAY_1;
                box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background: $COLOR_LIGHT_GRAY_1;
        pointer-events: none;
        transition: width 0.5s;
    }
    &__caption {
        display: flex;
        padding: 4px 0;
        justify-content: space-between;
        line-height: 18px;
    }
}

.sidebar-container fieldset div.range-slider__caption span {
    font-size: 0.75rem;
}

.theme--dark {
    .range-slider {
        &__track {
            background: $COLOR_DARK_BLUE_2 !important;

            &::-webkit-slider-thumb {
                background: $COLOR_PURPLE;
            }
            &::-moz-range-thumb {
                background: $COLOR_PURPLE;
            }
            &::-moz-range-track {
                background: $COLOR_DARK_BLUE_2;
            }
            &:active::-webkit-slider-thumb {
                box-shadow: 0 0 0 4px rgba(79, 96, 174, 0.32);
            }
            &:active::-moz-range-thumb {
                box-shadow: 0 0 0 4px rgba(79, 96, 174, 0.32);
            }
        }
        .ticks__step {
            border: 2px solid $COLOR_DARK_BLUE_2;
            background: $COLOR_DARK_BLUE_2;

            &--active, &--marked {
                background: $COLOR_PURPLE;
                border-color: $COLOR_PURPLE;
            }
            &:hover:not(&--active) {
                background: $COLOR_PURPLE;
                border-color: $COLOR_PURPLE;
                box-shadow: 0 0 0 6px rgba(79, 96, 174, 0.32);
            }
        }
        &__line {
            background: $COLOR_PURPLE;
        }
    }
}
