// Range Slider
.range-slider {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 4px;

    label[for=range] {
        position: relative;
    }
    &__range {
        position: relative;
        // pending refactor in main trading sass file that overrides rules for all input els
        appearance: none !important;
        width: 100% !important;
        height: 2px !important;
        border-radius: 5px;
        background: $COLOR_DARK_GRAY !important;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;

        // Range Handle
        &::-webkit-slider-thumb {
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: $COLOR_BLUE;
            cursor: pointer;
            transition: box-shadow 0.5s;
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
        }
        &:hover, &:focus, &:active {
            border: none;
            outline: none;
        }
        &:active::-webkit-slider-thumb {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }
    &__ticks {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 6px;

        &__tick {
            height: 4px;
            width: 4px;
            border: 2px solid $COLOR_DARK_GRAY;
            background: $COLOR_DARK_GRAY;
            border-radius: 50%;
            margin: 0 3px;
            transition: background 0.5s, border-color 0.5s, box-shadow 0.5s;
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
            cursor: pointer;

            &:hover:not(.active) {
                background: $COLOR_BLUE;
                border-color: $COLOR_BLUE;
                box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3);
            }
            &.active, &.marked {
                background: $COLOR_BLUE;
                border-color: $COLOR_BLUE;
            }
            &:hover.active {
                visibility: hidden;
                pointer-events: none;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__line {
        position: absolute;
        top: 9px;
        left: 0;
        height: 2px;
        background: $COLOR_BLUE;
        pointer-events: none;
        transition: width 0.5s;
    }
    &__caption {
        display: flex;
        padding: 4px;
        justify-content: space-between;

        &--min {
            text-align: left;
        }
        &--max {
            text-align: right;
        }
        &--current {
            text-align: center;
        }
    }
}
