/** @define settings-dialog */
.settings-dialog {
    pointer-events: none;

    &__language-header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 16px;
        color: $COLOR_LIGHT_BLACK_1;
    }
    &__language-container {
        display: grid;
        grid-template-columns: repeat(5, 80px);
        grid-template-rows: repeat(5, 84px);
        grid-gap: 16px;
    }
    &__language {
        &-link {
            border-radius: $BORDER_RADIUS;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            color: $COLOR_LIGHT_BLACK_1;
            text-decoration: none;

            &--active {
                border: 1px solid $COLOR_LIGHT_GRAY_1;
                box-shadow: 0 0 0 2px $COLOR_LIGHT_GRAY_2;
            }
        }
        &-flag {
            width: 36px;
            height: 24px;
        }
        &-name {
            font-size: 14px;
            font-weight: normal;

            &--active {
                font-weight: bold;
            }
        }
    }
    &--enter, &--exit {
        transform: translateY(-50%) scale(0.2, 0.2);
        opacity: 0;
        pointer-events: none;
    }
    &--enter-done {
        transform: translateY(0) scale(1, 1);
        opacity: 1;
        pointer-events: auto;
    }
    &__container {
        position: relative;
        width: 736px;
        background-color: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_3;

        &--hide {
            display: none;
        }
    }
}
/**
 * @define dialog-header
 */
.dialog-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 8px 0 var($COLOR_LIGHT_BLACK_3);

    &__sidebar {
        width: 200px;
        @include typeface(--title-left-bold-black);
        line-height: 24px;
        padding: 16px;
        background-color: $COLOR_LIGHT_BLACK_4_SOLID;
    }
    &__main {
        width: 536px;
        font-size: 16px;
        padding: 16px;
        line-height: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__close {
        display: block;
        cursor: pointer;
    }
}
