/** @define settings-dialog */
.settings-dialog {
    position: absolute;
    width: 320px;
    right: 1.2em;
    top: -250px;
    background: $COLOR_WHITE;
    height: auto;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: none;
    opacity: 0;
    z-index: -1;

    &--enter, &--exit {
        transform: none;
        pointer-events: none;
        z-index: -1;
        opacity: 0;
    }
    &--enter-done {
        transform: translateY(-15%) scale(1, 1);
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    &__container {
        position: relative;

        &--hide {
            display: none;
        }
    }
    &__header {
        @include typeface(--small-left-normal-black);
        @include toEm(padding, 8px 16px, 1.2em);
        display: block;
    }
    & &__tab-header {
        padding: 1.6em 1.6em 0.8em;
        font-size: 1.2em;
    }
    &__tab-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 216px;
        background: $COLOR_LIGHT_BLACK_4_SOLID;
    }
    &__row {
        width: 260px;
        padding: 0.8em 1.6em;
        height: 3.2em;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;

        &-name {
            @include typeface(--small-left-normal-black);
        }
        &:hover {
            background-color: $COLOR_LIGHT_BLACK_4_SOLID;
        }
    }
    &__arrow-back {
        padding-right: 0.4em;
    }
    &__general-container, &__chart-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1.6em;
        background: $COLOR_WHITE;

    }
    &__language {
        &-dialog-container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            background: $COLOR_LIGHT_BLACK_4_SOLID;
            border-radius: $BORDER_RADIUS;
            opacity: 0;
            transition: all 0.3s ease 0.15s;
            overflow: hidden;

            &--show {
                pointer-events: auto;
                position: relative;
                opacity: 1;
                height: 280px;
            }
        }
        &-header {
            @include typeface(--small-left-normal-black);
            @include toEm(padding, 8px 16px, 1.2em);
            display: flex;
            background: $COLOR_WHITE;
            cursor: pointer;
            text-decoration: none;
        }
        &-container {
            display: grid;
            padding: 0.8em 1.6em 0;

        }
        &-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: $COLOR_WHITE;
            height: 3.2em;
            cursor: pointer;

            &:hover {
                background: $COLOR_LIGHT_BLACK_4_SOLID;
            }
            &:nth-child(odd) {
                grid-column: 1;
            }
            &:nth-child(even) {
                grid-column: 2;
            }
            &:last-child:not(:nth-child(even)) {
                margin-top: -0.1em;
            }
            &-flag {
                padding-left: 0.8em;
                padding-right: unset;
            }
        }
        &-link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        &-name {
            padding-left: 0.8em;
            font-size: 1.2em;
        }
        &-flag {
            padding-right: 0.6em;

            &--en:before {
                content: url('../images/common/language/ic_flag_en.svg');
            }
            &--de:before {
                content: url('../images/common/language/ic_flag_de.svg');
            }
            &--pt:before {
                content: url('../images/common/language/ic_flag_pt.svg');
            }
            &--it:before {
                content: url('../images/common/language/ic_flag_it.svg');
            }
            &--vi:before {
                content: url('../images/common/language/ic_flag_vi.svg');
            }
            &--ru:before {
                content: url('../images/common/language/ic_flag_ru.svg');
            }
            &--pl:before {
                content: url('../images/common/language/ic_flag_pl.svg');
            }
            &--es:before {
                content: url('../images/common/language/ic_flag_es.svg');
            }
            &--zh-cn:before {
                content: url('../images/common/language/ic_flag_zh_cn.svg');
            }
            &--zh-tw:before {
                content: url('../images/common/language/ic_flag_zh_tw.svg');
            }
            &--id:before {
                content: url('../images/common/language/ic_flag_id.svg');
            }
            &--fr:before {
                content: url('../images/common/language/ic_flag_fr.svg');
            }
            &--th:before {
                content: url('../images/common/language/ic_flag_th.svg');
            }
        }
    }
}
