/** @define settings-dialog */
.settings-dialog {
    position: absolute;
    width: 320px;
    right: 1.2em;
    top: -250px;
    height: auto;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: none;
    opacity: 0;
    z-index: -1;

    @include themify($themes) {
        background: themed('container_secondary_color');

        &--enter, &--exit {
            transform: none;
            pointer-events: none;
            z-index: -1;
            opacity: 0;
        }
        &--enter-done {
            transform: translateY(-15%) scale(1, 1);
            opacity: 1;
            pointer-events: auto;
            z-index: 1;
        }
        &__container {
            position: relative;

            &--hide {
                display: none;
            }
        }
        &__header {
            @include typeface(--small-left-normal-black);
            @include toEm(padding, 8px 16px, 1.2em);
            display: block;
            color: themed('text_primary_color');
        }
        & &__tab-header {
            padding: 1.6em 1.6em 0.8em;
            font-size: 1.2em;
        }
        &__tab-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 216px;
            background: themed('background_container_color');
        }
        &__row {
            width: 260px;
            padding: 0.8em 1.6em;
            height: 3.2em;
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;

            &-name {
                @include typeface(--small-left-normal-black);
                color: themed('text_primary_color');
            }
            &:hover {
                background-color: themed('hover_color');
                box-shadow: 0 0 2px 0 $COLOR_LIGHT_BLACK_3;
            }
        }
        &__arrow-back {
            padding-right: 0.4em;
        }
        &__general-container, &__chart-container {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 1.6em;
            background: themed('container_color');
        }
        &__language {
            &-dialog-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                background: themed('container_secondary_color');
                border-radius: $BORDER_RADIUS;
                opacity: 0;
                transition: all 0.3s ease 0.15s;
                overflow: hidden;

                &--show {
                    pointer-events: auto;
                    position: relative;
                    opacity: 1;
                    height: 280px;
                }
            }
            &-header {
                @include typeface(--small-left-normal-black);
                @include toEm(padding, 8px 16px, 1.2em);
                display: flex;
                background: themed('container_secondary_color');
                cursor: pointer;
                text-decoration: none;
            }
            &-container {
                display: grid;
                padding: 0.8em 1.6em 0;
                height: 100%;
                background: themed('background_container_color');
            }
            &-row {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 3.2em;
                background: themed('container_secondary_color');
                cursor: pointer;

                &:hover {
                    background-color: themed('hover_color');
                    box-shadow: 0 0 2px 0 $COLOR_LIGHT_BLACK_3;
                }
                &:nth-child(odd) {
                    grid-column: 1;
                }
                &:nth-child(even) {
                    grid-column: 2;
                }
                &:last-child:not(:nth-child(even)) {
                    margin-top: -0.1em;
                }
                &-flag {
                    padding-left: 0.8em;
                    padding-right: unset;
                }
            }
            &-link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            &-name {
                padding-left: 0.8em;
                font-size: 1.2em;
                color: themed('text_primary_color');
            }
            &-flag {
                padding-right: 0.6em;
            }
        }
    }
}
