.settings-dialog {
    position: absolute;
    width: 320px;
    right: 12px;
    top: 100%;
    border: 1px solid $COLOR_GRAY;
    background: $COLOR_WHITE;
    height: 220px;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transition: all 0.3s ease 0.15s;
    transform: none;
    opacity: 0;

    &.show {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(calc(-100% - 40px));
    }
    .tab-container {
        .tab {
            width: 50%;

            span {
                padding: 16px 16px 8px;
                font-size: 12px;
                color: $COLOR_LIGHT_BLACK;
            }
        }
        .tab-wrapper {
            margin-bottom: 0;
        }
    }
    .tab-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 158px;
        background: $COLOR_LIGHT_GRAY;
    }
    .settings-header {
        padding: 16px;
        font-size: 12px;
        font-weight: 400;
    }
}
