.settings-dialog {
    position: absolute;
    width: 320px;
    right: 1.2em;
    top: -250px;
    background: $COLOR_WHITE;
    height: auto;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: none;
    opacity: 0;
    z-index: -1;

    &-enter, &-exit {
        transform: none;
        pointer-events: none;
        z-index: -1;
        opacity: 0;
    }
    &-enter-done {
        transform: translateY(-15%) scale(1, 1);
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    .settings-dialog-container {
        position: relative;

        &.hide {
            display: none;
        }
        .tab-container {
            .tab {
                width: 50%;

                span {
                    padding: 1.6em 1.6em 0.8em;
                    font-size: 1.2em;
                    margin: 0 auto;
                }
            }
            .tab-wrapper {
                margin-bottom: 0;
            }
        }
        .tab-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 216px;
            background: $COLOR_LIGHT_BLACK_4_SOLID;
        }
        .settings-header {
            @include typeface(--small-left-normal-black);
            @include toEm(padding, 8px 16px, 1.2em);
            display: block;
        }
        .general-setting-container, .chart-setting-container {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 1.6em;
            background: $COLOR_WHITE;

            .settings-row {
                width: 260px;
                padding: 0.8em 1.6em;
                height: 3.2em;
                display: flex;
                cursor: pointer;
                justify-content: space-between;
                align-items: center;

                span {
                    @include typeface(--small-left-normal-black);
                }
                &:hover {
                    background-color: $COLOR_LIGHT_BLACK_4_SOLID;
                }
            }
        }

    }
    .language-dialog-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background: $COLOR_LIGHT_BLACK_4_SOLID;
        border-radius: $BORDER_RADIUS;
        opacity: 0;
        transition: all 0.3s ease 0.15s;
        overflow: hidden;

        &.show {
            pointer-events: auto;
            position: relative;
            opacity: 1;
            height: 280px;
        }
        .language-header {
            @include typeface(--small-left-normal-black);
            @include toEm(padding, 8px 16px, 1.2em);
            display: flex;
            background: $COLOR_WHITE;
            cursor: pointer;
            text-decoration: none;

            svg.arrow-back {
                padding-right: 0.4em;
            }
        }
        .language-container {
            display: grid;
            padding: 0.8em 1.6em 0;

            .language-row {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background: $COLOR_WHITE;
                height: 3.2em;
                cursor: pointer;

                &:hover {
                    background: $COLOR_LIGHT_BLACK_4_SOLID;
                }
                &:nth-child(odd) {
                    grid-column: 1;
                }
                &:nth-child(even) {
                    grid-column: 2;
                }
                &:last-child:not(:nth-child(even)) {
                    margin-top: -0.1em;
                }
                .flag {
                    padding-left: 8px;
                    padding-right: unset;
                }
                span {
                    padding-left: 0.8em;
                    font-size: 1.2em;
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    & > .language-dialog-container {
        pointer-events: none;
    }
    &.show > .language-dialog-container.show {
        pointer-events: auto;
    }
}

// Dark Theme
.theme--dark {
    .settings-dialog {
        background: $COLOR_DARK_BLUE_3;

        .settings-dialog-container {
            background: $COLOR_DARK_BLUE_3;

            .tab-content {
                background: $COLOR_DARK_BLUE_3;
            }
            .general-setting-container, .chart-setting-container {
                background: $COLOR_DARK_BLUE_5;

            }
            .settings-header {
                color: $COLOR_DARK_BLUE_7;
            }
            .settings-row {
                background-color: $COLOR_DARK_BLUE_2;

                span {
                    color: $COLOR_DARK_BLUE_7;
                }
                &:hover {
                    background-color: $COLOR_DARK_BLUE_4;
                }
            }
        }
        .language-dialog-container {
            background: $COLOR_DARK_BLUE_3;

            .language-header {
                background: $COLOR_DARK_BLUE_3;
                color: $COLOR_DARK_BLUE_7;
            }
            .language-row {
                background: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;

                a span {
                    color: $COLOR_DARK_BLUE_7;
                }
                &:hover {
                    a {
                        background: $COLOR_DARK_BLUE_4;
                    }
                }
            }
        }
    }
}
