.switch-button {
    background: $COLOR_LIGHT_BLACK_4;
    border-radius: 32px;
    transition: all 0.4s ease;
    outline: 0;
    display: block;
    width: 3.2em;
    height: 1.6em;
    position: relative;
    cursor: pointer;

    &.toggled {
        background: $COLOR_GREEN_1;

        &:after {
            left: 1.7em;
        }
    }
    &:after {
        border-radius: 50%;
        background: $COLOR_WHITE;
        transition: all 0.2s ease;
        top: 0.1em;
        left: 0.1em;
        position: relative;
        display: block;
        content: '';
        width: 1.4em;
        height: 1.4em;
    }
}

.toggle-chart-layout {
    border-radius: 4px;
    border: 2px solid $COLOR_LIGHT_BLACK_4;
    padding: 0.2em;
    transition: all 0.4s ease;
    outline: 0;
    display: block;
    width: 1.6em;
    height: 1.2em;
    position: relative;
    cursor: pointer;
    margin-right: 0.4em;

    &.toggled:after {
        top: 0;
        height: 100%;
        width: 0.4em;
    }
    &:after {
        background: $COLOR_DARK_BLUE_2;
        left: 0;
        top: 70%;
        position: relative;
        border-radius: 4px;
        display: block;
        content: '';
        width: 100%;
        height: 0.4em;
    }
}

// Dark Theme
.theme--dark {
    .switch-button:not(.toggled) {
        background: $COLOR_DARK_BLUE_5;
    }
    .toggle-chart-layout {
        border-color: $COLOR_DARK_BLUE_7;

        &:after {
            background: $COLOR_WHITE;
        }
    }
}
