/* Ant style */
.table {
    color: #333333; /* stylelint-disable-line color-no-hex */
    font-size: 16px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100vw;

    &-row {
        background-color: $COLOR_WHITE;
        border-bottom: 1px solid #d2d3da; /* stylelint-disable-line color-no-hex */
    }
    &-head {
        min-height: 40px;
        background-color: #fafafb; /* stylelint-disable-line color-no-hex */

        th {
            padding: 12px;
            font-weight: 600;
            text-align: left;
            border: none;
            background-color: #f4f4f6; /* stylelint-disable-line color-no-hex */
        }
    }
    th:first-child, td:first-child {
        padding-left: 2rem;
    }
    th:last-child, td:last-child {
        padding-right: 2rem;
    }
    &-body {
        .table-row:hover {
            background-color: #e4e6f1; /* stylelint-disable-line color-no-hex */
        }
        td {
            padding: 12px;
            border: none;
        }
    }
    // styles for fixed table header
    &.table-clone {
        position: fixed;
        z-index: 100;
        pointer-events: none;

        .table-head {
            pointer-events: auto;
            visibility: visible;
        }
        .table-body {
            visibility: hidden;
        }
    }
}
