/* Ant style */
.table {
    color: #333333; /* stylelint-disable-line color-no-hex */
    font-size: 16px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100vw;

    &-container {
        padding-top: 100px;
    }
    &-filter {
        height: 100px;
        position: fixed;
        background-color: $COLOR_WHITE;
        width: 100%;
        transform: translateY(-100%);
    }
    &-row {
        background-color: $COLOR_WHITE;
        border-bottom: 1px solid #d2d3da; /* stylelint-disable-line color-no-hex */
    }
    &-head {
        min-height: 40px;
        visibility: hidden; // hide original header, show only fixed one

        th {
            padding: 12px;
            font-weight: 600;
            text-align: left;
            border: none;
            background-color: #f4f4f6; /* stylelint-disable-line color-no-hex */
        }
    }
    th:first-child, td:first-child {
        padding-left: 32px;
    }
    th:last-child, td:last-child {
        padding-right: 32px;
    }
    &-body {
        .table-row:hover {
            background-color: #e4e6f1; /* stylelint-disable-line color-no-hex */
        }
        td {
            padding: 12px;
            border: none;
        }
        .profit {
            color: #4caf50; /* stylelint-disable-line color-no-hex */
        }
        .loss {
            color: #f44336; /* stylelint-disable-line color-no-hex */
        }
        .amount {
            font-weight: bold;
        }
    }
    // column widths
    .date, .ref {
        width: 6.5em;
    }
    .action {
        width: 7em;
        text-align: right;
    }
    .payout, .amount, .balance {
        width: 6em;
        text-align: right;
    }
    // styles for fixed table header
    &.table-clone {
        position: fixed;
        pointer-events: none;

        .table-head {
            pointer-events: auto;
            visibility: visible;
        }
        .table-body {
            visibility: hidden;
        }
    }
    @media screen and (max-width: 980px) {
        .desc {
            display: none;
        }
    }
}
