.tab-container {
    overflow-x: auto;
    overflow-y: hidden;

    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    .tab-wrapper {
        position: relative;
        display: inline-block;
        margin-bottom: 0.3em;
        width: 100%;
    }
    .tab {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;

        span {
            @include typeface(--paragraph-light-black);
            @include toEm(padding, 16px, 1.2em);
            cursor: pointer;

            &.icon {
                padding: 1.6em 1.8em 1.6em 3.4em;

                &:before {
                    position: absolute;
                    top: 1.6em;
                    left: 1.4em;
                }
            }
            &:after {
                display: block;
                content: attr(title);
                font-weight: 400;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
        &:hover, &--active {
            span {
                color: $COLOR_DARK_BLUE_5;
                font-weight: 400;
            }
        }
    }
    .tab-underline {
        position: absolute;
        bottom: -0.1em;
        left: 0;
        right: 0;
        border-bottom: 2px solid $COLOR_DARK_BLUE_5;
    }
    .tab-content {
        p {
            @include typeface(--paragraph-normal-black);
        }
    }
}

// Dark Theme
.theme--dark {
    .tab {
        span {
            color: $COLOR_DARK_BLUE_7;
        }
        &--active {
            span {
                color: $COLOR_WHITE;
            }
        }
    }
    .tab-underline {
        border-color: $COLOR_WHITE;
    }
}
