/* Loading Spinner */
.block-ui {
    position: absolute;
    z-index: 3;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: 100%;

    .loading {
        position: absolute;
        top: calc(50% - 22px);
        left: calc(50% - 16px);
        z-index: 11;

        .spinner {
            position: relative;
            margin: 0 auto;
            width: 42px;

            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }
            .circular {
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;

                .path {
                    stroke-dasharray: 1, 200;
                    stroke-dashoffset: 0;
                    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                    stroke-linecap: round;
                }
            }
        }
    }
}

/* Spinner Loader Animation */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%, 0% {
        stroke: $COLOR_ORANGE;
    }
    40% {
        stroke: $COLOR_BLUE;
    }
    66% {
        stroke: $COLOR_ORANGE;
    }
    80%, 90% {
        stroke: $COLOR_BLUE;
    }
}
