.vertical-tab {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 736px;
    height: 600px;

    &__tab {
        display: flex;
        min-width: 200px;
        height: 100%;
        flex-direction: column;
        background-color: $COLOR_LIGHT_BLACK_4_SOLID;
    }
    &__header {
        @include typeface(--paragraph-center-bold-black);
        @include toEm(line-height, 20px);
        padding: 10px 16px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;

        &:not(&--active):hover {
            background-color: $COLOR_LIGHT_GRAY_2;
        }
        &--active {
            @include typeface(--paragraph-left-bold-active);
            background-color: $COLOR_LIGHT_GRAY_1;
        }
        &__link {
            font-weight: normal;
        }
        &--active &__link {
            font-weight: bold;
        }
        &__icon {
            margin: 2px 10px 0 0;
            @include colorIcon($COLOR_LIGHT_BLACK_1);

            &--active {
                @include colorIcon($COLOR_WHITE);
            }
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        @include toEm(padding, 24px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
