/** @define work-in-progress */
.work-in-progress {
    height: 100vh;
    display: flex;

    @include themify($themes) {
        background: themed('container_secondary_color');
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.6em;
    }
    &__header {
        @include typeface(--large-center-bold-black);
        text-transform: none;
        margin: 0.8em;

        @include themify($themes) {
            color: themed('wip_color');
        }
    }
    &__text {
        @include typeface(--title-center-normal-black);
        text-transform: none;
        margin: 0 1.6em 2.4em;

        @include themify($themes) {
            color: themed('wip_color');
        }
    }
    &__btn {
        height: 42px;
        cursor: pointer;

        @include themify($themes) {
            background: themed('wip_color');
        }

        &--span {
            font-weight: normal;

            @include themify($themes) {
                color: themed('wip_btn_color');
            }
        }
    }
}
