
.indicative {
    font-weight: bold;

    &.price_moved_up {
        color: $COLOR_LIGHT_GREEN;
    }
    &.price_moved_down {
        color: $COLOR_RED;
    }
    &.no_resale {
        color: $COLOR_LIGHT_GRAY_2;
    }
}

.portfolio {
    .portfolio_header_container {
        padding-left: 10px;
    }
    th {
        &.details {
            width: 30%;
        }
        &.type {
            text-align: center;
        }
    }
    .payout, .indicative, .purchase, .remaining_time {
        text-align: right;
    }
    .table-body {
        td.ref {
            color: $COLOR_TEXT_BLUE;
        }
        .type_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                width: 20px;
                height: 20px;
                padding: 5px;
                margin-bottom: 3px;
                border-radius: 100%;
                background-color: $COLOR_LIGHT_GRAY;
            }
        }
    }
}

@function tradetypeicon($trade_type) {
    @return url('../images/trading_app/contracts/trade_types/light/ic-light-' + $trade_type + '.svg');
}

// add to common .scss
.trade_type_icon {
    &.asianu {
        content: tradetypeicon('asianu');
    }
    &.call {
        content: tradetypeicon('call');
    }
    &.put {
        content: tradetypeicon('put');
    }
    &.digitdiff {
        content: tradetypeicon('digitdiff');
    }
    &.digiteven {
        content: tradetypeicon('digiteven');
    }
    &.digitmatch {
        content: tradetypeicon('digitmatch');
    }
    &.digitodd {
        content: tradetypeicon('digitodd');
    }
    &.digitover {
        content: tradetypeicon('digitover');
    }
    &.digitunder {
        content: tradetypeicon('digitunder');
    }
    &.expirymiss {
        content: tradetypeicon('expirymiss');
    }
    &.expiryrange {
        content: tradetypeicon('expiryrange');
    }
    &.fall {
        content: tradetypeicon('fall');
    }
    &.notouch {
        content: tradetypeicon('notouch');
    }
    &.touch {
        content: tradetypeicon('touch');
    }
    &.range {
        content: tradetypeicon('range');
    }
    &.rise {
        content: tradetypeicon('rise');
    }
    &.upordown {
        content: tradetypeicon('upordown');
    }
    &.lbfloatcall {
        content: tradetypeicon('lbfloatcall');
    }
    &.lbfloatput {
        content: tradetypeicon('lbfloatput');
    }
    &.lbhighlow {
        content: tradetypeicon('lbhighlow');
    }
}
