#trade_app {
    fieldset {
        input, select {
            width: 100%;
            margin: 8px 0;
            font-size: 1rem;
            height: 32px;
        }
        .clock-header {
            height: 1.5rem;

            span.field-info {
                position: absolute;
                color: $primaryBrandColor;
                font-size: 0.7rem;
                font-weight: 400;
                margin: 5px 0 12px;

                &.left {
                    top: 5px;
                    left: 5px;
                }
                &.right {
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }
}
