/* stylelint-disable color-no-hex */
#trade_app {
    .notice-msg {
        background: unset;
        border: 1px solid #f2f2f2;
    }
    fieldset {
        input, select {
            width: 100%;
            font-size: 1rem;
            font-weight: 300;
            height: 32px;
            align-self: center;
            appearance: none;
            box-sizing: border-box;
            padding: 2px 5px;
        }
        input {
            &:hover {
                border-color: #2a3052;
            }
            &:active, &:focus {
                outline: 0;
                border-color: #2a3052;
                box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
            }
        }
        .select-wrapper {
            position: relative;

            &:after {
                content: '\25bc';
                display: block;
                position: absolute;
                top: 50%;
                right: 8px;
                font-size: 12px;
                transform: translateY(-50%);
            }
        }
        select {
            margin: 8px 0;
            display: block;

            &:hover {
                border-color: #2a3052;
            }
            &:active, &:focus {
                outline: 0;
                border-color: #2a3052;
                box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
            }
        }
        .clock-header, .fieldset-header {
            height: 1.5rem;
            position: relative;

            span.field-info {
                position: absolute;
                color: $primaryBrandColor;
                font-size: 0.7rem;
                font-weight: 400;
                margin: 5px 0 12px;

                &.left {
                    top: 5px;
                    left: 5px;
                }
                &.right {
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }
}

/* stylelint-enable color-no-hex */