#trade_app {
    .notice-msg {
        background: unset;
        /* stylelint-disable color-no-hex */
        border: 1px solid #f2f2f2;
        /* stylelint-enable color-no-hex */
    }
    fieldset {
        input, select {
            width: 100%;
            font-size: 1rem;
            font-weight: 300;
            height: 32px;
            align-self: center;
        }
        select {
            margin: 8px 0;
        }
        .clock-header, .fieldset-header {
            height: 1.5rem;
            position: relative;

            span.field-info {
                position: absolute;
                color: $primaryBrandColor;
                font-size: 0.7rem;
                font-weight: 400;
                margin: 5px 0 12px;

                &.left {
                    top: 5px;
                    left: 5px;
                }
                &.right {
                    top: 5px;
                    right: 5px;
                }
            }
        }
    }
}
