[% WRAPPER 'container/rounded_box_popup.html.tt' heading=l('Confirm') %]
    <div id="bom-confirm-popup">
        <p>[% confirmation_text %]</p>
        <div class="confirm_button form_button">
            <a class="button" href="[% landing_link_on_confirm %]"><span class="button">[% l('Confirm') %]</span></a>
            <a class="button no_button">
                <span class="button" id="confirmation-no-button">[% l('Cancel') %]</span>
            </a>
        </div>
    </div>
[% END %]
