/* Ant style */
.btn {
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 15px;
    margin: 16px;
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    height: 40px;
    min-width: 80px;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    outline: 0;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background: $COLOR_GREEN;
    font-size: 0.875rem; /* stylelint-disable-line number-max-precision */

    &:not([disabled]):hover {
        text-decoration: none;
    }
    &.primary {
        color: $COLOR_WHITE;

        &.orange {
            background: $COLOR_ORANGE;

            &:hover {
                background: #ee9e58; /* stylelint-disable-line color-no-hex */
            }
            &:active {
                background: $COLOR_ORANGE;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_ORANGE;
            }
        }
        &.green {
            background: #4caf50; /* stylelint-disable-line color-no-hex */

            &:hover {
                background: #66bb6a; /* stylelint-disable-line color-no-hex */
            }
            &:active {
                background: #4caf50; /* stylelint-disable-line color-no-hex */
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #4caf50; /* stylelint-disable-line color-no-hex */
            }
        }
        &:disabled, &[disabled] {
            background: #f4f4f6 !important; /* stylelint-disable-line color-no-hex */
            color: #e9e9ed !important; /* stylelint-disable-line color-no-hex */
            cursor: not-allowed;
        }
    }
    &.secondary {
        background: transparent;

        &.orange {
            border: 1px solid $COLOR_ORANGE;
            color: $COLOR_ORANGE;

            &:hover {
                border: 1px solid #ee9e58; /* stylelint-disable-line color-no-hex */
                color: #ee9e58; /* stylelint-disable-line color-no-hex */
                background: rgba(233, 128, 36, 0.1);
            }
            &:active {
                border: 1px solid $COLOR_ORANGE;
                color: $COLOR_ORANGE;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_ORANGE;
            }
        }
        &.green {
            border: 1px solid #4caf50; /* stylelint-disable-line color-no-hex */
            color: #4caf50; /* stylelint-disable-line color-no-hex */

            &:hover {
                border: 1px solid #66bb6a; /* stylelint-disable-line color-no-hex */
                color: #66bb6a; /* stylelint-disable-line color-no-hex */
                background: rgba(76, 175, 80, 0.1);
            }
            &:active {
                border: 1px solid #4caf50; /* stylelint-disable-line color-no-hex */
                color: #4caf50; /* stylelint-disable-line color-no-hex */
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #4caf50; /* stylelint-disable-line color-no-hex */
            }
        }
        &:disabled, &[disabled] {
            background: #f4f4f6 !important; /* stylelint-disable-line color-no-hex */
            border: 0 !important;
            color: #e9e9ed !important; /* stylelint-disable-line color-no-hex */
            cursor: not-allowed !important;
        }
    }
    &.flat {
        background: $COLOR_WHITE;
        color: #4c5794; /* stylelint-disable-line color-no-hex */

        &:hover {
            background: #f2f3f8; /* stylelint-disable-line color-no-hex */
        }
        &:active {
            color: #4c5794; /* stylelint-disable-line color-no-hex */
        }
        &.effect:focus:not(:active):after {
            border: 0 solid #4c5794; /* stylelint-disable-line color-no-hex */
        }
        &:disabled, &[disabled] {
            background: transparent !important;
            border: 1px solid #e9e9ed !important; /* stylelint-disable-line color-no-hex */
            color: #e9e9ed !important; /* stylelint-disable-line color-no-hex */
            cursor: not-allowed !important;
        }
    }
    /* Ant Effect */
    &.effect:focus:not(:active):after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: inherit;
        border: 0 solid $COLOR_BLUE;
        opacity: 0.4;
        animation: buttonEffect 0.4s;
        animation-fill-mode: forwards;
        display: block;
    }
}

@keyframes buttonEffect {
    to {
        opacity: 0;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
