.button-menu {
    display: flex;
    justify-content: center;
    width: 100%;

    &__button:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &__button:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__button {
        margin: 0;
        background-color: $COLOR_WHITE;
        border-radius: 0px;
        width: 50%;

        span {
            @include typeface(--paragraph-normal-black);
        }
        &:hover:not(&--active) {
            background-color: $COLOR_LIGHT_BLACK_4;
        }
        &--active {
            background-color: $COLOR_LIGHT_GRAY_1;

            span {
                @include typeface(--paragraph-bold-white);
            }
        }
    }
}

.theme--dark {
    .button-menu {
        &__button {
            color: $COLOR_DARK_BLUE_7;
            background-color: $COLOR_DARK_BLUE_2;

            &:hover:not(&--active) {
                background-color: $COLOR_DARK_BLUE_4;
            }
            &--active {
                color: $COLOR_WHITE;
                background-color: $COLOR_DARK_BLUE_5;
            }
        }
    }
}
