div.dropdown-container {
    position: relative;
    margin: 8px 0 0;

    .dropdown-display {
        background: $COLOR_WHITE;
        height: 30px;
        cursor: pointer;
        border: solid 1px $COLOR_GRAY;
        border-radius: $BORDER_RADIUS;

        span {
            font-size: inherit;
            text-transform: capitalize;
            line-height: 32px;
            vertical-align: middle;
            padding-left: 8px;
            font-weight: 300;
        }
        &:hover {
            border-color: $COLOR_BLUE;

            & + .select-arrow {
                color: $COLOR_BLUE;
            }
        }
    }
    &:active, &:focus, &.show {
        outline: 0;
        border-radius: 4px;
        box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);

        .select-arrow {
            color: $COLOR_BLUE;
        }
    }
    &.show > div.dropdown-list {
        transform: scale(1, 1);
        opacity: 1;
    }
    &.show > .clicked {
        border-color: $COLOR_BLUE;
    }
    &.show > .select-arrow {
        transform: rotate(0deg);
    }
    .dropdown-list {
        left: 0;
        bottom: -8px;
        width: 100%;
        position: absolute;
        transition: all 0.25s;
        opacity: 0;
        transform: scale(1, 0);
        z-index: 999;

        .list-container {
            position: absolute;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            z-index: 2;
            cursor: pointer;
            background: $COLOR_WHITE;
            box-shadow: 0 0px 2px #d3d3d3; /* stylelint-disable-line color-no-hex */
            border-radius: $BORDER_RADIUS;

            .list-label {
                pointer-events: none;
                padding-left: 8px;
                line-height: 32px;
                height: 32px;

                span {
                    text-transform: capitalize;
                    color: #dedede; /* stylelint-disable-line color-no-hex */
                    font-size: inherit;
                    font-weight: 300;
                }
            }
            .list-item {
                width: 100%;
                font-size: 1rem;

                span {
                    text-transform: capitalize;
                    display: block;
                    pointer-events: none;
                    vertical-align: middle;
                    padding-left: 8px;
                    font-weight: 300;
                }
                * {
                    height: 32px;
                    line-height: 32px !important;
                    display: inline-block;
                    vertical-align: middle;
                }
                &:hover {
                    background-color: $COLOR_GRAY;
                }
                &.selected span {
                    background-color: $COLOR_GRAY;
                    color: $COLOR_BLUE;
                    font-weight: 400;
                }
            }
        }
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 12px;
        right: 6px;
        line-height: 1;
        transition: transform 0.2s ease;
        transform: rotate(180deg);
        transform-origin: 50% 50%;
        color: $COLOR_GRAY;
        font-size: 1.1rem;

        &:before {
            content: '\002303';
            display: block;
            height: 0.53em; // center content glyph
        }
    }
}
