/* Ant style */
.input-field {
    margin: 8px 0 0;
    font-weight: 300;
    border-radius: 4px;

    &:has(input[type=checkbox]), .tooltip {
        display: inline-block;
    }
    .tooltip {
        width: 100%;
    }
    & ~ [class*='__icon'] {
        @extend .absolute-center-v; // centers input-field icons vertically
        top: 8px;
        left: 5%;
    }
    .symbols {
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin: 1px;
        border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
        box-sizing: border-box;
    }
    &:has(input[type=checkbox]) {
        display: inline-block;
        width: 100%;
    }
    & + input {
        padding-left: 32px !important;
        padding-right: 14px;
    }
    .input-wrapper {
        position: relative;

        input {
            text-align: center;

            &::-ms-clear { // Edge: hide clear icon for increment input
                display: none;
            }
        }
        &:hover {
            input {
                border-color: $COLOR_LIGHT_GRAY_1;
            }
        }
        &__button {
            position: absolute;
            z-index: 1;
            height: calc(100% - 2px);
            margin: initial;
            margin-top: 1px;
            margin-bottom: 1px;
            min-width: 32px;
            border-radius: 3px;
            padding: initial;
            background-color: initial;

            &--increment {
                right: 1px;
            }
            &--decrement {
                left: 1px;
            }
            &:hover {
                cursor: pointer;
                background: $COLOR_LIGHT_BLACK_4;
            }
            &:disabled:hover {
                cursor: not-allowed;
                background: transparent;
            }
        }
        &__icon {
            padding-top: 4px;

            path {
                fill: $COLOR_LIGHT_BLACK_1;
            }
            &--plus, &--minus {
                &.disabled path {
                    fill: $COLOR_LIGHT_BLACK_3;
                }
            }
        }
    }
    input {
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 32px;
        font-size: 0.85rem;
        line-height: normal;
        color: $COLOR_LIGHT_BLACK_1;
        border: 1px solid $COLOR_LIGHT_BLACK_4;
        border-radius: $BORDER_RADIUS;
        text-align: center;
        transition: transform 0.3s;

        &[type=checkbox] {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            border-color: $COLOR_LIGHT_BLACK_4;
            border-radius: 1px;
            border-width: 0.5px;
            padding: 0;

            &:hover, &:focus, &:active {
                border-color: $COLOR_ORANGE;
                border-radius: 1px;
                box-shadow: none;
            }
            &:checked {
                background: $COLOR_ORANGE;
                border-color: $COLOR_ORANGE;

                &:after {
                    display: inline-block;
                }
            }
            &::-ms-check { // IE/EDGE support
                background: transparent;
                border-color: transparent;
                color: $COLOR_WHITE;
            }
            &:after {
                color: $COLOR_WHITE;
                content: 'L';
                font-size: 10px;
                transform: scaleX(-1) rotate(-40deg);
                position: absolute;
                top: -5%;
                left: 30%;
                display: none;
            }
        }
        &:hover {
            border-color: $COLOR_LIGHT_GRAY_1;
        }
        &:active, &:focus {
            outline: 0;
            border-radius: $BORDER_RADIUS;
            border-color: $COLOR_LIGHT_GRAY_1;
            box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, 0.3);
        }
        &:not([type=range]), label, textarea {
            touch-action: manipulation;
        }
        &.error {
            color: $COLOR_RED;
            border: 1px solid $COLOR_RED !important;
        }
        &[readonly] {
            cursor: pointer;
        }
        &::placeholder {
            color: $COLOR_LIGHT_BLACK_1;
        }
    }
    label.input-label {
        margin-bottom: 8px;
        font-size: 0.85rem;
        font-weight: 400;
        text-transform: capitalize;
        display: inline-block;
        color: $COLOR_DARK_BLUE_7;
        text-align: center;
        width: 100%;
    }
    span.input-helper {
        font-weight: 300;
        font-size: 0.75rem;
        color: $COLOR_LIGHT_GRAY_2;
    }
}

// Dark Theme
.theme--dark {
    .input-field {
        &:has(input[type=checkbox]) {
            display: inline-block;
        }
        input {
            background: $COLOR_DARK_BLUE_2;
            border-color: $COLOR_DARK_BLUE_2;
            color: $COLOR_DARK_BLUE_7;

            &[type=checkbox] {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                width: 12px;
                height: 12px;
                border-color: $COLOR_DARK_BLUE_7;
                border-radius: 1px;
                border-width: 0.5px;
                padding: 0;

                &:hover {
                    border-color: $COLOR_ORANGE;
                    box-shadow: none;
                }
                &:checked {
                    background: $COLOR_ORANGE;
                    border-color: $COLOR_ORANGE;
                    box-shadow: none;

                    &:after {
                        display: inline-block;
                    }
                }
                &:not(:checked) {
                    &:focus, &:active {
                        border-color: $COLOR_DARK_BLUE_7;
                        box-shadow: none;
                    }
                }
                &:after {
                    content: 'L';
                    font-size: 10px;
                    transform: scaleX(-1) rotate(-40deg);
                    position: absolute;
                    top: -5%;
                    left: 30%;
                    display: none;
                }
            }
            &:hover {
                border-color: $COLOR_DARK_BLUE_7;
            }
            &:focus, &:active {
                outline: 0;
                border-color: $COLOR_DARK_BLUE_7;
                box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, 0.3);
                color: $COLOR_WHITE;
            }
            &::placeholder {
                color: $COLOR_DARK_BLUE_7;
            }
        }
    }
    .input-wrapper {
        &:hover {
            input {
                border-color: $COLOR_DARK_BLUE_7;
            }
        }
        input {
            &:active, &:focus {
                box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, 0.3);
            }
        }
        &__icon {
            path {
                fill: $COLOR_DARK_BLUE_7;
            }
            &--plus, &--minus {
                &.disabled path {
                    fill: rgba(116, 120, 142, 0.25);
                }
            }
        }
        &__button:not(:disabled) {
            &:hover {
                background-color: $COLOR_DARK_BLUE_4;
            }
        }
    }
}
