/* Ant style */
.input-field {
    margin: 8px 0;
    font-weight: 300;

    i {
        position: relative;

        .symbols {
            height: 30px;
            width: 30px;
            line-height: 30px;
            margin: 1px;
            border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
            background: $COLOR_LIGHT_GRAY;
            box-sizing: border-box;
            font-size: inherit;

            &:before {
                margin: 0;
            }
        }
        .symbols.aud {
            // alignment fix for AUD symbol
            padding-right: 4px;
        }
        & + input {
            padding-left: 35px !important;
        }
    }
    input {
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 32px;
        font-size: 1rem;
        line-height: normal;
        padding-left: 8px;
        color: $COLOR_BLACK;
        background-color: $COLOR_WHITE;
        background-image: none;
        border: 1px solid $COLOR_GRAY;
        border-radius: $BORDER_RADIUS;
        transition: all 0.3s;

        &:hover {
            border-color: $COLOR_BLUE;
        }
        &:active, &:focus {
            outline: 0;
            border-radius: $BORDER_RADIUS;
            border-color: $COLOR_BLUE;
            box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
        }
        &:not([type=range]), label, textarea {
            touch-action: manipulation;
        }
        &.error {
            color: #f44336; /* stylelint-disable-line color-no-hex */
            border: 1px solid #f44336; /* stylelint-disable-line color-no-hex */
        }
    }
    label.input-label {
        font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
        color: #333333; /* stylelint-disable-line color-no-hex */
        font-weight: 400;
    }
    span.input-helper {
        font-weight: 300;
        font-size: 0.75rem;
        color: #b0b3bf; /* stylelint-disable-line color-no-hex */
    }
}
