/* Ant style */
.input-field {
    margin: 8px 0 0;
    font-weight: 300;

    & ~ [class*='__icon'] {
        @extend .absolute-center-v; // centers input-field icons vertically
        top: 8px;
        right: 5%;
    }
    &:has(input[type=checkbox]) {
        display: inline-block;
    }
    i {
        position: relative;

        .symbols {
            height: 30px;
            width: 30px;
            line-height: 30px;
            margin: 1px;
            border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
            box-sizing: border-box;
            font-size: inherit;

            &:before {
                margin: 0;
            }
        }
        .symbols.aud {
            // alignment fix for AUD symbol
            padding-right: 4px;
        }
        & + input {
            padding-left: 35px !important;
        }
    }
    .input-wrapper {
        position: relative;

        input {
            text-align: center;

            &::-ms-clear { // Edge: hide clear icon for increment input
                display: none;
            }
        }
        &:hover {
            input {
                border-color: $COLOR_BLUE;
            }
        }
        &__button {
            position: absolute;
            z-index: 1;
            height: calc(100% - 2px);
            margin: initial;
            margin-top: 1px;
            margin-bottom: 1px;
            min-width: 32px;
            border-radius: 3px;
            padding: initial;
            background-color: initial;

            &--increment {
                right: 1px;
            }
            &--decrement {
                left: 1px;
            }
            &:hover {
                cursor: pointer;
                background: $COLOR_GRAY;
            }
            &:disabled:hover {
                cursor: not-allowed;
                background: transparent;
            }
        }
        &__icon {
            padding-top: 4px;

            path {
                fill: $COLOR_DARK_GRAY;
            }
            &--plus.disabled path {
                fill: $COLOR_DARK_GRAY;
            }
            &--minus.disabled path {
                fill: $COLOR_DARK_GRAY;
            }
        }
    }
    input {
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 32px;
        font-size: 1rem;
        line-height: normal;
        padding-left: 8px;
        color: $COLOR_LIGHT_BLACK;
        border: 1px solid $COLOR_GRAY;
        border-radius: $BORDER_RADIUS;
        transition: all 0.3s;

        &[type=checkbox] {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            border-color: $COLOR_GRAY;
            border-radius: 1px;
            border-width: 0.5px;
            padding: 0;

            &:hover, &:focus, &:active {
                border-color: $COLOR_ORANGE_2 !important;
                border-radius: 1px;
            }
            &:checked {
                background: $COLOR_ORANGE_2;
                border-color: $COLOR_ORANGE_2;

                &:after {
                    display: inline-block;
                }
            }
            &::-ms-check { // IE/EDGE support
                background: transparent;
                border-color: transparent;
                color: $COLOR_WHITE;
            }
            &:after {
                color: $COLOR_WHITE;
                content: 'L';
                font-size: 10px;
                transform: scaleX(-1) rotate(-40deg);
                position: absolute;
                top: -5%;
                left: 30%;
                display: none;
            }
        }
        &:hover {
            border-color: $COLOR_BLUE;
        }
        &:active, &:focus {
            outline: 0;
            border-radius: $BORDER_RADIUS;
            border-color: $COLOR_BLUE;
        }
        &:not([type=range]), label, textarea {
            touch-action: manipulation;
        }
        &.error {
            color: $COLOR_LIGHT_RED;
            border: 1px solid $COLOR_LIGHT_RED !important;
        }
    }
    label.input-label {
        font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
        color: #333333; /* stylelint-disable-line color-no-hex */
        font-weight: 400;
    }
    span.input-helper {
        font-weight: 300;
        font-size: 0.75rem;
        color: #b0b3bf; /* stylelint-disable-line color-no-hex */
    }
}

// Dark Theme
.theme-wrapper.dark {
    .input-field {
        &:has(input[type=checkbox]) {
            display: inline-block;
        }
        input {
            color: $COLOR_WHITE;

            &[type=checkbox] {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                width: 12px;
                height: 12px;
                border-color: $COLOR_BRANDBLUE_85;
                border-radius: 1px;
                border-width: 0.5px;
                padding: 0;

                &:hover, &:focus, &:active {
                    border-color: $COLOR_ORANGE_2;
                }
                &:checked {
                    background: $COLOR_ORANGE_2;
                    border-color: $COLOR_ORANGE_2;

                    &:after {
                        display: inline-block;
                    }
                }
                &:after {
                    content: 'L';
                    font-size: 10px;
                    transform: scaleX(-1) rotate(-40deg);
                    position: absolute;
                    top: -5%;
                    left: 30%;
                    display: none;
                }
            }
            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
    }
    .input-wrapper {
        &:hover {
            input {
                border-color: $COLOR_WHITE;
            }
        }
        &__icon {
            path {
                fill: $COLOR_DARK_WHITE;
            }
            &--plus.disabled path {
                fill: $COLOR_BRANDBLUE_85;
            }
            &--minus.disabled path {
                fill: $COLOR_BRANDBLUE_85;
            }
        }
    }
}
