.time-picker {
    position: relative;

    &.padding {
        padding: 16px;
    }
    .time-picker-icon {
        margin: auto;
        position: absolute;
        top: 8px;
        left: 5%;
    }
    .time-picker-input {
        height: 32px;
        padding: 0;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        cursor: pointer;

        input {
            text-align: center;
        }
        &::placeholder {
            color: $COLOR_LIGHT_BLACK_4;
        }
        &:hover {
            border-color: $COLOR_LIGHT_BLACK_4;
        }
        &.active {
            border-color: $COLOR_DARK_BLUE_5;
        }
    }
    .time-picker-dropdown {
        font-size: 16px;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 0;
        opacity: 0;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: -1;
        transition: all 0.3s ease 0.15s;

        &.active {
            opacity: 1;
            height: 261px;
            z-index: 10;

            .time-picker-panel {
                height: 30px;

                .time-picker-clear {
                    display: inline-block;
                }
            }
        }
        &.from-right {
            right: 0;
        }
        .time-picker-panel {
            height: 0;
            background: $COLOR_WHITE;
            border-radius: 4px 4px 0 0;
            padding: 2px 8px 0 9px;
            line-height: 30px;
            font-weight: 300;
            transition: height 0.3s ease 0.15s;

            .time-picker-clear {
                background: url('../images/common/close_circle.svg') no-repeat;
                position: relative;
                float: right;
                display: none;
                top: 8px;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            .placeholder {
                color: $COLOR_LIGHT_BLACK_4;
            }
        }
        .time-picker-selector {
            display: flex;
            flex-direction: row;
            background-color: $COLOR_WHITE;

            .time-picker-hours {
                border-right: 1px solid $COLOR_LIGHT_BLACK_4;
                border-radius: 0 0 0 4px;
                width: 150px;
            }
            .time-picker-minutes {
                width: 80px;
                border-radius: 0 0 4px;
            }
            .time-picker-hours, .time-picker-minutes {
                display: inline-block;
                height: 228px;
                overflow: hidden;
                text-align: center;

                .list-title {
                    margin-top: 10px;
                    color: $COLOR_LIGHT_BLACK_1;
                    line-height: 20px;
                    font-size: 0.8rem;
                }
                .list-container .list-item {
                    display: inline-block;
                    margin: 3px;
                    padding: 7px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    border-radius: 4px;
                    font-size: 0.75rem;

                    &:hover:not(.disabled) {
                        background: $COLOR_LIGHT_BLACK_4;
                        color: $COLOR_LIGHT_BLACK_1;

                        &.selected {
                            background: $COLOR_LIGHT_GRAY_1;
                            color: $COLOR_WHITE;
                        }
                    }
                    &.selected {
                        background: $COLOR_LIGHT_GRAY_1;
                        color: $COLOR_WHITE;
                    }
                    &.disabled {
                        color: $COLOR_LIGHT_BLACK_3;
                        cursor: default;
                    }
                }
            }
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    .time-picker {
        .time-picker-icon {
            g {
                stroke: $COLOR_DARK_BLUE_7;
            }
        }
        .time-picker-dropdown {
            .time-picker-panel {
                background: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;
            }
            .time-picker-selector {
                background: $COLOR_DARK_BLUE_3;
            }
            .time-picker-panel, .time-picker-selector {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

                .time-picker-hours, .time-picker-minutes {
                    color: $COLOR_DARK_BLUE_7;
                    border-color: $COLOR_DARK_BLUE_2;

                    .list-title {
                        color: $COLOR_WHITE;
                    }
                    .list-item {
                        color: $COLOR_DARK_BLUE_7;

                        &.disabled {
                            color: $COLOR_DARK_BLUE_8;
                            pointer-events: none;
                        }
                        &.selected {
                            background: $COLOR_DARK_BLUE_5;
                        }
                        &:hover:not(.selected):not(.disabled) {
                            background: $COLOR_DARK_BLUE_4;
                        }
                    }
                }
            }
        }
    }
}
