.time-picker {
    position: relative;

    &.padding {
        padding: 16px;
    }
    .time-picker-icon {
        margin: auto;
        position: absolute;
        top: 8px;
        right: 5%;
    }
    .time-picker-input {
        height: 32px;
        padding: 0;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        cursor: pointer;

        input {
            text-align: center;
        }
        &::placeholder {
            color: $COLOR_GRAY;
        }
        &:hover {
            border-color: $COLOR_GRAY;
        }
        &.active {
            border-color: $COLOR_BLUE;
        }
        input {
            text-align: center;
        }
    }
    .time-picker-dialog {
        font-size: 16px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        height: 228px;
        width: 231px;
        z-index: 999;
        transform-origin: right;
        transform: scale(1, 0) translate3d(0, 0, 0);
        transition: transform 0.25s ease, opacity 0.25s linear;

        &-enter, &-exit {
            transform: scale(1, 1) translate3d(-225px, 0, 0);
            opacity: 0;
        }
        &-enter-done {
            transform: translate3d(-245px, 0, 0);
            opacity: 1;
        }
        .time-picker-selector {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            height: inherit;

            .time-picker-hours {
                border-right: 1px solid $COLOR_GRAY;
                border-radius: 5px 0 0 5px;
                width: 150px;
            }
            .time-picker-minutes {
                width: 80px;
                border-radius: 0 5px 5px 0;
            }
            .time-picker-hours, .time-picker-minutes {
                display: inline-block;
                background: $COLOR_WHITE;
                height: 228px;
                overflow: hidden;
                text-align: center;

                .list-title {
                    margin-top: 10px;
                    color: $COLOR_LIGHT_BLACK;

                    strong {
                        font-weight: 400;
                    }
                }
                .list-container .list-item {
                    display: inline-block;
                    margin: 3px;
                    padding: 7px;
                    cursor: pointer;
                    border-radius: 4px;

                    &:hover(:not.disabled) {
                        background: $COLOR_GRAY;
                        color: $COLOR_LIGHT_BLACK;

                        &.selected {
                            background: $COLOR_BLUE;
                            color: $COLOR_WHITE;
                        }
                    }
                    &.selected {
                        background: $COLOR_BLUE;
                        color: $COLOR_WHITE;
                    }
                    &.disabled {
                        color: $COLOR_GRAY;
                        cursor: default;
                    }
                }
            }
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    .time-picker .time-picker-dialog {
        .time-picker-panel, .time-picker-selector {
            background: $COLOR_BLUE;
            border-color: $COLOR_BRANDBLUE_85;

            .time-picker-hours, .time-picker-minutes {
                color: $COLOR_BRANDBLUE_40;
                background: $COLOR_BRANDBLUE_95;
                border-color: $COLOR_BRANDBLUE_85;

                .list-title {
                    color: $COLOR_WHITE;
                }
                .list-item {
                    color: $COLOR_BRANDBLUE_40;

                    &.disabled {
                        color: $COLOR_BRANDBLUE_75;
                        pointer-events: none;
                    }
                    &.selected {
                        background: $COLOR_WHITE;
                        color: $COLOR_BLUE;
                    }
                    &:hover:not(.selected):not(.disabled) {
                        background: $COLOR_BRANDBLUE_85;
                    }
                }
            }
        }
        .time-picker-panel {
            color: $COLOR_BRANDBLUE_40;
        }
    }
}
