.time-picker {
    position: relative;

    &.padding {
        padding: 16px;
    }
    .time-picker-input {
        height: 32px;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        cursor: pointer;

        &::placeholder {
            color: $COLOR_GRAY;
        }
        &:hover {
            border-color: $COLOR_GRAY;
        }
        &.active {
            border-color: $COLOR_BLUE;
        }
        input {
            text-align: center;
        }
    }
    .time-picker-dropdown {
        font-size: 16px;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 0;
        opacity: 0;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: -1;
        transition: all 0.3s ease 0.15s;

        &.active {
            opacity: 1;
            height: 261px;
            z-index: 10;

            .time-picker-panel {
                height: 30px;

                .time-picker-clear {
                    display: inline-block;
                }
            }
        }
        &.from-right {
            right: 0;
        }
        &.from-left {
            left: -245px;
        }
        .time-picker-panel {
            height: 0;
            background: $COLOR_WHITE;
            border-bottom: 1px solid $COLOR_GRAY;
            border-radius: 4px 4px 0 0;
            padding: 2px 8px 0 9px;
            line-height: 30px;
            font-weight: 300;
            transition: height 0.3s ease 0.15s;

            .time-picker-clear {
                background: url('../images/common/close_circle.svg') no-repeat;
                position: relative;
                float: right;
                display: none;
                top: 8px;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            .placeholder {
                color: $COLOR_GRAY;
            }
        }
        .time-picker-selector {
            display: flex;
            flex-direction: row;

            .time-picker-hours {
                border-right: 1px solid $COLOR_GRAY;
                border-radius: 0 0 0 4px;
                width: 150px;
            }
            .time-picker-minutes {
                width: 80px;
                border-radius: 0 0 4px;
            }
            .time-picker-hours, .time-picker-minutes {
                display: inline-block;
                background: $COLOR_WHITE;
                height: 228px;
                overflow: hidden;
                text-align: center;

                .list-title {
                    margin-top: 10px;
                    color: $COLOR_LIGHT_BLACK;

                    strong {
                        font-weight: 400;
                    }
                }
                .list-container .list-item {
                    display: inline-block;
                    margin: 3px;
                    padding: 7px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    border-radius: 4px;

                    &:hover(:not.disabled) {
                        background: $COLOR_GRAY;
                        color: $COLOR_LIGHT_BLACK;

                        &.selected {
                            background: $COLOR_BLUE;
                            color: $COLOR_WHITE;
                        }
                    }
                    &.selected {
                        background: $COLOR_BLUE;
                        color: $COLOR_WHITE;
                    }
                    &.disabled {
                        color: $COLOR_GRAY;
                        cursor: default;
                    }
                }
            }
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    .time-picker .time-picker-dropdown {
        border: 1px solid $COLOR_BRANDBLUE_85;

        .time-picker-panel, .time-picker-selector {
            background: $COLOR_BLUE;
            border-color: $COLOR_BRANDBLUE_85;

            .time-picker-hours, .time-picker-minutes {
                color: $COLOR_BRANDBLUE_40;
                background: $COLOR_BRANDBLUE_95;
                border-color: $COLOR_BRANDBLUE_85;

                .list-title {
                    color: $COLOR_WHITE;
                }
                .list-item {
                    color: $COLOR_BRANDBLUE_40;

                    &.disabled {
                        color: $COLOR_BRANDBLUE_75;
                        pointer-events: none;
                    }
                    &.selected {
                        background: $COLOR_WHITE;
                        color: $COLOR_BLUE;
                    }
                    &:hover:not(.selected):not(.disabled) {
                        background: $COLOR_BRANDBLUE_85;
                    }
                }
            }
        }
        .time-picker-panel {
            color: $COLOR_BRANDBLUE_40;
        }
    }
}
