<div class="gr-12 gr-padding-30 gr-no-gutter">
    <h2>[% l("No Connections With Antisocial Forces") %]</h2>
    <p>[% l("Japan website No Connections With Antisocial Forces Paragraph 1") %]</p>
	<ol>
		<li>
			[% l("Japan website No Connections With Antisocial Forces List item 1") %]
		</li>
		<li>
			[% l("Japan website No Connections With Antisocial Forces List item 2") %]
			<p>[% l("Japan website No Connections With Antisocial Forces List item 2 Paragraph 1") %]</p>
		</li>
	</ol>
</div>
