<div class="gr-12 gr-padding-30 gr-no-gutter">
    <h2>[% l("Pre-contract Document") %]</h2>
    <p>
      [% l("Japan website Pre-contract Document Paragraph 1") %]
    </p>
    [% l("Japan website Download Text for Pre-contract Document") %]
</div>
