#footer {
    #footer-menu {
        h4 {
            font-size: $FONT_SIZE_S;
        }
        li {
            line-height: 1;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
    }
    .content-inverse-color a {
        text-decoration: underline;
    }
    #footer-regulatory {
        #regulatory-text {
            text-align: justify;
            font-size: $FONT_SIZE_XXS;
        }
        #iom_icon_footer {
            max-width: 90px;
        }
        #lga_icon_footer {
            max-width: 140px;
        }
        #ratelimit-error-message, #site-status-message {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $COLOR_YELLOW;
            z-index: 999;
        }
        #site-status-message {
            z-index: 9999;
        }
    }
    #footer-last {
        .gambling {
            &, a {
                text-align: justify;
                font-size: $FONT_SIZE_XS;
                font-weight: 400;
                line-height: 110%;
            }
        }
    }
    #end-note {
        line-height: 25px;
        background: $COLOR_RED;
        font-size: $FONT_SIZE_XS;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;
    }
    #status-notification {
        animation: moveInBottom 0.2s ease-in;
        display: none;
        align-items: center;
        padding: 10px 7px;
        position: fixed;
        bottom: 7px;
        right: 7px;
        left: 7px;
        border-radius: 5px;
        z-index: 1000;

        &-text {
            color: $COLOR_WHITE;
            font-size: $FONT_SIZE_S;
            margin: 0 auto 0 0;
        }
        &-type-icon {
            padding-right: 7px;

            img {
                display: none;
            }
        }
        &-close {
            padding-left: 7px;

            &:hover {
                cursor: pointer;
            }
        }
    }
    #status-notification.info {
        background-color: $COLOR_BLUE;

        #status-notification-type-icon > #info {
            display: inline-block;
        }
    }
    #status-notification.success {
        background-color: $COLOR_GREEN;

        #status-notification-type-icon > #success {
            display: inline-block;
        }
    }
    #status-notification.warning {
        background-color: $COLOR_ORANGE;

        #status-notification-type-icon > #warning {
            display: inline-block;
        }
    }
    #status-notification.danger {
        background-color: $COLOR_RED;

        #status-notification-type-icon > #warning {
            display: inline-block;
        }
    }
}
