// Brand colors and derivatives
/* stylelint-disable color-no-hex */
$COLOR_TEXT: #3d474d;
$COLOR_CONTROL_BORDER: #dadada;
$COLOR_ACTIVE: #ff992a;

$COLOR_NAV: #a1aab3;
$COLOR_NAV_ACTIVE: #929ca6;
$COLOR_NAV_BORDER: #2a3052;

$COLOR_ORANGE: #e98024;
$COLOR_LIGHT_BLUE: #29abe2;
$COLOR_BLUE: #2a3052;
$COLOR_BLUE_SHADE: #394171;
$COLOR_DARK_BLUE: #15212d;

// Utility colors

$COLOR_BLACK: #000;
$COLOR_WHITE: #fff;
$COLOR_DARK_WHITE: #ccc;

// Colors used for secondary purposes. To be used sparingly

$COLOR_RED           : #c03;
$COLOR_YELLOW        : #fef1cf;
$COLOR_LIGHT_GRAY    : #f2f2f2;
$COLOR_GRAY          : #dedede;
$COLOR_DARK_GRAY     : #44484c;
$COLOR_GREEN         : #2e8836;

// colors to remove

$COLOR_GRAY_SHADE: #c2c2c2;
$COLOR_DARK_GREEN: #14602b;
/* stylelint-enable color-no-hex */

$BORDER_RADIUS: 3px;
$CONTROL_PADDING: 0.33em;
$CONTROL_PADDING_L: 0.5em 1em;
$PAGE_PADDING: 0.5em;
$HEADER_HEIGHT: 3em;
$BOX_SHADOW: 0 0 50px 0 rgba(0, 0, 0, 0.25);

$FONT-STACK: roboto, sans-serif;
$FONT_BASE: 1rem;
$FONT_SCALE: 1.15;

// Use only these font sizes throughout the site

$FONT_SIZE_XXL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE * $FONT_SCALE; // 1.520875rem =~ 24px
$FONT_SIZE_XL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE;                // 1.3225rem   =~ 21px
$FONT_SIZE_L: $FONT_BASE * $FONT_SCALE;                               // 1.15rem     =~ 18px
$FONT_SIZE_N: $FONT_BASE;                                             // 1rem        =~ 16px
$FONT_SIZE_S: $FONT_BASE / $FONT_SCALE;                               // .86957rem   =~ 14px
$FONT_SIZE_XS: $FONT_BASE / $FONT_SCALE / $FONT_SCALE;                // .75614rem   =~ 12px
$FONT_SIZE_XXS: $FONT_BASE / $FONT_SCALE / $FONT_SCALE / $FONT_SCALE; // .65752rem   =~ 10px
