@import '_common/common_import';

@import 'app_2/_common/layouts.scss';
@import 'app_2/_common/header.scss';
@import 'app_2/_common/typography.scss';
@import 'app_2/_common/buttons.scss';
@import 'app_2/_common/input_field.scss';
@import 'app_2/_common/select.scss';
@import 'app_2/trading';
