
/* DO NOT include any rules for specific pages in this file. */

/* theme elements */
html {
    height: 100%;
}
body {
    background: #FFFFFF;
    color: #000000;
    font-size: 18px;
    min-height: 100%;
    position: relative;
    background-position: bottom;
    background-repeat: repeat-x;
    padding:0px;
    margin:0px;
    .ui-widget {
        font-size: 0.9em;
    }
    font-family: roboto, sans-serif;
}
html, body { width:100%;  overflow-x:hidden; }
h1, h2, h3, h4, li, p, a, span {
    text-rendering: optimizelegibility;
}
a, a:visited {
    color: $COLOR_BLUE;
    text-decoration: none;
    font-weight: bold;
    &:hover, &:active {
        text-decoration: underline;
    }
    .learn-more {
        font-weight: bold;
        font-size: 0.8125em;
        padding-right: 15px;
        margin-top: 15px;
        background: url("pages/home/learn-more-arrow_1.png") no-repeat right;
    }
}
p {
    margin: 1em 0;
    line-height: 1.4em;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    color: $COLOR_ORANGE;
    a {
        color: $COLOR_ORANGE !important;
    }
}
h1.dark {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
}
h2 {
    font-size: 28px;
    color: $COLOR_BLUE;
    a {
        color: $COLOR_BLUE !important;
    }
    em {
        text-decoration: underline;
    }
    &.center {
        text-align: center;
        margin: 1.25em auto;
    }
}
h3 {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
    font-size: 22px;
}
h4 {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
    font-size: 18px;
}
select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px 2px 3px;
}
button {
    vertical-align: top;
}
button:focus, input[type="submit"]:focus {
    background: red;
    outline: none;
}
button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
  border: 0;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, textarea {
    vertical-align: middle;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
ul, ol {
    margin: 0;
    li {
        margin: 0.5em 0 0;
        line-height: 1.4em;
        ul, ol {
            margin: 0.8em 0 0 1em;
        }
    }
}
ol li {
    list-style-type: decimal;
    list-style-image: none;
}
img {
    vertical-align: middle;
    border: 0px;
}
hr {
    display: none;
}
acronym, abbr {
    cursor: help;
}
span.button.button-disabled button.button-disabled {
    color: $COLOR_GRAY_SHADE;
    background: $COLOR_LIGHT_GRAY;
    cursor: default;
}
form {
    margin: 0;
    padding:0;
}
fieldset {
    position: relative;
    border: 1px solid #E5E5E5;
    padding: 5px;
    @include section-background;
    &#formlayout {
        background:none;
        border: 0;
        .errorfield {
            margin-left: 0;
        }
    }
    legend {
        color:#444444;
        padding: 0 0.8em 0 0.8em;
        font-weight: bold;
        text-transform: capitalize;
    }
    #inputheading {
        line-height: 25px;
    }
}
textarea {
    height: 8em;
    width: 25em;
}
select.input {
    width: 46.2%;
}
/* form styles */
.extra_tooltip_container {
    float: left;
    text-align: right;
    padding-right: 1em;
    width: 40%;
    line-height: 1.7em;
}
label {
    line-height: 25px;
}
// used for form label in grid structure
.form_label {
    @include BIDIR_VALUE(text-align, right, left);
    line-height: 25px;
}
.extra_tooltip_container label {
    padding: 0;
    width: 94%;
}
#profit-table-form {
    background: $COLOR_WHITE;
    input {
        border: 1px solid #e4e4e4;
    }
}
.input {
    width: 45%;
}
.row.focus input, .row.focus textarea {
    background-color: $COLOR_YELLOW;
}
.errorrow, .errorfield {
    color: $COLOR_RED;
}
.text-only {
    color: $COLOR_DARK_GRAY;
}
.errorfield {
    margin: 0 0 0 0%;
}
.errorrow, .errorfield {
    font-size: 93%;
    font-style: italic;
    margin-top: 8px;
}
.last-row {
    margin-bottom: 0;
}
.form_button {
    text-align: center;
}
.form_button .errorfield {
    margin: 0;
}
.comment {
    font-size: 93%;
    font-style: italic;
}
.non_input {
    color: $COLOR_DARK_GRAY;
    line-height: 1.7em;
}
.non_input label {
    line-height: 1.6em;
}
.gray {
    color: $COLOR_DARK_GRAY;
}
.form_link {
    display: block;
    font-size: 76%;
    line-height: 0.8em;
}
fieldset .error-msg {
    width: 100%;
    text-align: center;
}
/* global styles */
* {
    margin: 0;
}
#popup {
    width: 95%;
    margin: 0 auto;
}
.clearfix {
    clear:both;
    visibility:hidden;
    content:'.';
}
.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.push {
    clear: both;
}
.required_asterisk {
    color: $COLOR_ORANGE;
}
.button {
    cursor: pointer;
    margin-bottom: 0.5em;
    &:hover {
        color: $COLOR_WHITE;
        text-decoration: none;
    }
    span, button {
        @include link-button;
        overflow: visible;
        border: 0;
    }
}
.button-disabled {
    cursor: pointer;
    margin-bottom: 0.5em;
    &:hover {
        color: $COLOR_GRAY_SHADE;
        background: $COLOR_LIGHT_GRAY;
        text-decoration: none;
    }
    span, button {
        @include link-button;
        overflow: visible;
        white-space: nowrap;
        border: 0;
        font-weight: bold;
        color: $COLOR_GRAY_SHADE;
        background: $COLOR_LIGHT_GRAY;
        cursor: default;
        &:hover, &:active {
            color: $COLOR_GRAY_SHADE;
            background: $COLOR_LIGHT_GRAY;
        }
    }
}
.error-msg {
    color: $COLOR_RED;
    font-style: italic;
    font-size: 93%;
}
.notice-msg {
    color: $COLOR_BLACK;
    background-color: $COLOR_YELLOW;
    padding: 10px;
    overflow: hidden;
}
/* hacks - avoid! */

/* using pixel as we need it to make footer sticky */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul.bullet, ol {
    margin: 1.25em 0 1.25em 1.25em;
}
ul.bullet li {
    list-style-image: url("../images/pages/get-started/list-circle_1.png");
}
.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_ORANGE;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;
    .drag-handle {
        cursor: pointer;
    }
    a.close {
        position: relative;
        top: -10px;
        right: -10px;
    }
    .inpage_popup_content {
        margin: 10px;
        margin-top: 30px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }
}
.paging-navigation {
    ul.paging-links {
        li {
            line-height: 1em;
        }
    }
}
// Coche icon, AKA tick
ul.checked {
    li {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDI0IDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3IAkJCSIvPg0KCQk8L2c+DQoJPC9nPg0KPC9nPg0KPC9zdmc+DQo=") no-repeat;
        @include BIDIR_VALUE(background-position, left, right);
        @include BIDIR_PROP(padding-left, padding-right, 35px);
        min-height:24px;
    }
}
.reset_ol{
  counter-reset: item;
  li {
        display: block;
  }
  li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
  }
}
.hint{
    font-size: 14px;
    color: #58595B;
    margin-top: 3px;
}
#content {
    margin-bottom: 20px;
}

.separator-line {
    border-bottom: 1px solid $COLOR_GRAY;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-holder {
    flex: 1 1 auto;
}

#outline {
    outline: 0;
}

.empty-space {
    margin-top: 137px;
}

#main-menu .items li a {
   white-space: nowrap;
}

#japan-form .hint {
  margin-bottom: 0;
}

.charting-page img.responsive {
  width: 140px;
  height: 140px;
}

.popup_page_overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.light-yellow-background {
    background-color: lightyellow;
}

.tooltip-content {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

*:hover > .tooltip-content {
    display: inline;
}

#session_limit .limit_message {
    margin: 30px auto;
}

.no-padding {
    padding: 0px !important;
}

_:-ms-fullscreen, :root #content-holder {
    height: 100%;
}
