/* DO NOT include any rules for specific pages in this file. */
/* theme elements */

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: repeat-x bottom;
    overflow-x: hidden;
    .ui-widget {
        font-size: 0.9em;
    }
}

h1, h2, h3 {
    margin-bottom: 20px;
}

select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px;
}

select {
    max-width: 100%;
}

select.input {
    width: 46.2%;
}

button {
    vertical-align: top;
}

button:focus, input[type='submit']:focus {
    background: $COLOR_GREEN;
    outline: none;
}

button::-moz-focus-inner, input[type='submit']::-moz-focus-inner {
    border: 0;
}

a.button:hover {
    text-decoration: none;
}

input, button, textarea, select, optgroup, option, xmp {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, textarea {
    vertical-align: middle;
    border-radius: $BORDER_RADIUS;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    position: relative;
    border: 1px solid $COLOR_GRAY;
    padding: 5px;
    margin-bottom: 10px;
    &#formlayout { /* TODO: remove all occurrences: no point in using fieldset when we hide its border */
        background: none;
        border: 0;
    }
    legend {
        color: $COLOR_DARK_GRAY;
        padding: 0 0.8em;
        font-weight: bold;
        text-transform: capitalize;
    }
    #inputheading, .text-display { /* TODO: replace all occurrences of id with the class */
        line-height: 25px;
    }
    .error-msg {
        width: 100%;
        margin-top: 5px;
    }
}

textarea {
    height: 8em;
    width: 25em;
}

/* form styles */
label {
    line-height: 25px;
}

/* used for form label in grid structure */
.form_label {
    @include BIDIR_VALUE(text-align, right, left);
    line-height: 25px;
}

.form-row {
    padding: 10px 0;
    label {
        display: block;
        text-align: right;
    }
}

.input {
    width: 45%;
}

*, p.no-para-margin, .errorfield {
    margin: 0;
}

.errorfield {
    font-size: 93%;
    font-style: italic;
    margin-top: 8px;
    color: $COLOR_RED;
}

.comment {
    font-size: 93%;
    font-style: italic;
}

/* global styles */
.required_asterisk {
    color: $COLOR_ORANGE;
}

.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_ORANGE;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;
    .drag-handle {
        cursor: pointer;
    }
    .inpage_popup_content {
        margin: 30px 10px 10px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }
}

/* Coche icon, AKA tick */
#content {
    margin-bottom: 20px;
}

.separator-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-holder {
    flex: 1 1 auto;
}

#main-menu .items li a {
    white-space: nowrap;
}

#japan-form .hint {
    margin-bottom: 0;
}

.popup_page_overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.light-yellow-background {
    background-color: $COLOR_YELLOW;
}

#session_limit .limit_message {
    margin: 30px auto;
}

_:-ms-fullscreen, :root #content-holder {
    height: 100%;
}

.color-white {
    color: $COLOR_WHITE;
}

.half-sized-picture {
    width: 50px;
    height: 50px;
}

.nowrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0;
}

.border-dark-gray {
    border: 1px solid $COLOR_GRAY_SHADE;
}

.vertical-align-middle {
    vertical-align: middle;
}

input[type=checkbox] {
    margin-top: -5px;
    &#email_consent {
        margin-top: 5px;
    }
}

.no-scroll, .no-scroll body {
    overflow: hidden;
}

#msg_notification {
    font-size: $FONT_SIZE_S;
    padding: 3px 0;
    line-height: 20px;
    display: none;
}
