/* DO NOT include any rules for specific pages in this file. */
/* theme elements */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-position: bottom;
    background-repeat: repeat-x;
    .ui-widget {
        font-size: 0.9em;
    }
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px;
}

button {
    vertical-align: top;
}

button:focus, input[type='submit']:focus {
    background: $COLOR_GREEN;
    outline: none;
}

button::-moz-focus-inner, input[type='submit']::-moz-focus-inner {
    border: 0;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, textarea {
    vertical-align: middle;
    border-radius: $BORDER_RADIUS;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    display: none;
}

acronym, abbr {
    cursor: help;
}

span.button.button-disabled button.button-disabled, span a.button-disabled button {
    color: $COLOR_GRAY_SHADE;
    background: $COLOR_LIGHT_GRAY;
    cursor: default;
}

.button.fullwidth {
    width: 100%;
    span {
        display: block;
    }
}

a.button:hover {
    text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    position: relative;
    border: 1px solid $COLOR_GRAY;
    padding: 5px;
    margin-bottom: 10px;
    &#formlayout {
        background: none;
        border: 0;
        .errorfield {
            margin-left: 0;
        }
    }
    legend {
        color: $COLOR_DARK_GRAY;
        padding: 0 0.8em;
        font-weight: bold;
        text-transform: capitalize;
    }
    #inputheading {
        line-height: 25px;
    }
}

textarea {
    height: 8em;
    width: 25em;
}

select.input {
    width: 46.2%;
}

/* form styles */
label {
    line-height: 25px;
}

/* used for form label in grid structure */
.form_label {
    @include BIDIR_VALUE(text-align, right, left);
    line-height: 25px;
}

.input {
    width: 45%;
}

.row.focus input, .row.focus textarea {
    background-color: $COLOR_YELLOW;
}

.text-only {
    color: $COLOR_DARK_GRAY;
}

.errorfield {
    margin: 0 0 0 0%;
}

.errorrow, .errorfield {
    font-size: 93%;
    font-style: italic;
    margin-top: 8px;
    color: $COLOR_RED;
}

.last-row {
    margin-bottom: 0;
}

.form_button {
    text-align: center;
}

.form_button .errorfield {
    margin: 0;
}

.comment {
    font-size: 93%;
    font-style: italic;
}

fieldset .error-msg {
    width: 100%;
    text-align: center;
}

/* global styles */
* {
    margin: 0;
}

.required_asterisk {
    color: $COLOR_ORANGE;
}

.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_ORANGE;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;
    .drag-handle {
        cursor: pointer;
    }
    a.close {
        position: relative;
        top: -10px;
        right: -10px;
    }
    .inpage_popup_content {
        margin: 10px;
        margin-top: 30px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }
}

.paging-navigation {
    ul.paging-links {
        li {
            line-height: 1em;
        }
    }
}
/* Coche icon, AKA tick */

.hint {
    font-size: 14px;
    color: $COLOR_DARK_GRAY;
    margin-top: 3px;
}

#content {
    margin-bottom: 20px;
}

.separator-line {
    border-bottom: 1px solid $COLOR_GRAY;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-holder {
    flex: 1 1 auto;
}

#outline {
    outline: 0;
}

#main-menu .items li a {
    white-space: nowrap;
}

#japan-form .hint {
    margin-bottom: 0;
}

.popup_page_overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.light-yellow-background {
    background-color: $COLOR_YELLOW;
}

#session_limit .limit_message {
    margin: 30px auto;
}

_:-ms-fullscreen, :root #content-holder {
    height: 100%;
}

xmp {
    font-family: inherit;
}

img.responsive {
    width: 100%;
    height: auto;
}

.color-blue {
    color: $COLOR_BLUE;
}

.color-green {
    color: $COLOR_GREEN;
}

.color-orange {
    color: $COLOR_ORANGE;
}

.color-white {
    color: $COLOR_WHITE;
}

.background-gray {
    background-color: $COLOR_LIGHT_GRAY;
}

button.blue-button {
    background: $COLOR_BLUE;
    &:hover {
        background-color: $COLOR_DARK_GREEN;
    }
}

.half-sized-picture {
    width: 50px;
    height: 50px;
}

.nowrap {
    white-space: nowrap;
}

p.no-para-margin {
    margin: 0;
}

.separator-line-thin-gray {
    border-top: 1px solid $COLOR_GRAY;
}
