@media screen and (max-width: 959px) {
    #header ul#menu-top.smaller-font a {
        font-size: $FONT_SIZE_XS;
    }
}

@media screen and (max-width: 768px) {
    #sell_popup_container {
        padding: 0;
        width: 100%;
        font-size: $FONT_SIZE_XS;
        max-height: 500px;
        overflow: scroll;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    .table-container {
        overflow-x: auto;
    }
}

@media screen and (max-width: 480px) {
    #sell_popup_container {
        max-height: 100%;
    }
    input:not([type='checkbox']), select {
        width: 80%;
    }
    .center-text-m {
        &, div:first-child label {
            text-align: center;
        }
    }
    #btn_verify_email {
        font-size: $FONT_SIZE_N;
        padding: 0;
    }
    #end-note {
        display: none;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}
