@media screen and (max-width: 959px) {
    #header ul#menu-top.smaller-font a {
        font-size: 85%;
    }
}

@media screen and (max-width: 768px) {
    #page-wrapper {
        #content {
            .page-section {
                & > .tab-menu {
                    ul.tm-ul {
                        li {
                            &.active {
                                a {
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #sell_popup_container {
        padding: 0;
        width: 100%;
        font-size: 70%;
        max-height: 500px;
        overflow: scroll;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    #footer-regulatory {
        #social-networks {
            text-align: center;
        }
    }
    .table-container {
        overflow-x: auto;
    }
}

@media screen and (max-width: 640px) {
    ul.tm-ul-2 {
        display: block !important;
        top: 0 !important;
        position: relative !important;
    }
    ul.tm-li-2 {
        display: block !important;
    }
    li.tm-li.hover ul {
        display: block;
        position: relative !important;
        left: 0px !important;
        width: 99% !important;
        z-index: 1 !important;
        margin-top: 0px !important;
        background: $COLOR_WHITE;
        @include BIDIR_PROP(margin-left, margin-right, 1px);
    }
}

@media screen and (max-width: 480px) {
    .empty-space {
        margin-top: 0;
    }
}
