@media screen and (max-width: 768px) {
 #page-wrapper {
      #content {
          .page-section {
              & > .tab-menu {
                  ul.tm-ul {
                      li {
                          &.active {
                              a {
                                  background: none;
                              }
                          }
                      }
                  }
              }
          }
      }
  }

  #sell_popup_container {
    padding: 0;
    width: 100%;
    max-height: 100%;
    font-size: 70%;
    max-height: 500px;
    overflow: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
  #footer-regulatory{
    #social-networks{
      text-align: center;
    }
  }

  .empty-space {
    margin-top: 90px;
  }
}

@media screen and (max-width: 640px) {
    ul#betsTab {  height: auto; }
    ul#betsTab > li {  float: none; width: 100%; }
    ul#betsTab a { line-height: 40px; }
    ul#betsTab ul { position: relative; }
    ul#betsTab > li {
            position: relative !important;
    }

    ul.tm-ul-2 {
        display: block !important;
        top: 0 !important;
        position: relative !important;
    }

    ul.tm-li-2 {
        display: block!important;
    }

    li.tm-li.hover ul{
        display: block;
        position: relative !important;
        left: 0px !important;
        width: 100% !important;
        z-index: 1 !important;
        margin-top: 0px !important;
        background: #fff;
    }
}

@media screen and (max-width: 480px) {
  .empty-space {
    margin-top: 0;
  }
}
