/* GLOBAL RULES */

/*
 * To simplify usage of a property
 * with different values for LTR and RTL languages
 * sample usage: @include BIDIR_VALUE(float, left, right);
 */
@mixin BIDIR_VALUE($prop, $ltr_value, $rtl_value) {
  #{$prop}: if($IS_LTR, $ltr_value, $rtl_value);
}

/*
 * To simplify usage of different properties
 * with the same value for LTR and RTL languages
 * sample usage: @include BIDIR_PROP(margin-left, margin-right, 5px);
 */
@mixin BIDIR_PROP($ltr_prop, $rtl_prop, $value) {
  @if $IS_LTR {
    #{$ltr_prop}: $value;
  }
  @else {
    #{$rtl_prop}: $value;
  }
}

@mixin topspace {
  margin-top:40px;
}

@mixin section-separator {
    .section {
        border-bottom: 1px solid $COLOR_GRAY;
    }
    .section:first-child {
        padding-bottom: 50px;
    }
    .section:not(:first-child) {
        padding: 50px 0;
    }
    .section:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

@mixin menu-left {
  ul {
    font-size:90%;
    li {
      list-style-image: none;
      margin: 0;
      background: $COLOR_LIGHT_GRAY;
      line-height: 150%;
      border-bottom: 1px solid #FFFFFF;
      &:hover {
        background: $COLOR_GRAY;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        display: block;
        padding: 5px 5px 5px 10px;
        color: $COLOR_BLUE;
      }
    }
    li.selected {
      background: $COLOR_BLUE;
      a {
        color: $COLOR_WHITE;
        text-decoration: none;
      }
    }
  }
  .open-account {
    background: $COLOR_LIGHT_GRAY;
    padding: 20px;
  }
}

@mixin menu-right {
  div {
    background: $COLOR_LIGHT_GRAY;
    border-bottom: $COLOR_GRAY;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .open-account {
    p { margin-bottom: 1em; }
    padding: 20px;
  }
}

@mixin link-button {
  color: $COLOR_WHITE;
  text-decoration: none;
  text-align: center;
  line-height:100%;
  background: $COLOR_GREEN;
  border-radius: $BORDER_RADIUS;
  text-transform: capitalize;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  letter-spacing: 0.75px;
  &:visited {
    color: $COLOR_WHITE;
  }
  &:hover, &:active {
    text-decoration: none;
    background-color: #14602B;
  }
}

@mixin tab-list {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    background: none;
    border-bottom: 1px solid $COLOR_DARK_GRAY;
    li {
      border: none;
      list-style-image: none;
      background: $COLOR_LIGHT_GRAY;
      border-radius: 4px 4px 0 0;
      @include BIDIR_VALUE(margin, 0 6px 0 0, 0 0 0 6px);
      padding: 0 10px;
      a, a:visited {
        padding: 0;
        font-weight: normal;
        text-decoration: none;
        color: $COLOR_BLACK;
        font-size: 90%;
        background: transparent;
      }
    }
    li.active, li.ui-tabs-active {
      background: $COLOR_BLUE;
      color: $COLOR_WHITE;
      a {
        background: none;
        color: $COLOR_WHITE;
        font-weight: normal;
        text-decoration: none;
        padding: 0;
        outline: none;
      }
      span.a-active {
          line-height: 2;
      }
    }
    ul.tm-ul-2 {
      list-style-type: none;
      margin: 0;
      li {
        background: none;
        a {
          color: $COLOR_BLACK;
          padding-top: 0;
          font-weight: normal;
          text-decoration: none;
          width: auto;
        }
        a.a-active {
          color: $COLOR_ORANGE;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
}
