{
    'parser': 'babel-eslint',
    'extends': [
        'airbnb-base',
    ],
    'env': {
        'es6':     true,
        'browser': true,
        'amd':     true,
        'mocha':   true,
        'jquery':  true,
    },
    'globals': {
        'jQuery':  false,
        '$':       false,
        'require': false,
        'module':  false,
        'console': false,
        'global':  false,

        'dataLayer':       true,

        'page':            false,
        'TUser':           false,
        'BinarySocket':    false,
        'LocalStore':      false,
        'SessionStore':    false,
        'load_with_pjax':  false,
        'Highcharts':      false,
        'GTM':             false,
        'trackJs':         false,
        'DESK':            false,
        'getClockStarted': false,
        'MBPrice':         false,

        'processActiveSymbols':       false,
        'processMarket':              false,
        'processContract':            false,
        'processContractForm':        false,
        'forgetTradingStreams':       false,
        'processForgetProposals':     false,
        'processPriceRequest':        false,
        'processForgetTicks':         false,
        'processTick':                false,
        'processProposal':            false,
        'processTradingTimesRequest': false,
        'processTradingTimes':        false,

        'processActiveSymbols_Beta':       false,
        'processMarket_Beta':              false,
        'processContract_Beta':            false,
        'processContractForm_Beta':        false,
        'forgetTradingStreams_Beta':       false,
        'processForgetProposals_Beta':     false,
        'processPriceRequest_Beta':        false,
        'processForgetTicks_Beta':         false,
        'processTick_Beta':                false,
        'processProposal_Beta':            false,
        'processTradingTimesRequest_Beta': false,
        'processTradingTimes_Beta':        false,
    },
    'rules': {
        'array-callback-return': 0,
        'func-names':  ['error', 'never'],
        'indent':      ['error', 4],
        'key-spacing': ['error', { align: 'colon' }],
        'max-len':     ['error', 120, 4, { ignoreUrls: true, ignoreComments: false, ignoreRegExpLiterals: true, ignoreStrings: true, ignoreTemplateLiterals: true }],
        'no-multi-spaces':       0,
        'no-nested-ternary':     0,
        'no-new':                0,
        'no-param-reassign':     0,
        'no-plusplus':           0,
        'no-underscore-dangle':  0,
        'no-use-before-define':  0,
        'no-useless-escape':     0,
        'one-var':               0,
        'prefer-arrow-callback': 0,
        'prefer-rest-params':    0,
        'radix':     ['error', 'as-needed'],
        'space-before-function-paren': 0,
        'vars-on-top':           0,
        'wrap-iife': ['error', 'inside', { functionPrototypeMethods: true }],

        // TODO: to be removed
        'camelcase':             0,
        'no-alert':              0,
        'no-console':            0,
        'no-prototype-builtins': 0,
        'no-var':                0,
        'object-shorthand':      0,
        'prefer-template':       0,
        'strict':                0,
    },
}
