.sidebar-left
  %ul.nav
    - my @nav = ({route => '/get-started/what-is-binary-trading',       text => l('Why choose binary trading?')},
    -            {route => '/get-started/types-of-trades',              text => l('Types of trades')},
    -            {route => '/get-started/binary-options-basics',        text => l('Binary options basics')},
    -            {route => '/get-started/benefits-of-trading-binaries', text => l('Benefits of binary trading')},
    -            {route => '/get-started/how-to-trade-binaries',        text => l('How to trade binaries?')},
    -            {route => '/get-started/volidx-markets',               text => l('How to trade the Volatility Indices markets?'), classname => 'ja-hide'},
    -            {route => '/get-started/spread',                       text => l('How to trade spreads?'), classname => 'ja-hide'},
    -            {route => '/get-started/smart-indices',                            text => l('Smart Markets'), classname => 'ja-hide'},
    -            {route => '/get-started/otc-indices-stocks',           text => l('OTC Indices and Stocks'), classname => 'ja-hide'},
    -            {route => '/get-started/beginners-faq',                text => l("FAQ")},
    -            {route => '/get-started/glossary',                     text => l('Glossary')});
    - foreach my $item (@nav) {
      - my ($route, $text, $classname) = ($item->{route}, $item->{text}, $item->{classname});
      - my $class = ($route eq current_route) ? ($classname ? $classname . ' selected' : 'selected') : ($classname ? $classname  : '');
      %li.$class
        %a{:href=>url_for($route), :class => 'pjaxload'}= $text
    - }
