<div class="non_input">
    <span class='grd-grid-5 form_label'>
        <label for="spot">[% l('Spot') %]:</label>
    </span>
    <span class='grd-grid-7 grd-parent'>
        <span class='grd-grid-5 grd-grid-mobile-12 grd-grid-phablet-12'>
            <span id="spot">[% current_spot %]</span>
        </span>
        <span class='grd-grid-7 grd-grid-mobile-12 grd-grid-phablet-12'>
            <span id="spot_spark"></span>
        </span>
    </span>
</div>
