<div class="grd-grid-12">
	<h1>[% l('Give Me More Money!') %]</h1>

	<div id="topup_virtual" class="center">
		<div id="viewError" class="viewItem hidden">
			<p class="notice-msg"></p>
		</div>

		<div id="viewSuccess" class="viewItem hidden">
			<p class="success-msg"></p>
			<a class="button pjaxload" href="[% request.url_for('/user/openpositionsws') %]">
				<span>[% l('View Updated Portfolio') %]</span>
			</a>
		</div>
	</div>
</div>