<div class="[% is_centered ? 'center-text' : 'gr-row' %]">
[% IF not is_centered -%]
    <div class="gr-8 gr-push-4 gr-12-m gr-push-0-m center-text-m">
[% END -%]
    <div id="[% msg_id || 'msg_form' %]" class="error-msg invisible"></div>
    <div class="gr-padding-10">
        <button id="[% id || 'btn_submit' %]"[% IF type=='submit' %] type="submit"[% END %]>[% text %]</button>
    </div>
[% IF not is_centered -%]
    </div>
[% END -%]
</div>
