footer {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
    height: $FOOTER_HEIGHT;
    border-top: 1px solid $COLOR_GRAY;
    background-color: $COLOR_WHITE;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .server-time {
        display: inline-flex;
        align-self: center;
        font-size: 0.75rem;
        margin-right: 10px;
        padding: 0 10px;
        border-width: 0 1px;
        border-style: solid;
        border-color: $COLOR_DARK_WHITE;
    }
    .footer-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: 100%;

        a {
            padding: 0 8px;
            text-decoration: none;
            height: 100%;
            display: inline-flex;
            align-items: center;

            .inline-icon {
                width: 16px;
                height: 16px;
            }
            span {
                font-size: 0.8rem;
                text-transform: capitalize;
                color: $COLOR_DARK_BLUE;
                vertical-align: middle;
                display: inline-block;
            }
            &:hover {
                background: $COLOR_BRANDBLUE_5;

                .inline-icon {
                    @extend .inline-icon.active;
                }
            }
        }
        &.footer-links-left {
            margin-right: auto;

            .ic-positions {
                svg {
                    margin-bottom: 5px;
                }
                &:after {
                    content: '';
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $COLOR_BLACK;
                    position: absolute;
                    margin-top: 10px;
                    right: 15px;
                    display: block;
                }
                &.active {
                    background: none !important;

                    svg {
                        margin-bottom: 0;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.network-status {
    &-wrapper {
        border-left: 1px solid $COLOR_DARK_WHITE;
        height: 14px;
    }
    &-circle {
        background: $COLOR_DARK_GRAY;
        width: 10px;
        height: 10px;
        margin: 2px 16px;
        border-radius: 50%;

        &.online {
            background: $COLOR_LIGHT_GREEN;
        }
        &.offline {
            background: $COLOR_LIGHT_RED;
        }
        &.blinker {
            background: $COLOR_DARK_GRAY;
        }
    }
}

.ic-settings {
    &.active {
        background: $COLOR_GRAY;

        &:after {
            content: '';
            height: 2px;
            width: 100%;
            background: $COLOR_BLUE;
            position: absolute;
            top: 0;
            left: 0;
        }
        .inline-icon {
            @extend .inline-icon.active;
        }
    }
}
