footer {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
    height: $FOOTER_HEIGHT;
    border-top: 1px solid $COLOR_GRAY;
    background-color: $COLOR_WHITE;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .server-time {
        display: inline-flex;
        align-self: center;
        font-size: 0.75rem;
        margin-right: 10px;
        padding: 0 10px;
        border-width: 0 1px;
        border-style: solid;
        border-color: $COLOR_DARK_WHITE;
    }
    .footer-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: 100%;

        a {
            padding: 0 8px;
            text-decoration: none;
            height: 100%;
            display: inline-flex;
            align-items: center;

            span {
                font-size: 0.8rem;
                text-transform: capitalize;
                color: $COLOR_DARK_BLUE;
                vertical-align: middle;
                display: inline-block;
            }
            &:hover, &:focus {
                background: $COLOR_GRAY;
            }
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}

// TODO: Use font-icons
.ic-portfolio {
    &.active:before {
        content: url('../images/app_2/footer/ic_portfolio_active_light.svg');
    }
    &:before {
        content: url('../images/app_2/footer/ic_portfolio_normal_light.svg');
    }
}

.ic-statement:before {
    content: url('../images/app_2/footer/ic_statement_normal_light.svg');
}

.ic-chat-bubble:before {
    content: url('../images/app_2/footer/ic_chat_bubble_outline_light.svg');
}

.ic-two-step:before {
    content: url('../images/app_2/footer/ic_purchase_confirmation_light.svg');
}

.ic-lock-open:before {
    content: url('../images/app_2/footer/ic_lock_open_light.svg');
}

.ic-settings {
    &:before {
        content: url('../images/app_2/footer/ic_edit_normal_light.svg');
    }
    &.active {
        background: $COLOR_GRAY;

        &:after {
            content: '';
            height: 2px;
            width: 100%;
            background: $COLOR_BLUE;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.ic-fullscreen:before {
    content: url('../images/app_2/footer/ic_fullscreen_light.svg');
}
