.header {
    position: fixed;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    height: $HEADER_HEIGHT;
    top: 0;
    border-bottom: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
    background-color: $COLOR_LIGHT_BLACK_4_SOLID;

    .menu-items {
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        height: 100%;

        .navbar-icons {
            cursor: pointer;
            padding: 0.8em 1.6em;
            align-self: center;
            height: 100%;

            &.binary-logo {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.notify-toggle {
                order: 2;
                order: 2;
                padding: 0.5em 1em;
                width: 2em;
            }
        }
        .menu-left {
            justify-content: flex-start;
            order: -1;
            display: inline-flex;
            flex: 1;
            height: #{$HEADER_HEIGHT - 1px};

            .menu-toggle {
                align-self: center;
                display: flex;

                img {
                    width: 2.4em;
                    height: auto;
                }
            }
            .menu-links {
                height: 100%;
                align-self: center;

                a {
                    height: 100%;
                    padding: 0 1.6em;
                    text-decoration: none;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-evenly;
                    transition: background-color 0.3s;

                    span {
                        font-size: 1.6rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        color: $COLOR_LIGHT_BLACK_1;
                        padding: 1em 1em 1em 0;
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 1.4em;
                            left: 1.2em;
                        }
                        &:after {
                            display: block;
                            content: attr(title);
                            font-weight: 400;
                            height: 0;
                            overflow: hidden;
                            visibility: hidden;
                        }
                    }
                    &:hover:not(.active) {
                        background-color: $COLOR_LIGHT_BLACK_4;
                    }
                    &.active {
                        & > span[title] {
                            font-weight: 500;
                        }
                        .inline-icon {
                            @extend .inline-icon.active;
                        }
                    }
                    .inline-icon {
                        margin-right: 0.8em;
                    }
                }
                @media (max-width: 980px) {
                    display: none;
                }
            }
        }
        .menu-right {
            justify-content: flex-end;
            order: 1;
            display: inline-flex;
            border-right: 0.1em solid $COLOR_LIGHT_BLACK_4;
            height: #{$HEADER_HEIGHT - 1px};
        }
        .notifications-toggle {
            justify-content: flex-end;
            align-self: center;
        }
    }
}

.has-inkbar {
    position: relative;

    .inkbar {
        display: block;
        position: absolute;
        content: '';
        height: 0.2em;
        bottom: 0;
        background-color: $COLOR_DARK_BLUE_5;
        transition: all 0.3s;
    }
}
