@supports (display: grid) {
    .app-contents {
        margin: $HEADER_HEIGHT 0 $FOOTER_HEIGHT;
        height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
        overflow-y: auto;
        overflow-x: hidden;

        &--show-portfolio-drawer {
            padding-right: $PORTFOLIO_DRAWER_WIDTH;

            .trade-container {
                transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH});
                margin-right: -#{$PORTFOLIO_DRAWER_WIDTH};
            }
            .chart-container {
                .ciq-chart {
                    .cq-top-ui-widgets, .cq-chart-controls {
                        transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH});
                    }
                    .cq-top-ui-widgets .info-box {
                        transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH});
                    }
                }
                .cq-chart-controls {
                    will-change: max-width;
                    max-width: calc(100% - #{$PORTFOLIO_DRAWER_WIDTH});
                    transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH});
                }
                .cq-chart-control-left {
                    .cq-chart-controls {
                        transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH}) !important;
                    }
                    .info-box {
                        transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH}) !important;
                    }
                }
            }
        }
        .chart-container {
            .cq-chart-control-left {
                .cq-chart-controls {
                    transform: translateX(0);
                    transition: transform 0.25s ease;
                }
                .cq-top-ui-widgets {
                    left: 90px;

                    .info-box {
                        transform: translateX(0);
                    }
                }
            }
            .ciq-chart {
                .cq-top-ui-widgets, & .info-box {
                    transition: transform 0.25s ease;

                    .cq-symbols-display {
                        z-index: 1;
                    }
                }
                .cq-chart-controls {
                    transition: max-width 0.25s ease, transform 0.25s ease;
                }
            }
        }
        @media screen and (max-width: 768px) {
            // no footer:
            margin-bottom: 0;
            height: calc(100vh - #{$HEADER_HEIGHT});
        }

        .sidebar-container {
            position: relative;

            .sidebar-items {
                opacity: 1;
                transform: none;
                transition: transform 0.4s ease, opacity 0.2s linear;

                &__slideout {
                    transform: translateX(calc(100% + 20px));
                    pointer-events: none;
                    opacity: 0;
                }
            }
            .contract-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                transition: transform 0.4s ease, opacity 0.2s linear;
                opacity: 1;
                transform: none;

                &-enter {
                    transform: translateX(calc(100% + 20px));
                    opacity: 0;
                }
                &-exit {
                    transform: translateX(calc(100% + 20px));
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }
    /* trade-app layout */
    .trade-container {
        position: relative;
        padding: 8px 12px 0;
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-template-rows: 1fr;
        grid-gap: 4px;
        min-height: calc(100vh - 91px);
        transition: transform 0.25s ease;
        will-change: transform;

        .chart-container {
            position: relative;

            // smartchart library style fixes
            .cq-context {
                top: 0;
                left: 0;
                z-index: 0;

                div.ciq-chart {
                    height: calc(100% - 50px);
                    box-shadow: none;

                    div.chartContainer {
                        background: transparent;
                        min-height: 100%;
                    }
                    div.cq-chart-controls {
                        box-shadow: none;
                    }
                    div.ciq-asset-information {
                        z-index: 0;
                    }
                }
                div.cq-chart-controls {
                    border-right: 1px solid $COLOR_GRAY;
                }
                div.cq-chart-control-left {
                    .cq-chart-controls {
                        border-top: 1px solid $COLOR_GRAY;
                    }
                    .cq-top-ui-widgets {
                        width: calc(100% - 90px);
                    }
                }
            }
            div.debug-text {
                display: none;
            }
        }
        .sidebar-items, .contract-wrapper {
            min-height: 500px;
        }
        .sidebar-items {
            position: relative;
        }
        & > * {
            grid-column: col-start / span 12;
        }
        @media (max-width: 768px) {
            grid-template-rows: 1fr auto auto;

            .chart-container {
                // smartchart library style fixes
                .cq-context {
                    div.cq-chart-controls {
                        border: 1px solid $COLOR_GRAY;
                    }
                }
                .cq-modal-dropdown {
                    &.stxMenuActive {
                        position: fixed;
                        height: 100%;
                        width: 100%;
                        top: 47px;
                        left: -1px;
                    }
                    .cq-categorical-display {
                        .ic-icon.icon-close-menu {
                            svg {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        .cq-lookup-filters.scroll-down {
                            max-height: unset;
                        }
                        .scrollbar-container.cq-scroll-panel {
                            left: -1px;
                        }
                    }
                }
                .smartcharts-mobile .cq-modal-dropdown .cq-menu-overlay .cq-menu-dropdown {
                    bottom: 48px;
                }
            }
        }
        @media (min-width: 769px) {
            .chart-container {
                grid-column: col-start 1 / span 10;
                margin-left: -15px;
                margin-top: -15px;

                fieldset {
                    display: inline-grid;
                    width: 25%;
                    margin: 0 8px 16px;
                }
            }
            .contract-container {
                grid-column: col-start 11 / span 2;
            }
            .sidebar-container {
                grid-column: col-start 11 / span 2;
                transition: all 0.25s;

                fieldset {
                    margin-bottom: 5px;

                    div.duration-container, div.amount-container {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-auto-columns: auto;
                    }
                    div.endtime-container {
                        display: grid;
                        grid-gap: 8px;
                        grid-template-columns: 1fr;
                        grid-auto-columns: auto;

                        &.has-time {
                            grid-template-columns: 1.5fr 1fr;
                        }
                    }
                    .time-picker, .datepicker-container {
                        margin-top: 8px;
                    }
                    @media (min-width: 979px) {
                        div.duration-container {
                            grid-template-columns: 1fr;
                        }
                        div.amount-container {
                            grid-template-columns: 1fr 1.5fr;
                            grid-gap: 0;

                            div:first-child {
                                border-right-width: 0;
                                border-left-width: 1px;
                                border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;

                                &:hover, &:focus, &:active, &.clicked {
                                    border-right-width: 1px;
                                    border-left-width: 1px;
                                }
                                &.dropdown-container {
                                    &:hover, &:active, &:focus, &.show {
                                        border-top-left-radius: $BORDER_RADIUS;
                                        border-bottom-left-radius: $BORDER_RADIUS;
                                    }
                                }
                                &.list-container {
                                    border-right-width: 1px;
                                    border-radius: $BORDER_RADIUS;
                                }
                            }
                            input:last-child {
                                border-right-width: 1px;
                                border-left-width: 1px;
                                border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
                            }
                            &.three-columns {
                                grid-template-columns: 1.5fr 1.2fr 1.5fr;

                                div, input {
                                    border-radius: 0;
                                    border-left-width: 0;
                                    border-right-width: 0;

                                    &:first-child div, &:first-child input {
                                        border-right-width: 1px;
                                        border-left-width: 1px;
                                        border-top-left-radius: $BORDER_RADIUS;
                                        border-bottom-left-radius: $BORDER_RADIUS;
                                    }
                                    &:last-child div, &:last-child input {
                                        border-right-width: 1px;
                                        border-left-width: 1px;
                                        border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 769px) and (max-width: 1050px) {
            .chart-container {
                grid-column: col-start 1 / span 9 !important;
            }
            .sidebar-container, .contract-container {
                grid-column: col-start 10 / span 3 !important;
            }
        }
    }
    .inline-icon {
        pointer-events: none;
    }
    .category-wrapper, .type-wrapper {
        width: 30px;
        height: 30px;
        background: $COLOR_GRAY;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .category-type, .type {
            transform: scale(1.2, 1.2);
        }
    }
}

/* flexbox fallback is if the browser does not support display:grid */
@supports not (display: grid) {
    .trade-container {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;

        @media screen and (min-width: 769px) {
            .chart-container {
                flex: 0 1 calc(75% - 1.5vw);
            }
            .sidebar-container {
                flex: 0 1 calc(25% - 1.5vw);

                fieldset {
                    margin: 10px 0;
                }
            }
        }
    }
}

// Helpers
.no-scroll {
    overflow: hidden;
    max-height: 100vh;
}

.desktop-only {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px); // TODO: replace with 100vh - header height - footer height

    p {
        @include interpolate(font-size, 320px, 1440px, 14px, 20px);
        color: $COLOR_LIGHT_BLACK;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
