@supports (display: grid) {
    /* trade-app layout */
    #trade_container {
        position: relative;
        margin: 80px 15px 0;
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-template-rows: repeat(2, [row] auto);
        grid-gap: 20px;

        .chart-container {
            padding: 10px;
            position: relative;
        }
        .sidebar-container {
            position: relative;
        }
        & > * {
            grid-column: col-start / span 12;
        }
        @media (min-width: 769px) {
            .chart-container {
                grid-column: col-start 1 / span 9;

                fieldset {
                    display: inline-grid;
                    width: 25%;
                    margin: 0 8px 16px;
                }
            }
            .sidebar-container {
                grid-column: col-start 10 / span 3;
                grid-gap: 10px;
                grid-template-rows: fit-content(40%) fit-content(40%) fit-content(40%) fit-content(40%);
                transition: all 0.25s;

                fieldset {
                    grid-column: 1;

                    div.duration-container, div.amount-container {
                        display: grid;
                        grid-column-gap: 15px;
                        grid-template-columns: 1fr;
                        grid-auto-columns: auto;
                    }
                    @media (min-width: 979px) {
                        div.duration-container {
                            grid-template-columns: 1.5fr 1fr;
                        }
                        div.amount-container {
                            grid-template-columns: 1fr 1.5fr;
                        }
                    }
                }
            }
        }
        @media (min-width: 1025px) {
            .offset-container {
                position: absolute;
                top: -30px;
                height: 100vh;
                width: 100%;
                left: calc(100% + 20px);
                transition: all 0.25s;
                grid-column: col-start 11 / span 2;
            }
            &.show {
                margin-right: 0;

                .chart-container {
                    grid-column: col-start 1 / span 7;
                }
                .sidebar-container {
                    transform: translate(-70%);
                }
                .offset-container {
                    transform: translate(calc(-100% - 20px));
                }
            }
        }
    }
}

/* flexbox fallback is if the browser does not support display:grid */
@supports not (display: grid) {
    #trade_container {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;

        @media screen and (min-width: 769px) {
            .chart-container {
                flex: 0 1 calc(75% - 1.5vw);
            }
            .sidebar-container {
                flex: 0 1 calc(25% - 1.5vw);

                fieldset {
                    margin: 10px 0;
                }
            }
        }
    }
}

.shadow {
    box-shadow: 0 2px 8px #f0f1f2; /* stylelint-disable-line color-no-hex */
}

// Helpers
.desktop-only {
    @media (max-width: 768px) {
        display: none;
    }
}
