.app-contents {
    margin: $HEADER_HEIGHT 0 $FOOTER_HEIGHT;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
    overflow-y: auto;
    overflow-x: hidden;

    &--show-portfolio-drawer {
        padding-right: $PORTFOLIO_DRAWER_WIDTH;

        .trade-container {
            transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH});
            margin-right: -#{$PORTFOLIO_DRAWER_WIDTH};
        }
        .chart-container {
            .ciq-chart {
                .cq-top-ui-widgets, .cq-chart-controls {
                    transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH});
                }
                .cq-top-ui-widgets .info-box {
                    transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH});
                }
            }
            .cq-chart-controls {
                will-change: max-width;
                max-width: calc(100% - #{$PORTFOLIO_DRAWER_WIDTH});
                transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH});
            }
            .cq-chart-control-left {
                .cq-chart-controls {
                    transform: translateX(#{$PORTFOLIO_DRAWER_WIDTH}) !important;
                }
                .info-box {
                    transform: translateX(-#{$PORTFOLIO_DRAWER_WIDTH}) !important;
                }
            }
        }
    }
    .chart-container {
        .cq-chart-control-left {
            .cq-chart-controls {
                transform: translateX(0);
                transition: transform 0.25s ease;
            }
            .cq-top-ui-widgets {
                left: 90px;

                .info-box {
                    transform: translateX(0);
                }
            }
        }
        .ciq-chart {
            .cq-top-ui-widgets, & .info-box {
                transition: transform 0.25s ease;

                .cq-symbols-display {
                    z-index: 1;
                }
            }
            .cq-chart-controls {
                transition: max-width 0.25s ease, transform 0.25s ease;
            }
        }
    }
    @media screen and (max-width: 768px) {
        // no footer:
        margin-bottom: 0;
        height: calc(100vh - #{$HEADER_HEIGHT});
    }

    .sidebar-container {
        position: relative;
        width: 240px;
        margin-left: 16px;

        .sidebar-items {
            opacity: 1;
            width: 240px;
            transform: none;
            transition: transform 0.4s ease, opacity 0.2s linear;

            &__slideout {
                transform: translateX(calc(100% + 20px));
                pointer-events: none;
                opacity: 0;
            }
        }
        .contract-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
            transition: transform 0.4s ease, opacity 0.2s linear;
            opacity: 1;
            transform: none;

            &-enter {
                transform: translateX(calc(100% + 20px));
                opacity: 0;
            }
            &-exit {
                transform: translateX(calc(100% + 20px));
                opacity: 0;
                pointer-events: none;
            }
        }
        fieldset {
            margin-bottom: 4px;

            .time-picker, .datepicker-container {
                margin-top: 8px;
            }
        }
    }
}
/* trade-app layout */
.trade-container {
    position: relative;
    padding: 8px 12px 0;
    display: flex;
    min-height: calc(100vh - 91px);
    transition: transform 0.25s ease;
    will-change: transform;

    .chart-container {
        position: relative;
        width: 100%;

        // smartchart library style fixes
        .cq-context {
            top: 0;
            left: 0;
            z-index: 0;

            div.ciq-chart {
                height: calc(100% - 50px);
                box-shadow: none;

                div.chartContainer {
                    background: transparent;
                    min-height: 100%;
                }
                div.cq-chart-controls {
                    box-shadow: none;
                }
                div.ciq-asset-information {
                    z-index: 0;
                }
            }
            div.cq-chart-controls {
                border-right: 1px solid $COLOR_GRAY;
            }
            div.cq-chart-control-left {
                .cq-chart-controls {
                    border-top: 1px solid $COLOR_GRAY;
                }
                .cq-top-ui-widgets {
                    width: calc(100% - 90px);
                }
            }
        }
        div.debug-text {
            display: none;
        }
    }
    .sidebar-items, .contract-wrapper {
        min-height: 500px;
    }
    .sidebar-items {
        position: relative;
    }
    @media (max-width: 768px) {
        flex-direction: column;

        .chart-container {
            height: 400px;
            // smartchart library style fixes
            .cq-context {
                div.cq-chart-controls {
                    border: 1px solid $COLOR_GRAY;
                }
            }
            .cq-modal-dropdown {
                &.stxMenuActive {
                    position: fixed;
                    height: 100%;
                    width: 100%;
                    top: 47px;
                    left: -1px;
                }
                .cq-categorical-display {
                    .ic-icon.icon-close-menu {
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .cq-lookup-filters.scroll-down {
                        max-height: unset;
                    }
                    .scrollbar-container.cq-scroll-panel {
                        left: -1px;
                    }
                }
            }
            .smartcharts-mobile .cq-modal-dropdown .cq-menu-overlay .cq-menu-dropdown {
                bottom: 48px;
            }
        }
    }
}

.inline-icon {
    pointer-events: none;
}

.category-wrapper, .type-wrapper {
    width: 24px;
    height: 24px;
    background: $COLOR_GRAY;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Helpers
.no-scroll {
    overflow: hidden;
    max-height: 100vh;
}

.desktop-only {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px); // TODO: replace with 100vh - header height - footer height

    p {
        @include interpolate(font-size, 320px, 1440px, 14px, 20px);
        color: $COLOR_LIGHT_BLACK;
    }
}
