@supports (display: grid) {
    .app-contents {
        margin: 49px 0 41px;
        overflow: auto; // prevent margin collapse
    }
    /* trade-app layout */
    .trade-container {
        position: relative;
        padding: 8px 12px 0;
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-template-rows: 1fr;
        grid-gap: 4px;
        overflow: hidden;
        min-height: calc(100vh - 105px);

        .chart-container {
            position: relative;

            cq-context { // stylelint-disable-line selector-type-no-unknown
                top: 0;
                left: 0;
                z-index: 0;

                div.ciq-chart {
                    height: calc(100% - 50px);

                    div.chartContainer {
                        background: transparent;
                        min-height: 100%;
                    }
                    div.cq-chart-controls {
                        box-shadow: none;
                    }
                }
            }
            div.debug-text {
                display: none;
            }
        }
        .sidebar-container, .sidebar-items {
            position: relative;
            min-height: 500px;
        }
        .offset-container {
            display: none;
        }
        & > * {
            grid-column: col-start / span 12;
        }
        @media (max-width: 768px) {
            grid-template-rows: 1fr auto auto;
        }
        @media (min-width: 769px) {
            .chart-container {
                grid-column: col-start 1 / span 10;
                padding: 10px;
                margin-left: -15px;

                fieldset {
                    display: inline-grid;
                    width: 25%;
                    margin: 0 8px 16px;
                }
            }
            .sidebar-container {
                grid-column: col-start 11 / span 2;
                transition: all 0.25s;

                fieldset {
                    margin-bottom: 5px;

                    div.duration-container, div.amount-container {
                        display: grid;
                        grid-gap: 8px;
                        grid-template-columns: 1fr;
                        grid-auto-columns: auto;
                    }
                    div.endtime-container {
                        display: grid;
                        grid-gap: 8px;
                        grid-template-columns: 1.5fr 1fr;
                        grid-auto-columns: auto;
                    }
                    .time-picker, .datepicker-container {
                        margin-top: 8px;
                    }
                    @media (min-width: 979px) {
                        div.duration-container {
                            grid-template-columns: 1fr 1.5fr;
                        }
                        div.amount-container {
                            grid-template-columns: 1fr 1.5fr;
                            grid-gap: 0;

                            div:first-child {
                                border-right-width: 0px;
                                border-left-width: 1px;
                                border-top-left-radius: $BORDER_RADIUS;
                                border-bottom-left-radius: $BORDER_RADIUS;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;

                                &:hover, &:focus, &:active, &.clicked {
                                    border-right-width: 1px;
                                    border-left-width: 1px;
                                }
                                &.dropdown-container {
                                    &:hover, &:active, &:focus, &.show {
                                        border-top-left-radius: $BORDER_RADIUS;
                                        border-bottom-left-radius: $BORDER_RADIUS;
                                    }
                                }
                            }
                            input:last-child {
                                border-right-width: 1px;
                                border-left-width: 1px;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                border-top-right-radius: $BORDER_RADIUS;
                                border-bottom-right-radius: $BORDER_RADIUS;
                            }
                            &.three-columns {
                                grid-template-columns: 1.5fr 1.2fr 1.5fr;

                                div, input {
                                    border-radius: 0;
                                    border-left-width: 0;
                                    border-right-width: 0;

                                    &:first-child div, &:first-child input {
                                        border-right-width: 1px;
                                        border-left-width: 1px;
                                        border-top-left-radius: $BORDER_RADIUS;
                                        border-bottom-left-radius: $BORDER_RADIUS;
                                    }
                                    &:last-child div, &:last-child input {
                                        border-right-width: 1px;
                                        border-left-width: 1px;
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                        border-top-right-radius: $BORDER_RADIUS;
                                        border-bottom-right-radius: $BORDER_RADIUS;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 1025px) {
            .offset-container {
                display: unset;
                position: absolute;
                height: 100vh;
                width: 100%;
                left: calc(100% + 40px);
                transition: all 0.25s;
                grid-column: col-start 11 / span 2;
            }
            &.show {
                margin-right: 0;

                .chart-container {
                    grid-column: col-start 1 / span 8;
                }
                .sidebar-container {
                    transform: translate(-100%);
                }
                .offset-container {
                    transform: translate(calc(-100% - 20px));
                }
            }
        }
        @media (min-width: 979px) and (max-width: 1125px) {
            .chart-container {
                grid-column: col-start 1 / span 9 !important;
            }
            .sidebar-container {
                grid-column: col-start 10 / span 3 !important;
            }
        }
    }
}

/* flexbox fallback is if the browser does not support display:grid */
@supports not (display: grid) {
    .trade-container {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;

        @media screen and (min-width: 769px) {
            .chart-container {
                flex: 0 1 calc(75% - 1.5vw);
            }
            .sidebar-container {
                flex: 0 1 calc(25% - 1.5vw);

                fieldset {
                    margin: 10px 0;
                }
            }
        }
    }
}

.shadow {
    box-shadow: 0 1px 0 0 $COLOR_GRAY;
}

// Helpers
.no-scroll {
    overflow: hidden;
    max-height: 100vh;
}

.desktop-only {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 769px) {
        display: none !important;
    }
}
