#elevio-shell {
    height: 60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $COLOR_ORANGE;
    position: fixed;
    right: 8px !important;
    bottom: 8px !important;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        .text {
            max-width: 1000px;
            padding: 0 25px;
        }
    }
    .icon {
        float: right;
        padding: 0 15px;

        svg {
            fill: $COLOR_WHITE;
            height: 30px !important;
            width: 30px !important;
        }
    }
    .text {
        float: left;
        display: inline-block;
        padding: 0;
        line-height: 60px;
        overflow: hidden;
        white-space: nowrap;
        max-width: 0;
        transition: max-width 0.1s ease, padding 0.1s ease;
        color: $COLOR_WHITE;
        font-size: 13px;
    }
}

#gtm-deriv-livechat {
    position: fixed;
    bottom: 8px;
    right: 8px;
    background-color: $COLOR_WHITE;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 9999;
}
