<div class="user_testing container">
  <div class="gr-no-gutter static_full">
    <h1>[% l("Sign Up to Test Our Platform") %]</h1>
    <div>
      <p>
        [% l("At [_1], we consider the strength and security of our trading platform to be critically important.", website_name) %]
      </p>
      <p>
        [% l("This is why we're now recruiting additional testers for each new release, to ensure that our platform remains stable and secure with every enhancement deployed.") %]
      </p>
      <p>
        [% l("Register to become a tester using the links below:") %]
      </p>
      <div class="gr-row">
        <div class="gr-6 gr-12-m gr-6-p">
          <div class="xquote">
            <div>
              <div class="picture">
                <img class="responsive" src="[% request.url_for('images/pages/user_testing/mycrowd-img.svg') %]"/>
              </div>
              <div class="text">
                <a class="pjaxload" href="https://mycrowd.com/" target="_blank">
                  [% l("Mycrowd - for Binary.com traders") %]
                </a>
                <br/>
                <span>
                  [% l("Sign up as a tester and look for Binary.com-related projects.") %]
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="gr-6 gr-12-m gr-6-p">
          <div class="xquote">
            <div>
              <div class="picture">
                <img class="responsive" src="[% request.url_for('images/pages/user_testing/hackerone-img.svg') %]"/>
              </div>
              <div class="text">
                <a class="pjaxload" href="https://hackerone.com/binary" target="_blank">
                  [% l("Hackerone - for IT security professionals") %]
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
        [% l("Earn money for any verifiable errors that you find.") %]
      </p>
    </div>
  </div>
</div>
