.about-us {
    @include section-separator;
    .border-right-top {
        height: 200px;
    }
    .border-right-bottom {
        height: 300px;
    }
    .border-right-top, .border-right-bottom {
        @include BIDIR_PROP(border-right, border-left, 1px solid $COLOR_GRAY);
    }
    @media screen and (max-width: 480px) {
        .border-bottom, .border-right-top, .border-right-bottom {
            border: none;
        }
    }
}
