#androidApp, #appstore {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: relative;
}

#appstore {
    background: url('../images/pages/applications/appstore.svg') 0 0/100px 30px no-repeat;
    @include BIDIR_PROP(margin-left, margin-right, 10px);
}

#androidApp {
    background: url('../images/pages/trade/google-play-badge.png') 0 0/100px 30px no-repeat;
}

/* trading page */
#trading_socket_container {
    #androidApp, #appstore {
        @include BIDIR_VALUE(float, right, left);
    }
    @media (max-width: 768px) {
        #appstore, #androidApp {
            margin: 0 auto;
            padding-bottom: 10px;
            float: none;
        }
    }
}
