.api_token {
    table {
        td, th.flex-tr-child {
            text-align: center !important;
            vertical-align: middle !important;
            line-height: 30px;
            .button {
                margin: 3px 0px;
            }
        }
        tr {
            &.deleting {
                background-color: $COLOR_LIGHT_GRAY;
            }
            &.new {
                background-color: $COLOR_GRAY;
            }
        }
    }
    fieldset {
        border-bottom: 1px solid $COLOR_GRAY;
        margin: 20px 0;
        #formMessage {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 480px) {
    .api_token {
        table td, table th {
            font-size: 80%;
        }
        table button {
            font-size: 80%;
            padding: 10px 15px;
        }
        .errorfield {
            font-size: 80% !important;
        }
    }
}
