#applications-container {
    table {
        td, th {
            text-align: center !important;
            vertical-align: middle !important;
            line-height: 30px;
            .button {
                margin: 3px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #applications-container {
        table td, table th {
            font-size: 80%;
        }
        table button {
            font-size: 80%;
            padding: 10px 15px;
        }
        .errorfield {
            font-size: 80% !important;
        }
    }
}
