.career, .security_testing, .regulation-content {
    .xquote, .xquote-inverse {
        background-color: $COLOR_LIGHT_GRAY;
        padding: 20px;
        div {
            overflow: hidden;
            display: table;
            margin: 0 auto;
            .picture {
                float: left;
                @include BIDIR_PROP(padding-right, padding-left, 20px);
            }
            .text {
                display: table-cell;
                vertical-align: middle;
                span {
                    color: $COLOR_DARK_GRAY;
                    font-size: 12px;
                }
            }
        }
    }
    .xquote-inverse {
        background-color: $COLOR_BLUE !important;
        div {
            .text {
                a {
                    color: $COLOR_WHITE;
                }
            }
        }
    }
    h4 {
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid $COLOR_GRAY;
    }
}

.careers-for-americans {
    img.responsive {
        width: 50%;
    }
    .fill-bg-color img.responsive {
        width: 15%;
    }
    h2 {
        margin-bottom: 0;
    }
    .border-bottom {
        border-bottom: 1px solid $COLOR_GRAY;
    }
}

.careers-for-americans, .contact-content {
    .margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    h3.margin {
        margin-bottom: 0;
    }
}