.career, .user_testing {
    .xquote {
        background-color: $COLOR_LIGHT_GRAY;
        padding: 20px;
        margin: 30px 0;
        div {
            overflow: hidden;
            display: table;
            .picture {
                float: left;
                @include BIDIR_PROP(padding-right, padding-left, 20px);
            }
            .text {
                display: table-cell;
                vertical-align: middle;
                span {
                    color: $COLOR_DARK_GRAY;
                    font-size: 12px;
                }
            }
        }
    }
}
