#payment_methods {
    h3 {
        margin: 20px 0 0;
    }
    .payment-logo {
        width: 72px;
        height: 57px;
        background-image: url('../images/pages/cashier/payment_methods_sprite.png');
    }
    div {
        align-self: center;
    }
}

#int_bank_wire {
    background-position: -7px -9px;
}

#local_bank_transfer {
    background-position: -90px -9px;
}

#western_union {
    background-position: -174px -9px;
}

#citadel {
    background-position: -257px -9px;
}

#visa {
    background-position: -338px -10px;
}

#mastercard {
    background-position: -421px -11px;
}

#cuo_credit_card {
    background-position: -108px -214px;
}

#moneybrokers {
    background-position: -8px -72px;
}

#neteller {
    background-position: -90px -72px;
}

#moneta {
    background-position: -174px -72px;
}

#webmoney {
    background-position: -257px -73px;
}

#qiwi {
    background-position: -10px -136px;
}

#icbc {
    background-position: -9px -348px;
}

#fastpay {
    background-position: -12px -429px;
}

#perfect_money {
    background-position: -106px -428px;
}

#yandex {
    background-position: -102px -348px;
}

#paysafecard {
    background-position: -372px -425px;
}

#okpay {
    background-position: -285px -426px;
}

#bitcoin {
    background-position: -12px -499px;
}

.forwardws-content iframe {
    height: 1500px;
}

.epg_forwardws-content iframe {
    height: 800px;
}
