/* GET-STARTED PAGES RULES */
.get-started, .get-started-jp {
    @include topspace;
    overflow: hidden;
    .sidebar-left {
        @include menu-left;
    }
    .sidebar-right {
        @include menu-right;
    }
    dl {
        text-align: center;
        .section {
            min-height: 224px;
            height: calc(100% - 20px);
            margin: 0 10px 20px;
            &.section-jp {
                min-height: 0;
                background-color: $COLOR_BLACK;
            }
        }
        .section-header {
            padding: 10px;
            font-weight: normal;
        }
        .section-info {
            width: auto;
            text-align: center;
            padding: 10px;
            min-height: 50px;
            font-size: 90%;
        }
        a {
            display: block;
            color: $COLOR_WHITE;
            text-align: center;
            background: $COLOR_BLACK;
            text-decoration: none;
        }
        a:hover .section-header {
            background: $COLOR_DARK_GREEN;
        }
        /* stylelint-disable selector-list-comma-newline-after, selector-list-comma-space-after */
        #what-is-binary-trading, #binary-options-basics, #how-to-trade-binaries, #types-of-trades,
        #why-trade-with-us, #beginners-faq, #glossary, #volidx-markets {
            height: 80px;
            background-repeat: no-repeat;
            background-image: url('../images/pages/get-started/intro_2.png');
        }
        /* stylelint-enable selector-list-comma-newline-after, selector-list-comma-space-after */
        #what-is-binary-trading {
            background-position: 0 0;
        }
        #binary-options-basics {
            background-position: 100% 0;
        }
        #how-to-trade-binaries {
            background-position: 100% 24%;
        }
        #types-of-trades {
            background-position: 0 47%;
        }
        #why-trade-with-us {
            background-position: 0 24%;
        }
        #beginners-faq {
            background-position: 0 71%;
        }
        #glossary {
            background-position: 100% 71%;
        }
        #volidx-markets {
            background-position: 100% 93%;
        }
        #smart-indices, #partners {
            height: 80px;
            background-repeat: no-repeat;
        }
        #smart-indices {
            background: url('../images/pages/get-started/smart-indices.svg') 50% 50%/20% rgb(39, 40, 37);
            background-size: 20%;
        }
        #partners {
            background: url('../images/pages/partners/partner.svg') 50% 50%/50% rgb(39, 40, 37);
        }
        /* stylelint-disable selector-list-comma-newline-after, selector-list-comma-space-after */
        #how-to-open-an-account-img, #options-basic-knowledge-img, #summary-of-specifications-img,
        #identification-documents-img, #trading-guide-img, #pre-contract-documents-img {
            height: 80px;
            background: no-repeat center;
            background-size: cover;
        }
        /* stylelint-enable selector-list-comma-newline-after, selector-list-comma-space-after */
        #how-to-open-an-account-img {
            background-image: url('../images/pages/get-started-jp/open_acc.svg');
        }
        #options-basic-knowledge-img {
            background-image: url('../images/pages/get-started-jp/knowledge.svg');
        }
        #summary-of-specifications-img {
            background-image: url('../images/pages/get-started-jp/summary.svg');
        }
        #identification-documents-img {
            background-image: url('../images/pages/get-started-jp/id.svg');
        }
        #trading-guide-img {
            background-image: url('../images/pages/get-started-jp/guide.svg');
        }
        #pre-contract-documents-img {
            background-image: url('../images/pages/get-started-jp/contract.svg');
        }
    }
}

.get-started-jp {
    .link-size-box {
        display: table-cell;
        vertical-align: middle;
        height: 36px;
        min-width: 198px;
        padding: 10px;
    }
    .section-header {
        min-height: 75px;
    }
}
