.home-content {
    #banner {
        background: url('../images/pages/home/banner-background_1.png') 0 0/100% 108% no-repeat;
    }
    .signup-box {
        border-radius: $BORDER_RADIUS;
    }
    #verify-email-form {
        input {
            width: 100%;
            height: 3em;
            margin: 5px 0;
            font-size: $FONT_SIZE_S;
        }
        button {
            margin: 5px 0;
            height: 3rem;
            width: 100%;
        }
    }
    .xlist1 {
        background: url('../images/pages/home/xicon-1.png') no-repeat;
    }
    .xlist2 {
        background: url('../images/pages/home/xicon-2.png') no-repeat;
    }
    .xlist3 {
        background: url('../images/pages/home/xicon-3.png') no-repeat;
    }
    .xlist1, .xlist2, .xlist3 {
        @include BIDIR_PROP(padding-left, padding-right, 40px);
        min-height: 24px;
        background-size: 30px;
        @include BIDIR_PROP(margin-left, margin-right, 50px !important);
        padding-bottom: 1em;
        @include BIDIR_VALUE(text-align, left, right);
        @include BIDIR_VALUE(background-position, left top, right top);
    }
    .small-image {
        width: 10%;
        margin: 0 1em;
    }
    .mena {
        width: 10%;
        margin: 0 1em;
    }
    .xquote {
        background-color: $COLOR_LIGHT_GRAY;
        padding: 20px 40px;
        p {
            font-style: italic;
        }
    }
    .xbubble-right {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 5px 0 10px, 25px 10px 0 5px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 80%);
    }
    .xbubble-left {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 10px 0 5px, 25px 5px 0 10px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 10%);
    }
    .xquoter-left {
        @include BIDIR_VALUE(text-align, left, right);
    }
    .xquoter-right {
        @include BIDIR_VALUE(text-align, right, left);
    }
    .xquoter-left p span, .xquoter-right p span {
        font-size: 12px;
        font-style: italic;
    }
}

@media screen and (max-width: 480px) {
    .home-content {
        .small-image {
            width: 30%;
        }
        .mena {
            width: 32%;
        }
    }
}
