.home-content, .home-jp-content {
    #banner {
        background: url('../images/pages/home/banner-background_1.png') 0 0/100% 108% no-repeat;
    }
    .signup-box {
        border-radius: $BORDER_RADIUS;
        .error-msg {
            text-align: center;
            margin-top: 5px;
        }
    }
    #frm_verify_email {
        input {
            width: 100%;
            height: 3em;
            margin: 5px 0;
            font-size: $FONT_SIZE_S;
        }
        button {
            margin: 5px 0;
            height: 3rem;
            width: 100%;
        }
    }
    .xlist1 {
        background: url('../images/pages/home/xicon-1.png') no-repeat;
    }
    .xlist2 {
        background: url('../images/pages/home/xicon-2.png') no-repeat;
    }
    .xlist3 {
        background: url('../images/pages/home/xicon-3.png') no-repeat;
    }
    .xlist1, .xlist2, .xlist3 {
        @include BIDIR_PROP(padding-left, padding-right, 40px);
        min-height: 24px;
        background-size: 30px;
        @include BIDIR_PROP(margin-left, margin-right, 50px !important);
        padding-bottom: 1em;
        @include BIDIR_VALUE(text-align, left, right);
        @include BIDIR_VALUE(background-position, left top, right top);
    }
    .small-image {
        width: 10%;
        margin: 0 1em;
    }
    .mena {
        width: 10%;
        margin: 0 1em;
    }
    .xbubble-right {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 5px 0 10px, 25px 10px 0 5px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 80%);
    }
    .xbubble-left {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 10px 0 5px, 25px 5px 0 10px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 10%);
    }
    .xquoter-left {
        @include BIDIR_VALUE(text-align, left, right);
    }
    .xquoter-right {
        @include BIDIR_VALUE(text-align, right, left);
    }
    .xquoter-left p span, .xquoter-right p span {
        font-size: 12px;
        font-style: italic;
    }
}

.home-jp-content {
    #banner {
        background: url('../images/pages/home-jp/banner.png') 0 0/cover no-repeat;
        opacity: 0.3;
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .relative {
        position: relative;
    }
    .box {
        margin-top: 10%;
    }
    .small-image {
        width: 8%;
        height: 8%;
    }
    .medium-image {
        width: 14%;
        height: 14%;
        margin-right: 1em;
    }
    .align-center {
        align-items: center;
    }
    #email {
        border: 1px solid $COLOR_DARK_WHITE;
    }
}

@media screen and (max-width: 768px) {
    .home-jp-content {
        .box {
            margin-top: auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .home-content {
        .small-image {
            width: 30%;
        }
        .mena {
            width: 32%;
        }
    }
    .home-jp-content {
        .gr-padding-30 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
