#ico_info {
    position: relative;
    margin-top: 50px;

    .caption {
        color: $COLOR_WHITE;
        background-color: $COLOR_BLUE;
        position: absolute;
        top: -40px;
        padding: 10px;
        font-size: 20px;
    }
    .barChart {
        padding-left: 14px;
        padding-bottom: 14px;
        box-sizing: border-box;
    }
    .y-label {
        transform: rotate(90deg);
        transform-origin: top left;
        top: 0;
        left: 14px;
        width: 400px;
    }
    .x-label {
        width: 100%;
        left: 0;
        bottom: 7px;
    }
    .y-label, .x-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        color: $COLOR_BLUE;
        position: absolute;
        box-sizing: border-box;
        padding: 0 30px;

        div:nth-child(2) {
            text-align: center;
            flex-grow: 0;
            margin: 0 10px;
        }
        div:nth-child(2n + 1) {
            flex-grow: 1;
            height: 2px;
            box-sizing: border-box;
            background: $COLOR_GRAY_SHADE;
            margin: 0;
            padding: 0;
        }
    }
    .arrow-left, .arrow-right {
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            background-image: url('../images/ico/images/arrow-head.svg');
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
            top: -4px;
        }
    }
    .arrow-right:after {
        right: -3px;
    }
    .arrow-left:after {
        left: -3px;
        transform: rotate(180deg);
    }
    rect[fill='url(#gradient-0)'], rect[fill='url(#gradient-1)'] {
        transform: scaleX(1.5);
        transform-origin: 100%;
    }
}