body {
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px !important;
}

h4 {
    font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

h1, h2 {
    font-weight: 500 !important;
}

button {
    outline: none;
    text-transform: none !important;
}

.button span {
    text-transform: none !important;
}

.container {
    max-width: 1200px !important;
}

.content-section {
    padding: 100px 30px;
}

.content-section-sm {
    padding: 50px 30px;
}

// Intro section
.intro {
    height: auto;
    text-align: center;
    color: $COLOR_WHITE;
    padding-top: 120px;
    background: url('../images/ico/images/img1@2x.png') no-repeat bottom center scroll;
    background-color: $COLOR_BLACK;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .intro-body {
        vertical-align: middle;

        .brand-heading {
            font-size: 64px;
        }
        .intro-text {
            font-size: 28px !important;
            font-weight: 100;
        }
    }
}

.intro-subtext {
    font-size: 22px !important;
    font-weight: 100 !important;
}

.transparent-dark-blue-bg {
    background-color: rgba(21, 33, 45, 0.7); // dark blue 0.7 opacity
}

.underline {
    width: 42px;
    height: 5px;
    border: 0;
    background-color: $COLOR_ORANGE;
}

hr {
    width: 70vw;
    height: 1px;
    border: 0;
    background-color: $COLOR_GRAY;
}

// How ICO works section
.icon {
    width: 64px;
    height: 64px;
    margin: 20px;
}

.icon--sm {
    width: 32px;
    height: 32px;
}

.box {
    border: 1px solid $COLOR_DARK_BLUE;
    margin: 15px 0;
    padding: 15px;
}

.vertical-center {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.arrow {
    width: 91px;
    margin-right: -20px;
}

// Who we are section
.who-we-are-bg {
    position: relative;
    background: url('../images/ico/images/img3@2x.png') no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.white-bg {
    background-color: $COLOR_WHITE;
    padding: 32px 25px 14px !important;
}

.boxed-heading, .chart-heading {
    position: absolute;
    padding: 40px 15px;
    color: $COLOR_WHITE;
    background-color: $COLOR_BLUE;
}

.boxed-heading-center {
    top: -60px;
    right: 0;
    left: 0;
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
}

// Our growth section
#charts {
    position: relative;

    .vertical-line { // vertical line between charts
        position: absolute;
        width: 1px;
        background-color: $COLOR_GRAY;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 95%;
    }
}

.chart {
    position: relative;
    margin-top: 15px;
}

.chart-heading {
    min-width: 155px;
    padding: 10px;
    font-weight: 100;
    top: -20px;
}

.chart-heading-right {
    right: 0;
}

.chart-heading-left {
    left: 0;
}

.chart-note {
    margin: auto;
    font-style: italic;
    font-weight: bold;
    color: $COLOR_BLUE_SHADE;
}

// What are binary options section
.blue-bg {
    background: url('../images/ico/images/img2@2x.png') no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.highlight {
    height: 10px;
    border: 0;
    background-color: $COLOR_ORANGE;
    width: 23vw;
    position: absolute;
    top: -109px;
}

.footnote {
    font-size: 14px;
    padding: 15px;
    text-align: justify;
    color: $COLOR_LIGHT_GRAY;
}

// Aweber form
input[type='text'] {
    width: 280px;
    font-size: 16px;
    padding: 10px;
    margin: 6px 0;
    border: none;
}

input[type='submit'] {
    min-width: 100px;
    padding: 10px;
    margin: 5px 0;
    background: $COLOR_GREEN;
    color: $COLOR_WHITE;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='text']:focus, input[type='submit']:focus {
    outline: none !important;
}

.form-container {
    display: flex;

    .af-form-wrapper {
        margin: 0 auto;
    }
}

.notice-msg {
    color: $COLOR_DARK_BLUE !important;
}

// Navbar
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 0;
    border-width: 0 0 1px;
    display: flex;
    align-items: center;
    background: $COLOR_BLUE;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;

    &.top-nav-collapse {
        background: none;
    }
    .navbar-brand {
        float: left;
    }
    .logo {
        background: url('../images/logo/binary_logo_light.svg') no-repeat;
        width: 180px !important;
        height: 40px;
        margin: 15px;
    }
    .navbar-collapse {
        margin: auto;

        .navbar-nav {
            display: flex;
            align-items: center;

            > li {
                white-space: nowrap;
                text-align: center;
                margin: 0 25px 0 0;
            }
            &.word-wrap {
                > li {
                    white-space: normal;
                    width: 120px;
                    font-size: 16px;
                }
            }
            a, a:visited {
                color: $COLOR_WHITE !important;
                font-weight: 100 !important;
                padding: 15px 0;
            }
            a:hover, a:focus {
                text-decoration: none;
            }
        }
    }
    .navbar-toggle {
        position: relative;
        float: right;
        background: url('../images/ico/icons/main_menu.svg') no-repeat;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        display: none; // hide on desktop

        &:focus {
            outline: 0;
        }
    }
}

@media (max-width: 1199px) {
    .intro {
        height: 95%;
        padding-top: 120px;

        .intro-body {
            .brand-heading {
                font-size: 34px;
            }
            .intro-text {
                font-size: 24px;
            }
        }
    }
    .navbar-fixed-top {
        position: relative;
        background: $COLOR_BLUE !important;
        margin-bottom: 0;
        padding: 15px;
        overflow: hidden;
        flex-direction: column;
        max-height: 50px;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;

        &.expand {
            max-height: 440px;
            height: 100%;
            padding-bottom: 0;
        }
        .navbar-header {
            width: 100%;

            .navbar-brand {
                float: none;
                margin: 0;
                height: 30px;
            }
            .navbar-toggle {
                display: block;
                height: 30px;
                width: 30px;
            }
        }
        .navbar-collapse {
            margin: 0;
            width: 100%;
            height: 0;
            -webkit-transition: height 0.3s;
            -moz-transition: height 0.3s;
            -ms-transition: height 0.3s;
            -o-transition: height 0.3s;
            transition: height 0.3s;

            .navbar-nav {
                display: block;
                padding-top: 5px;
                width: 100%;

                > li {
                    margin: 10px 0;
                    padding: 0;
                    text-align: left;
                }
                &.word-wrap {
                    > li {
                        white-space: nowrap;
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
            &.expand {
                height: 100%;
            }
        }
    }
    input[type='text'] {
        width: 95%;
        text-align: center;
    }
    .vertical-line, .arrow {
        display: none;
    }
    .chart-heading-left, .chart-heading-right {
        font-size: 14px;
        min-width: 100px;
    }
    #faq {
        .intro {
            padding-top: 0;
        }
    }
}

#faq-section {
    padding: 100px 15px;
}

.faq {
    margin: 15px 0;
    border: 1px solid $COLOR_LIGHT_GRAY;

    h4 {
        background-color: $COLOR_LIGHT_GRAY;
        padding: 20px;
    }
    p {
        padding: 0 20px;
    }
    strong {
        font-weight: bold;
    }
    ol {
        margin: 1.25em 0 1.25em 2em; // overwrite binary.css
    }
}

#read-im-section {
    background: url('../images/ico/images/img4@2x.png') no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 50px 15px;

    h2 {
        line-height: 1.4;
    }
    button {
        padding: 20px 30px;
        font-size: 28px;
    }
}

.disclaimer {
    padding: 120px 0 60px;
    @media (max-width: 1199px) {
        padding: 30px 0;
    }

    form {
        margin: 30px 0;
    }
    select {
        max-width: 100%;
    }
    button {
        margin: 20px 0;
    }
    label {
        font-weight: bold;

        input {
            vertical-align: bottom;
        }
    }
    .disclaimer-container {
        padding: 30px;
        margin: 20px 0;
        text-align: justify;
        background: $COLOR_LIGHT_GRAY;

        h2 {
            color: $COLOR_BLUE;
            font-weight: 400;
        }
        p, ul li {
            font-size: 14px;
        }
    }
    @media (max-width: 575px) {
        h2 {
            font-size: 22px;
        }
        p, ul li {
            font-size: 14px;
        }
    }
}

.text-uppercase {
    text-transform: uppercase;
}

#board-of-directors {
    position: relative;
    border-top: 5px solid $COLOR_ORANGE;

    img {
        display: block;
        margin: auto;
        max-width: 200px;
    }
    a {
        display: inline-block;
    }
    h2 {
        position: absolute;
        padding: 35px 15px;
        color: $COLOR_WHITE;
        background-color: $COLOR_ORANGE;
    }
    h4 {
        margin: 1em 0;
    }
}

.acquired-bg {
    position: relative;
    background: url('../images/ico/images/img5@2x.png') no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#acquired-section {
    margin-bottom: 160px;

    h2 {
        line-height: 1.4;
    }
}

#ico_subscribe_section {
    background: url('../images/ico/images/subscribe.png') no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    p {
        color: $COLOR_WHITE;
    }
}

#media-coverage {
    .slider-container {
        position: relative;
    }
    .media {
        background: $COLOR_WHITE;
        border: 1px solid $COLOR_DARK_WHITE;
        border-radius: $BORDER_RADIUS;
        text-align: left;
        padding: 20px 10px;
        height: 125px;
        transition: all 0.3s;

        &__logo {
            height: 48px;
            max-width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            @media (max-width: 768px) {
                height: 40px;
            }
            @media (max-width: 576px) {
                height: 25px;
            }
            @media (max-width: 320px) {
                height: 20px;
            }
        }
        &__headlines {
            font-size: 13px;
            font-weight: 400;
            height: 55px;
            @media (max-width: 576px) {
                font-size: 12px;
            }
            @media (max-width: 320px) {
                font-size: 11px;
            }
        }
    }
    a:hover, a:active {
        text-decoration: none;

        .media {
            border: 1px solid $COLOR_ORANGE;
        }
    }
    a, a:visited {
        outline: none !important;
    }
    [data-action='stop'], [data-action='start'] {
        display: none;
    }
}

.tns-outer {
    display: flex;
    flex-direction: column-reverse;
}

.tns-controls {
    [data-controls='prev'], [data-controls='next'] {
        position: absolute;
        top: 30%;
        background: none;
        color: transparent;
        padding: 0;
        margin: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 32px;
        width: 17px;
        @media (max-width: 768px) {
            width: 14px;
        }
        @media (max-width: 576px) {
            width: 11px;
        }
    }
    [data-controls='prev'] {
        left: -40px;
        background-image: url('../images/ico/icons/arrow_left.svg');
    }
    [data-controls='next'] {
        right: -40px;
        background-image: url('../images/ico/icons/arrow_right.svg');
    }
}

.tns-nav {
    margin-top: 10px;
    z-index: 1;

    [aria-controls] {
        width: 9px;
        height: 9px;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        background: $COLOR_GRAY;
        border: 0;
    }
    [aria-selected='true'] {
        background: $COLOR_DARK_GRAY !important;
    }
}

.bitcoins-channel-news {
    background-image: url('../images/ico/icons/bitcoins_channel_news_outlet_logo.svg');
}

.blockchain-news {
    background-image: url('../images/ico/icons/blockchain_news_logo.svg');
}

.btc-manager {
    background-image: url('../images/ico/icons/btc_manager_logo.svg');
}

.coin-idol {
    background-image: url('../images/ico/icons/coin_idol_logo.svg');
}

.finance-magnates {
    background-image: url('../images/ico/icons/finance_magnates_logo.svg');
}

.leap-rate {
    background-image: url('../images/ico/icons/leap_rate_online_trading_news_logo.svg');
}

.profit-f {
    background-image: url('../images/ico/icons/profit_f_logo.svg');
}

.bittox {
    background-image: url('../images/ico/icons/bittox_logo.svg');
}

.crypto-martez {
    background-image: url('../images/ico/icons/crypto_martez_logo.svg');
}

.hype-codes {
    background-image: url('../images/ico/icons/hype_codes_logo.svg');
}

.cryptogo {
    background-image: url('../images/ico/icons/cryptogo_logo.svg');
}

.chipin {
    background-image: url('../images/ico/icons/chipin_logo.svg');
}

.coinist {
    background-image: url('../images/ico/icons/coinist_logo.svg');
}

.binguru {
    background-image: url('../images/ico/icons/binguru_logo.svg');
}

.ico1 {
    background-image: url('../images/ico/icons/ico1_logo.svg');
}

#coming-soon {
    padding-top: 50px;
    padding-bottom: 50px;
}

#status_loading {
    margin: 0 auto;

    .barspinner {
        margin: 0;
    }
}

#countdown {
    $cd_size: 100px;
    $cd_border_width: 5px;
    $cd_border_bg: rgb(86, 62, 47);
    $cd_fix_color: rgb(24, 35, 52);
    text-align: center;
    margin: 30px auto;

    .cd-item {
        display: inline-block;
        margin: 5px 35px;
        position: relative;

        .cd-value {
            display: block;
            width: $cd_size;
            height: $cd_size;
            line-height: $cd_size;
            font-size: 2.5rem;
            font-weight: bold;
            color: $COLOR_WHITE;
            border: $cd_border_width solid $cd_border_bg;
            border-radius: 50%;

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                border-radius: 50%;
                width: $cd_size + $cd_border_width * 2;
                height: $cd_size + $cd_border_width * 2;
                top: 0;
                left: 0;
                box-shadow: 0 0 2px 2px $cd_fix_color;
            }
            &:after {
                width: $cd_size;
                height: $cd_size;
                top: $cd_border_width;
                left: $cd_border_width;
                box-shadow: inset 0 0 2px 2px $cd_fix_color;
            }
        }
        .cd-label {
            display: block;
            margin: 20px auto;
            @media (max-width: 480px) {
                margin-top: 10px;
            }
        }
    }
    .arcs {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;

        .arc_q, .arc_cover {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid;
            border-color: transparent $COLOR_ORANGE transparent transparent;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        .arc_cover {
            border-color: transparent $cd_border_bg transparent transparent;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
}

#language {
    min-width: 90px;

    .language-dropdown {
        position: fixed;
        top: 0;
        right: 10px;
        margin: 0;
        cursor: pointer;
        color: $COLOR_WHITE;
        font-weight: 300;
        text-align: center;
        overflow: hidden;
        height: 50px;
        font-size: 13px;
        transition: none;

        a.selected {
            padding-top: 25px;
            padding-bottom: 0;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1199px) {
                justify-content: flex-start;
            }

            #selected-lang {
                padding: 0 10px;
            }
            .world {
                display: inline-block;
                width: 13px;
                height: 13px;
                background-image: url('../images/ico/icons/grid-world.svg');
                background-repeat: no-repeat;
            }
            transition: none;
        }
        &.show {
            height: 380px;
            padding-bottom: 25px;
            background: $COLOR_LIGHT_GRAY;
            border: 1px solid $COLOR_GRAY;
            color: $COLOR_BLACK;

            li {
                margin: 10px 0 0;
            }
            a.selected {
                color: $COLOR_BLACK !important;

                .world {
                    background-image: url('../images/ico/icons/grid-world-black.svg') !important;
                }
            }
        }
        @media (max-width: 1199px) {
            position: relative;
            left: 0;
            padding: 10px 0;
            text-align: left;
            background: none;
            border: none;
            border-top: 1px solid $COLOR_LIGHT_GRAY;
            height: 15px;

            a.selected {
                padding: 0;
                color: $COLOR_WHITE;

                .world {
                    background-image: url('../images/ico/icons/grid-world.svg');
                }
            }
            &.show {
                -webkit-columns: 2;
                -moz-columns: 2;
                columns: 2;
                height: 190px;
                padding-bottom: 10px;
                background: none;
                border: none;
                border-top: 1px solid $COLOR_LIGHT_GRAY;
                color: $COLOR_WHITE;

                li {
                    margin: 10px 23px 0;
                }
                a.selected {
                    color: $COLOR_WHITE !important;

                    .world {
                        background-image: url('../images/ico/icons/grid-world.svg') !important;
                    }
                    .nav-caret {
                        display: none;
                    }
                }
            }
        }
    }
}

#sign-up-section {
    .signup-desc {
        p {
            font-weight: 300;
            text-align: center;
            line-height: 1.4em;
            margin: 0;
        }
    }
    .signup-container {
        margin-top: 2em;
    }
    .signup-box {
        margin: auto;
        border-radius: 6px;
        max-width: 600px;

        #signup {
            padding: 5px;
        }
    }
    #frm_verify_email {
        input {
            width: 100%;
            height: 3em;
            margin: 5px 0;
            font-size: $FONT_SIZE_S;
        }
        button {
            margin: 5px 0;
            height: 3rem;
            width: 100%;
            font-size: $FONT_SIZE_L;
            padding: 0;

            &:active, &:hover {
                background-color: $COLOR_GREEN;
                text-decoration: none;
            }
            @media (max-width: 480px) {
                font-size: $FONT_SIZE_N;
            }
        }
        .hint {
            margin-bottom: 3px;

            p {
                font-size: $FONT_SIZE_L;
                color: $COLOR_WHITE;
                line-height: 1.4em;
                text-align: center;
            }
        }
        .error-msg {
            font-style: italic;
            font-size: $FONT_SIZE_XS;
            color: $COLOR_RED;
            text-align: center;
            margin-top: 5px;
            padding-bottom: 5px;
        }
        .error-field {
            border: 1px solid $COLOR_RED !important;
            box-shadow: 0 0 10px $COLOR_RED;
            color: $COLOR_RED;
        }
    }
}
