.live_chart_wrapper {
    margin: 0 auto;
    hr {
        display: block;
    }
}

#live_chart_form_wrapper {
    margin: 0 auto;
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    input {
        border-radius: 4px;
    }
    input[type=button] {
        @include link-button;
        padding: 6px 15px;
        font-size: 14px;
    }
}

.chart-notice {
    text-align: left;
    font-size: 80%;
    color: $COLOR_DARK_GRAY;
    width: 90%;
    margin: 5px 0;
}
