.live_chart_wrapper {
    margin: 0 auto;
    hr {
        display: block;
    }
}

.chart-notice {
    text-align: left;
    font-size: 80%;
    color: $COLOR_DARK_GRAY;
    width: 90%;
    margin: 5px 0;
}
