#mb-trading-wrapper {
    max-width: 1200px;

    #trade_live_chart {
        border: 1px solid $COLOR_GRAY;
        padding-right: 1px;
        height: calc(100% - 10px);
    }
    #mb_trading {
        font-size: 14px;

        #trade_form {
            margin-bottom: 10px;

            > div {
                text-align: center;
                background: $COLOR_LIGHT_GRAY;
                border-right: 3px solid $COLOR_WHITE;

                &:nth-child(4) {
                    border-right: none;
                }
                position: relative;
                height: 80px;

                .current {
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > div {
                        display: block;
                        width: 100%;
                    }
                }
                .current, .list > div {
                    padding: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: $COLOR_GRAY;
                    }
                }
                .list {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    background-color: $COLOR_WHITE;

                    > div {
                        border: 1px solid $COLOR_LIGHT_GRAY;
                        border-top: none;
                    }
                }
            }
            #underlying .name {
                display: block;
                margin-top: 5px;
            }
            #category {
                .contract-type {
                    display: inline-block;
                    width: calc(50% - 5px);
                    padding-top: 40px;
                    background-position: center top;
                    background-repeat: no-repeat;
                    vertical-align: top;
                }
            }
            #period {
                .start, .end {
                    line-height: 20px;
                }
                .duration {
                    font-size: $FONT_SIZE_XL;
                    font-weight: bold;
                }
                .current > div, .list > div {
                    display: flex;
                    align-items: center;
                }
            }
            #currency {
                position: absolute;
                width: 100%;

                .current {
                    height: 15px;
                    line-height: 15px;
                }
            }
            #payout {
                .current {
                    line-height: 115px;
                    font-size: $FONT_SIZE_XXL;
                    font-weight: bold;
                }
                .list > div {
                    line-height: 30px;
                    font-size: $FONT_SIZE_L;
                    font-weight: bold;
                }
                .plus {
                    color: $COLOR_LIGHT_BLUE;
                }
                .minus {
                    color: $COLOR_ORANGE;
                }
            }
        }
        .price-table {
            position: relative;

            .descr-wrapper {
                padding: 5px 10px;

                .contract-type {
                    padding-left: 45px;
                    margin-bottom: 0;
                    background-repeat: no-repeat;
                    background-position: left;
                    font-size: 18px;
                    white-space: nowrap;
                    line-height: 36px;
                    border-bottom: none;
                }
            }
            #disable-overlay {
                position: absolute;
                top: 56px;
                z-index: 1;
                width: 100%;
                height: calc(100% - 66px);
                background-color: rgba(242, 242, 242, 0.5);
            }
            #loading-overlay {
                width: 100%;
            }
            .prices-wrapper {
                .heading > div {
                    line-height: 20px;
                    padding: 10px 0;
                    text-align: center;
                }
                .price-row > div {
                    line-height: 35px;
                    padding: 3px 0;
                    text-align: center;
                }
                .price-row .barrier {
                    line-height: 18px;
                    display: flex;
                    align-self: center;
                }
                .heading {
                    font-weight: bold;

                    .sell-price {
                        padding-right: 20px;
                    }
                }
                .price-row .buy-price:nth-child(4) .price-button {
                    background: $COLOR_RED;
                }
                .price-row:nth-child(odd) {
                    background: $COLOR_LIGHT_GRAY;
                }
                .base-value {
                    font-size: 9px;
                    display: inline-block;
                    margin-left: 5px;
                }
                .dynamics {
                    display: inline-block;
                    width: 10px;
                    height: 15px;
                    margin-right: 5px;
                    background-repeat: no-repeat;
                    vertical-align: middle;

                    &.up {
                        background-image: svg-icon('up', $COLOR_BLACK);
                    }
                    &.down {
                        background-image: svg-icon('down', $COLOR_BLACK);
                    }
                }
                .inactive {
                    color: $COLOR_GRAY;

                    &.price-button {
                        color: $COLOR_WHITE;
                        background: $COLOR_GRAY !important;
                        opacity: 1;
                        cursor: default;
                        overflow: visible;
                    }
                    &:hover {
                        opacity: 1 !important;
                    }
                    .dynamics {
                        &.up {
                            background-image: svg-icon('up', $COLOR_GRAY);
                        }
                        &.down {
                            background-image: svg-icon('down', $COLOR_GRAY);
                        }
                    }
                }
                .price-button {
                    width: 100px;
                    color: $COLOR_WHITE;
                    text-align: center;
                    line-height: 100%;
                    background: $COLOR_LIGHT_BLUE;
                    border-radius: 3px;
                    padding: 10px 0;
                    cursor: pointer;
                    font-size: 14px;
                    border: 0;
                    min-height: 34px;
                    position: relative;

                    .value-wrapper {
                        margin-left: -15px;

                        .dynamics {
                            &.up {
                                background-image: svg-icon('up', $COLOR_WHITE);
                            }
                            &.down {
                                background-image: svg-icon('down', $COLOR_WHITE);
                            }
                        }
                    }
                    .base-value {
                        position: absolute;
                        bottom: 1px;
                        right: 3px;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        #timer_row {
            > div {
                padding: 0;
                white-space: nowrap;
                line-height: 22px;
            }
            #trading_status {
                display: flex;
                flex-direction: row;
                align-items: center;

                .toggle-button {
                    display: none;

                    &, & + .toggle-slider {
                        box-sizing: border-box;
                    }
                    + .toggle-slider {
                        font-size: 0.75em;
                        display: block;
                        position: relative;
                        outline: 0;
                        width: 4em;
                        height: 2em;
                        cursor: pointer;
                        background: $COLOR_GRAY;
                        border-radius: 2em;
                        padding: 2px;
                        margin-right: 5px;
                        transition: all 0.4s ease;

                        &:after, &:before {
                            display: block;
                            position: relative;
                            content: '';
                            width: calc(2em - 4px);
                            height: calc(2em - 4px);
                        }
                        &:after {
                            left: 0;
                            border-radius: 50%;
                            background: $COLOR_WHITE;
                            transition: all 0.2s ease;
                        }
                        &:before, ~ .enabled-text {
                            display: none;
                        }
                    }
                    &:checked + .toggle-slider {
                        background: $COLOR_BLUE_SHADE;

                        &:after {
                            left: 2em;
                        }
                        ~ .enabled-text {
                            display: inline-block;
                        }
                        ~ .disabled-text {
                            display: none;
                        }
                    }
                }
            }
            .countdown-timer {
                border-radius: 3px;

                &.alert {
                    background: rgba(251, 228, 215, 0.7);
                    padding-right: 5px;
                    margin-right: 0;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .gr-12-p {
                padding-bottom: 10px;
            }
        }
        @media screen and (max-width: 480px) {
            .trade-form .gr-row > div:first-child {
                padding-bottom: 10px;
            }
            .price-table .price-row {
                .barrier, .price-button .value-wrapper, .sell-price {
                    font-size: 0.9em;
                }
                .price-button {
                    width: 80%;
                    margin-left: 15px;

                    .base-value {
                        bottom: 0;
                    }
                }
            }
        }
    }
    #trading_bottom_content {
        #tab_portfolio-content {
            overflow-x: auto;
        }
        #tab_explanation-content #winning_higherlower {
            display: flex;
            flex-direction: column;

            p {
                margin-top: 0;

                &:first-child {
                    order: 2;
                }
            }
        }
    }
}
