#accordion {
    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        td {
            padding: 10px 4px;
            &:nth-of-type(1) {
                width: 40%;
            }
        }
    }
    .ui-icon {
        display: none;
        visibility: hidden;
    }
    .ui-state-active, .ui-state-default, .ui-state-hover {
        border: none !important;
        outline: none;
    }
    .ui-state-active.ui-state-default, .ui-state-active.ui-state-default.ui-state-hover {
        background: $COLOR_NAV_BORDER !important;
        color: $COLOR_WHITE !important;
    }
    .ui-state-default, .ui-state-hover {
        background: $COLOR_LIGHT_GRAY !important;
        color: $COLOR_BLACK !important;
    }
    .ui-accordion-content {
        padding-top: 0 !important;
    }
    .ui-widget-content {
        border: 1px solid $COLOR_GRAY !important;
    }
    #supported_banks, .supported_banks {
        text-align: center;
        padding-top: 30px;
    }
    .supported_banks {
        img {
            width: 72px;
            height: 57px;
            margin: 3px;
        }
    }
}
