#portfolio {
    td {
        padding: 10px;
    }
    td.indicative, td.purchase, .payout {
        white-space: nowrap;
    }
    td.indicative.no_resale {
        color: $COLOR_GRAY_SHADE;
        span {
            font-size: 8px;
            display: block;
            margin-top: -11px;
        }
    }
    th {
        padding: 10px;
        text-align: left;
    }
    th.details {
        width: 45%;
    }
    table .ref {
        text-align: left !important;
    }
    @media screen and (max-width: 480px) {
        .details, .payout {
            display: none;
        }
    }
}
