.regulation-content {
    .gray-line {
        border: 1px solid $COLOR_LIGHT_GRAY;
        background-color: $COLOR_LIGHT_GRAY;
        width: 2px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .background-gray {
        margin-top: -30px;
    }
}
