.regulation-content {
    .gray-line {
        border: 1px solid $COLOR_LIGHT_GRAY;
        background-color: $COLOR_LIGHT_GRAY;
        width: 2px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    h1.margin-top {
        margin-top: 30px;
    }
    .timeline {
        width: 6%;
        position: absolute;
        margin: -3% 0 0 -3%;
        padding: 0;
    }
    .xquote div {
        display: flex;
        .quote-text {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 0 !important;
        }
    }
    @media screen and (max-width: 768px) {
        .timeline {
            width: 15%;
            margin: -7% 0 0 -7%;
        }
    }
}
