.static_full {
    @include topspace;
    @include section-separator;
    .section {
        display: block;
        overflow: hidden;
        .section-content {
            #section-1, #section-2, #section-3, #section-4, #section-5, #section-6 {
                .heading {
                    font-weight: bold;
                    color: $COLOR_BLUE;
                }
            }
        }
    }
    .sidebar-button {
        background: $COLOR_LIGHT_GRAY;
        padding: 20px;
        a {
            @include link-button;
            display: block;
        }
    }
}

.sidebar-container {
    position: relative;
}

.sidebar {
    @include menu-left;
}

.payment-agent {
    .faded {
        color: $COLOR_GRAY_SHADE;
        font-size: 90%;
        margin-bottom: 0;
    }
    h1 {
        margin-bottom: 40px;
    }
}

ol.split li:before {
    counter-increment: mycounter;
    content: counter(mycounter) '.\00A0\00A0';
}

ol.split li {
    text-indent: -1.1em;
    list-style-type: none;
}

ol.start {
    counter-reset: mycounter;
}

.deposit-jp-content {
    img.responsive {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }
}
