.static_full {
    @include topspace;
    .sidebar {
        @include menu-left;
    }
    @include section-separator;
    .section {
        display: block;
        overflow: hidden;
        .section-content {
            #section-1, #section-2, #section-3, #section-4, #section-5, #section-6 {
                .heading {
                    font-weight: bold;
                    color: $COLOR_BLUE;
                }
            }
        }
    }
    .sidebar-button {
        background: $COLOR_LIGHT_GRAY;
        padding: 20px;
        a {
            @include link-button;
            display: block;
        }
    }
}

.payment-agent {
    .faded {
        color: $COLOR_GRAY_SHADE;
        font-size: 90%;
        margin-bottom: 0;
    }
    .grd-grid-hide {
        padding: 0;
    }
    h1 {
        margin-bottom: 40px;
    }
}

#frmPersonalDetails {
    .JpAcc, .hedge {
        display: none;
    }
}
