.price_moved_up {
    background-color: $COLOR_LIGHT_BLUE;
    color: $COLOR_WHITE;
}

.price_moved_down {
    background-color: $COLOR_RED;
    color: $COLOR_WHITE;
}

#analysis_content {
    padding-top: 10px;
}

a.close {
    display: block;
    padding: 0;
    cursor: pointer;
    color: $COLOR_WHITE;
    line-height: 35px;
    font-size: 26px;
    font-weight: normal;
    position: absolute;
    @include BIDIR_PROP(right, left, 0);
    z-index: 1;
    width: 35px;
    height: 35px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><defs><style>.cls-1{fill:#{rgba($COLOR_WHITE, 1)};}</style></defs><title>close</title><path class="cls-1" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>') no-repeat center;
    &:hover {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="14" height="14"><defs><style>.cls-1{fill:#{rgba($COLOR_ORANGE, 1)};}</style></defs><title>close</title><path class="cls-1" d="M50,5,45,0,25,20,5,0,0,5,20,25,0,45l5,5L25,30,45,50l5-5L30,25Z"/></svg>');
    }
}

.profit {
    color: $COLOR_GREEN;
}

.loss {
    color: $COLOR_RED;
}

#tab_explanation-content #explanation_explain {
    margin-top: 20px;
}
