.price_moved_up {
    background-color: $COLOR_LIGHT_BLUE;
    color: $COLOR_WHITE;
}

.price_moved_down {
    background-color: $COLOR_RED;
    color: $COLOR_WHITE;
}

#analysis_content {
    padding-top: 10px;
}

a.close {
    display: block;
    padding: 0px 8px;
    cursor: pointer;
    color: $COLOR_WHITE;
    line-height: 35px;
    font-size: 26px;
    font-weight: normal;
    position: absolute;
    @include BIDIR_PROP(right, left, 0);
    z-index: 1;
    &:hover {
        text-decoration: none;
        color: $COLOR_ORANGE;
    }
}

.profit {
    color: $COLOR_GREEN;
}

.loss {
    color: $COLOR_RED;
}

#tab_explanation-content #explanation_explain {
    margin-top: 20px;
}
