@mixin ul_segmented_navigation {
    box-shadow: inset 0 0 0 1px rgba($COLOR_BLUE, 0.2);
    background-color: $COLOR_LIGHT_GRAY;
    color: $COLOR_BLUE;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@mixin li_segmented_element {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    padding: 3px 0;
    text-align: center;
    &.active {
        color: $COLOR_WHITE;
        background-color: $COLOR_BLUE;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#trading_init_progress {
    cursor: pointer;
    /*background-image: url('../images/pages/binary-symbol-logo.png');
    background-image: url('../images/pages/binary-symbol-logo.svg'), none;
    background-size: contain;*/
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -5rem;
    z-index: 9999;
}

#trading_socket_container_beta {
    font-size: $FONT_SIZE_N;
    position: relative;
    opacity: 0;
    &.show {
        animation: fade 1s;
        animation-fill-mode: forwards;
    }
    select, input {
        border-radius: 5px;
        box-sizing: border-box;
        height: 28px;
    }
    label {
        line-height: 28px;
    }
    #contract_market_form_container, #analysis_tab_container {
        height: 28px;
        .tm-li {
            height: 28px;
        }
        ul { /* to remove space between li tags */
            font-size: 0;
            li {
                @include BIDIR_VALUE(margin, 0 2px 0 0, 0 0 0 2px);
                font-size: $FONT_SIZE_N;
                .tm-a-2 {
                    font-size: $FONT_SIZE_XS;
                }
            }
        }
    }
    .button button {
        cursor: pointer;
    }
    .row, .row-inner {
        display: flex;
        justify-content: space-around;
    }
    .col, .col-inner {
        flex: 1;
    }
    .row {
        flex-direction: row;
        padding: 10px 0;
    }
    .row-inner {
        flex-direction: column;
        .col-inner {
            margin-bottom: 5px;
        }
    }
    .form_label input, .form_label select {
        max-width: 170px;
    }
    .big-col {
        flex: 1.5;
    }
    #expiry_type_endtime {
        flex-wrap: wrap;
    }
    #contract_form_content_wrapper {
        padding-top: 0.5em;
        .col-left {
            @include BIDIR_PROP(padding-right, padding-left, 5px);
        }
        .col-right {
            @include BIDIR_PROP(padding-left, padding-right, 0);
        }
        #contract_prices_container {
            margin-top: 5px;
            .price-left {
                @include BIDIR_PROP(padding-right, padding-left, 2.5px);
            }
            .price-right {
                @include BIDIR_PROP(padding-left, padding-right, 2.5px);
            }
        }
    }
    #contract_symbol_container {
        #market_container, #underlying_spot_wrapper, #underlying_container, #underlying, #spot_container {
            @include BIDIR_VALUE(float, left, right);
        }
        #market_container, #underlying, #symbol_tip, #spot {
            @include BIDIR_PROP(margin-right, margin-left, 5px);
        }
        #underlying_spot_wrapper {
            #underlying_container {
                #underlying {
                    margin-bottom: 5px;
                }
                #symbol_tip {
                    line-height: 28px;
                    cursor: pointer;
                }
            }
            #spot_container {
                #spot {
                    line-height: 20px;
                    display: inline-block;
                    white-space: nowrap;
                    padding: 3px;
                    border-radius: $BORDER_RADIUS;
                    &.error {
                        font-style: italic;
                    }
                }
                #trading_worm_chart {
                    display: inline-block;
                }
            }
        }
    }
    #contract_container {
        align-items: center;
        padding-top: 25px;
        position: relative;
        #contract_form_container .col {
            @include BIDIR_PROP(margin-right, margin-left, 1rem);
        }
        .overlay_container {
            width: 100%;
            display: none;
            background: transparent;
            z-index: 9;
            &#loading_container3 {
                background: $COLOR_LIGHT_GRAY;
                opacity: 0.5;
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
            }
        }
        border: 1px solid $COLOR_GRAY;
        flex: 1 0 auto;
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
    .contract_heading {
        text-transform: capitalize;
        font-weight: bold;
        padding-top: 2.4em;
        text-align: center;
        background-repeat: no-repeat;
        @include BIDIR_VALUE(background-position, top left, top right);
        &.ASIANU {
            background-image: url('../images/pages/trade/asian-u_1.svg');
        }
        &.ASIAND {
            background-image: url('../images/pages/trade/asian-d_1.svg');
        }
        &.DIGITDIFF {
            background-image: url('../images/pages/trade/differs_1.svg');
        }
        &.DIGITMATCH {
            background-image: url('../images/pages/trade/matches_1.svg');
        }
        &.DIGITEVEN {
            background-image: url('../images/pages/trade/digits_even_1.svg');
            background-size: 2em;
        }
        &.DIGITODD {
            background-image: url('../images/pages/trade/digits_odd_1.svg');
            background-size: 2em;
        }
        &.DIGITOVER {
            background-image: url('../images/pages/trade/digits_over_1.svg');
            background-size: 2em;
        }
        &.DIGITUNDER {
            background-image: url('../images/pages/trade/digits_under_1.svg');
            background-size: 2em;
        }
        &.CALL {
            background-image: url('../images/pages/trade/rise_1.png');
        }
        &.PUT {
            background-image: url('../images/pages/trade/fall_1.png');
        }
        &.CALLE {
            background-image: url('../images/pages/trade/rise_1.png');
        }
        &.PUTE {
            background-image: url('../images/pages/trade/fall_1.png');
        }
        &.ONETOUCH {
            background-image: url('../images/pages/trade/touch_1.png');
        }
        &.NOTOUCH {
            background-image: url('../images/pages/trade/no-touch_1.png');
        }
        &.RANGE {
            background-image: url('../images/pages/trade/stay-in-between_1.png');
        }
        &.UPORDOWN {
            background-image: url('../images/pages/trade/stay-out_1.png');
        }
        &.EXPIRYRANGEE {
            background-image: url('../images/pages/trade/ends-between_1.png');
        }
        &.EXPIRYMISSE {
            background-image: url('../images/pages/trade/ends-outside_1.png');
        }
        &.EXPIRYRANGE {
            background-image: url('../images/pages/trade/ends-between_1.png');
        }
        &.EXPIRYMISS {
            background-image: url('../images/pages/trade/ends-outside_1.png');
        }
    }
    #contract_prices_container {
        .price_container {
            border: 1px solid $COLOR_GRAY;
            align-items: stretch;
            padding: 0;
            flex: 1 0 auto;
            flex-direction: column;
            display: none;
            height: calc(100% - 2px);
            > .col.row {
                flex: 1 0 auto;
            }
            > .row {
                padding: 0;
            }
            .big-col {
                flex: 3;
            }
            .contract_purchase {
                margin-bottom: 0;
                margin-top: 10px;
                .purchase_button {
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
        .contract_purchase_reference {
            margin-top: auto;
            line-height: normal;
            font-size: $FONT_SIZE_XS;
        }
        #contract_purchase_button {
            margin: 10px auto 0;
            display: block;
        }
        #contract_purchase_new_trade {
            margin: 10px auto;
        }
        #confirmation_error_contents {
            padding: 20px;
            font-style: italic;
            vertical-align: middle;
            border: 1px solid $COLOR_GRAY;
            border-top: none;
            line-height: 1.5em;
        }
        .price_comment, .contract_error, #contract_purchase_balance {
            background-color: $COLOR_GRAY;
            line-height: 1.5rem;
            font-size: $FONT_SIZE_XS;
            padding: 5px;
            text-align: center;
            flex: 0 0 auto;
        }
        #contract_purchase_balance {
            position: absolute;
            bottom: 0;
            color: $COLOR_WHITE;
            box-sizing: border-box;
            display: block;
            background-color: $COLOR_ORANGE;
            width: 100%;
        }
        #confirmation_message {
            position: relative;
            font-size: $FONT_SIZE_S;
            line-height: 18px;
        }
        #contract_purchase_descr {
            text-align: justify;
        }
        #contract_purchase_brief {
            margin-bottom: 5px;
        }
        #contract_purchase_profit_list {
            padding: 0;
            line-height: 20px;
            display: flex;
            font-size: $FONT_SIZE_XS;
            position: relative;
            table td {
                border: 0;
                @include BIDIR_VALUE(padding, 0 10px 4px 0, 0 0 4px 10px);
            }
            .values, table td:last-child {
                direction: ltr;
                @include BIDIR_VALUE(text-align, left, right);
                font-weight: bold;
                @include BIDIR_PROP(padding-left, padding-right, 0);
            }
            #chart-values {
                position: absolute;
                background: $COLOR_WHITE;
                color: $COLOR_ORANGE;
                width: 100%;
                display: none;
            }
        }
        #contract_purchase_spots {
            line-height: 20px;
            overflow: hidden;
            #current_tick_number {
                font-size: $FONT_SIZE_XS;
            }
            #current_tick_spot {
                font-size: $FONT_SIZE_N;
                margin-bottom: 18px;
            }
            #last_digits_list {
                .gr-grow {
                    padding: 0 6px;
                    .digit {
                        font-weight: bold;
                        font-size: $FONT_SIZE_N;
                        margin-bottom: 8px;
                        min-width: 10px;
                    }
                    .number {
                        font-size: $FONT_SIZE_S;
                        line-height: normal;
                    }
                }
            }
        }
        #tick_chart {
            border: 1px solid $COLOR_LIGHT_GRAY;
            direction: ltr;
        }
        .contract_error {
            margin-top: auto;
            background-color: $COLOR_YELLOW;
        }
        .contract_amount, .contract_payout, .payout, .stake {
            @include BIDIR_VALUE(padding, 3px, 3px);
            line-height: 1.5;
            font-size: $FONT_SIZE_N;
            flex: 1 0 auto;
        }
        .payout {
            margin-top: 10px;
        }
        .contract_amount, .contract_payout {
            font-weight: bold;
            font-size: $FONT_SIZE_L;
            border-radius: 5px;
        }
    }
    #expiry_type_duration {
        flex-wrap: wrap;
    }
    #contracts_list {
        position: relative;
    }
    .overlay_container {
        width: 100%;
        display: none;
        background: transparent;
        z-index: 9;
        .close {
            z-index: 10;
        }
        &#loading_container2 {
            opacity: 0.5;
            display: block;
            position: absolute;
            height: 100%;
            flex: 1 0 auto;
            div {
                background: $COLOR_LIGHT_GRAY;
                width: 100%;
                height: 100%;
            }
        }
    }
    #contract_confirmation_container {
        @include BIDIR_VALUE(text-align, left, right);
        #contract_purchase_heading, #confirmation_error_heading {
            font-size: $FONT_SIZE_L;
            line-height: 35px;
            margin-bottom: 0;
            color: $COLOR_WHITE;
            background-color: $COLOR_BLUE;
            @include BIDIR_PROP(padding-left, padding-right, 10px);
        }
        #contract_purchase_contents {
            padding: 10px;
            border: 1px solid $COLOR_GRAY;
            border-top: none;
        }
    }
    #contract_prices_container .price_container .price_wrapper {
        padding: 10px 15px;
        &.small {
            width: 95px;
        }
        div {
            padding: 0 5px;
        }
        .contract_heading {
            @include BIDIR_VALUE(text-align, left, right);
        }
        .amount_wrapper {
            float: left;
            width: 100%;
            .amount_wrapper_div {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                div {
                    flex-grow: 1;
                }
                .stake_wrapper {
                    margin-left: 20px;
                }
                .payout_wrapper {
                    margin-right: 20px;
                }
            }
        }
        .contract_amount, .contract_payout, .stake, .payout {
            display: inline-flex;
        }
    }
    #duration_amount {
        @include BIDIR_PROP(margin-right, margin-left, 5px);
    }
    #duration_units {
        @include BIDIR_PROP(margin-right, margin-left, 10px);
    }
    #duration_tooltip_wrapper {
        line-height: 28px;
        white-space: nowrap;
    }
    .small_width_input {
        width: 70px;
    }
    #currency {
        margin-bottom: 5px;
    }
    #expiry_date {
        width: 175px;
        @include BIDIR_PROP(margin-right, margin-left, 5px);
        margin-bottom: 5px;
    }
    #expiry_time {
        width: 80px;
    }
    #expiry_date, #expiry_time {
        font-size: $FONT_SIZE_N;
    }
    .barrier_class input {
        width: 175px;
        @include BIDIR_PROP(margin-right, margin-left, 5px);
    }
    .medium_width_input {
        width: 100px;
    }
    #amount {
        margin-top: -1px;
    }
}

#open_positions_container {
    display: none;
}

@media all and (max-width: 959px) {
    #trading_socket_container_beta {
        #contract_symbol_container {
            #market_container {
                max-width: calc(50% - 5px);
                #contract_markets {
                    max-width: 100%;
                }
            }
            #underlying_spot_wrapper {
                max-width: 50%;
                #underlying_container {
                    width: 100%;
                    #underlying {
                        max-width: calc(100% - 26px);
                    }
                }
                #spot {
                    font-size: $FONT_SIZE_S;
                }
            }
        }
        .col-left, .col-right {
            padding: 0 5px !important;
        }
        .col-right {
            @include BIDIR_PROP(padding-left, padding-right, 0 !important);
        }
    }
}
@media all and (max-width: 767px) {
    #trading_socket_container_beta {
        .col-left, .col-right {
            padding: 0 5px !important;
        }
        #trading_analysis_content {
            margin-top: 10px;
            #tab_graph-content {
                height: 400px !important;
            }
        }
    }
}
@media all and (max-width: 480px) {
    #trading_socket_container_beta {
        .col-left, .col-right {
            padding: 0 !important;
        }
        .price-left, .price-right {
            padding: 0 10px !important;
        }
        .price-right {
            margin-top: 5px;
        }
        #contract_market_form_container {
            ul#contract_form_name_nav {
                a.tm-a {
                    font-size: $FONT_SIZE_XXS;
                }
                li.tm-li-2 {
                    margin: 0;
                    a.tm-a-2 {
                        font-size: $FONT_SIZE_XS;
                    }
                }
            }
        }
        #contract_form_content {
            #expiry_type {
                max-width: 100%;
            }
            #duration_amount {
                margin-bottom: 5px;
            }
        }
        .contract_purchase {
            width: 70% !important;
        }
        #contract_purchase_button {
            margin-bottom: 50px !important;
        }
        #contract_purchase_profit_list {
            margin-bottom: 10px;
        }
    }
}
@media all and (max-width: 768px) {
    #trading_socket_container_beta {
        div#contract_market_form_container {
            ul#contract_form_name_nav {
                white-space: nowrap !important;
                > li.tm-li {
                    /*float: none;
                    width: 100%; */
                    ul.tm-ul-2 {
                        position: absolute !important;
                        top: 28px !important;
                        display: none !important;
                    }
                    &.hover ul, &.active ul {
                        display: block !important;
                    }
                }
            }
        }
        #contract_prices_container .price_container .price_wrapper {
            width: calc(100% - 30px);
        }
    }
}

#trading_socket_container_beta #contract_form_name_nav, #trading_socket_container_beta #analysis_tabs {
    border-bottom: none;
    font-size: $FONT_SIZE_N;
    > li {
        cursor: pointer;
        padding: 0;
        a.tm-a {
            padding: 0 5px;
            width: auto;
            font-size: $FONT_SIZE_XS;
            line-height: 28px;
        }
        .tm-ul-2 {
            top: 29px;
            margin-top: -1px;
            border-top: 1px solid $COLOR_GRAY;
        }
        &.see-more {
            transition: none;
            position: relative;
            height: 27px;
            border: 1px solid $COLOR_LIGHT_GRAY;
            border-bottom: 0;
            &.open {
                border-color: $COLOR_GRAY;
                .over {
                    width: 23px;
                    height: 1px;
                    background: $COLOR_LIGHT_GRAY;
                    position: absolute;
                    bottom: -1px;
                    @include BIDIR_PROP(right, left, 0);
                    z-index: 3;
                }
            }
            > a {
                line-height: 27px;
                .caret-down {
                    border-top: 4px dashed;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    display: inline-block;
                    padding-bottom: 3px;
                }
            }
            .more-tabs {
                display: none;
                position: absolute;
                z-index: 2;
                background: $COLOR_LIGHT_GRAY;
                @include BIDIR_PROP(right, left, -1px);
                border: 1px solid $COLOR_GRAY;
                li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                    &.active {
                        border-radius: 0;
                    }
                    a {
                        display: block;
                        font-size: $FONT_SIZE_S;
                        text-decoration: none;
                        &a:hover {
                            background: $COLOR_GRAY;
                        }
                    }
                }
            }
        }
    }
}

#content ul.tm-ul li {
    &.active, &.ui-tabs-active {
        background: $COLOR_BLUE;
        color: $COLOR_WHITE;
        li:not(.active) a {
            color: $COLOR_BLACK;
        }
    }
}

#analysis_daily_prices_form {
    text-align: center;
    input {
        margin: 0 10px;
    }
}

#tab_portfolio-content .portfolio-header-margin {
    display: none;
}

.error-field {
    border-color: $COLOR_RED !important;
    color: $COLOR_RED;
}

#content #trading_socket_container_beta {
    #trading_analysis_content {
        height: 100%;
        font-size: $FONT_SIZE_N;
        #analysis_tabs {
            white-space: nowrap;
        }
        .tab-menu {
            background: transparent !important;
            border: 0 !important;
            height: auto !important;
        }
        .content-tab-container {
            height: 100%;
            #analysis_content {
                margin: 0;
                padding-top: 10px;
                height: calc(100% - 40px);
                width: auto;
                border: 1px solid $COLOR_GRAY;
                overflow-y: auto;
                .toggle-content, #trade_live_chart, #trade_live_chart #chart_frame {
                    height: 100%;
                }
                #trade_live_chart table {
                    width: 100%;
                    height: 98%;
                    td {
                        height: 100%;
                        border: 0;
                    }
                }
                #tab_asset_index-content .ui-tabs-panel {
                    border: none;
                }
                #portfolio #portfolio-content > div, #tab_trading_times-content > p {
                    margin: 0 10px 10px;
                }
                #tab_trading_times-content, #tab_asset_index-content {
                    select {
                        margin-bottom: 10px;
                    }
                }
                .toggle-content .gr-padding-10 {
                    padding-top: 0;
                }
            }
        }
        #last_digit_histo_form {
            overflow: hidden;
            margin-bottom: 20px;
        }
    }
}
