.price_moved_up {
    background-color: $COLOR_LIGHT_BLUE;
    color: $COLOR_WHITE;
}

.price_moved_down {
    background-color: $COLOR_RED;
    color: $COLOR_WHITE;
}

#bet_bottom_content {
    padding-top: 1em;
}

a.close {
    display: inline-block;
    float: right;
    margin-top: 0;
    margin-right: 0;
    padding: 10px 8px;
    cursor: pointer;
    color: $COLOR_WHITE;
    border: solid 1px $COLOR_ORANGE;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    background: $COLOR_ORANGE;
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
    &:hover {
        text-decoration: none;
    }
}

.profit {
    color: $COLOR_GREEN;
}

.loss {
    color: $COLOR_RED;
}
