body {
    font-family: $FONT_STACK;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Form */
select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    padding: 2px 3px;
    border: 1px solid $COLOR_LIGHT_GRAY;
    border-radius: $BORDER_RADIUS;
}

fieldset {
    border: 1px solid $COLOR_LIGHT_GRAY;
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $COLOR_DARK_WHITE;
}

::-moz-placeholder { /* Firefox 19+ */
    color: $COLOR_DARK_WHITE;
}

:-ms-input-placeholder { /* IE 10+ */
    color: $COLOR_DARK_WHITE;
}

:-moz-placeholder { /* Firefox 18- */
    color: $COLOR_DARK_WHITE;
}
