body {
    font-family: $FONT_STACK;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Form */
select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    padding: 2px 3px;
    border: 1px solid $COLOR_GRAY;
    border-radius: $BORDER_RADIUS;
}

fieldset {
    border: 1px solid $COLOR_LIGHT_GRAY;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $COLOR_DARK_WHITE;
}

::-moz-placeholder { /* Firefox 19+ */
    color: $COLOR_DARK_WHITE;
}

:-ms-input-placeholder { /* IE 10+ */
    color: $COLOR_DARK_WHITE;
}

:-moz-placeholder { /* Firefox 18- */
    color: $COLOR_DARK_WHITE;
}

.container {
    width: 100%;
    max-width: $MAX_CONTAINER_WIDTH;
    margin: 0 auto;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden !important;
    transition: none !important;
}

/* Loading Spinner */
.block-ui {
    position: absolute;
    z-index: 10;
    background: rgba(250, 250, 251, 0.4);
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
    width: calc(100% - 4px);
    height: 100%;
}

.loading {
    position: absolute;
    top: calc(50% - 54px);
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
    z-index: 11;

    .maskedCircle {
        width: 26px;
        height: 26px;
        border-radius: 18px;
        border: 3px solid $COLOR_BLUE;
    }
    .mask {
        width: 36px;
        height: 22px;
        overflow: hidden;
    }
    .spinner {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 32px;
        height: 32px;
        animation: spin 1s infinite linear;
    }
}
/* Spinner Loader Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
