@at-root {
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,vietnamese,cyrillic-ext,latin-ext,cyrillic');
}

/* stylelint-disable color-no-hex */
$COLOR_ORANGE      : #e98024;
$COLOR_GREEN       : #2e8836;
$COLOR_LIGHT_GREEN : #4caf50;
$COLOR_LIGHT_RED   : #f44336;
$COLOR_BLUE        : #2a3052;
$COLOR_DARK_BLUE   : #15212d;
$COLOR_LIGHT_BLUE  : #1565c0;
$COLOR_BLACK       : #000;
$COLOR_LIGHT_BLACK : #333;
$COLOR_WHITE       : #fff;
$COLOR_LIGHT_GRAY  : #fafafb;
$COLOR_LIGHT_GRAY_2: #b0b3bf;
$COLOR_GRAY        : #e9e9ed;
$COLOR_DARK_WHITE  : #ccc;
$COLOR_YELLOW      : #fef1cf;
/* stylelint-enable color-no-hex */

$FONT_STACK: roboto, sans-serif;
$BORDER_RADIUS: 4px;

$MAX_CONTAINER_WIDTH: 1440px;

$HEADER_HEIGHT: 50px;
$FOOTER_HEIGHT: 35px;
