/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/

// /*
//  * Devices breakpoints - TODO: define proper breakpoints
//  */
// @mixin breakpoints($val) {
//     $big-desktop: '(max-width: 1800px)';
//     $tab-land   : '(max-width: 1200px)';
//     $tab-port   : '(max-width: 900px)';
//     $phone-xl   : '(max-width: 599px)';
//     $phone-lg   : '(max-width: 480px)';

//     @if $val == big-desktop {
//         @media #{$big-desktop} {
//             @content;
//         }
//     }
//     @else if $val == tab-land {
//         @media #{$tab-land} {
//             @content;
//         }
//     }
//     @else if $val == tab-port {
//         @media #{$tab-port} {
//             @content;
//         }
//     }
//     @else if $val == phone-xl {
//         @media #{$phone-xl} {
//             @content;
//         }
//     }
//     @else if $val == phone-lg {
//         @media #{$phone-lg} {
//             @content;
//         }
//     }
// }

/*
 * SASS interpolation
 */
// Requires the calc-interpolation function which can also be used independently
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
    $a: ($max-value - $min-value) / ($max-screen - $min-screen);
    $b: $min-value - $a * $min-screen;

    $sign: '+';
    @if ($b < 0) {
        $sign: '-';
        $b: abs($b);
    }
    @return calc(#{$a*100}vw #{$sign} #{$b});
}

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }
        @media screen and (min-width: $min-screen) {
            @each $property in $properties {
                #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
            }
        }
        @media screen and (min-width: $max-screen) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in 'px' or 'em')
 * Note: 'em' values are calculate based on the container font size
 *       to properly converts 'px' to 'em', please pass in the container font size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
    padding: em(8px, 10px);   // font-size in 'px'
 */
@function em($px, $base: $BASE_FONT_SIZE) {
    @if unit($base) == 'em' {
        @return ($px / (($base / 1em) * $BASE_FONT_SIZE)) * 1em;
    }
    @if unit($base) == 'px' {
        @return ($px / $base) * 1em;
    }
}

/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
@mixin setTypeface($size, $weight, $colour, $tt, $align) {
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $tt {
        text-transform: $tt;
    }
    @if $align {
        text-align: $align;
    }
    @if $size == 1.6em {
        line-height: map-get($map: $LINEHEIGHTS, $key: 'large');
    }
    @else if $size == 1.4em {
        line-height: map-get($map: $LINEHEIGHTS, $key: 'medium');
    }
    @else if $size == 1.2em {
        line-height: map-get($map: $LINEHEIGHTS, $key: 'small');
    }
    @else if $size == 1em {
        line-height: map-get($map: $LINEHEIGHTS, $key: 'xsmall');
    }
    @else {
        line-height: 1;
    }
}

/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-bold-black: (14px, bold, black)
 */
@function generate-typefaces() {
    $typeface_list: ();
    @each $fontsize_name, $size in $FONT_SIZES {
        @each $color_name, $color in $FONT_COLORS {
            @each $fontweight_name, $weight in $FONT_WEIGHTS {
                $key: --#{$fontsize_name}-#{$fontweight_name}-#{$color_name};
                $val: ($size, $weight, $color);
                $typeface: ($key: $val);
                $typeface_list: map-merge($typeface_list, $typeface);
            }
        }
    }
    // @debug $typeface_list; /* uncomment to debug */
    @return $typeface_list;
}

/*
 * Set typefaces by passing a typeface variable name
 * Usage example:
   @include typeface(--paragraph-bold-black);
 */
@mixin typeface($var, $tt: capitalize, $align: left) {
    $typeface_config: map-get($map: $TYPEFACES_LIST, $key: $var);

    $size  : nth($typeface_config, 1); // font-size
    $weight: nth($typeface_config, 2); // font-weight
    $color : nth($typeface_config, 3); // color
    @include setTypeface($size, $weight, $color, $tt, $align);
}
/*
 * Range Slider Thumb styling is set here
 */
@mixin thumbStyle() {
    appearance: none;
    width: 0.75em;
    height: 0.75em;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.5s;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

/*
 * SVG icons colors
 */
@mixin colorIcon($colors...) {
    @for $i from 1 through length($colors) {
        .color#{$i}-fill {
            fill: nth($colors, $i);
        }
        .color#{$i}-stroke {
            stroke: nth($colors, $i);
        }
    }
}
