$themes: (
    light: (
        background_color          : $COLOR_LIGHT_BLACK_4_SOLID,
        background_container_color: $COLOR_LIGHT_BLACK_4_SOLID,
        background_icon_color     : $COLOR_LIGHT_BLACK_4_SOLID,
        background_tooltip_color  : $COLOR_LIGHT_BLACK_1,
        background_cover          : $COLOR_LIGHT_BLACK_4,
        border_hover_color        : $COLOR_LIGHT_GRAY_1,
        border_outline_color      : $COLOR_LIGHT_GRAY_2,
        hover_color               : $COLOR_LIGHT_BLACK_4,
        active_color              : $COLOR_LIGHT_GRAY_1,
        slider_icon_color         : $COLOR_LIGHT_GRAY_1,
        text_primary_color        : $COLOR_LIGHT_BLACK_1,
        text_secondary_color      : $COLOR_LIGHT_BLACK_2,
        text_active_color         : $COLOR_WHITE,
        text_color                : $COLOR_BLACK,
        chart_gradient_color      : $COLOR_LIGHT_WHITE_GRADIENT,
        won_gradient_color        : $COLOR_LIGHT_GREEN_GRADIENT,
        lost_gradient_color       : $COLOR_LIGHT_RED_GRADIENT,
        navbar_background_color   : $COLOR_WHITE,
        navbar_active_color       : $COLOR_LIGHT_BLACK_1,
        disabled_color            : $COLOR_LIGHT_BLACK_3,
        container_color           : $COLOR_WHITE,
    ),
    dark: (
        background_color          : $COLOR_DARK_BLUE_1,
        background_container_color: $COLOR_DARK_BLUE_3,
        background_icon_color     : $COLOR_DARK_BLUE_5,
        background_tooltip_color  : $COLOR_DARK_BLUE_5,
        background_cover          : $COLOR_DARK_BLUE_2,
        border_hover_color        : $COLOR_DARK_BLUE_7,
        border_outline_color      : $COLOR_DARK_BLUE_8,
        hover_color               : $COLOR_DARK_BLUE_4,
        active_color              : $COLOR_DARK_BLUE_5,
        slider_icon_color         : $COLOR_PURPLE,
        text_primary_color        : $COLOR_DARK_BLUE_7,
        text_secondary_color      : $COLOR_DARK_BLUE_7,
        text_active_color         : $COLOR_WHITE,
        text_color                : $COLOR_WHITE,
        chart_gradient_color      : $COLOR_DARK_BLACK_GRADIENT,
        won_gradient_color        : $COLOR_DARK_GREEN_GRADIENT,
        lost_gradient_color       : $COLOR_DARK_RED_GRADIENT,
        navbar_background_color   : $COLOR_DARK_BLUE_5,
        navbar_active_color       : $COLOR_WHITE,
        disabled_color            : $COLOR_DARK_BLUE_8,
        container_color           : $COLOR_DARK_BLUE_2,
    ),
);