$themes: (
  light: (
    background_color: white,
    border_color: #fff,
    border_effect_color: #fff,
    hoevr_color: #fff,
    active_color: #fff,
    icon_background_color: #fff,
    tick_icon: #fff,
    text_color_primary: #fff,
    text_color_secondary: #fff,
    tooltip_background: #fff,
  ),
  dark: (
    background_color: white,
    border_color: #fff,
    border_effect_color: #fff,
    hoevr_color: #fff,
    active_color: #fff,
    icon_background_color: #fff,
    tick_icon: #fff,
    text_color_primary: #fff,
    text_color_secondary: #fff,
    tooltip_background: #fff,
  ),
);