$themes: (
    light: (
        active_color                : $COLOR_LIGHT_GRAY_1,
        background_button_color     : $COLOR_LIGHT_GRAY_2,
        background_color            : $COLOR_LIGHT_BLACK_4_SOLID,
        background_container_color  : $COLOR_LIGHT_BLACK_4_SOLID,
        background_cover            : $COLOR_LIGHT_BLACK_4,
        background_icon_color       : $COLOR_LIGHT_BLACK_4_SOLID,
        background_tooltip_color    : $COLOR_LIGHT_BLACK_1,
        border_hover_color          : $COLOR_LIGHT_GRAY_1,
        border_outline_color        : $COLOR_LIGHT_GRAY_2,
        chart_gradient_color        : $COLOR_LIGHT_WHITE_GRADIENT,
        container_color             : $COLOR_WHITE,
        container_secondary_color   : $COLOR_WHITE,
        disabled_color              : $COLOR_LIGHT_BLACK_3,
        error_color                 : $COLOR_RED,
        hover_color                 : $COLOR_LIGHT_BLACK_4,
        lost_gradient_color         : $COLOR_LIGHT_RED_GRADIENT,
        navbar_active_color         : $COLOR_LIGHT_BLACK_1,
        navbar_background_color     : $COLOR_WHITE,
        slider_hover_color          : $COLOR_LIGHT_BLACK_3,
        slider_icon_color           : $COLOR_LIGHT_GRAY_1,
        sidebar_background_color    : $COLOR_LIGHT_GRAY_2,
        tab_active_background_color : $COLOR_LIGHT_GRAY_1,
        tab_active_color            : $COLOR_LIGHT_BLACK_1,
        tab_background_color        : $COLOR_LIGHT_BLACK_4,
        tab_hover_color             : $COLOR_LIGHT_GRAY_2,
        text_active_color           : $COLOR_WHITE,
        text_color                  : $COLOR_BLACK,
        text_primary_color          : $COLOR_LIGHT_BLACK_1,
        text_secondary_color        : $COLOR_LIGHT_BLACK_2,
        tooltip_background_color    : $COLOR_LIGHT_BLACK_1,
        tooltip_background_error    : $COLOR_RED,
        won_gradient_color          : $COLOR_LIGHT_GREEN_GRADIENT,
    ),
    dark: (
        active_color                : $COLOR_DARK_BLUE_5,
        background_button_color     : $COLOR_DARK_BLUE_5,
        background_color            : $COLOR_DARK_BLUE_1,
        background_container_color  : $COLOR_DARK_BLUE_3,
        background_cover            : $COLOR_DARK_BLUE_2,
        background_icon_color       : $COLOR_DARK_BLUE_5,
        background_tooltip_color    : $COLOR_DARK_BLUE_5,
        border_hover_color          : $COLOR_DARK_BLUE_7,
        border_outline_color        : $COLOR_DARK_BLUE_8,
        chart_gradient_color        : $COLOR_DARK_BLACK_GRADIENT,
        container_color             : $COLOR_DARK_BLUE_2,
        container_secondary_color   : $COLOR_DARK_BLUE_3,
        disabled_color              : $COLOR_DARK_BLUE_8,
        error_color                 : $COLOR_RED,
        hover_color                 : $COLOR_DARK_BLUE_3,
        lost_gradient_color         : $COLOR_DARK_RED_GRADIENT,
        navbar_active_color         : $COLOR_WHITE,
        navbar_background_color     : $COLOR_DARK_BLUE_5,
        slider_hover_color          : $COLOR_DARK_BLUE_8,
        slider_icon_color           : $COLOR_PURPLE,
        tab_active_background_color : $COLOR_DARK_BLUE_5,
        tab_active_color            : $COLOR_WHITE,
        tab_background_color        : $COLOR_DARK_BLUE_2,
        tab_hover_color             : $COLOR_DARK_BLUE_4,
        text_active_color           : $COLOR_WHITE,
        text_color                  : $COLOR_WHITE,
        text_primary_color          : $COLOR_DARK_BLUE_7,
        text_secondary_color        : $COLOR_DARK_BLUE_7,
        tooltip_background_color    : $COLOR_DARK_BLUE_5,
        tooltip_background_error    : $COLOR_RED,
        won_gradient_color          : $COLOR_DARK_GREEN_GRADIENT,
    ),
);
