// Indrek Pass also has a fantastic mixin here: http://sassmeister.com/gist/7f22e44ace49b5124eec
html {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.sidebar-container {
    .contracts-popup-container {
        &.desktop-only {
            span {
                @include interpolate(font-size, 32rem, 144rem, 1.1rem, 1.4rem);
            }
        }
    }
}

/* Multiple properties with same values */
// h1, h2, h3, h4, h5 {
//     @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, 0.5rem);
// }
