<div id="connections-ws-container">
    <div class="page-title" id="connections-title">
        <h1>Connections</h1>
        <p id="description">Keep track of your authorised connections.</p>
        <p class="error-msg" id="err"></p>
    </div>
</div>
