.contract-container {
    font-size: 0.85rem;
    border-radius: $BORDER_RADIUS;
    position: relative;

    .contract-header {
        max-height: 2rem;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        border: 1px solid $COLOR_GRAY;

        .header-wrapper {
            transition: transform 0.4s ease;
            transform: translateY(-32px);

            .header-result, .header-purchased {
                display: flex;
                align-items: center;
                padding: 0 10px;
                color: $COLOR_WHITE;
                font-weight: bold;
                line-height: 2rem;

                svg {
                    display: inline-block;
                    margin-right: 7px;
                }
            }
        }
        &.purchased {
            .header-wrapper .header-purchased {
                color: $COLOR_LIGHT_GREEN;
                background-color: $COLOR_LIGHT_GRAY;
                opacity: 1;
                transition: opacity 0.4s linear;
            }
        }
        &.won {
            .header-wrapper {
                transform: none;

                .header-result {
                    background-color: $COLOR_LIGHT_GREEN;
                }
                .header-purchased {
                    opacity: 0;
                }
            }
        }
        &.lost {
            .header-wrapper {
                transform: none;

                .header-result {
                    background-color: $COLOR_LIGHT_RED;
                }
                .header-purchased {
                    opacity: 0;
                }
            }
        }
    }
    .contract-contents {
        padding: 10px;
        font-size: 0.75rem;
        border: 1px solid $COLOR_GRAY;
        border-top-width: 0;
        border-radius: 0 0 4px 4px;

        .longcode {
            font-weight: 300;
            text-align: center;
            line-height: 1.1rem;
        }
        .ref-number, .info-header {
            margin-top: 10px;
            font-weight: 300;
            text-align: center;
            background-color: $COLOR_LIGHT_GRAY;
            line-height: 1.7rem;
        }
        .info-header {
            font-weight: bold;
        }
        .info-item {
            display: flex;
            padding: 7px 0;
            border-bottom: 1px solid $COLOR_GRAY;

            > div {
                align-self: center;

                &:first-child {
                    font-weight: 300;
                    flex-grow: 1;
                    color: $COLOR_LIGHT_BLACK;
                }
                &:last-child {
                    width: 50%;
                }
            }
        }
    }
}

$CONTRACT_INFO_BOX_PADDING: 15px;

.info-box-container {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    transform: none;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s linear;

    &-enter {
        transform: translateY(calc(-100% - 20px));
        opacity: 0;
    }
    &-exit {
        display: none;
    }
    .info-box {
        padding: $CONTRACT_INFO_BOX_PADDING;
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.9);
        font-weight: 300;
        transition: max-height 0.4s ease, max-width 0.4s ease;
        max-width: 386px;
        max-height: 72px;

        &.ended {
            max-width: 179px;
            max-height: 39px;
        }
        .expired, .general {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s linear, transform 0.2s ease;

            &.show {
                opacity: 1;
                pointer-events: auto;
                transform: scale(1, 1) translate(0);
            }
        }
        .expired {
            display: flex;
            align-items: center;
            transform: scale(0, 0);

            svg {
                width: 24px;
                height: 24px;
                margin-right: 10px;

                .color1-fill {
                    fill: $COLOR_LIGHT_GREEN;
                }
            }
            .pl-value {
                color: $COLOR_LIGHT_GREEN;
                font-weight: bold;
                font-size: 1rem;
                line-height: 1.5rem;

                .percentage {
                    display: inline-block;
                    margin-left: 7px;
                }
            }
            &.lost {
                .pl-value {
                    color: $COLOR_LIGHT_RED;
                }
                svg .color1-fill {
                    fill: $COLOR_LIGHT_RED;
                }
            }
        }
        .general {
            display: flex;
            align-items: center;
            line-height: 1.4rem;
            transform: scale(0, 0);

            &.show {
                transform: translateY(-39px);
            }
            .values {
                margin-left: 10px;
                margin-right: 20px;
                text-align: right;
                font-weight: bold;

                .profit {
                    color: $COLOR_LIGHT_GREEN;
                }
                .loss {
                    color: $COLOR_LIGHT_RED;
                }
            }
            .sell {
                display: flex;
                align-items: center;
                margin: -$CONTRACT_INFO_BOX_PADDING;
                margin-left: $CONTRACT_INFO_BOX_PADDING;
                padding: $CONTRACT_INFO_BOX_PADDING;
                border-left: 1px solid $COLOR_GRAY;

                .tooltip {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    line-height: 0;

                    &:before {
                        width: 350px;
                        white-space: normal;
                    }
                }
            }
        }
    }
}

// Dark Theme
.theme-wrapper.dark {
    .contract-container {
        color: $COLOR_BRANDBLUE_40;

        .contract-header {
            border-color: $COLOR_BRANDBLUE_85;

            &.purchased {
                .header-wrapper .header-purchased {
                    background-color: $COLOR_BRANDBLUE_95;
                }
            }
            &.won {
                .header-wrapper .header-result {
                    background-color: $COLOR_GREEN;
                }
            }
        }
        .contract-contents {
            border-color: $COLOR_BRANDBLUE_85;

            .ref-number, .info-header {
                background-color: $COLOR_BRANDBLUE_95;
            }
            .info-item {
                border-bottom-color: $COLOR_BRANDBLUE_85;

                > div:first-child {
                    color: $COLOR_BRANDBLUE_40;
                }
            }
        }
    }
    .info-box {
        border-color: $COLOR_BRANDBLUE_85;
        background: rgba(42, 48, 82, 0.6);

        .general .sell {
            border-left-color: $COLOR_BRANDBLUE_85;

            .btn:disabled {
                background: $COLOR_BRANDBLUE_85;
                color: $COLOR_BRANDBLUE_75 !important;
            }
        }
    }
}
