/** @define page-error */
.page-error {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }
    &__box {
        @include themify($themes) {
            background: themed('background_container_color');
            border: 1px solid themed('background_container_color');
        }
        padding: 5em;
        text-align: center;
        border-radius: $BORDER_RADIUS;

        /* postcss-bem-linter: ignore */
        .inline-icon {
            margin: 0 auto;
        }
    }
    &__header {
        @include themify($themes) {
            color: themed('text_color');
        }
        font-weight: 400;
        margin-bottom: 0.5em;

    }
    &__message {
        @include themify($themes) {
            color: themed('text_primary_color');
        }
        opacity: 0.75;
        font-size: 1.6em;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
}
