.page-error {
    &-container {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }
    &-box {
        padding: 5em;
        text-align: center;
        background: $COLOR_LIGHT_BLACK_4_SOLID;
        border-radius: $BORDER_RADIUS;
        border: 1px solid $COLOR_LIGHT_BLACK_4;

        svg {
            margin: 0 auto;
        }
    }
    &-header {
        color: $COLOR_DARK_BLUE_5;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    &-message p {
        color: $COLOR_LIGHT_BLACK_1;
        opacity: 0.75;
        font-size: 1.6em;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
}

.theme--dark {
    .page-error {
        &-box {
            background-color: $COLOR_DARK_BLUE_3;
            border-color: $COLOR_DARK_BLUE_3;
        }
        &-header {
            color: $COLOR_WHITE;
        }
        &-message p {
            color: $COLOR_LIGHT_BLACK_3;
            opacity: 1;
        }
    }
}
