/** @define page-error */
.page-error {
    &__container {
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }
    &__box {
        padding: 5em;
        text-align: center;
        background: $COLOR_LIGHT_BLACK_4_SOLID;
        border-radius: $BORDER_RADIUS;
        border: 1px solid $COLOR_LIGHT_BLACK_4;

        /* postcss-bem-linter: ignore */
        .inline-icon {
            margin: 0 auto;
        }
    }
    &__header {
        color: $COLOR_DARK_BLUE_5;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    &__message {
        color: $COLOR_LIGHT_BLACK_1;
        opacity: 0.75;
        font-size: 1.6em;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
}
