
.indicative {
    font-weight: bold;

    &.price_moved_up {
        color: $COLOR_LIGHT_GREEN;
    }
    &.price_moved_down {
        color: $COLOR_LIGHT_RED;
    }
    &.no_resale {
        color: $COLOR_LIGHT_GRAY_2;
    }
}

.portfolio {
    padding-top: 60px;

    .portfolio_header_container {
        position: fixed;
        top: 57px;
        height: 60px;
        display: flex;
        align-items: center;
        z-index: 90;
        width: 100%;
        background: $COLOR_WHITE;
        padding-left: 10px;

        h2 {
            margin: 0px;
        }
    }
    th {
        white-space: nowrap;
        @media (max-width: 1000px) {
            white-space: normal;
        }

        &.details {
            width: 30%;
            @media (max-width: 900px) {
                width: 20%;
            }
        }
        &.remaining_time {
            width: 16%;
        }
        &.type {
            text-align: center;
        }
    }
    .payout, .indicative, .purchase, .remaining_time {
        text-align: right;
    }
    .table-body {
        td.reference span.tooltip {
            color: $COLOR_LIGHT_BLUE;
            text-decoration: none;
        }
        td.reference {
            color: $COLOR_LIGHT_BLUE;
        }
        .type_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .trade_type_icon {
                width: 20px;
                height: 20px;
                padding: 5px;
                margin-bottom: 3px;
                border-radius: 100%;
                background-color: $COLOR_LIGHT_GRAY;
            }
        }
    }
}

// Contract type => Icon name
$ICON_LIST: asianu asaind call calle put digitdiff digiteven digitmatch digitodd digitover digitunder expirymiss
    expiryrange expiryrangee fall notouch onetouch range rise upordown lbfloatcall lbfloatput lbhighlow;

// $style: light or dark
@function tradetypeicon($style, $trade_type) {
    @return url('../images/app_2/contracts/types/' + $style + '/ic_' + $trade_type + '.svg');
}

@each $icon in $ICON_LIST {
    .icon_#{$icon}--light {
        content: tradetypeicon('light', $icon);
    }
}
