.portfolio {
    padding: 1.5rem 12px;
    height: 100%;

    &--card-view {
        background: $COLOR_LIGHT_BLACK_4_SOLID;
    }
    .table {
        height: 100%;
    }
    .table__row {
        grid-template-columns: 6.5rem 7rem 1fr 6rem 9rem 6rem 5rem;
    }
    .payout, .indicative, .purchase, .remaining_time {
        justify-content: flex-end;
    }
    .contract-type {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .type-wrapper {
            width: 20px;
            height: 20px;
            padding: 5px;
            margin-bottom: 3px;
            border-radius: 100%;
            background-color: $COLOR_LIGHT_BLACK_4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .reference a {
        color: $COLOR_SKY_BLUE;
        text-decoration: none;
    }
    .table__body .indicative {
        font-weight: bold;
    }
    .indicative {
        text-align: right;

        &--price-moved-up {
            color: $COLOR_GREEN_1;
        }
        &--price-moved-down {
            color: $COLOR_RED;
        }
        &--no-resale {
            color: $COLOR_LIGHT_GRAY_2;
        }
        &__no-resale-msg {
            font-size: 10px;
            font-weight: 400;
        }
    }
    // empty portfolio message
    &-empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icon {
            height: 64px;
            width: 64px;
            margin-bottom: 8px;
        }
        &__text {
            font-size: 14px;
        }
    }
    // portfolio card
    // TODO: reuse statement styles (common component?)
    &-card {
        &__header {
            font-size: 10px;
            padding: 0.5rem;
            border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;
            display: flex;
            justify-content: space-between;
        }
        &__refid a {
            color: $COLOR_SKY_BLUE;
            text-decoration: none;
        }
        &__body {
            padding: 0.5rem;
            font-size: 12px;
        }
        &__desc {
            margin-bottom: 0.7rem;
        }
        &__row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-weight: bold;
        }
        &__cell-text {
            vertical-align: middle;
        }
        &__cell:before {
            content: '';
            display: inline-block;
            height: 16px;
            width: 16px;
            background-size: 16px 16px;
            vertical-align: middle;
            margin-right: 5px;
        }
        &__purchase:before {
            background-image: url('../images/portfolio/ic_purchase_light.svg');
        }
        &__payout:before {
            background-image: url('../images/statement/ic_payout_light.svg');
        }
        &__indicative {
            &--price-moved-up {
                color: $COLOR_GREEN_1;

                &:before {
                    background-image: url('../images/portfolio/ic_price_up.svg');
                }
            }
            &--price-moved-down {
                color: $COLOR_RED;

                &:before {
                    background-image: url('../images/portfolio/ic_price_down.svg');
                }
            }
            &--price-stable {
                &:before {
                    background-image: url('../images/portfolio/ic_price_stable_light.svg');
                }
            }
            &--no-resale {
                color: $COLOR_LIGHT_BLACK_4;

                &:before {
                    background-image: url('../images/portfolio/ic_no_resale.svg');
                }
            }
        }
    }
}
