.portfolio {
    padding: 1.5rem 12px 0;

    th {
        white-space: nowrap;
        @media (max-width: 1000px) {
            white-space: normal;
        }

    }
    .reference, .type {
        width: 6.5rem;
    }
    .remaining_time {
        width: 9rem;
    }
    .payout {
        width: 6rem;
    }
    .purchase, .indicative {
        width: 5rem;
    }
    .payout, .indicative, .purchase, .remaining_time {
        text-align: right;
    }
    .contract-type {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__icon {
            width: 20px;
            height: 20px;
            padding: 5px;
            margin-bottom: 3px;
            border-radius: 100%;
            background-color: $COLOR_GRAY;
        }
    }
    .indicative {
        font-weight: bold;

        &--price-moved-up {
            color: $COLOR_LIGHT_GREEN;
        }
        &--price-moved-down {
            color: $COLOR_LIGHT_RED;
        }
        &--no-resale {
            color: $COLOR_LIGHT_GRAY_2;
        }
        &__no-resale-msg {
            font-size: 10px;
            font-weight: 400;
        }
    }
}

$CONTRACT_TYPE_LIST: asianu asaind call calle put digitdiff digiteven digitmatch digitodd digitover digitunder expirymiss
    expiryrange expiryrangee fall notouch onetouch range rise upordown lbfloatcall lbfloatput lbhighlow;

// $style: 'light' or 'dark'
@function tradetypeicon($style, $trade_type) {
    @return url('../images/app_2/contracts/types/' + $style + '/ic_' + $trade_type + '.svg');
}

@each $type in $CONTRACT_TYPE_LIST {
    .#{$type}-icon--light {
        content: tradetypeicon('light', $type);
    }
}
