.settings {
    $sidebar_width: 350px;
    $sidebar_tablet_width: 250px;

    &__sidebar {
        width: $sidebar_width;
        position: fixed;
        overflow-y: auto;
        height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
        box-sizing: border-box;
        border-right: 0.1em solid $COLOR_LIGHT_BLACK_4;

        @media (max-width: 1025px) {
            height: calc(100vh - #{$HEADER_HEIGHT});
            width: $sidebar_tablet_width;
        }
    }
    &__content {
        flex-grow: 1;
        margin-left: $sidebar_width;
        background: $COLOR_WHITE;

        @media (max-width: 1025px) {
            margin-left: $sidebar_tablet_width;
        }
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
    &-menu {
        &__group-header {
            width: 100%;
            height: 2.4em;
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.5;
            color: $COLOR_LIGHT_BLACK_1;
            box-sizing: border-box;
            margin: 2em 0 1em;
            padding: 0 2.4em;
        }
        &__separator {
            margin: 1em 2.4em;
        }
    }
}

/*
    MENU ITEM COMPONENT
*/
.menu-item {
    display: flex;
    height: 4.8em;
    flex-direction: row;
    flex: 1;
    width: 100%;
    cursor: 'pointer';
    text-decoration: none;
    color: $COLOR_LIGHT_BLACK_1;

    &--active {
        background-color: #fafafb; /* stylelint-disable-line color-no-hex */
        box-shadow: inset -0.4em 0 0 0 $COLOR_LIGHT_BLACK_4;
    }
    &__img {
        width: 3.2em;
        height: 3.2em;
        margin: 0.8em 0.8em 0.8em 2.4em;
    }
    &__content {
        flex-grow: 1;
        margin: 0.8em 0px;
        overflow: hidden;
    }
    &__title {
        font-size: 1.2rem;
        height: 1.8em;
        font-weight: bold;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK_1;
    }
    &__description {
        font-size: 1rem;
        height: 1.5em;
        padding-right: 0.5em;
        line-height: 1.5;
        color: lighten($COLOR_LIGHT_BLACK_1, 50%);
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/*
    CONTENT SECTION
*/
.section {
    padding: 1.5em 2.4em;

    &__title {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.25;
        color: $COLOR_LIGHT_BLACK_1;
        margin-bottom: 0;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK_1;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}

/*
    MOBILE DROPDOWN MENU
*/
.mobile-dropdown {
    $top_margin: 1em;
    $side_margin: 0.8em;
    $button_height: 5em;
    $button_menu_gap: 1em;
    margin: $top_margin $side_margin $button_menu_gap;

    &__button {
        height: $button_height;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: $button_menu_gap;
        padding-right: 4em;
        background: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        border: 0.1em solid $COLOR_LIGHT_BLACK_4;
        position: relative;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .menu-item {
            height: 100%;
        }
    }
    &__menu {
        position: fixed;
        width: calc(100vw - #{$side_margin} * 2);
        max-height: calc(100vh - #{$HEADER_HEIGHT} - #{$top_margin} - #{$button_height} - #{$button_menu_gap} - 2em);
        overflow-y: auto;
        background: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        border: 0.1em solid $COLOR_LIGHT_BLACK_4;
        padding-bottom: 1em;
        box-sizing: border-box;
        user-select: none;
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: top center;
        transition: all 0.25s;
    }
    &--open {
        .mobile-dropdown__button {
            border: 0.1em solid $COLOR_DARK_BLUE_5;
        }
        .mobile-dropdown__menu {
            transform: scale(1, 1);
            opacity: 1;
        }
        .select-arrow.select-arrow { // to increase specificity without !IMPORTANT
            transform: rotate(0deg);
            color: $COLOR_DARK_BLUE_5;
        }
    }
    .menu-item {
        &--active {
            display: none;
        }
        &__img_container {
            margin-left: 0.8em;
        }
    }
    .settings__section_header {
        padding-left: 1.2em;
    }
    .settings-menu > div:first-child .settings-menu__group-header {
        margin-top: 1.2em;
    }
    .settings-menu__separator {
        margin-right: 0;
        margin-left: 0;
    }
    .select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: 40%;
        right: 1.5em;
        line-height: 1;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
        transform-origin: 45% 30%;
        color: $COLOR_LIGHT_BLACK_4;

        &:before {
            content: '\002303';
            font-size: 1.76rem;
        }
    }
}
