.chart-spot {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        align-items: center;
        margin-left: 11px;
        margin-bottom: -9px;
        padding: 7px;
        border-radius: 3px;
        background: $COLOR_GREEN_1;
        color: $COLOR_WHITE;

        svg {
            margin-right: 5px;
        }
    }
    .arrow {
        margin-left: 4px;
        margin-bottom: 2px;
        width: 0;
        height: 0;
        border-top: 15px solid $COLOR_GREEN_1;
        border-left: 10px solid transparent;
        transform: rotate(60deg);
    }
    .spot {
        margin-left: -4px;
        margin-bottom: -4px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        border: 2px solid $COLOR_GREEN_1;
    }
    /* Left aligned */
    &.lost {
        .content {
            background: $COLOR_RED;
        }
        .arrow {
            border-top-color: $COLOR_RED;
        }
        .spot {
            border-color: $COLOR_RED;
        }
    }
    /* Left aligned */
    &.left {
        margin-left: -100%;
        margin-right: 100%;

        .content {
            margin-right: 11px;
            margin-bottom: -5px;
            background: $COLOR_ORANGE;
        }
        .arrow {
            align-self: flex-end;
            margin-right: 8px;
            margin-bottom: -2px;
            border-top-color: $COLOR_ORANGE;
            transform: rotate(-30deg);
        }
        .spot {
            align-self: flex-end;
            margin-right: -4px;
            border-color: $COLOR_ORANGE;
        }
    }
}

.chart-marker-line {
    height: 100%;

    > div {
        border-left-width: 1px;
        padding-left: 5px;
        height: 100%;

        &.solid {
            border-left-style: solid;
        }
        &.dash {
            border-left-style: dashed;
        }
        > div {
            position: absolute;
            bottom: 0;
            white-space: nowrap;
        }
    }
}
