.chart-spot {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        align-items: center;
        margin-left: 1.1em;
        margin-bottom: -0.9em;
        padding: 0.7em;
        border-radius: 3px;
        background: $COLOR_GREEN_1;
        color: $COLOR_WHITE;

        svg {
            margin-right: 0.5em;
        }
    }
    .arrow {
        margin-left: 0.4em;
        margin-bottom: 0.2em;
        width: 0;
        height: 0;
        border-top: 15px solid $COLOR_GREEN_1;
        border-left: 1px solid transparent;
        transform: rotate(60deg);
    }
    .spot {
        margin-left: -0.4em;
        margin-bottom: -0.4em;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        border: 2px solid $COLOR_GREEN_1;
    }
    .spot-entry {
        width: 16px;
        height: 16px;
        margin-bottom: -7px;
        margin-left: -9px;
        border: 4px solid $COLOR_SKY_BLUE;
    }
    /* Left aligned */
    &.lost {
        .content {
            background: $COLOR_RED;
        }
        .arrow {
            border-top-color: $COLOR_RED;
        }
        .spot {
            border-color: $COLOR_RED;
        }
    }
    /* Left aligned */
    &.left {
        margin-left: -100%;
        margin-right: 100%;

        .content {
            margin-right: 1.1em;
            margin-bottom: -0.5em;
            background: $COLOR_ORANGE;
        }
        .arrow {
            align-self: flex-end;
            margin-right: 0.8em;
            margin-bottom: -0.2em;
            border-top-color: $COLOR_ORANGE;
            transform: rotate(-30deg);
        }
        .spot {
            align-self: flex-end;
            margin-right: -0.4em;
            border-color: $COLOR_ORANGE;
        }
    }
}

.chart-marker-line {
    height: 100%;

    > div {
        border-left-width: 1px;
        padding-left: 0.5em;
        height: 100%;

        &.solid {
            border-left-style: solid;
        }
        &.dash {
            border-left-style: dashed;
        }
        > div {
            position: absolute;
            bottom: 0;
            white-space: nowrap;
        }
    }
}
