$filter-height: 60px;
$side-padding: 12px;

.statement {
    height: 100%;

    &-filter {
        box-sizing: border-box;
        height: $filter-height;
        width: 100%;
        font-size: 14px;
        padding: 0 $side-padding;

        &__content {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 16px;

            .datepicker .datepicker__native-overlay {
                line-height: 30px;
            }
        }
        &__label {
            margin-right: 0.6rem;
        }
        &__dash {
            margin: 0 0.5rem;
        }
    }
    &__content {
        height: calc(100% - #{$filter-height});
        padding: 0 $side-padding;
    }

    /*
        TABLE STYLES START
    */
    .table {
        height: 100%;
        border-bottom: none;
    }
    .table__row {
        grid-template-columns: 6.5rem 6.5rem 1fr 5rem 7rem 6rem 6rem;
    }
    .payout, .amount, .balance {
        justify-content: flex-end;
    }
    .amount {
        font-weight: bold;

        &--profit {
            color: $COLOR_GREEN_1;
        }
        &--loss {
            color: $COLOR_RED;
        }
    }
    /*
        TABLE STYLES END
    */

    /*
        MOBILE CARDS START
    */
    &--card-view {
        background: $COLOR_LIGHT_BLACK_4_SOLID;
        overflow: hidden;

        .statement-filter {
            background-color: $COLOR_WHITE;
            padding: 0 $side-padding;
            border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;

            &__content {
                padding: 0;
                margin: 0 auto;
                max-width: 450px;
                display: grid;
                grid-template-columns: 1fr 30px 1fr;
                text-align: center;

                .datepicker__input {
                    width: 100%;
                }
            }
            &__label {
                display: none;
            }
        }
        .statement__content {
            padding: 0;
        }
        .card-list {
            padding: 0 $side-padding;
            height: 100%;
        }
    }
    &-card {
        &__header {
            font-size: 10px;
            padding: 0.5rem;
            border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;
            display: flex;
            justify-content: space-between;
        }
        &__refid a {
            color: $COLOR_SKY_BLUE;
            text-decoration: none;
        }
        &__body {
            padding: 0.5rem;
            font-size: 12px;
        }
        &__desc {
            margin-bottom: 0.7rem;
        }
        &__row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-weight: bold;
        }
        &__cell-text {
            vertical-align: middle;
        }
        &__cell:before {
            content: '';
            display: inline-block;
            height: 16px;
            width: 16px;
            background-size: 16px 16px;
            vertical-align: middle;
            margin-right: 5px;
        }
        &__amount {
            &--sell, &--deposit {
                color: $COLOR_GREEN_1;
            }
            &--buy, &--withdrawal {
                color: $COLOR_RED;
            }
            &--sell:before {
                background-image: url('../images/statement/ic_sell.svg');
            }
            &--buy:before {
                background-image: url('../images/statement/ic_buy.svg');
            }
            &--deposit:before {
                background-image: url('../images/statement/ic_deposit.svg');
            }
            &--withdrawal:before {
                background-image: url('../images/statement/ic_withdrawal.svg');
            }
        }
        &__payout:before {
            background-image: url('../images/statement/ic_payout_light.svg');
        }
        &__balance:before {
            background-image: url('../images/statement/ic_wallet_light.svg');
        }
    }
    /*
        MOBILE CARDS END
    */

    &-empty {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icon {
            height: 64px;
            width: 64px;
            margin-bottom: 14px;
        }
        &__text {
            font-size: 14px;
        }
    }
}
