- if (stash->{client_message}) {
    #client_message.rbox.errorbox
      .rbox-wrap
        #client_message_content.rbox-content
            = stash->{client_message}
- }
- if (stash->{success_message}) {
    %p.success-msg
      = stash->{success_message}
- }
- if (stash->{form_note}) {
    %p= stash->{form_note};
- }
!= $form->build()
