<h1>[% l('Trading Times') %]</h1>
<p>
    <label for="trading-date">[% l('Date') %]: </label>
    <input type="text" id="trading-date" readonly="readonly" size="12" />
</p>
<p>[% l('All times are in GMT (Greenwich Mean Time).') %]</p>

<div class="gr-padding-10">
    <p class="error-msg invisible" id="errorMsg"></p>
    <div id="trading-times" class="has-tabs gr-parent"></div>
</div>
