
<div class="container">
    <div class="static_full">
        <h1>[% l("Professional Trader") %]</h1>

        <div id="loading">[% PROCESS _common/components/loading.html.tt %]</div>

        <form class="form gr-padding-10 invisible" id="frm_professional">
            [% PROCESS app/_includes/professional_client.html.tt %]

            [% INCLUDE submit_button msg_id='form_message' type='submit' text=l('Submit') %]
        </form>
    </div>
</div>
