<!DOCTYPE html>
<html>
<head>
    [% INCLUDE _common/includes/anti_clickjack.html.tt %]
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Language" content="[%= iso639a_language =%]" />
    <meta name="description" content="[%= broker_name _ ' Hackathon Competition' =%]" />
    <meta name="keywords" content="binary options, forex, forex trading, online trading, financial trading, binary trading, index trading, trading indices, forex trades, trading commodities, binary options strategy, binary broker, binary bet, binary options trading platform, binary strategy, finance, stocks, investment, trading, hackathon" />
    <meta name="author" content="[%= broker_name =%]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="dcterms.rightsHolder" content="[%= broker_name =%]" />
    <meta name="dcterms.rights" content="[%= broker_name =%]" />
    <meta property="og:title" content="[%= broker_name =%]" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="[% request.url_for('images/common/og_image.gif') %]" />

    [% PROCESS _common/components/title.html.tt %]

    [% PROCESS _common/includes/favicons.html.tt %]

    <link href="[% request.url_for('css/graduate_program.css') _ '?' _ static_hash %]" rel="stylesheet" />
    <link href="https://style.binary.com/binary.css?[% static_hash %]" rel="stylesheet" />
</head>

<body>
<div class="navbar-fixed-top" role="navigation" id="navigation">
    <div class="container">
    <div class="navbar-header">
        <span id="toggle-menu" href="button" class="navbar-toggle"></span>
        <a class="navbar-brand logo" href="[% request.url_for('home') %]"></a>
    </div>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="invisible">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#who-we-are">[% l("Who we are") %]</a>
            </li>
            <li>
                <a class="page-scroll" href="#application-process">[% l("Application process") %]</a>
            </li>
            <li>
                <a class="page-scroll" href="#teams">[% l("Teams") %]</a>
            </li>
            <li>
                <a class="page-scroll" href="#programs">[% l("Programs") %]</a>
            </li>
        </ul>
    </div>
    </div>
</div>

<section id="page-top" class="intro">
    <div class="intro-body">
        <h1 class="intro-text">[% l("[_1] <span class=''>Graduate Programme</span>", website_name) %]</h1>
        <p class="intro-subtext">[% l("Build a successful career at the intersection of finance and technology") %]</p>
    </div>
    <div class="intro-bg"></div>
    <div id="register" class="primary-bg-color-dark section-title-inverse">
        <a href="https://goo.gl/forms/GWIuCPurg8D1ZlbR2" target="_blank" rel="noopener noreferrer" class="button-outline"><span>[% l("Apply now") %]</span></a>
    </div>
</section>

<section id="who-we-are" class="container">
    <div class="section-title">
        <h2>[% l("Who we are") %]</h2>
    </div>
    <p>[% l("[_1] is an exciting, challenging, and highly rewarding working environment, built on the strengths of our people. We aim to recruit the best of the best and to empower them in their careers so that they can flourish and grow with our business.", '<span class="text-bold">'_ website_name _'</span>') %]</p>
    <p>[% l("As a graduate at [_1], you will be given responsibility from Day 1. Through training and development, you will build your existing skills and learn new ones. You will grow into a respected professional who is encouraged to break the norm and push the boundaries of technology and finance.", website_name) %]</p>
    <p>[% l("We offer graduates and undergraduates the opportunity to work in highly-rewarding tech environment with exceptional people.") %]</p>
</section>

<section class="container">
    <div class="section-title">
        <h2>[% l("Who we\'re looking for") %]</h2>
    </div>
    <div class="gr-row">
        <div class="gr-6 gr-12-m">
            <div class="box fill-bg-color">
                <p>[% l("The journey that we are on demands the right company technologists with a passion for their field and a strong will to resolve complex problems.") %]</p>
                <p>[% l("When faced with a problem that you don\'t immedietly have the answer to, your determination and curiosity will drive you to a solution. You are a fast learner, and are open to adapting a wide range of technologies. You work well with others, and can collaborate in a fast-paced environment.") %]</p>
            </div>
        </div>
        <div class="separator gr-padding-30 gr-12-m"></div>
        <div class="gr-6 gr-12-m">
            <h4 class="center-text">[% l("[_1]Education and experience requirements[_2]", '<span class="text-bold">', '</span>') %]</h4>
            <div class="inline-flex">
                <img class="icon-md margin-30" src="[% request.url_for('images/graduate_program/education_icon.svg') %]" />
                <p>[% l("A bachelor\'s, master\'s, or PhD in computer science, IT, mathematics, physics, or engineering and is Graduating by March 2018.") %]</p>
            </div>
            <div class="inline-flex">
                <img class="icon-md margin-30" src="[% request.url_for('images/graduate_program/coding_icon.svg') %]" />
                <p>[% l("Experience with lower-level programming languages such as C, C++, Java, or Perl.") %]</p>
            </div>
            <div class="inline-flex">
                <img class="icon-md margin-30" src="[% request.url_for('images/graduate_program/experience_icon.svg') %]" />
                <p>[% l("If currently employed, the candidate must have less than one year\'s worth of working experience.") %]</p>
            </div>
        </div>
    </div>
</section>

[% steps=[
        { icon="one"    title=l("Send us your resume") description=l("Begin your application for our graduate programme by uploading your resume. Be sure to include your contact detail. Feel free to emphasise any awards, achievements, and projects that will make you stand out.") },
        { icon="two"    title=l("Phone screening") description=l("If your resume meets our basic requirements, we\'ll call you to get a better picture of who you are and what your interests are.") },
        { icon="three"  title=l("Technical test") description=l("If you passed our phone screening, we\'ll invite you to a technical test either on-site or online. Depending on your qualifications and background, you\'ll be asked technical questions, which may require you to write code.") },
        { icon="four"   title=l("Self-Assessment Questionnaire (SATI)") description=l("Once you\'ve passed our technical test, we\'ll send you a SATI to understand you better.") },
        { icon="five"   title=l("A Day @ [_1]", website_name) description=l("Do well on the SATI and earn yourself a trip to an all-day event at our office in Cyberjaya. This is an opportunity for you to learn more about what we do, experience our culture first-hand, meet potential team members, and ask us questions about life at Binary.com. We’ll also put you through interviews and group exercises to assess your skills and cultural fit.") },
        { icon="six"    title=l("Job offer") description=l("Aced your interviews and made a real impression on us? Congratulations! We\'ll contact you with an official offer to join our graduate programme.") }
    ] %]
<section id="application-process">
    <div class="section-title-inverse primary-bg-color">
        <h2>[% l("Application process") %]</h2>
    </div>
    <div class="container">
        <div class="gr-row">
            <div class="gr-12">
                [% FOREACH step IN steps %]
                <div class="boxed-steps">
                    <span class="[% step.icon %]_icon icon"></span>
                    <h3>[% step.title %]</h3>
                    <p>[% step.description %]</p>
                </div>
                [% END %]
            </div>
        </div>
    </div>
</section>

<section id="teams">
    <div class="section-title-inverse primary-bg-color">
        <h2>[% l("Software development teams") %]</h2>
    </div>
    <div id="teams-tab" class="container tab-with-indicator">
        <ul class="tab-menu">
            <li class="tab"><a href="#frontend">Front-end</a></li>
            <li class="tab"><a href="#backend">Back-end</a></li>
            <li class="tab"><a href="#quants">Quants</a></li>
            <span class="active-tab-indicator"></span>
        </ul>
        <div class="tab-content-wrapper">
            <div id="frontend" class="tab-content">
                <div class="gr-row inline-flex">
                    <div class="gr-7 gr-12-m">
                        <h2>[% l("Front-End Developer") %]</h2>
                        <div class="box fill-bg-color">
                            <p>[% l("Develop and maintain user-facing websites and applications.") %]</p>
                            <p>[% l("Integrate new features into existing user interfaces.") %]</p>
                            <p>[% l("Resolve complex technical challenges faced by our suite of platforms.") %]</p>
                            <p>[% l("Software development stack: HTML, CSS, JavaScript") %]</p>
                        </div>
                    </div>
                    <div class="gr-5 gr-12-m">
                        <img class="gr-padding-30 responsive" src="[% request.url_for('images/graduate_program/frontend_icon.svg') %]" />
                    </div>
                </div>
            </div>
            <div id="backend" class="tab-content">
                <div class="gr-row inline-flex">
                    <div class="gr-7 gr-12-m">
                        <h2>[% l("Back-End Developer") %]</h2>
                        <div class="box fill-bg-color">
                            <p>[% l("Build and manage APIs and product features.") %]</p>
                            <p>[% l("Scale up data architecture.") %]</p>
                            <p>[% l("Integrate third-party financial systems.") %]</p>
                            <p>[% l("Software development stack: Perl, Linux, C++, Chef, Postgres, Redis, AWS, Google Cloud Engine") %]</p>
                        </div>
                    </div>
                    <div class="gr-5 gr-12-m">
                        <img class="gr-padding-30 responsive" src="[% request.url_for('images/graduate_program/backend_icon.svg') %]" />
                    </div>
                </div>
            </div>
            <div id="quants" class="tab-content">
                <div class="gr-row inline-flex">
                    <div class="gr-7 gr-12-m">
                        <h2>[% l("Quantitative Developer") %]</h2>
                        <div class="box fill-bg-color">
                            <p>[% l("Manage and optimise pricing and risk management software for exotic options, Forex, and CFDs.") %]</p>
                            <p>[% l("Develop risk management models and algorithms.") %]</p>
                            <p>[% l("Develop software to study market micro-structure and manage financial data feeds.") %]</p>
                            <p>[% l("Software development stack: Perl, R, Python, MATLAB") %]</p>
                        </div>
                    </div>
                    <div class="gr-5 gr-12-m">
                        <img class="gr-padding-30 responsive" src="[% request.url_for('images/graduate_program/quants_icon.svg') %]" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="programs">
    <div class="section-title-inverse primary-bg-color">
        <h2>[% l("What\'s in the programme?") %]</h2>
    </div>
    <div class="container">
        <p>[% l("Our graduate programme is designed to tap into your true potential, give you deep insights into our business, and provide you with a platform to do amazing work.") %]</p>
        <div class="inline-flex">
            <img class="icon-lg margin-left-0" src="[% request.url_for('images/graduate_program/program1_icon.svg') %]" />
            <p>[% l("We\'ll kick things off with orientation week –– a week spent away from the office that\'s all about learning and having fun. You\'ll participate in team building exercises, learn how to navigate your new workplace, and join a mini hackathon where you\'ll get the chance to make pull requests and contribute to our codebase.") %]</p>
        </div>
        <div class="inline-flex">
            <img class="icon-lg margin-left-0" src="[% request.url_for('images/graduate_program/program2_icon.svg') %]" />
            <p>[% l("A \'Buddy\' and \'Mentor\' will be assigned to guide you throughout the programme. This will give you the opportunity to take part in pair programming sessions, as well as a friend to guide you throughout.") %]</p>
        </div>
        <div class="inline-flex">
            <img class="icon-lg margin-left-0" src="[% request.url_for('images/graduate_program/program3_icon.svg') %]" />
            <p>[% l("You\'ll rotate through front-end, back-end, and quants. Each rotation will give you a feel for what each team does on a day-to-day basis while also allowing you to contribute to our codebase. Tasks will be assigned to you in increasing complexity to gradually build your confidence") %]</p>
        </div>
        <div class="inline-flex">
            <img class="icon-lg margin-left-0" src="[% request.url_for('images/graduate_program/program4_icon.svg') %]" />
            <p>[% l("Attend our Software Craftsmanship Workshops –– interactive lessons on a wide range of software development topics that will give you a better understanding of our codebase.") %]</p>
        </div>
        <div class="inline-flex">
            <img class="icon-lg margin-left-0" src="[% request.url_for('images/graduate_program/program5_icon.svg') %]" />
            <p>[% l("At the end of the rotation period, you\'ll move into a full-time position. We\'ll assign you to a team based on your experience during the rotation, your performance on each team, and your personal preferences.") %]</p>
        </div>
    </div>
</section>

[% quotes=[
        { image='' quote=l("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor nisl, eleifend vitae velit eget, venenatis molestie mauris. Curabitur ornare elementum nunc at viverra. Cras at est id justo tempus.")
          by='John Smith' position=l("Front-end Developer") },
        { image='' quote=l("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor nisl, eleifend vitae velit eget, venenatis molestie mauris. Curabitur ornare elementum nunc at viverra. Cras at est id justo tempus.")
          by='Jane Doe' position=l("Back-end Developer") },
        { image='' quote=l("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor nisl, eleifend vitae velit eget, venenatis molestie mauris. Curabitur ornare elementum nunc at viverra. Cras at est id justo tempus.")
          by='Sherlock Holmes' position=l("Quantitative Developer") },
    ] %]
<!-- section>
    <div class="section-title-inverse primary-bg-color">
        <h2>[% l("Meet our employees") %]</h2>
    </div>
    <div id="employees-tab" class="container">
        <div class="inline-flex gr-row tab-with-buttons">
            <a id="prev" class="gr-1 ic_chevron_left twb-button"></a>
            <div class="gr-10 gr-7-m twb-content-wrapper">
                [% FOREACH item IN quotes %]
                <div class="gr-row inline-flex twb-content">
                    <div class="gr-4 gr-12-m center-text">
                        <img class="img-rounded" src="http://via.placeholder.com/150x150" />
                    </div>
                    <div class="gr-8 gr-12-m">
                        <div class="quotes">
                            <h3>[% item.quote %]</h3>
                            <p class="title">[% item.by %], [% item.position %], Binary Group Services</p>
                        </div>
                    </div>
                </div>
                [% END %]
            </div>
            <a id="next" class="gr-1 ic_chevron_right twb-button"></a>
        </div>
    </div>
</section-->

<footer class="center-text primary-bg-color content-inverse-color">
    <p>[% l("Browse all career opportunities at <a class='link' target='_blank' href='[_1]'>[_2]</a>", request.url_for('careers.html'), website_name) %]</p>
</footer>

<script src="[% request.url_for('js/landing_pages/common.js') _ '?' _ static_hash %]"></script>
<script src="[% request.url_for('js/landing_pages/graduate_program.js') _ '?' _ static_hash %]"></script>
</body>
</html>