<!DOCTYPE html>
<html>
    <head>
        [% INCLUDE global/anti_clickjack.html.tt %]
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="Content-Language" content="[%= iso639a_language =%]" />
        <meta name="description" content="[%= broker_name _ ' Hackathon Competition' =%]" />
        <meta name="keywords" content="binary options, forex, forex trading, online trading, financial trading, binary trading, index trading, trading indices, forex trades, trading commodities, binary options strategy, binary broker, binary bet, binary options trading platform, binary strategy, finance, stocks, investment, trading, hackathon" />
        <meta name="author" content="[%= broker_name =%]" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="dcterms.rightsHolder" content="[%= broker_name =%]" />
        <meta name="dcterms.rights" content="[%= broker_name =%]" />
        <meta property="og:title" content="[%= broker_name =%]" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="[% request.url_for('images/common/og_image.gif') %]" />

        [% PROCESS global/title.html.tt %]

        [% PROCESS global/favicons.html.tt %]

        <link href="[% request.url_for('css/hackathon.css') _ '?' _ static_hash %]" rel="stylesheet" />
    </head>

    <body>
        <div class="navbar" id="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- span id="toggle-menu" href="button" class="navbar-toggle"></span -->
                    <a class="navbar-brand page-scroll logo" href="#page-top"></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="invisible">
                            <a href="#page-top"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="page-top" class="intro">
            <h1 class="text-uppercase"><span class="text-bold">Hackathon </span><span class="text-thin">Competition</span></h1>
            <div class="intro-bg"></div>
            <div id="register" class="white-bg">
                <div class="container">
                    <h1>Thank you for all those who participated.</h1>
                    <h3>Stay tuned for updates on our next Hackathon competition!</h3>
                </div>
            </div>
        </section>

        <footer class="text-center">
            <div class="container">
                <p>Visit our <a class="text-bold" target="_blank" href="https://www.binary.com/en/careers.html">career page</a> for more opportunities at Binary!</p>
            </div>
        </footer>

        <script src="[% request.url_for('js/landing_pages/common.js') _ '?' _ static_hash %]"></script>
        <script src="[% request.url_for('js/landing_pages/hackathon.js') _ '?' _ static_hash %]"></script>
    </body>
</html>