.markets {
    min-width: 120px;
    position: relative;

    .market_current {
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        text-align: left;

        .market {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .underlying {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .markets_dropdown {
        background: $COLOR_WHITE;
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        box-shadow: 0 0 2px 1px $COLOR_GRAY;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        transition: visibility 0s 0s, opacity 0.15s 0.1s, transform 0.25s;
        flex: 1 0 auto;
        z-index: 2;

        &.hidden {
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, 0) scale(0, 1);
            transition: visibility 0s 0.5s, opacity 0.15s, transform 0.35s;
        }
        .search {
            padding: 15px;

            input {
                outline: none;
                border: 1px solid $COLOR_GRAY;
                border-radius: 4px;
                line-height: 30px;
                padding: 0 7px;
                width: 100%;

                &:hover, &:focus {
                    border: 1px solid $COLOR_BLUE_SHADE;
                }
            }
        }
        .markets_view {
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            text-align: left;

            .markets_column {
                display: flex;
                flex-direction: column;
                flex: 1 0 110px;
                border-right: 1px solid $COLOR_GRAY;

                .market {
                    font-size: 12px;
                    padding: 8px 10px;
                    color: $COLOR_BLUE;
                    transition: background 0.2s 0.1s;
                    cursor: pointer;

                    &.active {
                        background: $COLOR_BLUE;
                        color: $COLOR_WHITE;
                    }
                }
            }
            .list {
                display: flex;
                flex-direction: column;
                height: 300px;
                width: 420px;
                overflow-x: scroll;
                padding: 0 10px;

                .market {
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 auto;
                    margin-bottom: 30px;

                    .market_name {
                        font-size: 16px;
                        padding: 0 0 20px;
                        font-weight: 600;
                        flex: 1 0 auto;
                        color: $COLOR_BLUE;
                    }
                    .submarket {
                        display: flex;
                        flex-direction: column;
                        flex: 1 0 auto;
                        margin-bottom: 10px;

                        .submarket_name {
                            font-size: 12px;
                            padding: 10px 0 0;
                            flex: 1 0 auto;
                            color: $COLOR_ORANGE;
                        }
                        .symbols {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            max-width: 400px;
                            flex: 1 0 auto;

                            .symbol_name {
                                padding: 10px 5px 5px 0;
                                line-height: 18px;
                                cursor: pointer;
                                width: 120px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
