#mb-trading-wrapper {
    max-width: 1200px;

    #chart_wrapper {
        display: flex;
        padding-right: 5px;

        #trade_live_chart {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid $COLOR_GRAY;
            padding-right: 1px;
            height: calc(100% - 2px);
            min-height: 600px;

            #webtrader_chart, .webtrader-charts-chart-window-contianer, .chart-view {
                display: flex;
                flex: 1;
                height: auto;
                flex-direction: column;
            }
            #webtrader_chart {
                min-height: 600px;
            }
        }
    }
    #mb_trading {
        font-size: $FONT_SIZE_S;

        #panel {
            #currency_wrapper, .ja-show #payout {
                height: 103px;
            }
            #currency_wrapper .hint {
                font-weight: normal;
                font-size: $FONT_SIZE_XXS;
                width: 100%;
                background-color: transparent;
            }
            .ja-show #payout .current {
                font-size: $FONT_SIZE_XXL;
                font-weight: bold;
                height: 62px;
                display: block;
                line-height: 32px;
                padding-top: 35px !important;
            }
            #payout_amount {
                line-height: 53px;
                white-space: nowrap;
            }
            .ja-hide #payout {
                height: 49px;

                &:focus {
                    outline: 0;
                }
            }
            #payout_list {
                height: 103px;
                background: $COLOR_WHITE;

                .list {
                    background: $COLOR_WHITE;

                    > div {
                        padding: 19px 10px !important;
                        height: 49px;
                        border-right: 2px solid $COLOR_WHITE;
                        margin-bottom: 5px;

                        &:nth-child(4n) {
                            border-right: none;
                        }
                        &.plus {
                            color: $COLOR_WHITE;
                            background: $COLOR_RED;
                        }
                        &.minus {
                            color: $COLOR_WHITE;
                            background: $COLOR_LIGHT_BLUE;
                        }
                        &.green {
                            color: $COLOR_WHITE;
                            background: $COLOR_GREEN;
                        }
                        .hint {
                            font-size: 75%;
                        }
                    }
                }
            }
            .ja-show #currency {
                position: absolute;
                width: 100%;
                height: initial;

                .current {
                    height: 15px;
                    line-height: 15px;
                    padding-top: 35px;
                }
                .list > div {
                    height: 15px;

                    &:hover {
                        height: 15px;
                    }
                }
            }
            .ja-hide #currency .list > div {
                line-height: 39px;
            }
            .gr-row .gr-no-gutter-left {
                padding-right: 0;

                &:first-child {
                    padding-right: 5px;
                }
            }
        }
        .trade_form {
            margin-top: 5px;

            &.no-margin {
                margin-top: 0;
            }
            > div {
                text-align: center;
                background: $COLOR_LIGHT_GRAY;
                position: relative;

                .current {
                    height: 39px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > div {
                        width: 100%;
                    }
                }
                > div {
                    background: $COLOR_LIGHT_GRAY;
                }
                .current, .list > div {
                    padding: 5px !important;
                    cursor: pointer;
                    height: 39px;

                    &:hover {
                        background-color: $COLOR_GRAY;
                    }
                }
                .list {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    background-color: $COLOR_LIGHT_GRAY;

                    > div {
                        background: $COLOR_LIGHT_GRAY;
                    }
                }
            }
            > div#underlying:first-child .list > div {
                line-height: 28px;
                height: 75px;

                > img {
                    height: 40px;
                }
            }
            #underlying {
                margin-top: -5px;

                div.current > div {
                    display: flex;
                }
                img {
                    height: 100%;
                    max-height: 30px;
                }
            }
            #category .gr-row {
                display: -webkit-box;
            }
            .contract-type {
                padding-left: 45px;
                background-repeat: no-repeat;
                background-position: left;
                line-height: 18px;
                height: 36px;
                display: flex;
                width: 50%;

                span {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            #period {
                .start, .end {
                    line-height: 20px;
                    font-weight: bold;
                }
                .duration {
                    font-size: $FONT_SIZE_N;
                }
                .current > div, .list > div {
                    align-items: center;
                }
            }
        }
        .price-table {
            position: relative;
            font-size: $FONT_SIZE_N;

            #disable-overlay {
                position: absolute;
                top: 53px;
                z-index: 1;
                width: 100%;
                height: calc(100% - 43px);
                background-color: rgba(242, 242, 242, 0.5);
            }
            #loading-overlay {
                width: 100%;
            }
            .prices-wrapper {
                .heading > div {
                    line-height: 20px;
                    text-align: center;
                    padding: 10px 0;
                }
                .price-row > div {
                    line-height: 35px;
                    padding: 3px 0;
                    text-align: center;
                }
                .price-row .barrier {
                    line-height: 18px;
                    display: flex;
                    align-self: center;
                }
                .sell-price {
                    font-size: $FONT_SIZE_XS;
                    line-height: 10px;

                    &.hint {
                        font-size: $FONT_SIZE_XXS;
                    }
                }
                .price-rows .sell-price {
                    height: 10px;
                }
                .price-row div:last-child .buy-price .price-button {
                    background: $COLOR_RED;
                }
                .price-row:nth-child(odd) {
                    background: $COLOR_LIGHT_GRAY;
                }
                .base-value {
                    font-size: $FONT_SIZE_XXS;
                    display: inline-block;
                    margin-left: 5px;

                    &:before {
                        content: '(';
                    }
                    &:after {
                        content: ')';
                    }
                }
                .dynamics {
                    display: inline-block;
                    width: 10px;
                    height: 15px;
                    background-repeat: no-repeat;
                    vertical-align: middle;

                    &.up {
                        background-image: svg-icon('up', $COLOR_BLACK);
                    }
                    &.down {
                        background-image: svg-icon('down', $COLOR_BLACK);
                    }
                }
                .inactive {
                    color: $COLOR_GRAY;

                    &.price-button {
                        color: $COLOR_WHITE;
                        background: $COLOR_GRAY !important;
                        opacity: 1;
                        cursor: default;
                        overflow: visible;
                    }
                    &:hover {
                        opacity: 1 !important;
                    }
                    .dynamics {
                        &.up {
                            background-image: svg-icon('up', $COLOR_GRAY);
                        }
                        &.down {
                            background-image: svg-icon('down', $COLOR_GRAY);
                        }
                    }
                }
                .price-button {
                    width: 100%;
                    color: $COLOR_WHITE;
                    text-align: center;
                    line-height: 100%;
                    background: $COLOR_LIGHT_BLUE;
                    border-radius: 3px;
                    padding: 0;
                    cursor: pointer;
                    font-size: $FONT_SIZE_S;
                    border: 0;
                    min-height: 30px;
                    position: relative;

                    .value-wrapper {
                        margin-left: -15px;

                        .dynamics {
                            &.up {
                                background-image: svg-icon('up', $COLOR_WHITE);
                            }
                            &.down {
                                background-image: svg-icon('down', $COLOR_WHITE);
                            }
                        }
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        #trading_status {
            margin: 0;
            display: flex;

            div > div {
                &:first-child {
                    padding-right: 2px;
                }
                &:nth-child(2) {
                    padding-left: 2px;
                }
                .trading-status {
                    height: 40px;
                    display: block;

                    span {
                        padding: 9px 0;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 31px;
                        line-height: 31px;

                        &#allow {
                            background-image: svg-icon('unlock', $COLOR_BLACK);

                            &.selected {
                                background-image: svg-icon('unlock', $COLOR_WHITE);
                            }
                        }
                        &#disallow {
                            background-image: svg-icon('lock', $COLOR_BLACK);

                            &.selected {
                                background-image: svg-icon('lock', $COLOR_WHITE);
                            }
                        }
                        &.selected {
                            color: $COLOR_WHITE;
                            background-color: $COLOR_BLUE;
                        }
                    }
                }
            }
        }
        .remaining-time {
            color: $COLOR_BLACK;

            &.alert {
                color: $COLOR_RED;
            }
        }
        #spot {
            &.down {
                color: $COLOR_LIGHT_BLUE;
            }
            &.up {
                color: $COLOR_RED;
            }
        }
        @media screen and (max-width: 768px) {
            .gr-12-p {
                padding-bottom: 10px;
            }
        }
        @media screen and (max-width: 480px) {
            .price-table {
                #disable-overlay {
                    top: 43px;
                }
                .price-row .price-button {
                    font-size: $FONT_SIZE_N;
                }
            }
            .sell-price {
                font-size: $FONT_SIZE_XXS;
            }
            .heading, #category {
                font-size: $FONT_SIZE_S;
            }
            .price-table .prices-wrapper .heading > div {
                padding: 5px 0;
            }
            .ja-show #payout .hint {
                line-height: 15px;
            }
        }
    }
    #trading_bottom_content {
        #tab_portfolio-content {
            overflow-x: auto;
        }
        #tab_explanation-content #winning_higherlower {
            display: flex;
            flex-direction: column;

            p {
                margin-top: 0;

                &:first-child {
                    order: 2;
                }
            }
        }
    }
}
