#trading-times, #asset-index {
    table {
        margin-top: -2px;
    }
    tr:nth-child(1) th {
        background-color: $COLOR_GRAY_SHADE;
    }
    th {
        line-height: 30px;

        &.submarket-name {
            border-bottom: 1px solid $COLOR_DARK_GRAY !important;
            text-align: center !important;
        }
        &.asset {
            width: 24%;
        }
        &.opens, &.closes, &.settles {
            width: 12%;
        }
        &.upcomingevents {
            width: 40%;
        }
    }
    td.asset {
        font-weight: 700;
    }
}

#asset-index {
    th {
        width: 16%;

        &:nth-child(2):nth-last-child(1) {
            width: 24%;
        }
        &:nth-child(2):nth-last-child(2), &:nth-child(3):nth-last-child(1) {
            width: 18%;
        }
    }
    .asset {
        width: 18%;
    }
}
