@mixin ul_segmented_navigation {
    box-shadow: inset 0 0 0 1px rgba($COLOR_BLUE, 0.2);
    background-color: $COLOR_LIGHT_GRAY;
    color: $COLOR_BLUE;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@mixin li_segmented_element {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    padding: 3px 0;
    text-align: center;

    &.active {
        color: $COLOR_WHITE;
        background-color: $COLOR_BLUE;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#trading_init_progress {
    cursor: pointer;
    /*background-image: url('../images/pages/binary-symbol-logo.png');
    background-image: url('../images/pages/binary-symbol-logo.svg'), none;
    background-size: contain;*/
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -5rem;
    z-index: 9999;
}

#trading_socket_container {
    font-size: $FONT_SIZE_N;
    position: relative;
    opacity: 0;

    #contract_form_name_nav {
        border-bottom: none;
        font-size: $FONT_SIZE_N;

        > li {
            cursor: pointer;
            padding: 0;

            a.tm-a {
                padding: 0 5px;
                width: auto;
                font-size: $FONT_SIZE_S;
                line-height: 28px;
                white-space: nowrap;
            }
            .tm-ul-2 {
                top: 29px;
                margin-top: -1px;
                border-top: 1px solid $COLOR_GRAY;
            }
        }
    }
    #spot {
        line-height: 25px;
        white-space: nowrap;
        padding: 3px;
        border-radius: 5px;
        @include BIDIR_PROP(margin-right, margin-left, 8px);

        &.error {
            font-style: italic;
        }
    }
    &.show {
        animation: fade 1s;
        animation-fill-mode: forwards;
    }
    select, input {
        border-radius: 5px;
        box-sizing: border-box;
        height: 28px;
    }
    label {
        line-height: 28px;
    }
    #contract_market_form_container {
        height: 28px;

        .tm-li {
            height: 28px;
            vertical-align: top;
        }
    }
    .button button {
        cursor: pointer;
    }
    .row, .row-inner {
        display: flex;
        justify-content: space-around;
    }
    .col, .col-inner {
        flex: 1;
    }
    .row {
        flex-direction: row;
        padding: 10px 0;
    }
    .row-inner {
        flex-direction: column;

        .col-inner {
            margin-bottom: 5px;
        }
    }
    .form_label input, .form_label select {
        max-width: 170px;
    }
    .big-col {
        flex: 1.5;
    }
    #expiry_type_endtime {
        flex-wrap: wrap;
    }
    #contract_form_content_wrapper {
        padding-top: 0.5em;
    }
    #contract_symbol_container {
        display: inline-flex;
        padding: 0;

        #contract_markets_container {
            text-align: right;
            @include BIDIR_PROP(margin-right, margin-left, 1rem);
        }
    }
    #contract_container {
        align-items: center;
        padding-top: 25px;
        position: relative;

        #contract_form_container .col {
            @include BIDIR_PROP(margin-right, margin-left, 1rem);
        }
        .overlay_container {
            width: 100%;
            display: none;
            background: transparent;
            z-index: 9;

            &#loading_container3 {
                background: $COLOR_LIGHT_GRAY;
                opacity: 0.5;
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
            }
        }
        border: 1px solid $COLOR_GRAY;
        flex: 1 0 auto;

        input[type=number] {
            -moz-appearance: textfield;
        }
        .gr-gutter-left {
            padding-left: 5px;
        }
    }
    .contract_heading {
        text-transform: capitalize;
        font-weight: bold;
        padding-top: 2.4em;
        text-align: center;

        &.ASIANU {
            background: url('../images/pages/trade/asian-u_1.svg') no-repeat top center;
        }
        &.ASIAND {
            background: url('../images/pages/trade/asian-d_1.svg') no-repeat top center;
        }
        &.DIGITDIFF {
            background: url('../images/pages/trade/differs_1.svg') no-repeat top center;
        }
        &.DIGITMATCH {
            background: url('../images/pages/trade/matches_1.svg') no-repeat top center;
        }
        &.DIGITEVEN {
            background: url('../images/pages/trade/digits_even_1.svg') no-repeat no-repeat top center;
            background-size: 40%;
        }
        &.DIGITODD {
            background: url('../images/pages/trade/digits_odd_1.svg') no-repeat no-repeat top center;
            background-size: 40%;
        }
        &.DIGITOVER {
            background: url('../images/pages/trade/digits_over_1.svg') no-repeat no-repeat top center;
            background-size: 40%;
        }
        &.DIGITUNDER {
            background: url('../images/pages/trade/digits_under_1.svg') no-repeat no-repeat top center;
            background-size: 40%;
        }
        &.CALL {
            background: url('../images/pages/trade/rise_1.png') no-repeat top center;
        }
        &.PUT {
            background: url('../images/pages/trade/fall_1.png') no-repeat top center;
        }
        &.CALLE {
            background: url('../images/pages/trade/rise_1.png') no-repeat top center;
        }
        &.PUTE {
            background: url('../images/pages/trade/fall_1.png') no-repeat top center;
        }
        &.ONETOUCH {
            background: url('../images/pages/trade/touch_1.png') no-repeat top center;
        }
        &.NOTOUCH {
            background: url('../images/pages/trade/no-touch_1.png') no-repeat top center;
        }
        &.RANGE {
            background: url('../images/pages/trade/stay-in-between_1.png') no-repeat top center;
        }
        &.UPORDOWN {
            background: url('../images/pages/trade/stay-out_1.png') no-repeat top center;
        }
        &.EXPIRYRANGEE {
            background: url('../images/pages/trade/ends-between_1.png') no-repeat top center;
        }
        &.EXPIRYMISSE {
            background: url('../images/pages/trade/ends-outside_1.png') no-repeat top center;
        }
        &.EXPIRYRANGE {
            background: url('../images/pages/trade/ends-between_1.png') no-repeat top center;
        }
        &.EXPIRYMISS {
            background: url('../images/pages/trade/ends-outside_1.png') no-repeat top center;
        }
        &.LBFLOATPUT {
            background: url('../images/pages/trade/low_icon.svg') no-repeat center top;
            background-size: 50%;
        }
        &.LBFLOATCALL {
            background: url('../images/pages/trade/high_icon.svg') no-repeat center top;
            background-size: 50%;
        }
        &.LBHIGHLOW {
            background: url('../images/pages/trade/high_low_icon.svg') no-repeat center top;
            background-size: 50%;
        }
    }
    #contract_prices_container {
        position: relative;
        @include BIDIR_PROP(margin-left, margin-right, 1em);
        margin-top: 28px;

        .price_container {
            border: 1px solid $COLOR_GRAY;
            align-items: stretch;
            padding: 0;
            flex: 1 0 auto;
            display: none;

            > .col.row {
                flex: 1 0 auto;
            }
            > .row {
                padding: 0;
            }
            .big-col {
                flex: 3;
            }
            .contract_purchase {
                margin-bottom: 6px;
                width: 90%;
                display: inline-flex;

                .purchase_button {
                    cursor: pointer;
                    width: 100%;
                }
                &.button-disabled .purchase_button {
                    cursor: auto;
                }
            }
        }
        #contract_purchase_reference {
            margin-bottom: 10px;
            padding: 7px;
        }
        #confirmation_error {
            padding: 20px;
            font-style: italic;
            vertical-align: middle;
            line-height: $FONT_SIZE_XL;
        }
        .price_container#price_container_top {
            margin-bottom: 1rem;
        }
        .price_container#price_container_middle {
            .price_wrapper {
                margin: 25px 0 10px;
                padding: 0 15px 5px;
            }
            .payout_wrapper {
                .contract_quantity {
                    font-weight: 700;
                }
            }
            .contract_longcode {
                text-align: center;
                margin: 10px 15px;
                line-height: 1.4em;
            }
        }
        .price_comment, .contract_error, #contract_purchase_balance {
            background-color: $COLOR_GRAY;
            line-height: 1.5rem;
            font-size: $FONT_SIZE_XS;
            padding: 5px;
            text-align: center;
            flex: 0 0 auto;
        }
        #contract_purchase_balance {
            position: absolute;
            bottom: 0;
            color: $COLOR_WHITE;
            box-sizing: border-box;
            display: block;
            background-color: $COLOR_ORANGE;
            width: 100%;
        }
        #confirmation_message {
            padding-bottom: 34px;
        }
        #contract_purchase_descr {
            background-color: $COLOR_WHITE;
            border: 2px solid $COLOR_GRAY;
            margin: 0 10px;
            padding: 10px;
            text-align: justify;
            line-height: 1.4em;
        }
        #contract_purchase_profit_list, #contract_purchase_spots .row {
            padding: 3px 0;
            flex-direction: row !important;
        }
        #contract_purchase_profit_list {
            margin: 10px 0;

            > div {
                display: flex;
                flex-direction: column;
                line-height: 1.4em;
                padding: 0 10px;

                > p {
                    margin: auto 0 5px;
                    padding-top: 10px;
                }
            }
        }
        #contract_purchase_spots {
            height: 110px;
            overflow: hidden;

            &.won {
                background-color: rgba(46, 136, 54, 0.2);
            }
            &.lost {
                background-color: rgba(204, 0, 0, 0.1);
            }
        }
        #contract_purchase_payout {
            border-right: 1px solid $COLOR_GRAY;
        }
        #contract_purchase_profit {
            border-left: 1px solid $COLOR_GRAY;
        }
        .contract_amount, .contract_payout, .payout, .stake {
            @include BIDIR_VALUE(padding, 3px, 3px);
            line-height: 1.5;
            font-size: $FONT_SIZE_N;
            flex: 1 0 auto;
            display: flex;
            align-items: center;
        }
        .stake, .payout {
            padding: 0;
            justify-content: flex-end;
        }
        .contract_amount, .contract_payout, .contract_multiplier {
            font-weight: bold;
            font-size: $FONT_SIZE_N;
            border-radius: 5px;
            justify-content: center;
        }
    }
    #expiry_type_duration {
        flex-wrap: wrap;
    }
    #contracts_list {
        position: relative;
    }
    .overlay_container {
        width: 100%;
        display: none;
        background: transparent;
        z-index: 9;

        .close {
            z-index: 10;
        }
        &#loading_container2 {
            background: $COLOR_LIGHT_GRAY;
            opacity: 0.5;
            display: block;
            position: absolute;
            height: 100%;
            flex: 1 0 auto;
        }
    }
    #contract_confirmation_container {
        background-color: $COLOR_LIGHT_GRAY;
        text-align: center;

        a.close {
            background-color: $COLOR_BLUE;
            border-radius: 0 0 0 $BORDER_RADIUS;
        }
        #confirmation_message_container {
            padding-top: 15px;
        }
    }
    #contract_prices_container .price_container .price_wrapper {
        text-align: center;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        @include BIDIR_PROP(padding-left, padding-right, 30px);

        &.small {
            width: 95px;
        }
        div {
            padding: 0 5px;
        }
        .contract_heading {
            display: block;
            float: left;
            width: 80px;
            padding-left: 5px;
        }
        .amount_wrapper {
            float: left;
            width: 100%;

            .amount_wrapper_div {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;

                &, .contract_amount, .contract_payout {
                    vertical-align: middle;
                }
                div {
                    flex-grow: 1;
                }
                .stake_wrapper {
                    margin-left: 20px;
                }
                .payout_wrapper {
                    margin-right: 20px;
                }
            }
        }
        .contract_amount, .contract_payout, .stake, .payout {
            display: inline-flex;
        }
    }
    #duration_amount {
        @include BIDIR_PROP(margin-right, margin-left, 5px);
    }
    #duration_units {
        @include BIDIR_PROP(margin-right, margin-left, 10px);
    }
    .small_width_input {
        width: 70px;
        margin-right: 5px;
    }
    #currency {
        margin-bottom: 5px;
    }
    #expiry_date {
        width: 175px;
        @include BIDIR_PROP(margin-right, margin-left, 5px);
        margin-bottom: 5px;
    }
    #expiry_date, #expiry_time {
        font-size: $FONT_SIZE_N;
    }
    #date_start {
        margin-bottom: 5px;
    }
    #time_start_row {
        white-space: nowrap;

        .time_start {
            margin-left: 5px;
        }
    }
    .barrier_class input {
        width: 175px;
        @include BIDIR_PROP(margin-right, margin-left, 5px);
    }
    .medium_width_input {
        width: 100px;
    }
    #amount {
        margin-top: -1px;
    }
    #underlying {
        @include BIDIR_PROP(margin-right, margin-left, 10px);
        margin-bottom: 5px;
    }
    #symbol_tip {
        @include BIDIR_PROP(padding-right, padding-left, 8px);
        padding-bottom: 5px;
        cursor: pointer;
    }
}

#open_positions_container {
    display: none;
}

@media all and (max-width: 480px) {
    #trading_socket_container {
        #contract_market_form_container ul#contract_form_name_nav a.tm-a {
            font-size: $FONT_SIZE_XXS;
        }
        #contract_form_content {
            #expiry_type {
                max-width: 100%;
            }
            #duration_amount {
                margin-bottom: 5px;
            }
        }
        .contract_purchase {
            width: 70% !important;
        }
    }
}
@media all and (max-width: 768px) {
    #trading_socket_container {
        #contract_market_form_container {
            height: auto;
        }
        #contract_form_content {
            margin-top: 0;
        }
        #contract_form_content_wrapper {
            flex-direction: column;
        }
        #contract_symbol_container {
            text-align: center;

            .row {
                flex-direction: column;

                .col {
                    margin-bottom: 5px;
                }
            }
            #contract_markets_container {
                margin-right: 0;
                text-align: inherit;
            }
        }
        #contract_prices_container {
            #contract_purchase_spots {
                height: auto;
            }
            #price_container_top {
                margin-right: 0 !important;
            }
            .price_wrapper {
                flex-direction: row !important;

                &.small {
                    width: auto;
                }
                .amount_wrapper {
                    width: 70%;
                }
            }
            .row {
                flex-direction: column;

                .col {
                    margin-bottom: 5px;

                    &.price_comment {
                        margin: 0;
                    }
                }
            }
        }
    }
    div#contract_market_form_container ul#contract_form_name_nav {
        white-space: nowrap !important;

        > li.tm-li {
            /*float: none;
            width: 100%; */
            ul.tm-ul-2 {
                position: absolute !important;
                top: 28px !important;
                display: none !important;
            }
            &.hover ul, &.active ul {
                display: block !important;
            }
        }
    }
    #trading_socket_container #contract_prices_container .price_container .price_wrapper {
        width: 100%;

        &.small {
            width: auto;
        }
    }
}

@media all and (max-width: 768px) {
    #trading_socket_container {
        #contract_form_content_wrapper {
            flex-direction: column;

            > .col {
                flex: 1 0 auto;
            }
        }
        #contract_form_content {
            margin-top: 20px;
        }
        #contract_prices_container {
            margin-left: 0;
        }
        #expiry_time {
            width: 175px;
        }
    }
}

#content ul.tm-ul li {
    &.active, &.ui-tabs-active {
        background: $COLOR_BLUE;
        color: $COLOR_WHITE;
    }
}

#analysis_daily_prices_form {
    text-align: center;

    input {
        margin: 0 10px;
    }
}

.error-field {
    border-color: $COLOR_RED !important;
    color: $COLOR_RED;
}

#trading_bottom_content {
    margin-top: 15px;
    font-size: $FONT_SIZE_N;

    .tab-menu {
        background: transparent !important;
        border: 0 !important;
        height: auto !important;
    }
    ul#betsBottomPage {
        @include ul_segmented_navigation;
        font-size: $FONT_SIZE_S;
        border-bottom: none;
        margin: 0;

        li {
            @include li_segmented_element;
            background: transparent;
            border-radius: 0;
            padding: 6px 0;

            a {
                line-height: 1;
                top: 0;
                font-size: $FONT_SIZE_N;
            }
            &.active a {
                color: inherit;
                background-image: none;
            }
        }
    }
    #bet_bottom_content {
        padding-top: 1em;
    }
    #webtrader_chart {
        width: 100%;
        height: 630px;
        overflow-y: hidden;
    }
    #last_digit_histo_form {
        overflow: hidden;
        margin-bottom: 20px;
    }
}

#deposit_btn_trade, #upgrade_btn_trade {
    float: right;
    margin: 0 0 0 10px;

    span {
        height: 20px;
        line-height: 20px;
        background-color: $COLOR_ORANGE;

        &:hover {
            background-color: $COLOR_DARK_ORANGE;
        }
        img {
            margin-right: 5px;
        }
    }
}

@media all and (max-width: 768px) {
    #trading_bottom_content ul#betsBottomPage {
        flex-direction: column;
    }
}
/*
 * DO NOT ADD ANY COMMON STYLING BELOW THIS. ALL OTHER STYLING GO ABOVE THIS
 */
