// styling for websocket pages that are too short or simple to need their own styling page

.api_token {
    fieldset {
        margin: 20px 0;

        label {
            text-decoration: none;
            @include BIDIR_PROP(margin-right, margin-left, 15px);
        }
    }
    table {
        tr {
            &.deleting {
                background-color: $COLOR_LIGHT_GRAY;
            }
            &.new {
                background-color: rgba(46, 136, 54, 0.2);
            }
        }
    }
}

#applications-container, .api_token {
    table td, th {
        text-align: center !important;
        vertical-align: middle;
        line-height: 30px;

        .button {
            margin: 3px 0;
        }
    }
}

.epg_forwardws-content iframe {
    height: 800px;
}

.detailsws-content {
    #address_form {
        select.select-hidden {
            min-width: 205px;
        }
        @media all and (max-width: 480px) {
            div.select {
                width: 85%;

                select.select-hidden {
                    min-width: unset;
                }
            }
        }
    }
}

#limits-container thead {
    @include BIDIR_VALUE(text-align, left, right);
}

#frm_assessment, #financial-form {
    div.select {
        min-width: 150px;
    }
    #source_of_wealth {
        min-width: 300px;
    }
    @media screen and (max-width: 480px) {
        label {
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }
}

#financial-form {
    @media screen and (max-width: 480px) {
        div.select {
            width: calc(100% - 3rem);
        }
    }
}

#frm_account_transfer {
    div.select {
        select.select-hidden {
            min-width: 200px;
        }
        @media screen and (max-width: 480px) {
            width: calc(100% - 1rem);
        }
    }
}

#profit-table-container {
    th {
        padding-right: 8px;
    }
    td {
        padding-right: 8px;
    }
    .pl {
        text-align: right !important;
    }
    #pl-day-total .buy-date {
        flex-grow: 6;
        flex-shrink: 6;
    }
    .contract {
        flex: 2 1 100px;
        padding-right: 20px;
        min-width: 150px;
    }
    .new-width {
        min-width: 100px;
    }
}

#statement-container {
    #download_csv {
        line-height: 28px;
    }
    .desc {
        flex: 2 1 100px;
        padding-right: 20px;
        word-break: break-word;
        min-width: 130px;
    }
    .act {
        flex: 0.8 1 35px;
    }
    #account_statistics {
        margin: 30px 0;
        border: 1px solid $COLOR_LIGHT_GRAY;

        div {
            align-self: center;
            padding: 20px;

            @media (max-width: 480px) {
                padding: 10px 20px;
            }
            @media (max-width: 576px) {
                padding: 10px;
            }
        }
        p {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            line-height: 1.5;

            &:not(.title) {
                margin-top: 5px;
            }
        }
    }
}

#profit-table-container, #statement-container {
    #date_to {
        width: 100%;
        box-sizing: border-box;
    }
}

#settings_container {
    .round-box {
        border-radius: $BORDER_RADIUS;
    }
    .notice-circle {
        margin: auto 15px;
    }
}

@media screen and (max-width: 480px) {
    .api_token, #applications-container {
        table td, table th {
            font-size: $FONT_SIZE_XS;
        }
        table button {
            font-size: $FONT_SIZE_XS;
            padding: 10px 15px;
        }
    }
}
