<p>[% l('Please send us the following documents in order to verify your identity and authenticate your account:') %]</p>
<ul class="bullet">
    <li>[% l('Proof of identity - A scanned copy of your passport, driving license (either provisional or full), or identity card that shows your full name and date of birth.') %]</li>
    <li>[% l('Proof of address - A scanned copy of a utility bill or bank statement that\'s not more than three months old.') %]</li>
</ul>
<p class="show_for_mt5 invisible">[% l('Kindly send us these documents within 5 days to keep your MT5 account active.') %]</p>
<p>[% l('If you have any questions, kindly contact our Customer Support team at <a href="mailto:[_1]">[_1]</a>.', 'support@binary.com') %]</p>
