[% support_link = "<a href='mailto:%' rel='nofollow'>%</a>" | replace('%', 'support@binary.com') %]
<p>[% l('Please send the following documents to [_1] in order to verify your identity and authenticate your account:', support_link) %]</p>
<ul class="checked">
    <li>[% l('Proof of identity - A scanned copy of your passport, driving license (either provisional or full), or identity card that shows your full name and date of birth.') %]</li>
    <li>[% l('Proof of address - A scanned copy of a utility bill or bank statement that\'s not more than three months old.') %]</li>
</ul>
<p class="show_for_mt5 invisible">[% l('Kindly send us these documents within 5 days to keep your MT5 account active.') %]</p>
<p>[% l('Got questions? [_1]Contact us[_2] for help.', '<a href="' _ request.url_for('contact') _ '">', '</a>') %]</p>
