.tab-menu-wrap.grd-container.grd-hide-mobile.grd-hide-phablet
  .grd-grid-12
    %ul{:class=>'items'}
      - foreach my $item (@$menu) {
      - my ($id, $url, $text) = @{$item}{'id', 'url', 'text'};
      - my $class = $item->{'class'} ? $item->{'class'} . " item" : "item";
      - my $link_class = $item->{'link_class'} ? $item->{'link_class'} . " link" : "link";
      - my $link_target = $item->{'target'} ? $item->{'target'} : "";
      - my $sub_items = $item->{sub_items} || '';
      %li{:id=>"#{$id}", :class => $class}
        %a{:href => "#{$url}", :class => $link_class, :target => $link_target}= $text
        - if ($sub_items) {
          %ul{:class=>"sub_items"}
            - foreach my $sub_item (@{ $sub_items }) {
            - my ($sub_id, $sub_url, $sub_text) = @{$sub_item}{'id', 'url', 'text'};
            - my $sub_class = $sub_item->{'class'} ? $sub_item->{'class'} . " sub_item" : "sub_item";
            - my $link_sub_class = $sub_item->{'link_class'} ? $sub_item->{'link_class'} . " link" : "link";
            - my $link_sub_target = $sub_item->{'target'} ? $sub_item->{'target'} : "";
              %li{:id =>"#{$sub_id}", :class => $sub_class}
                %a{:href=>"#{$sub_url}", :class => $link_sub_class, :target => $link_sub_target}= $sub_text
            - }
        - }
      - }
