#fb-root
.social-icons
  %a{:href=>"http://www.youtube.com/user/BinaryTradingVideos", :target=>"_blank"}
    %img.responsive.social-network-icon{:src => url_for('images/pages/footer/youtube.svg')}
  %a{:href=>"https://plus.google.com/106251151552682209951", :target=>"_blank", :rel=>"publisher"}
    %img.responsive.social-network-icon{:src => url_for('images/pages/footer/google-plus.svg')}
  %a{:href=>"https://www.facebook.com/binarydotcom", :target=>"_blank"}
    %img.responsive.social-network-icon{:src => url_for('images/pages/footer/facebook.svg')}
  %a{:href=>"https://www.twitter.com/Binarydotcom", :target=>"_blank"}
    %img.responsive.social-network-icon{:src => url_for('images/pages/footer/twitter.svg')}
  %a{:href=>"https://www.linkedin.com/company/binary-com", :target=>"_blank"}
    %img.responsive.social-network-icon{:src => url_for('images/pages/footer/linkedin.svg')}
