[% PROCESS components/forms.html.tt %]

[% BLOCK verification_code %]
    [% INCLUDE form_row label=l("Verification token") id='verification_code' type='text' attributes='maxlength="8" autocomplete="off"'
        hint=l("Please check your email for the value of this token") %]
[% END %]
