#forex-specs, #volatility-specs, #cash-specs {
    table td {
        font-size: 0.9em;
        text-align: center;
        &:first-child {
            white-space: nowrap;
            font-size: inherit;
            text-align: left;
        }
    }
}

@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }
}

.gr-prefix-1 {
    margin: 1em 0 1em 2em !important;
}

.button.full-width, .button.full-width span {
    display: block;
}
