#margin_policy {
    .mt-box {
        margin: 0 auto;
        width: 700px;
        padding: 10px;
        .mt-box-content {
            background-color: $COLOR_LIGHT_GRAY;
            padding: 20px;
        }
    }
    .mt-img {
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    // Leverage & Margin icons
    .l1-icon {
        background-image: url('../images/pages/metatrader/margin-policy/l1_ai.svg');
        height: 300px;
    }
    .l2-icon {
        background-image: url('../images/pages/metatrader/margin-policy/l2_ai.svg');
        height: 150px;
    }
    .mr1-icon {
        background-image: url('../images/pages/metatrader/margin-policy/mr1_ai.svg');
        height: 300px;
    }
    .mr2-icon {
        background-image: url('../images/pages/metatrader/margin-policy/mr2_ai.svg');
        height: 150px;
    }
    // <hr> separator
    .separator {
        background-color: $COLOR_LIGHT_GRAY;
        height: 2px;
        display: block;
        border: none;
    }
}
