/* Multilevel numbered list */
#mt-tnc {
    ol {
        counter-reset: item1;
        padding-left: 0.2em;
        li {
            display: block;
            position: relative;
            ol {
                li {
                    margin: 0.5em 0 0.5em 1.25em !important;
                }
            }
            &:before {
                content: counter(item1)'.';
                counter-increment: item1;
                position: absolute;
                margin-right: 100%;
                right: 10px;
            }
        }
        ol {
            counter-reset: item2;
            li {
                &:before {
                    content: counter(item1)'.'counter(item2)'.';
                    counter-increment: item2;
                }
            }
            ol {
                counter-reset: item3;
                li {
                    &:before {
                        content: counter(item1)'.'counter(item2)'.'counter(item3)'.';
                        counter-increment: item3;
                    }
                }
                ol {
                    counter-reset: item4;
                    li {
                        &:before {
                            content: counter(item1)'.'counter(item2)'.'counter(item3)'.'counter(item4)'.';
                            counter-increment: item4;
                        }
                    }
                }
            }
        }
    }
}
