<div class="grd-grid-12">
    <h2>[% l("Pre-contract Document") %]</h2>
    <p>
      [% l("Japan website Pre-contract Document Paragraph 1") %]
    </p>
    [% l("Japan website Download Text for Pre-contract Document") %]
</div>
