<div class="grd-grid-12">
    <h2>[% l("Terms and Conditions") %]</h2>
    <p>
      [% l("Japan website Terms and Conditions Paragraph 1") %]
    </p>
    [% l("Japan website Download Text for Terms and Conditions Document") %]
</div>
