.lang-switcher-list {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: $COLOR_WHITE;

    .lang-switcher-list-header {
        cursor: pointer;
        padding: 16px;
        position: relative;

        span.lang-switcher-list-desc {
            font-size: 0.875rem; /* stylelint-disable-line number-max-precision */
            padding-left: 3rem;

            &:before {
                content: '\2190';
                font-size: 2rem;
                position: absolute;
                left: 10px;
                top: 13px;
            }
        }
    }
    .lang-switcher-language {
        cursor: pointer;
        padding: 2px 16px;
        position: relative;
        background: $COLOR_WHITE;

        p.lang-switcher-name {
            font-size: 0.75rem;
            padding-left: 3rem;
            line-height: 0.5em;
            font-weight: 300;

            &:before {
                content: '\25A2';
                font-size: 1rem;
                position: absolute;
                left: 2rem;
                top: 15px;
            }
        }
        &.active, &.active:hover, &:focus, &:active {
            background-color: $COLOR_BLUE;
            color: $COLOR_WHITE;
            font-weight: 400;
        }
        &:hover {
            background: $COLOR_LIGHT_GRAY;
        }
    }
}
