.portfolio-drawer {
    width: $PORTFOLIO_DRAWER_WIDTH;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
    position: fixed;
    z-index: 100;
    top: $HEADER_HEIGHT;
    right: 0;
    background: $COLOR_LIGHT_RED; // TODO: remove
    transform: translateX(100%);
    transition: transform 0.25s;

    &--open {
        transform: translateX(0);
    }
}
