.portfolio-drawer {
    width: $PORTFOLIO_DRAWER_WIDTH;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
    position: fixed;
    z-index: 50;
    top: $HEADER_HEIGHT;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.25s;
    border-left: 1px solid $COLOR_GRAY;
    background-color: $COLOR_WHITE;
    box-sizing: border-box;
    padding: 0 10px;

    &--open {
        transform: translateX(0);
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 0;
    }
    &__title {
        font-size: 13px;
        font-weight: bold;
        color: $COLOR_BLUE;
    }
    &__icon-main {
        margin-right: 8px;
    }
    &__icon-close {
        display: inline-block;
        height: 16px;
        width: 16px;
        background-image: url('../images/app_2/footer/ic_close_blue_light.svg');
        background-size: 16px;
        margin-left: auto;
    }
    /*
        PORTFOLIO DRAWER CARD STARTS
    */
    &-card {
        height: 58px;
        box-sizing: border-box;
        padding: 8px;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr auto;
        border: 1px solid $COLOR_GRAY;
        border-radius: 2px;

        &__symbol {
            font-size: 10px;
            color: $COLOR_BLUE;
        }
        &__indicative {
            font-size: 12px;
            color: $COLOR_BLUE;
            font-weight: bold;
            text-align: right;
        }
        &__remaining-time {
            font-size: 10px;
            color: $COLOR_BLUE_GRAY;
            text-align: right;
        }
    }
    /*
        PORTFOLIO DRAWER CARD ENDS
    */
}
