$header-height: 40px;

// Trade page animation performance fix #perfmatters
.trade-container + .positions-drawer {
    transition: opacity 0.4s ease;
}

.positions-drawer {
    width: $POSITIONS_DRAWER_WIDTH;
    // removing 2px below for borders
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT} - 2px - (#{$POSITIONS_DRAWER_MARGIN} * 3));
    margin-top: #{$POSITIONS_DRAWER_MARGIN * 2};
    position: fixed;
    z-index: 2;
    top: $HEADER_HEIGHT;
    left: 4px;
    border: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
    background-color: $COLOR_LIGHT_BLACK_4_SOLID;
    box-sizing: border-box;
    opacity: 0;
    color: $COLOR_LIGHT_BLACK_1;
    transform: translateX(-100%);
    will-change: transform, opacity;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: $BORDER_RADIUS;

    &--open {
        transform: translateX(#{$POSITIONS_DRAWER_MARGIN});
        opacity: 1;
    }
    &__header {
        height: $header-height;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
    }
    &__body {
        height: calc(100% - #{$header-height});
        padding: 8px 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__title {
        font-size: 14px;
        font-weight: bold;
    }
    &__icon-main {
        margin-right: 8px;
    }
    &__icon-close {
        display: inline-block;
        margin-left: auto;
        cursor: pointer;

        svg {
            height: 16px;
            width: 16px;
        }
    }
    /*
       POSITIONS DRAWER CARD STARTS
   */
    & &-card {
        box-sizing: border-box;
        padding: 8px;
        margin: 0 10px;
        border: 1px solid $COLOR_WHITE;
        background: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        color: $COLOR_LIGHT_BLACK_1;

        &.active {
            cursor: default;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &__grid {
            display: grid;
            grid-template-rows: 1fr auto;

            &-underlying-trade, &-profit-payout {
                grid-template-columns: 1fr 1fr;
            }
            &-profit-payout {
                padding: 8px 0;
                background: $COLOR_LIGHT_BLACK_4;
                border-radius: $BORDER_RADIUS;
                margin-left: -4px;
                margin-right: -4px;
            }
        }
        &__purchase {
            &-price {
                font-size: 12px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
            }
            &-label {
                text-transform: capitalize;
                margin-right: 0.5em;
                font-size: 10px;
                font-weight: normal;
                color: $COLOR_LIGHT_BLACK_1;
            }
        }
        &__type {
            font-size: 12px;
            display: flex;
            justify-content: flex-end;
            margin-right: 0.5rem;
            font-weight: bold;

            .contract-type {
                display: flex;
                flex-direction: row;
                align-items: center;

                .type-wrapper {
                    margin: 0 8px 0px 0;
                }
                span {
                    width: 30px;
                }
            }
        }
        &__symbol {
            font-size: 12px;
            margin-left: 0.5rem;
        }
        &__indicative {
            font-size: 12px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

            &-label {
                color: $COLOR_LIGHT_BLACK_1;
                font-size: 10px;
                font-weight: normal;
                margin-bottom: 0.5em;
            }
            &--price-moved-up {
                color: $COLOR_GREEN_1;
            }
            &--price-moved-down {
                color: $COLOR_RED;
            }
            &--price-stable {
                color: $COLOR_LIGHT_BLACK_1;
            }
            &--no-resale {
                color: $COLOR_LIGHT_BLACK_4;
            }
        }
        &__remaining-time {
            font-size: 10px;
            color: $COLOR_LIGHT_BLACK_2;
            text-align: right;

            .remaining-time {
                display: inline;
            }
        }
        &__profit-loss {
            font-size: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            &-label {
                font-size: 10px;
                color: $COLOR_LIGHT_BLACK_1;
                margin-bottom: 0.5em;
                font-weight: normal;
            }
            &--negative {
                color: $COLOR_RED;

                &:before {
                    content: '-';
                    color: inherit;
                }
            }
            &--positive {
                color: $COLOR_GREEN_2;

                &:before {
                    content: '+';
                    color: inherit;
                }
            }
        }
        &__underlying-name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: bold;
        }
    }
    /*
        POSITIONS DRAWER CARD ENDS
    */
}

// Dark Theme
.theme--dark {
    .positions-drawer {
        background: $COLOR_DARK_BLUE_3;
        border-color: $COLOR_DARK_BLUE_3;
        color: $COLOR_WHITE;

        &-card {
            background: $COLOR_DARK_BLUE_2;
            border-color: $COLOR_DARK_BLUE_2;
            color: $COLOR_WHITE;

            &__remaining-time {
                color: $COLOR_DARK_BLUE_7;
            }
            &.active, &:hover {
                background: $COLOR_DARK_BLUE_5;
                border-color: $COLOR_DARK_BLUE_5;
            }
            &.active {
                border-color: $COLOR_WHITE;
            }
            &__indicative {
                &--no-resale {
                    color: $COLOR_DARK_BLUE_7;
                }
                &--price-stable {
                    color: $COLOR_WHITE;
                }
            }
            &__grid--profit-payout {
                background: $COLOR_DARK_BLUE_3;
            }
            &__purchase-label, &__profit-loss-label, &__indicative-label {
                color: $COLOR_DARK_BLUE_7;
            }
            &:before {
                content: '';
                position: absolute;
                height: 52px;
                width: calc(100% + 2px);
                left: -1px;
                top: -1px;
                border-radius: $BORDER_RADIUS;
                background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
            }
        }
        &__title {
            color: $COLOR_DARK_BLUE_7;
        }
        &__body {
            .positions-empty, p {
                align-self: center;
                color: $COLOR_WHITE;
            }
        }
    }
}
