$header-height: 4em;

// TODO: Split into smaller sass files for card, result-overlay and result-details

// Trade page animation performance fix #perfmatters
.trade-container + .positions-drawer {
    transition: opacity 0.4s ease;
}

.positions-drawer {
    width: $POSITIONS_DRAWER_WIDTH;
    // removing 2px below for borders
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT} - 2px - (#{$POSITIONS_DRAWER_MARGIN} * 4));
    margin-top: #{$POSITIONS_DRAWER_MARGIN * 2};
    position: fixed;
    z-index: 2;
    top: $HEADER_HEIGHT;
    left: 4px;
    border: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
    background-color: $COLOR_LIGHT_BLACK_4_SOLID;
    box-sizing: border-box;
    opacity: 0;
    color: $COLOR_LIGHT_BLACK_1;
    transform: translateX(-100%);
    will-change: transform, opacity;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: $BORDER_RADIUS;

    &--contract-mode {
        &:before {
            background: $COLOR_LIGHT_BLACK_4_SOLID;
            content: '';
            position: absolute;
            top: 38px;
            left: -3px;
            width: calc(100% + 6px);
            height: calc(100% - 32px);
            filter: blur(3px);
        }
        .positions-drawer-card__wrapper:not(.positions-drawer-card__wrapper--active) {
            filter: blur(3px);
            pointer-events: none;
        }
        .btn--alternate {
            filter: blur(3px);
            pointer-events: none;
        }
    }
    &--open {
        transform: translateX(#{$POSITIONS_DRAWER_MARGIN});
        opacity: 1;
    }
    &__header {
        height: $header-height;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1em;
    }
    &__body {
        height: calc(100% - #{$header-height * 2.5});
        padding: 0.8em 0 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__footer {
        position: relative;
        height: 6em;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            width: 100%;
            margin: 8px;
            height: 40px;

            .btn__text {
                font-size: 1.2em;
            }
        }
    }
    &__title {
        font-size: 1.4em;
        font-weight: bold;
    }
    &__icon-main {
        margin-right: 0.8em;
    }
    &__icon-close {
        display: inline-block;
        margin-left: auto;
        cursor: pointer;

        svg {
            height: 1.6em;
            width: 1.6em;
        }
    }
}

// Dark Theme
.theme--dark {
    .positions-drawer {
        background: $COLOR_DARK_BLUE_3;
        border-color: $COLOR_DARK_BLUE_3;
        color: $COLOR_WHITE;

        &--contract-mode:before {
            background: $COLOR_DARK_BLUE_3;
        }
        &-card {
            color: $COLOR_WHITE;

            &__result {
                background-color: $COLOR_DARK_BLUE_2;

                &--won {
                    background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
                }
                &--lost {
                    background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
                }
            }
            &__wrapper {
                background: $COLOR_DARK_BLUE_2;

                &--active:before {
                    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.16);
                }
            }
            &__remaining-time {
                color: $COLOR_DARK_BLUE_7;
            }
            &__indicative {
                &--no-resale {
                    color: $COLOR_DARK_BLUE_7;
                }
                &--price-stable {
                    color: $COLOR_WHITE;
                }
            }
            &__grid-profit-payout {
                background: $COLOR_DARK_BLUE_3;
            }
            &__purchase-label, &__profit-loss-label, &__indicative-label {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &__title {
            color: $COLOR_DARK_BLUE_7;
        }
        &__body {
            .positions-empty, p {
                align-self: center;
                color: $COLOR_WHITE;
            }
        }
        &__footer {
            background: $COLOR_DARK_BLUE_3;
            border-color: $COLOR_DARK_BLUE_3;

            .btn--alternate {
                background-color: $COLOR_DARK_BLUE_5;
                border-color: $COLOR_DARK_BLUE_5;

                .btn__text {
                    color: $COLOR_WHITE;
                    font-weight: bold;
                }
            }
        }
        .result {
            &-details__label {
                color: $COLOR_DARK_BLUE_7;
            }
            &-details__toggle--is-open, &-details__separator {
                border-color: $COLOR_DARK_BLUE_3;
            }
        }
    }
}
