/** @define result-details; */
.result-details {
    &__separator {
        border-top: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
        margin: 4px -9px 4px;
    }
    &__wrapper {
        margin: -2px -9px 0;
        transition: max-height 0.2s ease, opacity 0.2s linear;
        will-change: max-height, opacity;
        padding: 2px 4px;
        height: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        &--is-open {
            opacity: 1;
            max-height: 166px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4px 8px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin: 4px;
        max-width: 80px;
    }
    &__label {
        fonts-size: 0.8em;
        color: $COLOR_LIGHT_BLACK_1;
    }
    &__value {
        padding-top: 4px;
        line-height: 1.5;
        font-size: 1.2em;
    }
    &__toggle {
        margin: -2px -9px -9px;
        padding: 4px 0;
        display: flex;
        justify-content: center;
        border-radius: $BORDER_RADIUS;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        cursor: pointer;

        &--is-open {
            border-top: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
        }
    }
}

/** @define result */
.result {
    &__caption {
        text-transform: capitalize;
        font-size: 1.6em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.25s ease;
        cursor: pointer;
        width: 100%;
        height: calc(100% - 32px);

        &--won {
            color: $COLOR_GREEN_1;
        }
        &--lost {
            color: $COLOR_RED;
        }
    }
    &__close-btn {
        position: absolute;
        top: 2px;
        right: 8px;
        cursor: pointer;

        &:after {
            content: '\0000D7';
            font-size: 24px;
            color: $COLOR_LIGHT_GRAY_1;
        }
    }
    &__icon {
        margin-left: 10px;
    }
}
