$header-height: 4em;

// Trade page animation performance fix #perfmatters
.trade-container + .positions-drawer {
    transition: opacity 0.4s ease;
}

.positions-drawer {
    width: $POSITIONS_DRAWER_WIDTH;
    // emoving 2px below for borders
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT} - 2px - (#{$POSITIONS_DRAWER_MARGIN} * 3));
    margin-top: #{$POSITIONS_DRAWER_MARGIN * 2};
    position: fixed;
    z-index: 2;
    top: $HEADER_HEIGHT;
    left: 4px;
    border: 1px solid $COLOR_LIGHT_BLACK_4_SOLID;
    background-color: $COLOR_LIGHT_BLACK_4_SOLID;
    box-sizing: border-box;
    opacity: 0;
    color: $COLOR_LIGHT_BLACK_1;
    transform: translateX(-100%);
    will-change: transform, opacity;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 4px;

    &--open {
        transform: translateX(#{$POSITIONS_DRAWER_MARGIN});
        opacity: 1;
    }
    &__header {
        height: $header-height;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1em;
    }
    &__body {
        height: calc(100% - #{$header-height});
        padding: 0.8em 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    &__title {
        font-size: 1.4em;
        font-weight: bold;
    }
    &__icon-main {
        margin-right: 0.8em;
    }
    &__icon-close {
        display: inline-block;
        margin-left: auto;
        cursor: pointer;

        svg {
            height: 1.6em;
            width: 1.6em;
        }
    }
    /*
       POSITIONS DRAWER CARD STARTS
   */
    & &-card {
        box-sizing: border-box;
        padding: 0.8em;
        margin: 0 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        row-gap: 0.5em;
        border: 1px solid $COLOR_LIGHT_BLACK_4;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: $COLOR_LIGHT_BLACK_1;

        &.active, &:hover {
            background: $COLOR_LIGHT_BLACK_4_SOLID;
        }
        &.active {
            cursor: default;
            border-color: $COLOR_DARK_BLUE_5;
        }
        &:not(:last-child) {
            margin-bottom: 1.6em;
        }
        &__type {
            font-size: 1.2em;

            .contract-type {
                display: flex;
                flex-direction: row;
                align-items: center;

                .type-wrapper {
                    margin: 0 0.4em 0.4em 0;
                }
                span {
                    width: 3em;
                }
            }
        }
        &__symbol {
            font-size: 1em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__indicative {
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: auto;

            &:after {
                content: '';
                display: inline-block;
                height: 1.6em;
                width: 1.6em;
                background-size: 1.6em 1.6em;
                margin-left: 0.2em;
            }
            &--price-moved-up {
                color: $COLOR_GREEN_1;

                &:after {
                    background-image: url('../images/positions/ic_price_up.svg');
                }
            }
            &--price-moved-down {
                color: $COLOR_RED;

                &:after {
                    background-image: url('../images/positions/ic_price_down.svg');
                }
            }
            &--price-stable {
                color: $COLOR_LIGHT_BLACK_1;

                &:after {
                    background-image: url('../images/positions/ic_price_stable_light.svg');
                }
            }
            &--no-resale {
                color: $COLOR_LIGHT_BLACK_4;

                &:after {
                    background-image: url('../images/positions/ic_no_resale.svg');
                }
            }
        }
        &__remaining-time {
            font-size: 1em;
            color: $COLOR_LIGHT_BLACK_2;
            text-align: right;

            &:before {
                content: '';
                display: inline-block;
                height: 1em;
                width: 1em;
                background-size: 1em 1em;
                margin-right: 0.2em;
                background-image: url('../images/positions/ic_countdown.svg');
                vertical-align: text-top;
            }
            .remaining-time {
                display: inline;
            }
        }
    }
    /*
        POSITIONS DRAWER CARD ENDS
    */
}

// Dark Theme
.theme--dark {
    .positions-drawer {
        background: $COLOR_DARK_BLUE_3;
        border-color: $COLOR_DARK_BLUE_3;
        color: $COLOR_WHITE;

        &-card {
            background: $COLOR_DARK_BLUE_5;
            border-color: $COLOR_DARK_BLUE_5;
            color: $COLOR_WHITE;

            &__remaining-time {
                color: $COLOR_DARK_BLUE_7;
            }
            &.active, &:hover {
                background: $COLOR_DARK_BLUE_5;
            }
            &.active {
                border-color: $COLOR_WHITE;
            }
            &__indicative {
                &--no-resale {
                    color: $COLOR_DARK_BLUE_7;
                }
                &--price-stable {
                    color: $COLOR_WHITE;

                    &:after {
                        background-image: url('../images/positions/ic_price_stable_dark.svg');
                    }
                }
            }
        }
        &__title {
            color: $COLOR_DARK_BLUE_7;
        }
        &__body {
            .positions-empty, p {
                align-self: center;
                color: $COLOR_WHITE;
            }
        }
    }
}
