/** @define positions-drawer-card; weak */

.positions-drawer-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: $COLOR_LIGHT_BLACK_1;

    &__result {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 136px;
        opacity: 0.8;
        background-color: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.25s linear;

        &--won {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 148, 117, 0.16));
        }
        &--lost {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(227, 28, 75, 0.16));
        }
        &:hover {
            background: transparent;

            .result__caption {
                opacity: 0;
            }
        }
        &:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $BORDER_RADIUS;
            z-index: 2;
        }
        &--won:after {
            background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
        }
        &--lost:after {
            background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
        }
    }
    &__wrapper {
        padding: 0.8em;
        margin: 0 1em;
        background: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        transition: transform 0.25s ease, opacity 0.25s linear;
        position: relative;

        &--active:before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
            border-radius: $BORDER_RADIUS;
            pointer-events: none;
        }
        &:first-child {
            margin-top: 2px;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &:last-child {
            margin-bottom: 10px;
        }
        &--enter-done {
            opacity: 1;
            transform: translateY(0);
        }
        &--enter, &--exit {
            opacity: 0;
            transform: translateY(-16px);
        }
    }
    &--active {
        cursor: default;
    }
    &--green:before {
        background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
    }
    &--orange:before {
        background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(255, 153, 51, 0.16));
    }
    &--red:before {
        background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
    }
    &:before {
        content: '';
        position: absolute;
        height: 52px;
        width: calc(100% + 18px);
        left: -9px;
        top: -9px;
        border-radius: $BORDER_RADIUS;
    }
    &__grid {
        display: grid;
        grid-template-rows: 1fr auto;

        &-underlying-trade, &-profit-payout {
            grid-template-columns: 1fr 1fr;
        }
        &-profit-payout {
            padding: 8px 0;
            background: $COLOR_LIGHT_BLACK_4;
            border-radius: $BORDER_RADIUS;
            margin-left: -4px;
            margin-right: -4px;
        }
    }
    &__purchase {
        &-price {
            font-size: 1.2em;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
        &-label {
            text-transform: capitalize;
            margin-right: 0.5em;
            font-size: 10px;
            font-weight: normal;
            color: $COLOR_LIGHT_BLACK_1;
        }
    }
    &__type {
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    &__symbol {
        margin-left: 0.5rem;
        font-size: 1em;
        line-height: 1.5;
    }
    &__indicative {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        &-label {
            color: $COLOR_LIGHT_BLACK_1;
            font-size: 1em;
            font-weight: normal;
            margin-bottom: 0.5em;
        }
        &--price-moved-up {
            color: $COLOR_GREEN_1;
        }
        &--price-moved-down {
            color: $COLOR_RED;
        }
        &--price-stable {
            color: $COLOR_LIGHT_BLACK_1;
        }
        &--no-resale {
            color: $COLOR_LIGHT_BLACK_2;
        }
    }
    &__remaining-time {
        font-size: 1em;
        color: $COLOR_LIGHT_BLACK_2;
    }
    &__profit-loss {
        font-size: 1.2em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        &-label {
            font-size: 1em;
            color: $COLOR_LIGHT_BLACK_1;
            margin-bottom: 0.5em;
            font-weight: normal;
        }
        &--negative {
            color: $COLOR_RED;

            &:before {
                content: '-';
                color: inherit;
            }
        }
        &--positive {
            color: $COLOR_GREEN_2;

            &:before {
                content: '+';
                color: inherit;
            }
        }
    }
    &__underlying-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    &__sell-button {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.25s ease, opacity 0.25s linear;

        &--enter-done {
            opacity: 1;
            transform: translateY(0);
        }
        &--enter, &--exit {
            opacity: 0;
            transform: translateY(-8px);
        }
    }
}

/** @define contract-type */
.contract-type {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__type-wrapper {
        margin: 0 0.4em 0 0;
    }
    &__type-label {
        width: 3em;
    }
}

/** @define btn; */
.btn {
    &--sell {
        margin: 4px !important;
        width: 100%;

        .btn__text {
            font-size: 1.2em;
            font-weight: bold;
            line-height: 1.5;
        }
    }
}

/** @define remaining-time; */
.remaining-time {
    display: inline;
}
