/* Ant style */
/* stylelint-disable color-no-hex */
.btn {
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 15px;
    margin: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    height: 40px;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    outline: 0;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background: $positiveColor;

    &:not([disabled]):hover {
        text-decoration: none;
    }
    &.primary {
        color: $COLOR_WHITE;

        &.orange {
            background: #e98024;

            &:hover {
                background: #ee9e58;
            }
            &:active {
                background: #e98024;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #e98024;
            }
        }
        &.green {
            background: #4caf50;

            &:hover {
                background: #66bb6a;
            }
            &:active {
                background: #4caf50;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #4caf50;
            }
        }
        &:disabled, &[disabled] {
            background: #f4f4f6 !important;
            color: #e9e9ed !important;
            cursor: not-allowed;
        }
    }
    &.secondary {
        background: transparent;

        &.orange {
            border: 1px solid #e98024;
            color: #e98024;

            &:hover {
                border: 1px solid #ee9e58;
                color: #ee9e58;
                background: rgba(233, 128, 36, 0.1);
            }
            &:active {
                border: 1px solid #e98024;
                color: #e98024;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #e98024;
            }
        }
        &.green {
            border: 1px solid #4caf50;
            color: #4caf50;

            &:hover {
                border: 1px solid #66bb6a;
                color: #66bb6a;
                background: rgba(76, 175, 80, 0.1);
            }
            &:active {
                border: 1px solid #4caf50;
                color: #4caf50;
            }
            &.effect:focus:not(:active):after {
                border: 0 solid #4caf50;
            }
        }
        &:disabled, &[disabled] {
            background: #f4f4f6 !important;
            border: 0 !important;
            color: #e9e9ed !important;
            cursor: not-allowed !important;
        }
    }
    &.flat {
        background: $COLOR_WHITE;
        color: #4c5794;

        &:hover {
            background: #f2f3f8;
        }
        &:active {
            color: #4c5794;
        }
        &.effect:focus:not(:active):after {
            border: 0 solid #4c5794;
        }
        &:disabled, &[disabled] {
            background: transparent !important;
            border: 1px solid #e9e9ed !important;
            color: #e9e9ed !important;
            cursor: not-allowed !important;
        }
    }
    /* Ant Effect */
    &.effect:focus:not(:active):after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: inherit;
        border: 0 solid $primaryBrandColor;
        opacity: 0.4;
        animation: buttonEffect 0.4s;
        animation-fill-mode: forwards;
        display: block;
    }
}

@keyframes buttonEffect {
    to {
        opacity: 0;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-width: 6px;
    }
}
/* stylelint-enable color-no-hex */
