/* stylelint-disable color-no-hex */
.fullscreen-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #eee;
}
/* stylelint-enable color-no-hex */