/* stylelint-disable color-no-hex */
.fullscreen-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    transform: translateY(100%) scale(0.1);
    transition: all 0.2s;

    &--open {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
    }
}
/* stylelint-enable color-no-hex */