/* stylelint-disable color-no-hex */
header {
    background-color: $COLOR_WHITE !important;
    position: relative;
    border: 0;
    width: 100%;

    .menu-items {
        display: flex;
        position: relative;
        box-sizing: border-box;
        width: 100%;

        .navbar-icons {
            cursor: pointer;
            padding: 6px 15px;
            align-self: center;

            &.binary-logo {
                border-left: 1px solid #f2f2f2;
            }
            img {
                width: 1.5rem;
                height: auto;

                &.logo-img {
                    width: 2.5rem;
                }
            }
        }
        .menu-left {
            justify-content: flex-start;
            order: -1;
            display: inline-flex;
            flex: 1;
            border-right: 1px solid #f2f2f2;

            .menu-toggle {
                align-self: center;
            }
            .menu-links {
                align-self: center;
                padding-bottom: 5px;

                a {
                    padding: 0 30px;
                    text-decoration: none;
                    position: relative;

                    span {
                        font-size: 0.8rem;
                        text-transform: capitalize;
                        color: $COLOR_DARK_BLUE;
                    }
                    &.active:after {
                        display: block;
                        position: absolute;
                        content: '';
                        height: 3px;
                        width: 100%;
                        bottom: -16px;
                        background-color: $primaryBrandColor;
                    }
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .notifications-toggle {
            justify-content: flex-end;
            align-self: center;
        }
    }
}
/* stylelint-enable color-no-hex */
