.inline-icon {
    g, path, rect {
        stroke: $COLOR_BLUE;
        fill: $COLOR_WHITE;
    }
}

.theme-wrapper.dark {
    .inline-icon {
        g, path, rect {
            stroke: $COLOR_DARK_GRAY;
            fill: $COLOR_BLUE;
        }
    }
}
