.mobile-widget {
    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    border: 1px solid $COLOR_BLUE;
    border-radius: 4px;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'a b' 'c d';
    font-size: 0.7rem;

    &:hover {
        cursor: pointer;
    }
    .fieldset-minimized {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        white-space: pre-line;

        &.amount {
            grid-area: c;
        }
        &.barrier1 {
            grid-area: b;
        }
        &.barrier2 {
            grid-area: d;
        }
        .icon {
            display: block;
            margin-right: 5px;
        }
        .symbols:before {
            margin-right: 1px;
            position: static;
            display: inline;
            font-size: 1em;
        }
        &__basis {
            font-weight: bold;
            color: $COLOR_BLUE;
        }
    }
}
