.mobile-widget {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a b' 'c d';
    font-size: 0.7rem;

    &:hover {
        cursor: pointer;
    }
    .fieldset-minimized {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;

        &.duration {
            grid-area: c;
        }
        &.barrier1 {
            grid-area: b;
        }
        &.barrier2 {
            grid-area: d;
        }
        .icon {
            display: block;
            margin-right: 5px;
        }
        .symbols:before {
            margin-left: -2px;
            margin-right: 1px;
            position: static;
            display: inline;
            font-size: 1em;
        }
    }
}