/* stylelint-disable color-no-hex */

// Desktop
.portfolio-drawer {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    height: 100vh;
    box-sizing: border-box;
    transition: transform ease 250ms;
    background: $COLOR_WHITE;
    padding: 15px;

    &-header {
        display: flex;
        align-items: center;

        p {
            margin: 0;
            font-size: 0.7rem;
            font-weight: bold;
            color: #2a3052;
        }
        .ic-portfolio {
            margin-right: 5px;
        }
        .ic-close {
            &:before {
                content: url('../images/trading_app/footer/ic_close_blue_light.svg');
            }
            margin-left: auto;
        }
    }
    .portfolio {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        background: $COLOR_WHITE;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        transition: all 0.3s;
        font-size: 0.7rem;
        cursor: pointer;
        display: grid;
        grid-template-columns: 30px 1fr;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        margin: 15px 0;

        &:hover {
            border-color: #2a3052;
        }
        &:active, &:focus {
            outline: 0;
            border-radius: 4px;
            border-color: #2a3052;
            box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
        }
        &.error {
            color: #f44336;
            border: 1px solid #f44336;
        }
        .asset {
            display: grid;
            grid-gap: 7px;

            .symbol {
                font-weight: 300;
                color: #2a3052;
            }
            .indicative-positive, .indicative-negative {
                font-weight: 600;

                &.indicative-positive {
                    color: #66bb6a;
                }
                &.indicative-negative {
                    color: #f44336;
                }
            }
            .remaining-time {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 5px;
                font-size: 0.7rem;
                color: #2a3052;
                font-weight: 300;
            }
        }
    }
}

// Mobile
@media (max-width: 1024px) {
    .portfolio-drawer {
        box-shadow: none;
        padding: 0;

        div.portfolio-list {
            opacity: 0;
            transform: scale(1, 0);
            transform-origin: center top;
            transition: all 0.25s;

            &.show {
                transform: scale(1, 1);
                opacity: 1;
            }
            .portfolio {
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);

                &:hover {
                    border: 0;
                    border-bottom: 2px solid #2a3052;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &:active, &:focus {
                    border: 0;
                }
                .asset {
                    display: flex;
                    align-items: center;

                    .indicative-positive, .indicative-negative {
                        margin-left: auto;
                    }
                    .remaining-time {
                        position: relative;
                        margin: 0 0 0 40px;
                    }
                }
            }
        }
        .portfolio-drawer-header p {
            text-transform: uppercase;
        }
        .ic-close {
            transform: rotate(180deg);
            transform-origin: 50% 50%;
            transition: transform 0.2s ease;
            text-decoration: none;
            line-height: 1;
            color: #2a3052;
            font-size: 1.1rem;

            &.open {
                transform: rotate(0deg);
            }
            &:before {
                content: '\002303';
            }
        }
    }
}

/* stylelint-enable color-no-hex */