.symbols {
    &:before {
        position: absolute;
        display: block;
        pointer-events: none;
        text-align: center;
        font-style: normal;
        font-size: 1rem;
        z-index: 1;
        color: $COLOR_BLUE;
    }
    &.eur:before {
        content: '\20AC';
    }
    &.aud:before {
        content: '\0041\0024';
    }
    &.gbp:before {
        content: '\00A3';
    }
    &.jpy:before {
        content: '\00A5';
    }
    &.usd:before {
        content: '\0024';
    }
    &.btc:before {
        content: '\0042';
    }
    &.bch:before {
        content: '\e901';
    }
    &.eth:before {
        content: '\0045';
    }
    &.etc:before {
        content: '\e900';
    }
    &.ltc:before {
        content: '\004c';
    }
}
