@at-root {
    @font-face {
        font-family: 'BinarySymbols';
        font-style: normal;
        font-weight: normal;
        src: url('../download/fonts/binary_symbols.woff') format('woff');
    }
}

.symbols {
    &:before {
        font-family: 'BinarySymbols';
        font-style: normal;
        margin-right: 2px;
        pointer-events: none;
    }
    &, &:before {
        transition: none;
        animation: none;
    }
    &.aud:before {
        content: '\0041\0024';
    }
    &.eur:before {
        content: '\20AC';
    }
    &.gbp:before {
        content: '\00A3';
    }
    &.jpy:before {
        content: '\00A5';
    }
    &.usd:before {
        content: '\0024';
    }
    &.btc:before {
        content: '\0042';
    }
    &.bch:before {
        content: '\e901';
    }
    &.eth:before {
        content: '\0045';
    }
    &.etc:before {
        content: '\e900';
    }
    &.ltc:before {
        content: '\004c';
    }
}
