/* stylelint-disable color-no-hex */
.contract-icon {
    &.ic-rise_fall {
        &:before {
            content: url('../images/trading_app/contracts/rise_fall.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/rise_fall.svg');
        }
    }
    &.ic-high_low {
        &:before {
            content: url('../images/trading_app/contracts/high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/high_low.svg');
        }
    }
    &.ic-touch {
        &:before {
            content: url('../images/trading_app/contracts/touch.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/touch.svg');
        }
    }
    &.ic-end {
        &:before {
            content: url('../images/trading_app/contracts/end.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/end.svg');
        }
    }
    &.ic-stay {
        &:before {
            content: url('../images/trading_app/contracts/stay.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/stay.svg');
        }
    }
    &.ic-asian {
        &:before {
            content: url('../images/trading_app/contracts/asian.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/asian.svg');
        }
    }
    &.ic-match_diff {
        &:before {
            content: url('../images/trading_app/contracts/match_diff.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/match_diff.svg');
        }
    }
    &.ic-even_odd {
        &:before {
            content: url('../images/trading_app/contracts/even_odd.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/even_odd.svg');
        }
    }
    &.ic-over_under {
        &:before {
            content: url('../images/trading_app/contracts/over_under.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/over_under.svg');
        }
    }
    &.ic-lb_call {
        &:before {
            content: url('../images/trading_app/contracts/lb_call.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_call.svg');
        }
    }
    &.ic-lb_put {
        &:before {
            content: url('../images/trading_app/contracts/lb_put.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_put.svg');
        }
    }
    &.ic-lb_high_low {
        &:before {
            content: url('../images/trading_app/contracts/lb_high_low.svg');
        }
        &--invert:before {
            content: url('../images/trading_app/contracts/invert/lb_high_low.svg');
        }
    }
}

.symbols {
    &:before {
        position: absolute;
        display: block;
        pointer-events: none;
        text-align: center;
        font-style: normal;
        font-size: 1rem;
        z-index: 1;
        color: #2a3052;
    }
    &.eur:before {
        content: '\20AC';
    }
    &.aud:before {
        content: '\0041\0024';
    }
    &.gbp:before {
        content: '\00A3';
    }
    &.jpy:before {
        content: '\00A5';
    }
    &.usd:before {
        content: '\0024';
    }
    &.btc:before {
        content: '\0042';
    }
    &.bch:before {
        content: '\e901';
    }
    &.eth:before {
        content: '\0045';
    }
    &.etc:before {
        content: '\e900';
    }
    &.ltc:before {
        content: '\004c';
    }
}
/* stylelint-enable color-no-hex */
