span.tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $COLOR_BLUE;
    font-size: inherit;

    i.question:after {
        content: url('../images/trading_app/common/tooltip/ic_tooltip_question_light.svg ');
        margin-left: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    i.info:after {
        content: url('../images/trading_app/common/tooltip/ic_tooltip_info_light.svg ');
        margin-left: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    &[data-tooltip] {
        position: relative;
        cursor: help;

        &:hover:after, &:hover:before {
            opacity: 0.88;
            pointer-events: auto;
            transform: translate(-50%, 0);
        }
        &:before, &:after {
            opacity: 0;
            pointer-events: none;
            transition: all 0.18s ease-out 0.18s;
            bottom: 100%;
            left: 50%;
            position: absolute;
            z-index: 10;
            transform: translate(-50%, 10px);
            transform-origin: top;
        }
        &:before {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: initial;
            text-transform: none;
            text-decoration: none;
            letter-spacing: normal;
            background: rgba(21, 33, 45, 0.88);
            box-shadow: 0 2px 8px 0 rgba(21, 33, 45, 0.32);
            border-radius: 4px;
            color: $COLOR_WHITE;
            max-width: 400px;
            content: attr(data-tooltip);
            padding: 8px;
            white-space: nowrap;
            margin-bottom: 11px;
        }
        &:after {
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: rgba(21, 33, 45, 0.88);
            border-width: 6px;
            margin-bottom: -1px;
        }
        &[data-tooltip-pos=right] {
            &:before, &:after {
                bottom: auto;
                left: 100%;
                top: 50%;
                transform: translate(-10px, -50%);
            }
            &:before {
                margin-left: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-right-color: rgba(21, 33, 45, 0.88);
            }
        }
        &[data-tooltip-pos=left] {
            &:before, &:after {
                bottom: auto;
                left: auto;
                right: 100%;
                top: 50%;
                transform: translate(10px, -50%);
            }
            &:before {
                margin-right: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-left-color: rgba(21, 33, 45, 0.88);
                margin-right: -1px;
            }
        }
        &[data-tooltip-pos=bottom] {
            &:before, &:after {
                bottom: auto;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -10px);
            }
            &:before {
                margin-top: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(-50%, 0);
            }
            &:after {
                border-top-color: transparent;
                border-bottom-color: rgba(21, 33, 45, 0.88);
            }
        }
    }
}
