.tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $COLOR_DARK_BLUE_5;
    font-size: inherit;

    .tooltip__balloon__icon {
        position: absolute;
        top: 0;
        left: -345px;
        z-index: 999;
        opacity: 0;
        transition: opacity 0.3s;

        &--show {
            transition: opacity 0.3s 0.2s;
            opacity: 1;
        }
    }
    &[data-tooltip] {
        position: relative;
        cursor: help;
        display: block;

        &:hover:after, &:hover:before {
            opacity: 0.96;
            pointer-events: auto;
            transform: translate(-50%, 0);
        }
        &:before, &:after {
            opacity: 0;
            pointer-events: none;
            transition: all 0.18s ease-out 0.18s;
            bottom: 100%;
            left: 50%;
            position: absolute;
            z-index: 10;
            transform: translate(-50%, 10px);
            transform-origin: top;
        }
        &:before {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: initial;
            text-transform: none;
            text-decoration: none;
            letter-spacing: normal;
            background: rgba(21, 33, 45, 0.96);
            box-shadow: 0 2px 8px 0 rgba(21, 33, 45, 0.32);
            border-radius: 4px;
            color: $COLOR_WHITE;
            content: attr(data-tooltip);
            padding: 8px;
            white-space: nowrap;
            margin-bottom: 11px;
        }
        &:after {
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: rgba(21, 33, 45, 0.96);
            border-width: 6px;
            margin-bottom: -1px;
        }
        &[data-tooltip-pos=right] {
            &:before, &:after {
                bottom: auto;
                left: 100%;
                top: 50%;
                transform: translate(-10px, -50%);
            }
            &:before {
                margin-left: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-right-color: rgba(21, 33, 45, 0.96);
            }
        }
        &[data-tooltip-pos=left] {
            &:before, &:after {
                bottom: auto;
                left: auto;
                right: 100%;
                top: 50%;
                transform: translate(10px, -50%);
            }
            &:before {
                margin-right: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-left-color: rgba(21, 33, 45, 0.96);
                margin-right: -1px;
            }
        }
        &[data-tooltip-pos=bottom] {
            &:before, &:after {
                bottom: auto;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -10px);
            }
            &:before {
                margin-top: 11px;
            }
            &:hover:after, &:hover:before {
                transform: translate(-50%, 0);
            }
            &:after {
                border-top-color: transparent;
                border-bottom-color: rgba(21, 33, 45, 0.96);
            }
        }
    }
}

// Dark Theme
.theme--dark {
    .tooltip {
        color: $COLOR_WHITE;

        &:before {
            background: rgba(255, 255, 255, 0.88);
            box-shadow: 0 2px 8px 0 rgba(20, 20, 20, 0.2);
            color: $COLOR_DARK_BLUE_5;
        }
        &[data-tooltip-pos=top] {
            &:after {
                border-top-color: rgba(255, 255, 255, 0.88);
            }
        }
        &[data-tooltip-pos=right] {
            &:after {
                border-right-color: rgba(255, 255, 255, 0.88);
            }
        }
        &[data-tooltip-pos=left] {
            &:after {
                border-left-color: rgba(255, 255, 255, 0.88);
            }
        }
        &[data-tooltip-pos=bottom] {
            &:after {
                border-bottom-color: rgba(255, 255, 255, 0.88);
            }
        }
    }
}
