.tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $COLOR_DARK_BLUE_5;
    font-size: inherit;

    i.question:after, i.info:after {
        margin-left: 0.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    i.question:after {
        content: url('../images/common/tooltip/ic_tooltip_question_light.svg ');
    }
    i.info:after {
        content: url('../images/common/tooltip/ic_tooltip_info_light.svg ');
    }
    i.info {
        &:before {
            content: url('../images/common/tooltip/ic_tooltip_info_dark.svg ');
            position: absolute;
            z-index: 10;
            opacity: 0;
            transition: all 0.18s ease-out 0.17s;
            transform: translateX(20%);
            top: 0.1em;
            left: -40.6em;
        }
        &:hover:before {
            opacity: 1;
            transform: translateX(0);
        }
    }
    i.dot:after {
        content: url('../images/common/tooltip/ic_dot_red.svg ');
    }
    &[data-tooltip] {
        position: relative;
        cursor: help;
        display: block;

        &:hover:after, &:hover:before {
            opacity: 0.96;
            pointer-events: auto;
            transform: translate(-50%, 0);
        }
        &:before, &:after {
            opacity: 0;
            pointer-events: none;
            transition: all 0.18s ease-out 0.18s;
            bottom: 100%;
            left: 50%;
            position: absolute;
            z-index: 10;
            transform: translate(-50%, 1em);
            transform-origin: top;
        }
        &:before {
            @include typeface(--small-normal-active, none);
            text-decoration: none;
            letter-spacing: normal;
            background: $COLOR_LIGHT_BLACK_1;
            border-radius: 4px;
            content: attr(data-tooltip);
            padding: 0.8em;
            white-space: nowrap;
            margin-bottom: 10px;
        }
        &:after {
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: $COLOR_LIGHT_BLACK_1;
            border-width: 6px;
            margin-bottom: -2px;
        }
        &[data-tooltip-pos=right] {
            &:before, &:after {
                bottom: auto;
                left: 100%;
                top: 50%;
                transform: translate(-1em, -50%);
            }
            &:before {
                margin-left: 1em;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-right-color: $COLOR_LIGHT_BLACK_1;
            }
        }
        &[data-tooltip-pos=left] {
            &:before, &:after {
                bottom: auto;
                left: auto;
                right: 100%;
                top: 50%;
                transform: translate(1em, -50%);
            }
            &:before {
                margin-right: 1em;
            }
            &:hover:after, &:hover:before {
                transform: translate(0, -50%);
            }
            &:after {
                border-top-color: transparent;
                border-left-color: $COLOR_LIGHT_BLACK_1;
            }
        }
        &[data-tooltip-pos=bottom] {
            &:before, &:after {
                bottom: auto;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -1em);
            }
            &:before {
                margin-top: 1.1em;
            }
            &:hover:after, &:hover:before {
                transform: translate(-50%, 0);
            }
            &:after {
                border-top-color: transparent;
                border-bottom-color: $COLOR_LIGHT_BLACK_1;
            }
        }
    }
}

// Dark Theme
.theme--dark {
    .tooltip {
        color: $COLOR_WHITE;

        &:before {
            background: $COLOR_DARK_BLUE_5;
            color: $COLOR_WHITE;
        }
        &[data-tooltip-pos=top] {
            &:after {
                border-top-color: $COLOR_DARK_BLUE_5;
            }
        }
        &[data-tooltip-pos=right] {
            &:after {
                border-right-color: $COLOR_DARK_BLUE_5;
            }
        }
        &[data-tooltip-pos=left] {
            &:after {
                border-left-color: $COLOR_DARK_BLUE_5;
            }
        }
        &[data-tooltip-pos=bottom] {
            &:after {
                border-bottom-color: $COLOR_DARK_BLUE_5;
            }
        }
        i.question:after {
            content: url('../images/common/tooltip/ic_tooltip_question_dark.svg ');
        }
    }
}
