.invisible {
    display: none !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

#content {
    .rbox-heading {
        font-weight: bold;
        background-color: $COLOR_LIGHT_GRAY;
        h4 {
            font-size: 1em;
            margin: 0;
            padding: 0.3em 8px;
        }
    }
    .rbox-content {
        background-color: $COLOR_WHITE;
        padding: 0.3em 0;
        table {
            td {
                border: 0;
            }
        }
    }
}

.center-text {
    text-align: center;
}

.align-start {
    @include BIDIR_VALUE (text-align, left, right);
}

.align-end {
    @include BIDIR_VALUE (text-align, right, left);
}

.li-2-boxes-content {
    padding: 0 15px;
    min-height: 10em;
    height: auto;
}

.li-boxes-content-icon {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 10em;
    text-indent: -9999px;
    outline: none;
}

.li-boxes-content-extra-height {
    min-height: 12em;
}

.disabled {
    color: $COLOR_GRAY_SHADE;
}

.disabled-link {
    color: $COLOR_GRAY !important;
    pointer-events: none;
}
