.invisible {
    display: none !important;
    visibility: hidden;
}

#content {
    .rbox-content {
        background-color: $COLOR_WHITE;
        padding: 0.3em 0;
        table {
            td {
                border: 0;
            }
        }
    }
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.align-start {
    @include BIDIR_VALUE (text-align, left, right);
}

.align-end {
    @include BIDIR_VALUE (text-align, right, left);
}

.li-2-boxes-content {
    padding: 0 15px;
    min-height: 10em;
    height: auto;
}

.li-boxes-content-icon {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 10em;
    text-indent: -9999px;
    outline: none;
}

.li-boxes-content-extra-height {
    min-height: 12em;
}

.disabled {
    color: $COLOR_GRAY_SHADE;
}

.disabled-link {
    color: $COLOR_GRAY !important;
    pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

select[disabled=disabled] {
    color: $COLOR_GRAY_SHADE;
}
