#popup {
    background-color: $COLOR_WHITE;
}

/* BASIC ROUNDED BOX */
.rbox {
    position: relative;
    margin-bottom: 1em;
}

.rbox-wrap {
    background-color: $COLOR_WHITE;
}

/* To prevent 0 height when everything inside was floated */
.clear {
    clear: both;
}

/* error boxes */
.errorbox {
    background: url('../images/common/general_error_1.gif') scroll no-repeat 35px 25px;
    margin: 0;
    background-color: $COLOR_YELLOW;
}

.errorbox .rbox-content {
    padding-left: 7.69em;
    min-height: 1.5em;
}

.errorbox p {
    margin: 10px 0 0;
}
