#popup {
  background-color: $COLOR_WHITE;
}

/*------------------------------------------------------------------------------------
 BASIC ROUNDED BOX                                                                  */
.rbox {
  position: relative;
  margin-bottom: 1em;
}

.rbox-wrap {
  background-color: $COLOR_WHITE;
}

.rbox-bg-alt {
  background-color: $COLOR_WHITE;
}

.rbox-lowpad {
  padding: 0px 0px 0px 4px;
}

.rbox .form_button {
  margin-bottom: 8px;
}

/*------------------------------------------------------------------------------------
 ROUNDED BOX CORNERS                                                                */

.tl,.tr,.bl,.br {
  background: transparent url("../images/common/nav/tab_1.png") no-repeat scroll 0 0;
  width: 4px;
  height: 4px;
  line-height: 4px;
  position: absolute;
  z-index: 1;
  font-size: 0;
  display: none;
}

.tl {
  background-position: 0 -312px;
  top: -1px;
  left: -1px;
}

.tr {
  background-position: 100% -312px;
  top: -1px;
  right: -1px;
}

.bl {
  background-position: 0 -316px;
  bottom: -1px;
  left: -1px;
}

.br {
  background-position: 100% -316px;
  bottom: -1px;
  right: -1px;
}

/* showing 2 boxes besides each other */
.half-1 {
  float: left;
}

.half-2 {
  float: right;
}

.half-1,
.half-2 {
  width: 48%;
}

.half-1.with-separator {
  border-right: 1px solid $COLOR_GRAY;
}

table.half-1,
table.half-2 {
  width: 50%;
}

/* standard message */
#WhiteBoxMessage {
  margin: 0 auto 15px;
  width: 80%;
}

#WhiteBoxMessage.errorbox {
  text-align: center;
  border: 1px solid $COLOR_GRAY_SHADE;
  background-image: none;
  .rbox-content {
    background: none;
    .form_button {
        padding-right: 0;
    }
  }
}

/*------------------------------------------------------------------------------------
 To prevent 0 height when everything inside was floated                             */
.clear {
  clear: both;
}

/* error boxes */
.errorbox {
  background: url("../images/common/general_error_1.gif") scroll no-repeat 35px 25px;
  margin: 0;
}

.errorbox .rbox-content {
  padding-left: 7.69em;
  min-height: 1.5em;
}

.errorbox .form_button {
  padding-right: 7.69em;
}

.loading-price {
  padding: 20px;
}

.errorbox {
  background-color: $COLOR_YELLOW;
}

.errorbox h3 {
  color: $COLOR_RED;
}

.errorbox h3 {
  margin-top: 5px;
}

.bet-error-box p,
.errorbox p {
  margin: 0;
}

.errorbox p {
  margin: 10px 0 0;
}

.rbox-wrap .rbox-wrap {
  border: 1px solid $COLOR_GRAY_SHADE !important;
}

.errorbox h3 {
  color: $COLOR_RED;
}

.popupbox {
  left: 23%;
  position: absolute;
  top: 18em;
  width: 50%;
  z-index: 2;
}

/* rounded popup box */
.rbox-shadow-popup {
  position: fixed;
  width: 24em;
  top: 35%;
  left: 50%;
  z-index: 2;
  .rbox-shadow-popup-wrap {
    position: relative;
    left: -12em;  /* half the width of rbox-shadow-popup */
    background-color: $COLOR_WHITE;
    padding-bottom: 0.5em;
    text-align: center;
    #bom-confirm-popup {
        padding: 0 3em;
    }
    h4 {
      padding: 0.2em 0.5em;
    }
    p {
      padding: 0.5em;
      font-size: 0.9em;
    }
    .close_button {
      background: transparent url("../images/common/tooltips_1.png") no-repeat 0 100%;
      width: 13px;
      height: 13px;
      cursor: pointer;
      position: absolute;
      right: 0.4em;
      top: 0.4em;
    }
    .first {
      padding-left: 0;
    }
  }
}

#transparent-cover {
  position: fixed;
  background-color: $COLOR_BLACK;
  opacity: 0.30;
  filter: alpha(opacity = 30);
  width: 100%;
  height: 100%;
  visibility: visible;
  top: 0;
  left: 0;
  z-index: 1;
}
