form#profit-table-form,
form#tradingform {
    fieldset {
        border: 0;
        background-color: $COLOR_LIGHT_GRAY;
        legend {
            display: none;
        }
    }
    span {
        padding: 10px;
    }
    div.row {
        clear: none;
        float: left;
        margin: -3px 8px 0 8px;
        label {
            width: auto;
        }
    }
}

form#tradingform div.row.form_button {
    float: right;
}

form#tradingform div.row {
    margin-right: 30px;
    label {
        padding-top: 0;
    }
}

form#forward_start {
    font-size: 85%;
    fieldset {
        padding-top: 1em;
        margin-bottom: 1em;
    }
    label {
        width: auto;
    }
}

#profit-table-form{
    #fromdate{
        width: 105px;
    }
    #todate{
        width: 105px;
    }
}

input#duration_amount {
    width: 75px; // same as date picker width
}

#profit-table-form span {
    position: relative;
}

#profit-table-form p {
    position: absolute;
    left: 13px;
    bottom: -16px;
}

#submarket {
    max-width: 90%;
}

#bet_underlying {
    max-width: 90%;
}
