@mixin chart-drop-down-content {
  margin-top:0;
  border: 1px solid $COLOR_GRAY_SHADE;
  .half-1, .half-2 {
    width: 47%;
    height: auto;
  }
  .half-1.with-separator {
      border-right: 1px solid $COLOR_GRAY_SHADE;
  }
  .tl, .tr, .bl, .br {
    display: none;
  }
  .rbox-content {
    height: auto;
    overflow: auto;
  }
  ul.not-li {
      display: block;
      height: auto;
      margin: 0 0 0 0.7em;
      background: none;
      border: 0;
      line-height: 1em;
      li {
        background: none;
        float:none;
        display:list-item;
        margin:0;
        padding: 0;
        label {
           float: none;
        }
      }
  }
}

@mixin chart-element-width {
    width: 940px;
    margin: 0 auto;
}

/* landing page icon */

#internet_explorer {
  background-image: url("../images/pages/logintrouble/ielogo-icon_1.png");
}

#microsoft_edge {
  background-image: url("../images/pages/logintrouble/edgelogo.png");
  background-size: 50%;
  margin-top: -1em;
}

#firefox {
  background-image: url("../images/pages/logintrouble/firefoxlogo-icon_1.png");
}

#safari {
  background-image: url("../images/pages/logintrouble/safarilogo-icon_1.png");
}

#opera {
  background-image: url("../images/pages/logintrouble/operalogo-icon_1.png");
}

#chrome {
  background-image: url("../images/pages/logintrouble/chromelogo-icon_1.png");
}

/* Fixed width to match datepicker */
#duration_amount {
  width: 95px;
}

#account_balance {
  float: right;
  margin: 0 20px 10px 0;
  width: 35%;
  font-size: 100%;
  display: none;
  td {
    text-align: right;
    padding: 0;
  }
  .currency {
    padding: 0 2px;
  }
}

#std_loading_img {
  margin: 0 auto;
  text-align: center;
}

/* statement */

#tradingform {
  label {
    padding-top: 2px;
  }
  select {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    margin-right: 5px;
  }
  input[type="text"] {
    border: 1px solid $COLOR_GRAY;
    margin-right: 5px;
    width: 105px;
  }
  input[type="checkbox"] {
    border: none;
  }
  select {
    width: 6.5em;
  }
}

#statement-table table tfoot th.num {
    text-align: center;
}

#content .paging-navigation {
    .paging-links {
        display: inline-block;
        float: right;
        margin: 0;
        li {
            list-style-image: none;
            display: inline;
            margin: 0;
        }
    }
}

/* portfolio */
.portfolio-header-margin {
    margin-bottom: 20px;
}

.portfolio-currency-converter {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.button-menu {
  margin: 5px 0;
}

/* Light chart */
#form_chart_director fieldset {
  position: relative;
  &#chart_compare_underlying, &#chart_period {
    background: none;
    font-size: 0.9em;
    border: none;
    ul {
        li {
            @include chart-day-selector;
        }
    }
  }
}

#form_chart_director h5 {
  padding: 8px;
}

#form_chart_director {
    ul.tm-ul {
      margin:0;
        li.tm-li {
            margin: 0;
            margin-right: 0.2em;
            font-size:85%;
            padding: 0;
            a.tm-a {
                padding: 0 1em;
                display: block;
                span {
                    display: inline-block;
                    right: 0;
                }
            }
        }
    }
    #ticker {
        margin-top: 3em;
    }
    #instrument-content .rbox-content {
        height: 42.5em;
    }
    li.hover .drop-down-content {
        @include chart-drop-down-content;
        margin:0;
        top:24px;
        ul.not-li {
            position: relative;
            top: auto;
            left: auto;
        }
    }
    .drop-down-content {
        @include chart-drop-down-content;
    }
    .popupbox {
        .rbox.rbox-bg-alt {
            margin: 0;
            border: 1px solid $COLOR_DARK_GRAY;
            .rbox-heading h4 {
                background-color: $COLOR_GRAY;
            }
            ul.button-menu {
                list-style: none;
                height: 3em;
                text-align: center;
                li {
                    margin: 0;
                    display: inline-block;
                    list-style-image: none;
                    padding-right: 1em;
                }
            }
            .row {
                margin-bottom: 5px;
            }
        }
    }
}

#instrument-content {
  width: 80em;
}

#instrument-content label {
  float: none;
}

#moving-average-content,
#settings-content {
  width: 25em;
}

#indicator-content,
#band-content {
  width: 20em;
}

#intraday_interval {
    ul.not-li {
        margin: 0 0 0 1em;
        label {
            cursor: pointer;
            width: auto;
        }
    }
}

.underlying_group {
  float: left;
  margin: 0 0.5em;
}

.drop-down-content {
  left: auto;
  top: 27px;
  position: absolute;
  background-color: $COLOR_WHITE;
  display: none;
  z-index: 999;
}

.hover .drop-down-content {
  display: block;
}

#chart_period input {
  left: -9999px;
  position: absolute;
  top: 0;
}

#intraday_interval {
  position: absolute;
  display: none;
  background-color: $COLOR_WHITE;
  padding: 0 0.7em 0.7em;
  border: 1px solid $COLOR_GRAY_SHADE;
  width: 8em;
  z-index: 2;
}

#intraday_interval li {
  display: block;
}

#chart_compare_underlying,
#chart_period {
  z-index: 2;
  li {
    margin-right: 0px;
  }
}

#chart_properties label {
  float: left;
  width: 40%;
  text-align: right;
  padding-right: 10px;
}

#chart_properties input {
  width: 30%;
}

.desc_box {
  padding: 8px;
  background-color: $COLOR_WHITE;
  border: 1px solid $COLOR_GRAY;
}

#chart_compare_underlying li {
  background: url("../images/pages/light_chart/linechart_legends_1.png");
  background-repeat: no-repeat;
  background-color: $COLOR_WHITE;
  padding: 0 15px;
}

#chart_compare_underlying input {
  position: absolute;
  visibility: hidden;
}

#chart_compare_underlying a:link,
#chart_compare_underlying a:visited {
  text-decoration: none;
}

#chart_compare_underlying .button-menu {
  margin: 0;
}

.line_1 {
  background-position: 0 -35px !important;
}

.line_2 {
  background-position: 0 -3px !important;
}

.line_3 {
  background-position: 0 -67px !important;
}

.line_4 {
  background-position: 0 -115px !important;
}

.line_5 {
  background-position: 0 -19px !important;
}

.line_6 {
  background-position: 0 -83px !important;
}

#chart_director_imageholder .notice-1 {
  top: 25px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.live-help {
    margin: 1em 0 2em;
}

/* Aanlyse bet*/
#bet_details-table td {
  padding: 5px;
  vertical-align: top;
}

#bet_details-table em {
  font-size: 60%;
  font-weight: normal;
  color: $COLOR_BLACK;
}

#profit_loss,
#sale_price {
  width: 11%;
}

.finder {
  background-color: $COLOR_WHITE;
  margin-bottom: 5px;
  position: relative;
  left: 1px;
}

h2.finder {
  font-size: 1.0em;
  padding: .4em 50px .4em 0;
  margin-right: 3px;
  margin-left: 3px;
  border-top: 1px solid $COLOR_GRAY;
  color: $COLOR_BLUE;
}

#desc {
  margin: 0 10px 0 90px;
}

.top-space {
  padding-top: 10px;
}

.inline {
  display: inline;
}

#openAccForm select#AddressState,
#changeAccountForm select#AddressState {
  width: 159px;
}

#changeAccountForm {
  label {
    padding-top: 2px;
  }
  input {
    border: 1px solid $COLOR_GRAY;
  }
  select {
    border: 1px solid $COLOR_GRAY;
    background: $COLOR_WHITE;
  }
}

#content #error_msg {
  margin: 10px;
}

#bet_details-table {
  margin-bottom: 5px;
}

.smaller-font table td,
.smaller-font table th {
  font-size: 0.85em;
}

.left-align table td,
.left-align table th {
  text-align: left;
}

.center-align table td,
.center-align table th {
  text-align: center;
}

div#lower_strike {
  padding: 2px 0 9px 0;
}

div#lower_strike label {
  width: 7.9%;
}



label#from_strike_label,
label#from_strike_percent,
label#from_expiry_label {
  width: auto;
}

.hasDatepicker {
  width: 95px;
}

div#price_table_notes {
  font-size: 0.92em;
  padding-top: 15px;
}


.tab-menu-wrap {
    ul#trading-times {
        margin-bottom: 1em;
    }
}

/* Terms and conditions */
.tab-menu-wrap {
    ul#legal-menu {
        margin-bottom: 2em;
        li#legal-tab {
            span.tm-a-2 {
                cursor: pointer;
            }
        }
    }
}

/* Payment Agent Deposit */
#paymentagent_deposit {
    ul.recursive_list {
        margin-left: 1.5em;
        li {
            list-style-image: url("../images/pages/get-started/list-circle_1.png");
        }
    }
    table.rbox-table.rbox-table-full {
        tr.rbox-table-heading th {
            text-align: left;
        }
    }
}

#payment-agent-registration ul.circles {
    margin-left: 60px;
    list-style-image: url("../images/pages/get-started/list-circle_1.png");
}

#asset-index {
    #forex-normal-tab span.tm-a-2 {
        cursor: pointer;
    }
    .tm-li {
        &.active {
            .tooltipx {
                background: url("../images/common/tooltips_1.png") no-repeat 0 0.3em;
                img {
                    width: 1.1em;
                    visibility: hidden;
                }
            }
        }
        &.hover {
            .tooltipx {
                background: url("../images/common/tooltips_1.png") no-repeat 0 0.3em;
                img {
                    width: 1.1em;
                }
            }
        }
        .tm-ul-2 {
            .tm-li-2 a{
                display: inline;
            }
        }
    }
}

#content #settings_message {
    font-weight: bold;
    color: $COLOR_ORANGE;
    .success_msg {
        font-size: 100%;
    }
}

#content #client_message.errorbox {
    background-image: none;
    text-align: center;
    .rbox-wrap {
        background-color: inherit;
        .rbox-content {
            .form_button {
                padding: 0;
                margin-top: 1em;
            }
            background-color: inherit;
            margin: 10px 0;
            ul {
                margin: 1em 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
  #microsoft_edge {
    background-size: 65%;
    margin-top: -1em;
  }
}
