/* landing page icon */
#internet_explorer {
    background-image: url('../images/pages/browser_support/ielogo-icon_1.png');
}

#microsoft_edge {
    background-image: url('../images/pages/browser_support/edgelogo.png');
    background-size: 50%;
    margin-top: -1em;
}

#firefox {
    background-image: url('../images/pages/browser_support/firefoxlogo-icon_1.png');
}

#safari {
    background-image: url('../images/pages/browser_support/safarilogo-icon_1.png');
}

#opera {
    background-image: url('../images/pages/browser_support/operalogo-icon_1.png');
}

#chrome {
    background-image: url('../images/pages/browser_support/chromelogo-icon_1.png');
}

/* statement */
#statement-table table tfoot th.num {
    text-align: center;
}

#content .paging-navigation {
    .paging-links {
        display: inline-block;
        float: right;
        margin: 0;
        li {
            list-style-image: none;
            display: inline;
            margin: 0;
        }
    }
}

/* portfolio */
.portfolio-header-margin {
    margin-bottom: 20px;
}

.tab-menu-wrap {
    /* Aanlyse bet*/
    ul#trading-times {
        margin-bottom: 1em;
    }
    /* Terms and conditions */
    ul#legal-menu {
        margin-bottom: 2em;
        li#legal-tab {
            span.tm-a-2 {
                cursor: pointer;
            }
        }
    }
}

/* Payment Agent Deposit */
#paymentagent_deposit {
    ul.recursive_list {
        margin-left: 1.5em;
        li {
            list-style-image: url('../images/pages/get-started/list-circle_1.png');
        }
    }
}

#content #client_message.errorbox {
    background-image: none;
    text-align: center;
    .rbox-wrap {
        background-color: inherit;
        .rbox-content {
            background-color: inherit;
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    #microsoft_edge {
        background-size: 65%;
        margin-top: -1em;
    }
}
