<div class="charity container">
  <div class="section border-bottom">
    <div class="section-content">
      <div class="gr-12">
        <h1>
          [% l("Making a Positive Impact in Local Communities") %]
        </h1>
        <p>
          [% l("When you start trading with Binary.com, you'll be directed to the trading screen, where you set your trading parameters, and choose what you want to trade, how and when.") %]
        </p>
      </div>
    </div>
  </div>
</div>
