.settings {
    $sidebar_width: 350px;
    $sidebar_tablet_width: 250px;

    &__sidebar {
        width: $sidebar_width;
        position: fixed;
        overflow-y: auto;
        height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
        box-sizing: border-box;
        border-right: 1px solid $COLOR_GRAY;

        @media (max-width: 1025px) {
            height: calc(100vh - #{$HEADER_HEIGHT});
            width: $sidebar_tablet_width;
        }
    }
    &__content {
        flex-grow: 1;
        margin-left: $sidebar_width;
        background: $COLOR_WHITE;

        @media (max-width: 1025px) {
            margin-left: $sidebar_tablet_width;
        }
        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
    &__content_sub_title {
        &__container {
            line-height: 0px;
            margin-bottom: 8px;
        }
        &__text {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: $COLOR_LIGHT_BLACK;
            margin: 0px;
        }
    }
    &__content_container {
        padding: 15px 24px;
    }
    &__content_header_title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25;
        color: $COLOR_LIGHT_BLACK;
        margin-bottom: 0;
    }
    &__content_header_description {
        font-size: 12px;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    &__section_header {
        width: 100%;
        height: 24px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK;
        box-sizing: border-box;
        margin: 20px 0 10px;
        padding: 0 24px;
    }
    &__separator {
        margin: 10px 24px;
    }
}

/*
    MENU ITEM COMPONENT
*/
.menuitem {
    display: flex;
    height: 48px;
    flex-direction: row;
    flex: 1;
    width: 100%;
    cursor: 'pointer';
    text-decoration: none;
    color: $COLOR_LIGHT_BLACK;

    &--active {
        background-color: #fafafb; /* stylelint-disable-line color-no-hex */
        box-shadow: inset -4px 0 0 0 $COLOR_GRAY;
    }
    &__img_container {
        width: 32px;
        height: 32px;
        margin: 8px 8px 8px 24px;
    }
    &__content_container {
        flex-grow: 1;
        margin: 8px 0px;
        overflow: hidden;
    }
    &__menu_name {
        font-size: 12px;
        height: 18px;
        font-weight: bold;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK;
    }
    &__menu_content {
        font-size: 10px;
        height: 15px;
        padding-right: 5px;
        line-height: 1.5;
        color: $COLOR_LIGHT_BLACK;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/*
    MOBILE DROPDOWN MENU
*/
.mobile_dropdown {
    $vert_margin: 5px;
    $side_margin: 5px;
    $button_height: 50px;
    $gap: 7px;
    margin: $vert_margin $side_margin;

    &__button {
        height: $button_height;
        margin-bottom: $gap;
        background: $COLOR_LIGHT_GRAY;
        border-radius: $BORDER_RADIUS;
        border: 1px solid $COLOR_GRAY;

        &--active {
            border: 1px solid $COLOR_BLUE;
        }
        .menuitem {
            height: 100%;
        }
    }
    &__menu {
        position: fixed;
        width: calc(100vw - #{$side_margin} * 2);
        max-height: calc(100vh - #{$HEADER_HEIGHT} - #{$vert_margin} - #{$button_height} - #{$gap} - 10px);
        overflow-y: auto;
        background: $COLOR_LIGHT_GRAY;
        border-radius: $BORDER_RADIUS;
        border: 1px solid $COLOR_GRAY;
        box-sizing: border-box;
        user-select: none;
    }
    .menuitem--active {
        display: none;
    }
    .menuitem__img_container {
        margin-left: 8px;
    }
    .settings__section_header {
        padding-left: 12px;
    }
    .settings__menu > div:first-child .settings__section_header {
        margin-top: 12px;
    }
    .settings__separator {
        margin-right: 0;
        margin-left: 0;
    }
}