$filter-height: 100px;

.statement-container {
    .table-container {
        padding-top: $filter-height;
    }
    .statement-filter {
        height: $filter-height;
        position: fixed;
        background-color: $COLOR_WHITE;
        width: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-text {
            font-size: 1rem;
        }
        > * {
            margin-right: 1rem;
        }
    }
}