$filter-height: 60px;

.statement {
    &__content {
        padding-top: $filter-height;
    }
    &__no-activity-msg {
        padding: 1rem;
        @include interpolate(padding-left, 981px, 1440px, 16px, 32px);
        font-size: 1rem;
    }
    &__filter {
        height: $filter-height;
        position: fixed;
        z-index: 200;
        background-color: $COLOR_WHITE;
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid $COLOR_GRAY;

        & .container {
            height: 100%;
            @include interpolate(padding-left, 981px, 1440px, 16px, 32px);
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-label {
            margin-right: 0.6rem;
        }
        &-dash {
            margin: 0 0.5rem;
        }
    }

    /* TABLE STYLES START */
    .table-head {
        white-space: nowrap;
    }
    .table-body .table-row {
        cursor: pointer;
    }
    .date, .refid {
        width: 6.5em;
    }
    .desc {
        padding-right: 2rem !important;
    }
    .action {
        width: 6.5em;
    }
    .payout, .amount, .balance {
        width: 6em;
        text-align: right;
    }
    th.payout {
        direction: rtl;
    }
    .amount {
        font-weight: bold;

        &.profit {
            color: #4caf50; /* stylelint-disable-line color-no-hex */
        }
        &.loss {
            color: #f44336; /* stylelint-disable-line color-no-hex */
        }
    }
    /* TABLE STYLES END */

    &-card {
        &__header {
            font-size: 10px;
            padding: 0.5rem;
            border-bottom: 1px solid $COLOR_GRAY;
            display: flex;
            justify-content: space-between;
        }
        &__refid {
            color: $COLOR_LIGHT_BLUE;
        }
        &__body {
            padding: 0.5rem;
            font-size: 12px;
        }
        &__desc {
            margin-bottom: 0.5rem;
        }
        &__row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-weight: bold;
        }
    }
}