$filter-height: 60px;

.statement-container {
    .statement-content {
        padding-top: $filter-height;
    }
    .statement-no-activity-msg {
        padding: 1rem 2rem;
    }
    .statement-filter {
        height: $filter-height;
        position: fixed;
        z-index: 200;
        background-color: $COLOR_WHITE;
        width: 100%;

        & .container {
            height: 100%;
            padding-left: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            & > * {
                margin-right: 1rem;
            }
        }
        &-text {
            font-size: 14px;
        }
    }
    .table-head {
        white-space: nowrap;
    }
    .table-body .table-row {
        cursor: pointer;
    }
    // column widths
    .date, .ref {
        width: 6.5em;
    }
    .action {
        width: 6.5em;
    }
    .payout, .amount, .balance {
        width: 6em;
        text-align: right;
    }
    th.payout {
        direction: rtl;
    }
    .amount {
        font-weight: bold;

        &.profit {
            color: #4caf50; /* stylelint-disable-line color-no-hex */
        }
        &.loss {
            color: #f44336; /* stylelint-disable-line color-no-hex */
        }
    }
}