.binary-app {
    overflow: hidden;

    .notice-msg {
        background: unset;
    }
    .icon {
        &:before {
            content: '';
            display: block;
            background-size: 16px 16px;
            height: 16px;
            width: 16px;
        }
        &.start-time:before {
            background-image: url('../images/trading_app/sidebar/light/ic_watch_later_light.svg');
        }
        &.trade-duration:before {
            background-image: url('../images/trading_app/sidebar/light/ic_timelapse_light.svg');
        }
        &.invest-amount:before {
            background-image: url('../images/trading_app/sidebar/light/ic_monetization_light.svg');
        }
        &.barriers:before {
            background-image: url('../images/trading_app/sidebar/light/ic_barrier_light.svg');
        }
        &.digits:before {
            background-image: url('../images/trading_app/sidebar/light/ic_digit_light.svg');
        }
    }
    .desktop-only fieldset .duration-container > * {
        margin-top: 0;
    }
    input {
        &:hover {
            border-color: $COLOR_BLUE;
        }
        &:active, &:focus {
            outline: 0;
            border-color: $COLOR_BLUE;
            box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
        }
    }
    fieldset {
        background-color: $COLOR_LIGHT_GRAY;
        border-radius: $BORDER_RADIUS;
        border: 1px solid $COLOR_GRAY;

        input, select {
            width: 100%;
            height: 32px;
            font-weight: 300;
            align-self: center;
            appearance: none;
            box-sizing: border-box;
            background: $COLOR_WHITE;
        }
        .select-wrapper {
            position: relative;

            &:after {
                content: '\25bc';
                display: block;
                position: absolute;
                top: 50%;
                right: 8px;
                font-size: 12px;
                transform: translateY(-50%);
            }
        }
        select {
            margin: 8px 0;
            display: block;

            &:hover {
                border-color: $COLOR_BLUE;
            }
            &:active, &:focus {
                outline: 0;
                border-color: $COLOR_BLUE;
                box-shadow: 0 0 0 2px rgba(42, 48, 82, 0.2);
            }
        }
        .symbols {
            font-size: inherit;
            position: absolute;
            display: block;
            text-align: center;
            z-index: 1;
            color: $COLOR_BLUE;
        }
        .clock-header, .fieldset-header {
            height: 1.5rem;
            position: relative;

            span.field-info {
                position: absolute;
                color: $COLOR_BLUE;
                font-size: 0.7rem;
                font-weight: 400;
                margin: 5px 0 12px;

                &.icon {
                    display: inline-flex;
                    align-items: center;
                    top: -3px;

                    &:before {
                        margin-right: 5px;
                    }
                }
                &.left {
                    left: 5px;
                }
                &.right {
                    top: -3px;
                    right: 5px;
                    font-size: 0.5625rem; /* stylelint-disable-line number-max-precision */
                }
            }
        }
        &.trade-types {
            border: 0;
            padding: 0;
            margin-bottom: 0;
            background: transparent;
        }
    }
    .calendar {
        width: 187px;

        .calendar-input, .calendar-footer {
            font-size: 12px;
        }
        .calendar-date-panel, .calendar-month-panel, .calendar-year-panel, .calendar-decade-panel, .calendar-century-panel {
            display: grid;
            grid-gap: 2px;
            padding: 8px 12px;
            height: 226px;

            .calendar-date, .calendar-month, .calendar-year, .calendar-decade {
                font-size: 10px;

                &.calendar-date {
                    width: 20px;
                }
                &-header {
                    width: 20px;
                }
            }
        }
    }
    div.datepicker-container {
        .datepicker-display, .datepicker-native-overlay {
            font-size: 12px;
        }
    }
    .time-picker #time-picker-input.time-picker-input {
        font-size: 12px;
    }
}
