<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Array.prototype.includes,String.prototype.includes,Symbol,Promise,Object.assign&flags=gated&unknown=polyfill"></script>
[%= FOREACH js IN javascript.libs =%]
  <script src='[%= js =%]' defer async></script>
[%= END =%]
