[% BLOCK loading %]
<div class="barspinner dark">
    [% item = 1 %]
    [% WHILE item <= 5 %]
    <div class="rect[% item %]"></div>
    [% item = item + 1 %]
    [% END %]
</div>
[% END %]

[% INCLUDE loading %]

