[% BLOCK loading %]
<div class="barspinner dark">
    [% items = ['1', '2', '3', '4', '5'] %]
    [% FOREACH item IN items %]
    <div class="rect[% item %]"></div>
    [% END %]
</div>
[% END %]

[% INCLUDE loading %]

