<!DOCTYPE html>
<html>
<head>
    <style id="antiClickjack">body{display:none !important;}</style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
[%= FOREACH js IN javascript.libs =%]
    <script src='[%= js =%]'></script>
[%= END =%]
    <style>
        body {margin: 0;}
        #header-binary {height: 55px; background: #2a3052; border-bottom: 4px solid #e98024; text-align: center; padding: 10px 0;}
        #header-binary a {margin: 0 auto; vertical-align: middle; display: inline-block; min-width: 220px;}
        #header-binary #symbol-logo {vertical-align: middle; height: 55px;}
        #header-binary #type-logo {vertical-align: middle; height: 37px; margin-left: 6px;}
        #login_loading {text-align: center; padding-top: 90px;}
    </style>
</head>
<body>
    <div id="header-binary">
        <a href="[% request.url_for('/') %]">
            <img id="symbol-logo" src="https://style.binary.com/images/logo/symbol.svg" alt="" />
            <img id="type-logo" src="https://style.binary.com/images/logo/type.svg" alt="Binary.com" />
        </a>
    </div>
    <div id="content-holder">
        <div id="content">
            <div id="login_loading">
                <a href="[% request.url_for('/') %]" id="loading_link">
                    [% PROCESS global/loading.html.tt %]
                </a>
            </div>
        </div>
    </div>
</body>
</html>
