<div class="center-text gr-centered" id="reality-check-nav">
    <button bcont="1" class="button" id="continue">[% l("Continue Trading") %]</button>
    <button class="button" id="statement">[% l("View Statement") %]</button>
    <button class="button-secondary" id="btn_logout">[% l("Log out") %]</button>
</div>
