<div [% UNLESS no_wrapper %]class="[% UNLESS show_mobile %]gr-hide-m[% END %][% IF class %] [% class %][% END %]"[% END %]>
    <div class="separator-line [% UNLESS invisible %]border-bottom[% END %]"></div>
</div>
