[% l("Dear Valued Customer,

Before we can help you change your password, please help us to verify your identity by entering the following verification token into the password reset form:

Token: [_1]

Password reset form: [_2]", token, link) %]

[% l("If you need help, please contact our customer support team at") %] support@binary.com.
