[% l("Dear Valued Customer,

In order to verify your withdrawal request, please click on the following link:

[_1]

For security reasons and an improved user experience, we encourage you to deposit and withdraw using the same payment method.

", link) %]
