<script>
    //A global variable required to initialize Page object.
    window.page_params = {settings: [%= javascript.settings =%]};
</script>

[%= FOREACH js IN javascript.libs =%]
  <script src='[%= js =%]' defer></script>
[%= END =%]

<script src="https://apis.google.com/js/platform.js" defer async></script>
