/** IMPORTANT
 *  Before modifying or removing any of these colors,
 *  confirm it with design team and ask yourself do we need
 *  any other color except these generic ones as addition
 *  of new color may lead to inconsistent looking UI
 *
 *  Colors are specified with examples where they are used
 */
$COLOR_BLACK                      : #000000;
$COLOR_WHITE                      : #FFFFFF;
$COLOR_ORANGE                     : #E98024; // header border bottom
$COLOR_RED                        : #CC0000; // spot fall color
$COLOR_YELLOW                     : #FEF1CF; // error background

$COLOR_LIGHT_BLUE                 : #29ABE2; // spot rise color
$COLOR_BLUE                       : #2a3052; // header color
$COLOR_BLUE_SHADE                 : #394171; // header top border color
$COLOR_DARK_BLUE                  : #15212d; // topbar color

$COLOR_LIGHT_GRAY                 : #F2F2F2; // main menu background color
$COLOR_GRAY                       : #DEDEDE; // ticker background color
$COLOR_GRAY_SHADE                 : #C2C2C2; // ticker border color
$COLOR_DARK_GRAY                  : #808080; // table header border color

$COLOR_GREEN                      : #2E8836; // button/links color
$COLOR_DARK_GREEN                 : #14602B; // button hover color