<div class="grd-grid-12">
    <div id="applications-ws-container">
        <div class="page-title" id="applications-title">
            <h1>Applications</h1>
            <p id="description">Keep track of your authorised applications.</p>
            <p class="error-msg" id="err"></p>
        </div>
    </div>
</div>
