<div class="grd-grid-12">
    <div id="profit-table-ws-container">
        <div class="page-title" id="profit-table-title">
            <h1>Profit Table</h1>
            <br>
            <p class="error-msg" id="err"></p>
        </div>
    </div>
</div>