      <div id="content"[% IF h.current_route +%] class="[% h.current_route %]-content"[% END %]>
          [% INCLUDE global/gtm.html.tt %]
          <div id="page_info" style="display:none;">
              <title>[% browser_title %]</title>
          </div>
          [% IF !full_width %]
          <div class="grd-container">
          [% END %]

          [% content %]
          </div>
      </div>