.ib-signup-content {
    margin-bottom: 0 !important;
}

.ib-signup-page {
    &__commission-table td:not(:last-child) {
        font-weight: bold;
    }
}

.affiliates-faq-page, .ib-faq-page {
    h3 {
        color: $COLOR_ORANGE;

        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
    @media screen and (max-width: 480px) {
        .sidebar-container {
            margin-bottom: 2rem;

            .sidebar a {
                line-height: 2.5rem;
            }
        }
    }
}

.affiliate-ib-content {
    margin: 0 !important;

    h1, h2, h3 {
        margin: 0;
    }
    h1 {
        font-size: 62px;
        margin-bottom: 20px;
    }
    .hero {
        background: $COLOR_ORANGE;
        height: 400px;
    }
    .statistics {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../../images/pages/contact/banner-bg.svg');
        height: 200px;

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 40px;
        }
    }
}
// will do the styling here
// .affiliates-signup-page, .ib-signup-page {
//     h2 {
//         margin-top: 30px;
//     }
//     #commission_tabs {
//         margin-bottom: 0 !important;
//     }
//     .margin-bottom-50 {
//         margin-bottom: 50px;
//     }
//     .fixed-height-img {
//         height: 50px;
//     }
//     .faq-box {
//         padding: 1rem;
//     }
//     .table-container.center-text {
//         & th, td {
//             text-align: center;
//         }
//     }
//     @media screen and (max-width: 480px) {
//         table, .mobile-text-small {
//             font-size: 0.9rem;
//         }
//     }
// }

.how-it-works {
    text-align: center;

    h2, h3 {
        font-weight: 700;
        margin: 20px 0;
    }
}