.ib-signup-content {
    margin-bottom: 0 !important;
}

.ib-signup-page {
    &__commission-table td:not(:last-child) {
        font-weight: bold;
    }
}

.affiliates-faq-page, .ib-faq-page {
    h3 {
        color: $COLOR_ORANGE;

        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
    @media screen and (max-width: 480px) {
        .sidebar-container {
            margin-bottom: 2rem;

            .sidebar a {
                line-height: 2.5rem;
            }
        }
    }
}

.affiliate-ib-content {
    margin: 0 !important;

    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 36px;
    }
    h4 {
        font-weight: 700;
    }
    .hero {
        background: $COLOR_ORANGE;
        height: 400px;
    }
    .statistics {
        background: url('../../images/pages/contact/banner-bg.svg');
        height: 200px;
    }
    .who-apply {
        display: flex;
        align-items: center;
        height: 560px;
    }
}