.table-container {
    $md: 600px;
    th {
        @include BIDIR_VALUE(text-align, left !important, right !important);
        border-bottom: none !important;
        overflow: hidden;
    }
    td {
        @include BIDIR_VALUE(text-align, left !important, right !important);
        @include BIDIR_PROP(padding-left, padding-right, 10px);
        &[data-balloon] {
            border-bottom: 3px solid $COLOR_LIGHT_GRAY;
        }
    }
    .xmp {
        white-space: pre;
    }
    @media (max-width: $md) {
        td {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        th {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }
    #statement-table {
        tr {
            & > th.details, & > td.details {
                display: none !important;
            }
            @media (max-width: $md) {
                & > th.desc, & > td.desc {
                    display: none !important;
                }
                & > th.details, & > td.details {
                    display: table-cell !important;
                    .button {
                        padding: 8px 15px;
                    }
                }
                th, td {
                    font-size: 12px;
                }
            }
            td {
                overflow: initial;
            }
        }
    }
    #profit-table {
        tr {
            & > th.details, & > td.details {
                display: none !important;
            }
            @media (max-width: $md) {
                & > th.contract, & > td.contract {
                    display: none !important;
                }
                & > th.details, & > td.details {
                    display: table-cell !important;
                    .button {
                        padding: 8px 15px;
                    }
                }
                th, td {
                    font-size: 12px;
                }
            }
            td {
                overflow: initial;
            }
        }
    }
}
