.time_amount {
  width: 80%;
}

iframe#chart_frame {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

tr#highchart_duration {
  td {
    padding-top: 0;
    &:nth-child(1) {
      @include BIDIR_VALUE(text-align, right, left);
    }
    &:nth-child(2) {
      @include BIDIR_VALUE(text-align, left, right);
    }
  }
}
