.time_amount {
    width: 80%;
}

iframe#chart_frame {
    width: 1px;
    min-width: 100%;
    *width: 100%; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

.chart-delay {
    display: block;
    text-align: center;
    margin-bottom: 0.2em;
    color: $COLOR_RED;
}
