.home-content, .home-jp-content {
    .signup-box {
        border-radius: $BORDER_RADIUS;

        .error-msg {
            text-align: center;
            margin-top: 5px;
        }
    }
    #frm_verify_email {
        input {
            width: 100%;
            height: 3em;
            margin: 5px 0;
            font-size: $FONT_SIZE_S;
        }
        button {
            margin: 5px 0;
            height: 3rem;
            width: 100%;
        }
    }
}

.home-content {
    #banner {
        background: url('../images/pages/home/home-banner.png') no-repeat;
        background-position: left top;
        background-size: 100% 70%;
    }
    .small-image {
        width: 10%;
        margin: 0 1em;
    }
    .mena {
        width: 10%;
        margin: 0 1em;
    }
    .xbubble-right {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 5px 0 10px, 25px 10px 0 5px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 80%);
    }
    .xbubble-left {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        @include BIDIR_VALUE(border-width, 25px 10px 0 5px, 25px 5px 0 10px);
        border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
        position: relative;
        @include BIDIR_PROP(left, right, 10%);
    }
    .xquoter-left {
        @include BIDIR_VALUE(text-align, left, right);
    }
    .xquoter-right {
        @include BIDIR_VALUE(text-align, right, left);
    }
    .xquoter-left p span, .xquoter-right p span {
        font-size: $FONT_SIZE_XS;
        font-style: italic;
    }
    #market_tabs_container .tab-content {
        min-height: 130px;
    }
}

#content.home-content {
    .go-left, .go-right {
        &:hover {
            cursor: pointer;
        }
    }
    h3 {
        line-height: 30px;
    }
    .border-right {
        border-right: 2px solid $COLOR_GRAY;
    }
    .tab-circles {
        display: flex;

        .tab-circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $COLOR_ORANGE;
            margin: 0 3px;

            &.selected {
                background-color: $COLOR_ORANGE;
            }
            &:first-child {
                margin-left: auto;
            }
            &:last-child {
                margin-right: auto;
            }
        }
    }
}

.home-jp-content {
    #banner {
        background: url('../images/pages/home-jp/home-jp-banner.png') 0 0/cover no-repeat;
        opacity: 0.3;
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
    }
    .relative {
        position: relative;
    }
    .box {
        margin-top: 10%;
    }
    .small-image {
        width: 8%;
        height: 8%;
    }
    .medium-image {
        width: 14%;
        height: 14%;
        margin-right: 1em;
    }
    .align-center {
        align-items: center;
    }
    #email {
        border: 1px solid $COLOR_DARK_WHITE;
    }
    #mb_trading .contract-type {
        background-repeat: no-repeat;
        padding: 45px 26px 0;
    }
    .align-self-center {
        align-self: center;
    }
    .go-right, .go-left {
        width: 25px;
        height: 25px;

        &:not(.disabled):hover {
            cursor: pointer;
        }
    }
    .product {
        display: inline-block;
    }
    #product_wrapper {
        white-space: nowrap;

        li {
            white-space: normal;
        }
    }
    .no-scroll, .product {
        width: 800px;
    }
}

@media screen and (max-width: 959px) {
    .home-jp-content {
        .no-scroll, .product {
            width: 600px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home-jp-content {
        .box {
            margin-top: auto;
        }
    }
    .home-content {
        #banner {
            background-position: right top;
            background-size: 125% 75%;
        }
        #market_tabs_selector {
            top: 24px;
        }
        .order-2-m {
            order: 2;
            padding-top: 30px;
        }
        .center-text-m {
            text-align: center;
        }
        .gr-centered-m {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .home-content {
        .small-image {
            width: 30%;
        }
        .mena {
            width: 32%;
        }
        #banner {
            background-position: right top;
            background-size: 300% 75%;
        }
    }
    #content.home-content {
        .border-right {
            border-right: none;
        }
        #account_tabs_selector {
            top: 24px;
        }
        #frm_verify_email input {
            width: calc(100% - 10px);
        }
        .padding-top-20 {
            padding-top: 20px;
        }
    }
    .home-jp-content {
        .gr-padding-30 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .no-scroll, .product {
            width: 200px;
        }
    }
}
