.open-positions {
    .one-line {
        margin-bottom: 35px;
    }
    img.responsive {
        margin-top: 1.1em;
        width: 50%;
    }
    .eq {
        padding: 10px;
        width: 45%;
        width: calc(50% - 21px);
    }
    .eqWrap {
        display: flex;
        flex-wrap: wrap;
    }
}

.job-details .dept-image {
    width: 80%;
}

@media screen and (max-width: 800px) {
    .open-positions {
        .eq {
            width: 100%;
        }
    }
}
@media screen and (max-width: 460px) {
    .open-positions {
        h1 {
            text-align: center;
        }
        img.responsive {
            width: 40%;
        }
    }
}
