.japan-ui {
    font-family: roboto, sans-serif;
    font-size: 14px;
    .flex-box {
        display: flex;
        &.rows {
            flex-direction: column;
        }
        &.cols {
            flex-direction: row;
        }
        @media screen and (max-width: 620px) {
            &.japan-table {
                flex-direction: column;
            }
        }
    }
    .japan-table {
        align-items: stretch;
        position: relative;
        #disable-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: calc(100% - 5px);
            height: 100%;
            background-color: rgba(242, 242, 242, 0.5);
        }
    }
    .prices-wrapper {
        .price-row, .heading {
            &:nth-child(even) {
                background: $COLOR_LIGHT_GRAY;
            }
            .buy-prices, .sell-prices, .barriers {
                flex-grow: 2;
                white-space: nowrap;
                line-height: 35px;
                min-height: 35px;
                padding: 3px 0;
                text-align: center;
            }
        }
        .heading .sell-prices {
            padding-right: 20px;
        }
    }
    .price-wrapper {
        padding-right: 20px;
    }
    .price-button {
        width: 120px;
        color: $COLOR_WHITE;
        text-align: center;
        line-height: 100%;
        background: $COLOR_GREEN;
        border-radius: 3px;
        padding: 10px 0;
        cursor: pointer;
        font-size: 14px;
        border: 0;
    }
    .inactive {
        color: $COLOR_GRAY;
        &.price-button {
            color: $COLOR_WHITE;
            background: $COLOR_GRAY;
            cursor: default;
            overflow: visible;
        }
    }
    .down {
        color: $COLOR_RED;
    }
    .up {
        color: $COLOR_GREEN;
    }
    .heading {
        font-weight: bold;
    }
    .descr-wrapper .descr {
        padding: 0 16px 0 0;
        font-size: 16px;
        max-width: 420px;
        line-height: 1.4em;
    }
    .background-gray {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .details-heading {
        padding: 45px 16px 0;
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-position: top center;
        font-size: 18px;
        text-align: center;
        align-self: flex-start;
        white-space: nowrap;
        &.CALLE {
            background-image: url('https://www.binary.com/images/pages/trade/rise_1.png');
        }
        &.PUT {
            background-image: url('https://www.binary.com/images/pages/trade/fall_1.png');
        }
        &.ONETOUCH {
            background-image: url('https://www.binary.com/images/pages/trade/touch_1.png');
        }
        &.NOTOUCH {
            background-image: url('https://www.binary.com/images/pages/trade/no-touch_1.png');
        }
        &.EXPIRYRANGEE {
            background-image: url('https://www.binary.com/images/pages/trade/ends-between_1.png');
        }
        &.EXPIRYMISS {
            background-image: url('https://www.binary.com/images/pages/trade/ends-outside_1.png');
        }
        &.RANGE {
            background-image: url('https://www.binary.com/images/pages/trade/stay-in-between_1.png');
        }
        &.UPORDOWN {
            background-image: url('https://www.binary.com/images/pages/trade/stay-out_1.png');
        }
    }
    .price-wrapper, .price-button {
        position: relative;
        .dynamics {
            position: absolute;
        }
    }
    .select {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 30px;
        line-height: 30px;
    }
    #spot-dyn {
        width: 10px;
        display: inline-block;
        font-family: Arial;
        padding-left: 3px;
        &.still {
            color: $COLOR_GRAY_SHADE;
            padding-left: 6px;
        }
    }
    .padding-10 {
        padding: 10px 10px 0;
    }
    .gr-6.gr-no-gutter-left {
        padding-right: 5px;
    }
    .select-box {
        float: left;
        background: $COLOR_LIGHT_GRAY;
        border-radius: 3px;
        width: 100%;
        .select, .payout-select {
            width: 100%;
            margin-top: 5px;
            padding: 2px 3px;
            border: 1px solid $COLOR_LIGHT_GRAY;
            background: $COLOR_WHITE;
            border-radius: 3px;
        }
        .payout-input {
            position: relative;
            white-space: nowrap;
            .hint {
                padding: 4px;
                padding-right: 0;
                margin-left: 5px;
                line-height: 16px;
            }
            .hint, span, label {
                font-size: 10px;
            }
        }
        .payout-select {
            display: inline;
            width: 30px;
            height: 24px;
            line-height: 24px;
            text-align: right;
            margin: 6px 0 9px;
        }
        .payout-mult {
            font-size: 15px;
        }
    }
    .float-left {
        float: left;
    }
    .space-between {
        justify-content: space-between;
        margin: 8px 0;
        .gr-grow {
            padding: 0;
        }
        .gr-adapt {
            padding: 0 0 0 10px;
        }
    }
    .spot div {
        white-space: nowrap;
        display: block;
        &.spot-value {
            line-height: 30px;
        }
    }
    .countdown-timer {
        padding: 5px 0 5px 5px;
        border-radius: 3px;
        white-space: nowrap;
        line-height: 22px;
        margin-right: 5px;
        &.alert {
            background: rgba(251, 228, 215, 0.7);
            padding-right: 5px;
        }
    }
    @media screen and (max-width: 768px) {
        .gr-12-p {
            padding-bottom: 10px;
        }
    }
}

#trading_bottom_content #tab_portfolio-content {
    overflow-x: auto;
}
