#mb-trading-wrapper {
    max-width: 1200px;
    #mb_trading {
        font-size: 14px;
        #trade_form {
            margin-bottom: 10px;
            > div {
                border: 3px solid $COLOR_LIGHT_GRAY;
                text-align: center;
                &:nth-child(4) {
                    border-right: 3px solid $COLOR_LIGHT_GRAY;
                }
                border-right: none;
                position: relative;
                height: 130px;
                .current {
                    height: 115px;
                }
                .current, .list > div {
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: $COLOR_LIGHT_GRAY;
                    }
                }
                .list {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    background-color: $COLOR_WHITE;
                    > div {
                        border: 1px solid $COLOR_LIGHT_GRAY;
                    }
                }
            }
            #category {
                .contract-type {
                    display: inline-block;
                    width: calc(50% - 5px);
                    padding-top: 40px;
                    margin-top: 30px;
                    background-position: center top;
                    background-repeat: no-repeat;
                    vertical-align: top;
                }
            }
            #period {
                .start, .end {
                    line-height: 25px;
                }
                .duration {
                    line-height: 65px;
                    font-size: $FONT_SIZE_XL;
                    font-weight: bold;
                }
            }
            #payout {
                .current {
                    line-height: 115px;
                    font-size: $FONT_SIZE_XXL;
                    font-weight: bold;
                }
                .list > div {
                    line-height: 50px;
                    font-size: $FONT_SIZE_XL;
                    font-weight: bold;
                }
                .plus {
                    color: $COLOR_LIGHT_BLUE;
                }
                .minus {
                    color: $COLOR_ORANGE;
                }
            }
        }
        .price-table {
            position: relative;
            .descr-wrapper {
                padding: 10px;
                .contract-type {
                    padding-left: 45px;
                    margin-bottom: 0;
                    background-repeat: no-repeat;
                    background-position: left;
                    font-size: 18px;
                    white-space: nowrap;
                    line-height: 36px;
                    border-bottom: none;
                }
            }
            #disable-overlay {
                position: absolute;
                top: 84px;
                left: 10px;
                z-index: 1;
                width: calc(100% - 20px);
                height: calc(100% - 84px);
                background-color: rgba(242, 242, 242, 0.5);
            }
            #loading-overlay {
                width: 100%;
                background: $COLOR_WHITE url('../images/common/hourglass_1.gif') center 20px no-repeat;
            }
            .prices-wrapper {
                .price-row, .heading {
                    .buy-price, .sell-price, .barrier {
                        line-height: 35px;
                        padding: 3px 0;
                        text-align: center;
                    }
                }
                .price-row .barrier {
                    line-height: 18px;
                    display: flex;
                    align-self: center;
                }
                .heading {
                    font-weight: bold;
                    .sell-price {
                        padding-right: 20px;
                    }
                }
                .price-row .buy-price:nth-child(4) .price-button {
                    background: $COLOR_RED;
                }
                .price-row:nth-child(odd) {
                    background: $COLOR_LIGHT_GRAY;
                }
                .base-value {
                    font-size: 9px;
                    display: inline-block;
                    margin-left: 5px;
                }
                .dynamics {
                    display: inline-block;
                    width: 10px;
                    height: 15px;
                    margin-right: 5px;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    &.up {
                        background-image: svg-icon('up', $COLOR_BLACK);
                    }
                    &.down {
                        background-image: svg-icon('down', $COLOR_BLACK);
                    }
                }
                .inactive {
                    color: $COLOR_GRAY;
                    &.price-button {
                        color: $COLOR_WHITE;
                        background: $COLOR_GRAY !important;
                        opacity: 1;
                        cursor: default;
                        overflow: visible;
                    }
                    &:hover {
                        opacity: 1 !important;
                    }
                    .dynamics {
                        &.up {
                            background-image: svg-icon('up', $COLOR_GRAY);
                        }
                        &.down {
                            background-image: svg-icon('down', $COLOR_GRAY);
                        }
                    }
                }
                .price-button {
                    width: 100px;
                    color: $COLOR_WHITE;
                    text-align: center;
                    line-height: 100%;
                    background: $COLOR_LIGHT_BLUE;
                    border-radius: 3px;
                    padding: 10px 0;
                    cursor: pointer;
                    font-size: 14px;
                    border: 0;
                    min-height: 34px;
                    position: relative;
                    .value-wrapper {
                        margin-left: -15px;
                        .dynamics {
                            &.up {
                                background-image: svg-icon('up', $COLOR_WHITE);
                            }
                            &.down {
                                background-image: svg-icon('down', $COLOR_WHITE);
                            }
                        }
                    }
                    .base-value {
                        position: absolute;
                        bottom: 1px;
                        right: 3px;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .countdown-timer {
            padding: 0;
            border-radius: 3px;
            white-space: nowrap;
            line-height: 22px;
            &.alert {
                background: rgba(251, 228, 215, 0.7);
                padding-right: 5px;
                margin-right: 0;
            }
        }
        .padding-10 {
            padding: 10px 10px 0;
        }
        .padding-right-five {
            padding-right: 5px;
        }
        .padding-right-ten {
            padding-right: 10px;
        }
        .no-padding-right {
            padding-right: 0;
        }
        .float-left {
            float: left;
        }
        @media screen and (max-width: 768px) {
            .gr-12-p {
                padding-bottom: 10px;
            }
            .padding-right-five, .no-padding-right {
                padding-right: 10px;
            }
        }
        @media screen and (max-width: 480px) {
            .trade-form .gr-row > div:first-child {
                padding-bottom: 10px;
            }
            .price-table .price-row {
                .barrier, .price-button .value-wrapper, .sell-price {
                    font-size: 0.9em;
                }
                .price-button {
                    width: 80%;
                    margin-left: 15px;
                    .base-value {
                        bottom: 0;
                    }
                }
            }
        }
    }
    #trading_bottom_content {
        #tab_portfolio-content {
            overflow-x: auto;
        }
        #tab_explanation-content #winning_higherlower {
            display: flex;
            flex-direction: column;
            p {
                margin-top: 0;
                &:first-child {
                    order: 2;
                }
            }
        }
    }
}
