#forex-specs, #volatility-specs, #cash-specs {
    table td {
        font-size: $FONT_SIZE_N;
        text-align: center;

        &:first-child {
            white-space: nowrap;
            font-size: inherit;
            text-align: left;
        }
    }
}

.gr-prefix-1 {
    margin: 1em 0 1em 2em !important;
}

#margin-policy {
    .mt-img {
        background-repeat: no-repeat;
        background-position: center;
    }
    // Leverage & Margin icons
    .l1-icon {
        background-image: url('../images/pages/metatrader/margin-policy/l1_ai.svg');
        height: 300px;
    }
    .l2-icon {
        background-image: url('../images/pages/metatrader/margin-policy/l2_ai.svg');
        height: 150px;
    }
    .mr1-icon {
        background-image: url('../images/pages/metatrader/margin-policy/mr1_ai.svg');
        height: 300px;
    }
    .mr2-icon {
        background-image: url('../images/pages/metatrader/margin-policy/mr2_ai.svg');
        height: 150px;
    }
    .crypto-icon {
        background-image: url('../images/pages/metatrader/margin-policy/crypto.svg');
        height: 150px;
    }
    .metal-icon {
        background-image: url('../images/pages/metatrader/margin-policy/metal.svg');
        height: 150px;
    }
}

/* Multilevel numbered list */
#mt-tnc ol {
    counter-reset: item1;
    padding-left: 0.2em;

    li {
        display: block;
        position: relative;

        ol li {
            margin: 0.5em 0 0.5em 1.25em !important;
        }
        &:before {
            content: counter(item1)'.';
            counter-increment: item1;
            position: absolute;
            margin-right: 100%;
            right: 10px;
        }
    }
    ol {
        counter-reset: item2;

        li:before {
            content: counter(item1)'.'counter(item2)'.';
            counter-increment: item2;
        }
        ol {
            counter-reset: item3;

            li:before {
                content: counter(item1)'.'counter(item2)'.'counter(item3)'.';
                counter-increment: item3;
            }
            ol {
                counter-reset: item4;

                li:before {
                    content: counter(item1)'.'counter(item2)'.'counter(item3)'.'counter(item4)'.';
                    counter-increment: item4;
                }
            }
        }
    }
}

#mt_download .browsers img {
    max-height: 100px;
}

#new_account_icon {
    background-image: url('../images/pages/metatrader/icons/new_account.svg');
    background-repeat: no-repeat;
    background-position: 18px 6px;
    padding-left: 48px;
}
