// styling for static pages that are too short or simple to need their own styling page

.box-inlay-borders {
    .border-right-top {
        min-height: 200px;
    }
    .border-right-bottom {
        min-height: 300px;
    }
    .border-right-top, .border-right-bottom {
        @include BIDIR_PROP(border-right, border-left, 1px solid $COLOR_GRAY);
    }
    @media screen and (max-width: 480px) {
        .border-bottom, .border-right-top, .border-right-bottom {
            border: none;
        }
    }
}

.why-us-jp-content ol {
    &.split li {
        text-indent: -1.1em;
        list-style-type: none;

        &:before {
            counter-increment: mycounter;
            content: counter(mycounter) '.\00A0\00A0';
        }
    }
    &.start {
        counter-reset: mycounter;
    }
}

.faded {
    color: $COLOR_GRAY_SHADE;
    font-size: $FONT_SIZE_N;
    font-weight: 100;
    margin-bottom: 0;
}

.deposit-jp-content img.responsive {
    width: 50%;
}

#affiliate-tnc-jp ol li ul li {
    list-style-type: none !important;
}

.browser-support-content {
    .li-boxes-content-icon {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 10em;
    }
    #internet_explorer {
        background-image: url('../images/pages/browser_support/ielogo.png');
    }
    #microsoft_edge {
        background-image: url('../images/pages/browser_support/edgelogo.png');
        background-size: 50%;
    }
    #firefox {
        background-image: url('../images/pages/browser_support/firefoxlogo.png');
    }
    #safari {
        background-image: url('../images/pages/browser_support/safarilogo.png');
    }
    #opera {
        background-image: url('../images/pages/browser_support/operalogo.png');
    }
    #chrome {
        background-image: url('../images/pages/browser_support/chromelogo.png');
    }
}

#payment_methods {
    h3 {
        margin: 20px 0 0;
    }
    .payment-logo {
        width: 72px;
        height: 58px;
        background-image: url('../images/pages/cashier/payment_methods_sprite_new.png');
    }
    div {
        align-self: center;
    }
    #int_bank_wire {
        background-position: -7px -9px;
    }
    #local_bank_transfer {
        background-position: -90px -9px;
    }
    #visa {
        background-position: -338px -10px;
    }
    #mastercard {
        background-position: -421px -11px;
    }
    #cuo_credit_card {
        background-position: -108px -214px;
    }
    #moneybrokers {
        background-position: -8px -72px;
    }
    #neteller {
        background-position: -90px -72px;
    }
    #moneta {
        background-position: -174px -72px;
    }
    #webmoney {
        background-position: -257px -73px;
    }
    #qiwi {
        background-position: -10px -136px;
    }
    #icbc {
        background-position: -9px -348px;
    }
    #fastpay {
        background-position: -12px -429px;
    }
    #perfect_money {
        background-position: -106px -428px;
    }
    #yandex {
        background-position: -102px -348px;
    }
    #paysafecard {
        background-position: -372px -425px;
    }
    #okpay {
        background-position: -285px -426px;
    }
    #btc {
        background-position: -12px -498px;
    }
    #bch {
        background-position: -106px -498px;
    }
    #eth {
        background-position: -285px -498px;
    }
    #etc {
        background-position: -373px -498px;
    }
    #ltc {
        background-position: -200px -498px;
    }
}

.charity {
    .gallery {
        position: relative;
        width: 100%;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 2s ease;

            &:first-child {
                position: relative;
                opacity: 1;
            }
        }
    }
}

.contact-content {
    #cs_telephone_number {
        width: 100%;
    }
    #company_addresses .border-bottom {
        min-height: 200px;
    }
    @media screen and (max-width: 480px) {
        #company_addresses .border-bottom {
            min-height: 130px;
        }
    }
}

.regulation-content {
    .gray-line {
        border: 1px solid $COLOR_LIGHT_GRAY;
        background-color: $COLOR_LIGHT_GRAY;
        width: 2px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .background-gray {
        margin-top: -30px;
    }
}

.tour-content#content {
    margin-bottom: 0;
}

.page_404 .big-error-code {
    color: $COLOR_GRAY;
    font-size: 10em;
}

#pa_list #accordion {
    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        td {
            padding: 10px 4px;

            &:nth-of-type(1) {
                width: 40%;
            }
        }
    }
    #supported_banks, .supported_banks {
        text-align: center;
        padding-top: 30px;
    }
    .supported_banks img {
        width: 72px;
        height: 57px;
        margin: 3px;
    }
}

body #not_authenticated_financial ul.checked > li {
    list-style: none;
}

.liquidity-solutions-content {
    .box {
        border: 1px solid $COLOR_GRAY_SHADE;
        min-height: 256px;

        img {
            height: 48px;
        }
    }
    .white-bg {
        background-color: $COLOR_WHITE;
    }
}

.accounts-content {
    .table-container table {
        border: 1px solid $COLOR_LIGHT_GRAY;

        th {
            background-color: $COLOR_WHITE;
        }
        th, td {
            text-align: center !important;
            padding: 20px;
            border-bottom: 1px solid $COLOR_LIGHT_GRAY;
        }
    }
    #note .hint {
        margin-bottom: 3px;
    }
    #accounts_wrapper #no_new_accounts_wrapper {
        color: $COLOR_GRAY_SHADE;
    }
}

.set-currency-content {
    .currency_list > div {
        padding: 15px;
        background-image: url('../images/pages/set_currency/tick-normal.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        line-height: 30px;

        &:hover {
            cursor: pointer;
        }
        &.selected {
            background-image: url('../images/pages/set_currency/tick-selected.svg');
        }
        .currency-name {
            line-height: 22px;
            padding: 4px 0;
        }
    }
}

.platforms-content {
    img.responsive {
        max-height: 150px;
        width: auto;
    }
}

#mt5_types_of_accounts {
    .box {
        border: 1px solid $COLOR_GRAY;
        border-radius: $BORDER_RADIUS;
        padding: 20px;

        img {
            width: 40px;
        }
    }
}

#how_to_trade_mt5 {
    .border-box {
        border: 1px solid $COLOR_BLUE;
        border-radius: $BORDER_RADIUS;
        padding: 25px 50px;
        margin: 20px auto;
    }
    .vertical-dashed {
        height: calc(100% - 100px);
        width: 1px;
        margin: 30px auto;
        background-image: linear-gradient(to bottom, $COLOR_BLACK 70%, rgba(255, 255, 255, 0) 0%);
        background-position: left;
        background-size: 1px 15px;
        background-repeat: repeat-y;
    }
    table.thin-border {
        width: auto;

        td {
            padding: 15px 20px;
        }
    }
    img.math-sign {
        margin: 0 15px;
    }
}

.landing_page-content {
    .bordered {
        border: 1px solid $COLOR_LIGHT_GRAY;
    }
    .box {
        padding: 10px 30px;
    }
}

#client-limits img {
    margin-left: 5px;
    margin-bottom: 3px;
}

.authenticate-content {
    .fields > .gr-row > div {
        > .button {
            display: block;
            text-align: center;
            background: $COLOR_LIGHT_GRAY;
            padding: 5px 0;
            border-radius: $BORDER_RADIUS;
            width: 100%;

            > span {
                position: relative;
                top: 2px;
                padding: 0;
                display: inline-flex;
                width: 1em;
                height: 1em;
                margin-left: 10px;

                &.add {
                    background: url('../images/pages/authenticate/add.svg') no-repeat;
                }
                &.remove {
                    background: url('../images/pages/authenticate/remove.svg') no-repeat;
                }
            }
        }
        > input[type=file] {
            display: none;
        }
    }
    .center-text .button .barspinner {
        margin: 0 auto;
    }
}

.careers-content {
    .career {
        margin-top: 0;

        .top-banner {
            background: url('../images/pages/careers/careers-1_bg.jpg') no-repeat;
            background-size: cover;
            min-height: 300px;
            position: relative;
            background-position: center;

            .banner-caption {
                position: absolute;
                z-index: 1;
                width: 100%;
                bottom: -100px;

                .caption-text {
                    margin: 0 auto;
                    max-width: 960px;
                    background-color: $COLOR_WHITE;
                    text-align: center;
                    padding: 40px 0px 20px;

                    p {
                        margin: 1em auto;
                        max-width: 80%;
                    }
                }
            }
            @media (max-width: 768px) {
                background-position: 75% -30px;
            }
        }
        .center-banner {
            background: url('../images/pages/careers/careers-2_bg.jpg') no-repeat;
            background-size: cover;
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: center;

            .caption-text {
                margin: 0 auto;
                max-width: 960px;
                text-align: center;

                h1 {
                    margin-top: 1em;
                }
                p {
                    color: $COLOR_WHITE;
                    margin: 1em auto;
                    max-width: 80%;
                    font-weight: 300;
                }
            }
        }
        .margin-top-100 {
            margin-top: 100px;
        }
        .btn-margin-top {
            margin-top: 1.5em;
        }
        .column-margin {
            margin: 0 0 1em;
        }
        .header-line {
            border-color: $COLOR_ORANGE;
            border-width: 3px;
            width: 25%;
        }
        .fill-text {
            padding: 1em 0;
        }
        .box-container {
            &.padding {
                padding: 5px 15px;
            }
            > [class*='gr-padding'] {
                padding-bottom: 0;

                @media (max-width: 768px) {
                    padding-bottom: unset;
                }
            }
            .box {
                &.bordered {
                    border: 1px solid $COLOR_GRAY;
                    height: 100%;
                }
                .items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        padding-top: 20px;
                        width: 50px;
                    }
                    p {
                        font-weight: 600;
                        color: $COLOR_BLUE;
                    }
                    > .box-item-end {
                        padding: 0 30px;
                    }
                    @media (max-width: 768px) {
                        justify-content: center;
                    }
                }
            }
        }
        h4 {
            color: $COLOR_BLUE;
        }
        .graduate-container {
            position: relative;
            margin-top: 1em;

            .graduate-box {
                background-color: $COLOR_BLUE;
                padding: 30px;
                position: absolute;
                z-index: 1;
                top: 50px;

                h1 {
                    @media (max-width: 480px) {
                        font-size: $FONT_SIZE_XXL;
                        text-align: center;
                    }
                }
                p {
                    color: $COLOR_WHITE;

                    @media (max-width: 480px) {
                        font-size: $FONT_SIZE_S;
                        text-align: center;
                    }
                }
                a.button span {
                    background-color: $COLOR_WHITE;
                    color: $COLOR_BLUE;
                    border-radius: 0;
                    font-weight: 600;
                }
                @media screen and (max-width: 1024px) and (min-width: 769px) {
                    left: 16%;
                    bottom: 24%;
                    top: unset;
                }
                @media (max-width: 768px) {
                    top: 0;
                }
                @media (max-width: 480px) {
                    background-color: transparent;
                    padding: 15px;
                }
            }
        }
        ul.role-section {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            border-bottom: 0;

            li.role {
                margin: 0;
                border-radius: 0;
                padding: 0;

                a.role-btn {
                    padding: 15px 20px !important;

                    span {
                        color: $COLOR_BLUE;
                        font-weight: 600;
                        font-size: $FONT_SIZE_L;
                        text-transform: none;
                        @media (max-width: 320px) {
                            font-size: $FONT_SIZE_S;
                        }
                    }
                    &:focus {
                        border: 0;
                        outline: 0;
                    }
                }
                &.ui-tabs-active a span {
                    color: $COLOR_WHITE;
                }
                &:focus {
                    border: 0;
                    outline: 0;
                }
            }
        }
        .america-careers-link a {
            text-transform: capitalize;
        }
        .footer-email {
            margin-bottom: -20px;

            p {
                color: $COLOR_WHITE;
                padding: 20px 0;
                text-align: center;
            }
        }
        .steps {
            @media (max-width: 480px) {
                flex-direction: column;
            }
        }
    }
}
