#statement-container {
    #download_csv {
        line-height: 28px;
    }
    .desc {
        flex: 2 1 100px;
        padding-right: 20px;
        word-break: break-word;
        min-width: 130px;
    }
    .act {
        flex: 0.8 1 35px;
    }
    label[for='date-picker'] {
        left: 30%;
    }
    input {
        max-width: 60%;
        margin-left: 10px;
    }
    .padding-left {
        padding-left: 10px !important;
    }
}
