#virtual-form, #change-password, .usersettingssecurityws-content {
    input, select {
        outline: none;
    }
    #tooltip-password {
        text-decoration: none;
    }
    meter#password-meter {
        width: 10.9em;
        height: 0.5em;
        -webkit-appearance: none;
        border: 1px solid $COLOR_GRAY_SHADE;
        border-radius: 3px;
        vertical-align: top;
        display: block;
    }
    meter#password-meter::-webkit-meter-bar {
        background: $COLOR_LIGHT_GRAY;
        box-shadow: 0 5px 5px -5px $COLOR_DARK_GRAY inset;
    }
    div.hint {
        margin-top: 10px;
    }
    p.error-message-password {
        margin: 0.5em 0;
    }
}
