#virtual-form, #change-password, .usersettingssecurityws-content {
    input, select {
        outline: none;
    }
    #tooltip-password {
        text-decoration: none;
    }
    div.hint {
        margin-top: 10px;
    }
    p.error-message-password {
        margin: 0.5em 0;
    }
}
