<div id="japan-app"></div>
[% INCLUDE bet/analysis.html.tt %]
<div id="open_positions_container">[% INCLUDE user/portfoliows.html.tt %]</div>
<script src="https://binary-com.github.io/japanui/dist/bundle.js" defer></script>