[% BLOCK table %]
<table>
    [% FOREACH tr IN trs %]
        <tr>
            <td colspan="1">[% tr.text %]</td>
            <td colspan="3">
                [% IF tr.href || tr.mailto %]<a href="[% IF tr.mailto %]mailto:[% END %]%[% tr.placeholder %]" target="_blank">[% END %]
                %[% tr.placeholder %]
                [% IF tr.href || tr.mailto %]</a>[% END %]
            </td>
        </tr>
    [% END %]
</table>
[% END %]

<div id="paymentagent_deposit">
    <h1>[% l("How to use a payment agent?") %]</h1>
    <p>[% l("You can use an authorized payment agent to process deposits and withdrawals for payment methods or local currencies not supported by [_1]. It's easy to do.", website_name) %]</p>
    <ol>
        <li>[% l("Check out the payment methods accepted by the payment agents in the list below.") %]</li>
        <li>[% l("Choose the payment method you'd like to use.") %]</li>
        <li>[% l("Contact the payment agent directly for more information on how to transfer money to them.") %]</li>
        <li>[% l("Send your funds to the payment agent. The deposited funds, less the agent's commission, will show up in your account.") %]</li>
    </ol>

    <p><label for="target_country">[% l('Show payment agents for:') %]</label> <select id="target_country" class="invisible"></select></p>

    <div class="loading">[% PROCESS global/loading.html.tt %]</div>

    <div id="pa_list">
        <div id="accordion" class="invisible">
            <h3>%name</h3>
            <div>
                <p></p>
                [% INCLUDE table trs=[
                    { text= l('Name')                     , placeholder= 'name' },
                    { text= l('Summary')                  , placeholder= 'summary' },
                    { text= l('Commission on deposits')   , placeholder= 'deposit_commission%' },
                    { text= l('Commission on withdrawals'), placeholder= 'withdrawal_commission%' },
                    { text= l('Website')                  , placeholder= 'url', href=1 },
                    { text= l('Email')                    , placeholder= 'email', mailto=1 },
                    { text= l('Tel')                      , placeholder= 'telephone' },
                    { text= l('Further information')      , placeholder= 'further_information' },
                ] %]
                <div class="supported_banks">%supported_banks</div>
            </div>
        </div>
    </div>

    <p id="no_paymentagent" class="notice-msg center-text invisible">[% l('Payment agent is unavailable in your country.') %]</p>

    <p>[% l('Apply to become a [_1] <a href="[_2]">payment agent</a>.', website_name, request.url_for('/payment-agent')) %]</p>
    <p class="comment">
        <strong>[% l("IMPORTANT DISCLAIMER") %]</strong> - [% l("[_1] is not affiliated with any of the payment agents listed above. Each payment agent operates as an independent service provider and is not endorsed, guaranteed or otherwise approved by [_1]. CUSTOMERS DEAL WITH PAYMENT AGENTS AT THEIR SOLE RISK AND PERIL. Customers are advised to check the credentials of payment agents before sending them any money. [_1] shall not in any circumstance be held responsible for transactions made between customers and payment agents.", website_name) %]
    </p>
</div>
