[% PROCESS components/forms.html.tt %]
[% BLOCK strong_label %]
    <strong><label id="[% id %]"></label></strong>
[% END %]

<h1>[% l('Payment Agent transfer') %]</h1>

<div id="pa_transfer_loading" class="center-text">[% PROCESS global/loading.html.tt %]</div>

<form id="frm_confirm_transfer" class="invisible">
    <p>[% l('Please confirm the transaction details in order to complete the transfer:') %]</p>

    [% WRAPPER fieldset legend=l('Details') %]
        [% WRAPPER form_row label=l('Transfer to') id='user_name' type='custom' %]
            [% INCLUDE strong_label id='user_name' %]
        [% END %]
        [% WRAPPER form_row label=l('Login ID') id='loginid' type='custom' %]
            [% INCLUDE strong_label id='loginid' %]
        [% END %]
        [% WRAPPER form_row label=l('Amount') id='confirm_amount' type='custom' %]
            [% INCLUDE strong_label id='confirm_amount' %]
        [% END %]
    [% END %]

    [% INCLUDE submit_button custom_btn_href="javascript:;" custom_btn_id="back_transfer" custom_btn_text=l('Back')
        type='submit' text=l('Confirm') %]
</form>

<div id="pa_transfer_done" class="invisible">
    <p id="confirm_msg" class="invisible"></p>
    <p>
        <a class="button" href="[% request.url_for('/user/statementws') %]">
            <span class="button">[% l('View your statement') %]</span>
        </a>
    </p>
</div>

<div id="no_balance_error" class="invisible">
    <p class="center-text notice-msg">[% l('Please <a href="[_1]">deposit</a> before transferring to client.', request.url_for('/cashier/forwardws') _ '#deposit') %]</p>
</div>

<div id="not_pa_error" class="invisible">
    <p class="center-text notice-msg">[% l('This feature is only relevant to payment agent accounts.') %]</p>
</div>

<form id="frm_paymentagent_transfer" class="invisible">
    <p>[% l('Please fill in the Login ID and Amount you wish to transfer to your Client in the form below:') %]</p>

    [% WRAPPER fieldset legend=l('Details') %]
        [% INCLUDE form_row label=l('Transfer to Login ID') id='client_id' type='text' %]
        [% INCLUDE form_row label=l('Amount') id='amount' type='number' attributes='min="10" max="2000" step="any"'
            hint=l('Min: 10 Max: 2000') %]
    [% END %]

    [% INCLUDE submit_button msg_id='form_error' type='submit' text=l('Submit') %]
</form>

<div id="paymentagent_transfer_notes" class="invisible">
    <div>[% l('Notes:') %]</div>
    <ul>
        <li>[% l('Our site does not charge any transfer fees.') %]</li>
        <li>[% l('Once you click the \'Submit\' button, the funds will be withdrawn from your account and transferred to your Client\'s account.') %]</li>
        <li>[% l('Your Client will receive an email notification informing him/her that the transfer has been processed.') %]</li>
    </ul>
</div>
