/* Specific rules for languages */
body {
    .calls_recording {
        display: none;
    }
    ul.checked > li {
        @include BIDIR_VALUE(background-position, left top, right top);
        @include BIDIR_PROP(padding-left, padding-right, 35px);
    }
    .app-store-badge, .google-play-badge {
        background-repeat: no-repeat;
        width: 140px;
        height: 38px;
        display: inline-block;
        background-size: contain;
    }
}

body.EN {
    .calls_recording {
        display: block !important;
    }
}

body.JA {
    .ja-hide {
        display: none !important;
    }
    .regulatory-logo {
        display: none !important;
    }
    #header #menu-top li {
        white-space: nowrap;
    }
    #profit-table, #statement-table {
        .buy-price, .sell-price, .payout, .pl.loss, .act {
            white-space: nowrap;
        }
    }
    #email_consent_label {
        font-size: $FONT_SIZE_XS;
    }
    #footer #footer-regulatory {
        #regulatory-text {
            font-size: $FONT_SIZE_S;
        }
        .gr-9, .gr-7-p {
            width: 100% !important;
        }
    }
    #mb_trading {
        .payout-input {
            .hint, label {
                font-size: $FONT_SIZE_XXS;
            }
        }
        #currency {
            font-size: $FONT_SIZE_XXS;
        }
        @media screen and (max-width: 480px) {
            .trade_form {
                font-size: $FONT_SIZE_N;

                #spot, .current .name {
                    font-size: $FONT_SIZE_L;
                }
            }
        }
    }
}
/*Vietnamese Language */
body.VI {
    font-kerning: none;

    #legal-tab li.tm-li-2 {
        margin-right: 0 !important;
        padding: 0 8px !important;
    }
    #trading_socket_container #contract_form_name_nav {
        font-size: $FONT_SIZE_N;

        > li a.tm-a {
            font-size: $FONT_SIZE_XXS;
        }
    }
}

/*French Language */
body.FR {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
    #trading_socket_container #contract_form_name_nav {
        font-size: $FONT_SIZE_N;

        > li a.tm-a {
            font-size: $FONT_SIZE_XXS;
        }
    }
    #header .account-type {
        font-size: $FONT_SIZE_S;
    }
}

/*Indonesian Language */
body.ID {
    .calls_recording {
        display: block !important;
    }
    .regulatory-logo {
        display: none !important;
    }
    #regulatory-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .id-hide {
        display: none !important;
    }
}

body.IT, body.DE {
    #legal-tab li.tm-li-2 {
        margin-right: 0 !important;
        padding: 0 8px !important;
    }
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

body.ES {
    #trading_socket_container #contract_form_name_nav {
        font-size: $FONT_SIZE_XS;
    }
}

body.RU {
    #frm_verify_email button {
        font-size: $FONT_SIZE_XS;
    }
    #trading_socket_container {
        #contract_form_name_nav {
            font-size: $FONT_SIZE_N;

            > li a.tm-a {
                font-size: $FONT_SIZE_XXS;
            }
        }
        .contract_heading {
            font-size: $FONT_SIZE_N;
            padding-top: 2.7em;
        }
        #expiry_type {
            max-width: 185px;
        }
    }
    .calls_recording {
        display: block !important;
    }
    .ru-hide {
        display: none !important;
    }
    #header .account-type {
        font-size: $FONT_SIZE_N;
    }
}

body.PT, body.RU {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

body.DE {
    #trading_socket_container #contract_form_name_nav {
        font-size: $FONT_SIZE_N;

        > li a.tm-a {
            font-size: $FONT_SIZE_XS;
        }
    }
}

body.ZH_TW {
    #trading_socket_container #contract_form_name_nav {
        &, > li a.tm-a {
            font-size: $FONT_SIZE_N;
        }
    }
}

body.ZH_CN, body.ZH_TW {
    .contact-content .border-bottom {
        min-height: 215px;
    }
}

body.PL {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

$list:
    ('EN', 'en'),
    ('DE', 'de'),
    ('ES', 'es'),
    ('FR', 'fr'),
    ('ID', 'id'),
    ('IT', 'it'),
    ('JA', 'ja'),
    ('PL', 'pl'),
    ('PT', 'pt'),
    ('RU', 'ru'),
    ('TH', 'th'),
    ('VI', 'vi'),
    ('ZH_CN', 'zh_cn'),
    ('ZH_TW', 'zh_tw');

@each $language, $image in $list {
    body.#{$language} {
        .app-store-badge {
            background-image: url('../images/pages/applications/appstore_#{$image}.svg');
        }
        .google-play-badge {
            background-image: url('../images/pages/applications/googleplay_#{$image}.svg');
        }
    }
}
