@media screen and (max-width: 1199px) {
    body .buorg {
        font-size: $FONT_SIZE_S;
    }
}

@media screen and (max-width: 959px) {
    #header ul#menu-top.smaller-font a {
        font-size: $FONT_SIZE_XS;
    }
    .home-jp-content {
        #banner {
            background-position-x: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    #sell_popup_container {
        padding: 0;
        width: 100%;
        font-size: $FONT_SIZE_XS;
        max-height: 500px;
        overflow: scroll;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    .table-container {
        overflow-x: auto;
    }
    #ico_banner_container .ico-banner .ico-box {
        div:nth-child(1) {
            padding-left: unset;
        }
        .ico-column {
            min-height: unset;
            padding-top: 0;
            padding-bottom: 0;

            .learn-btn {
                padding-top: unset;

                a {
                    text-align: center;
                }
            }
        }
        p {
            text-align: center;
            font-size: $FONT_SIZE_L;
        }
    }
}

@media screen and (max-width: 480px) {
    #sell_popup_container {
        max-height: 100%;
    }
    input:not([type='checkbox']), select {
        width: 80%;
        height: 26px;
    }
    .center-text-m {
        &, div:first-child label {
            text-align: center;
        }
    }
    #btn_verify_email {
        font-size: $FONT_SIZE_N;
        padding: 0;
    }
    #end-note {
        display: none;
    }
    .home-jp-content {
        #banner {
            background-position-x: 15%;
        }
    }
    #ico_banner_container .ico-banner .ico-box {
        p {
            padding-top: 10px;
            margin-bottom: 10px;
        }
        .ico-column .learn-btn a {
            margin-bottom: 1em;
        }
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .center-text-t {
        &, div:first-child label {
            text-align: center;
        }
    }
}
