#end_note {
    line-height: 25px;
    background: $COLOR_RED;
    font-size: $FONT_SIZE_XS;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    text-align: center;

    &, & a {
        color: $COLOR_WHITE;
    }
}

.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;

    > div {
        margin: auto;
        max-width: 44em;
        max-height: 80vh;
        background-color: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        overflow: auto;
        text-align: center;
    }
}

// Japan landing pages common
@function border-width($width) {
    @return $width * 2;
}

// Triangle pointed right or down
@mixin triangle($color, $size, $direction) {
    position: absolute;
    content: '';
    width: 0;
    height: 0;

    @if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: border-width($size) solid $color;
        margin: auto;
        right: -10px;
        bottom: 0;
        top: 0;
    }
    @else {
        border-top: $size solid $color;
        border-left: border-width($size) solid transparent;
        border-right: border-width($size) solid transparent;
        margin: auto;
        left: 0;
        right: 0;
        top: 100%;
    }
}

// Speech bubble
@mixin speech-bubble($color, $size, $direction) {
    background-color: $color;
    border-radius: 5px;
    position: relative;

    &:before {
        @include triangle($color, $size, $direction);
    }
}

// Card with border
@mixin card($border-width, $border-color) {
    border: solid $border-width $border-color;
    background-color: $COLOR_WHITE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    h1, h2, h3, h4 {
        margin: 10px 0;
    }
    .card-divider {
        border-top: $border-width solid $border-color;
        display: block;
    }
    .card-header {
        &__bubble {
            @include speech-bubble($COLOR_BLUE, 20px, 'down');
        }
        &__ribbon {
            background-image: url('../images/japan/version1/blue-ribbon.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            h1 {
                margin: 0;
                color: $COLOR_WHITE;
            }
        }
    }
    .card-body.fixed-height {
        min-height: 581px;
    }
    .card-body, .card-footer {
        .size-1 {
            font-size: 10px;
        }
        .size-2 {
            font-size: 12px;

            &.fixed-width {
                padding: 0 17%;
            }
            &.big-spacing {
                line-height: 2.8em;
            }
        }
        .size-3 {
            font-size: 14px;
        }
        .size-desc {
            font-size: 13px;
        }
        .color-gray {
            /* stylelint-disable color-no-hex */
            color: #6e7287;
            /* stylelint-enable color-no-hex */
        }
        .bg-gray {
            /* stylelint-disable color-no-hex */
            background-color: #f4f4f6 !important;
            /* stylelint-enable color-no-hex */
            border-radius: 5px;
            padding: 15px;
        }
        @media (max-width: 575px) {
            .text-desc {
                font-size: 14px;
            }
            .box, .box-o {
                .size-3 {
                    font-size: 12px;
                }
            }
        }
    }
    .card-footer {
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: center;

        &.pull-text {
            align-items: flex-start;
        }
        p {
            margin: 0;
            color: $COLOR_BLUE;
            font-size: 18px;
            font-weight: 100;
            @media (max-width: 575px) {
                font-size: 12px;
            }
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Slanted edges
@mixin angle($pseudo, $flip: false, $angle: 12.4deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
        position: relative;
        z-index: 1;

        $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

        #{$selector} {
            background: inherit;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        @if $pseudo == 'before' {
            #{$selector} {
                z-index: -1;
                top: 0;

                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }
        }

        @if $pseudo == 'after' {
            #{$selector} {
                z-index: -2;
                bottom: 0;

                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 100%;
                }
                @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }

        @if $pseudo == 'both' {
            &:before {
                z-index: -1;
                top: 0;

                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }
            &:after {
                z-index: -1;
                bottom: 0;

                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }
    }
}

@mixin gap(
    $pseudo, $bgcolor, $padding, $angle, $x_pos, $flip: false, $width: 100vw, $height: 100%, $anchor: 0) {

    @if $pseudo == 'before' {
        &:before {
            background-color: $bgcolor;
            padding: $padding;
            width: $width;
            content: '';
            display: block;
            height: $height;
            position: absolute;
            z-index: -1;
            top: $anchor;

            @if $angle == 0deg {
                right: $x_pos;
            }
            @else {
                left: $x_pos;
            }
            @if $flip {
                transform: skewY($angle);
                transform-origin: 100% 0;
            }
            @else {
                transform: skewY($angle * -1);
                transform-origin: 0 0;
            }
            @media (max-width: 1649px) {
                padding: 0;
            }
        }
    }
    @if $pseudo == 'after' {
        &:after {
            background-color: $bgcolor;
            padding: $padding;
            width: 100vw;
            content: '';
            display: block;
            height: $height;
            left: $x_pos;
            position: absolute;
            right: 0;
            z-index: -1;
            bottom: $anchor;

            @if $flip {
                transform: skewY($angle);
                transform-origin: 0 0;
            }
            @else {
                transform: skewY($angle * -1);
                transform-origin: 100%;
            }
        }
    }
}

.buorg {
    color: $COLOR_BLACK;
}

@media screen and (max-width: 1199px) {
    body .buorg {
        font-size: $FONT_SIZE_S;
    }
}
