#end_note {
    line-height: 25px;
    background: $COLOR_RED;
    font-size: $FONT_SIZE_XS;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    text-align: center;

    &, & a {
        color: $COLOR_WHITE;
    }
}

// Japan landing pages common
@function border-width($width) {
    @return $width * 2;
}

// Triangle pointed right or down
@mixin triangle($color, $size, $direction) {
    position: absolute;
    content: '';
    width: 0;
    height: 0;

    @if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: border-width($size) solid $color;
        margin: auto;
        left: 90%;
        bottom: 0;
        top: 0;
    }
    @else {
        border-top: $size solid $color;
        border-left: border-width($size) solid transparent;
        border-right: border-width($size) solid transparent;
        margin: auto;
        left: 0;
        right: 0;
        top: 100%;
    }
}

// Speech bubble
@mixin speech-bubble($color, $size, $direction) {
    background-color: $color;
    border-radius: 5px;
    position: relative;

    &:before {
        @include triangle($color, $size, $direction);
    }
}

// Card with border
@mixin card($border-width, $border-color) {
    border: solid $border-width $border-color;
    background-color: $COLOR_WHITE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    h1, h2, h3, h4 {
        margin: 10px 0;
    }
    .card-divider {
        border-top: $border-width solid $border-color;
        display: block;
    }
    .card-header {
        &__bubble {
            @include speech-bubble($COLOR_BLUE, 20px, 'down');
        }
        &__ribbon {
            background-image: url('../images/japan/version1/blue-ribbon.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            h1 {
                margin: 0;
                color: $COLOR_WHITE;
            }
        }
    }
    .card-body {
        .size-1 {
            font-size: 10px;
        }
        .size-2 {
            font-size: 12px;
        }
        .size-3 {
            font-size: 14px;
        }
        .color-gray {
            color: $COLOR_DARK_WHITE;
        }
        .bg-gray {
            background-color: $COLOR_LIGHT_GRAY;
            border-radius: 5px;
            padding: 15px;
        }
    }
    .card-footer {
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: center;
        color: $COLOR_BLUE;
        font-size: 13px;
        font-weight: 300;

        p {
            margin: 0;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}