body {
    overflow-x: hidden;
    width: 100%;

    * {
        box-sizing: border-box;
    }
}

.scroll-lock {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    line-height: 1.5;
}

section {
    .section-title {
        margin-bottom: 50px;

        .color-blue {
            color: $COLOR_BLUE;
        }
    }
    @media (max-width: 1199px) {
        .container {
            padding-top: 50px;
            padding-bottom: 50px;

            &.tab-container {
                @media (max-width: 1199px) {
                    margin-top: -60px;
                }
            }
        }
    }
}

.fundsafe {
    width: 90% !important;
}

.box-divider {
    @media (min-width: 480px) {
        border-right: 1px solid $COLOR_GRAY;
    }
}

footer {
    text-align: justify;

    > div {
        font-size: 14px;
        padding: 10px 15px;
    }
    p {
        margin: 0;

        &.black-text {
            color: $COLOR_BLACK;
        }
        @media (max-width: 575px) {
            text-align: center;
        }
    }
    .badges {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        img {
            width: auto;
            max-width: 100%;

            &.fsa-badge, &.tffa-badge {
                max-height: 42px;

                @media (max-width: 768px) {
                    margin: 20px 0 0;
                    max-height: 50px;
                }
            }
        }
        @media (max-width: 768px) {
            margin: 20px 0 0;
            justify-content: space-evenly;
        }
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }
}

form {
    margin-bottom: 40px;

    h1 {
        color: $COLOR_WHITE;
        text-align: center;
        margin-top: 50px;
    }
    h2.email {
        color: $COLOR_WHITE;
        text-align: center;
        margin-top: 50px;
    }
    .signup-form-input {
        &.center {
            @media (min-width: 576px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .input-group {
            display: flex;
            flex-direction: column;
            position: relative;
            @media (min-width: 576px) {
                flex-direction: row;
                justify-content: flex-start;
            }

            input[type='email'] {
                width: 100%;
                font-size: 14px;
                padding: 10px;
                margin: 5px 0;
                max-width: 340px;
                outline: none;
                @media (min-width: 576px) {
                    width: 340px;
                }
                @media (max-width: 575px) {
                    margin: 5px auto;
                }

                &.error-field {
                    border: 1px solid $COLOR_RED;
                }
            }
            button {
                max-width: 340px;
                margin: 5px 20px;
                outline: none;
                @media (max-width: 575px) {
                    margin: 5px auto;
                    width: 100%;
                }
            }
            .error-msg {
                position: absolute;
                left: 0;
                top: 100%;
                @media (max-width: 575px) {
                    position: relative;
                    margin: 5px 0;
                }
            }
        }
    }
    .signup-form-success, .signup-form-error {
        background-color: $COLOR_ORANGE;
        padding: 5px;
        color: $COLOR_WHITE;
        border-radius: 5px;
        text-align: center;

        &.white {
            background-color: $COLOR_WHITE;
            color: $COLOR_BLACK;
        }
    }
}

/** Helpers **/
.padding-top-bottom-500 {
    padding-top: 500px;
    padding-bottom: 500px;

    @media only screen and (max-width: 1919px) and (min-width: 1650px) {
        padding-top: 400px;
        padding-bottom: 400px;
    }
    @media only screen and (max-width: 1649px) and (min-width: 1200px) {
        padding-top: 300px;
        padding-bottom: 300px;
    }
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.padding-bottom-500 {
    padding-bottom: 500px;

    &.override {
        padding-bottom: 400px;

        @media only screen and (max-width: 1919px) and (min-width: 1650px) {
            padding-bottom: 300px;
        }
        @media only screen and (max-width: 1649px) and (min-width: 1200px) {
            padding-bottom: 250px;
        }
        @media (max-width: 1199px) {
            padding-bottom: 50px;
        }
    }
    @media only screen and (max-width: 1919px) and (min-width: 1650px) {
        padding-bottom: 350px;
    }
    @media only screen and (max-width: 1649px) and (min-width: 1200px) {
        padding-bottom: 300px;
    }
    @media (max-width: 1199px) {
        padding-bottom: 50px;
    }
}

.padding-bottom-50 {
    padding-top: 50px;
    padding-bottom: 50px;

    &.override {
        @media (min-width: 1200px) {
            padding-top: 0;
        }
    }
}

.uppercase-text {
    text-transform: uppercase;
}

.bg-orange {
    background-color: $COLOR_ORANGE;
}

.bg-white {
    background-color: $COLOR_WHITE;
}

.bg-lines {
    background-image: url('../images/japan/version2/ptn-section-keypoints.svg');

    @media (max-width: 1199px) {
        background-image: url('../images/japan/version2/ptn-section-keypoints-mobile.svg');
    }
}

.bg-confetti {
    background-image: url('../images/japan/version1/confetti.svg');
}

.bg-semicircles {
    background-image: url('../images/japan/version1/semicircle.svg');
}

.bg-platforms {
    background-image: url('../images/japan/version2/bg-section-platforms@2x.png');
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 230%;
    background-repeat: no-repeat;
    background-size: contain;
    top: -300px;
    z-index: -1;
    @media only screen and (max-width: 1919px) and (min-width: 1200px) {
        top: -200px;
    }
    @media (max-width: 1199px) {
        top: 0;
        height: 100%;
    }
}

.bg-overflow {
    position: relative;
    z-index: 2;
    margin-bottom: -240px;
    @media (max-width: 1199px) {
        margin-bottom: 0;
    }
}

.flex {
    @include flex-center;
    text-align: left;

    .box {
        flex-direction: column;
        align-items: flex-start;
    }
    .box ~ .box {
        margin: 60px 0 0;
    }
}

.flex-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: left;

    p.desc-text {
        max-width: 185px;
        @media (max-width: 1199px) {
            max-width: 100%;
        }
    }
    @media (max-width: 1199px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    * {
        margin: 10px;
    }
}

.icon-sm, .icon-md, .icon-lg {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;

    &.icon-sm {
        height: 32px;
        width: 32px;
    }
    &.icon-md {
        height: 40px;
        width: 40px;

        &.rounded {
            border: 5px solid $COLOR_DARK_WHITE;
            border-radius: 50%;
            padding: 50px;
        }
    }
    &.icon-lg {
        height: 100px;
        min-width: 100px;
        margin: 5px auto;
    }
}

// Slanted edges
.edge--bottom {
    @include angle(after);
}

.edge--bottom--reverse {
    @include angle(after, true);
}

.edge--top {
    @include angle(before);
}

.edge--top--reverse {
    @include angle(before, true);
}

.edge--both {
    @include angle(both);
}

.edge--both--reverse {
    @include angle(both, true);
}

.white-gap-before {
    @include gap('before', $COLOR_WHITE, 20px, 12.4deg, -100%, true);
}

.white-gap-after {
    @include gap('after', $COLOR_WHITE, 50px, 12.4deg, 0, true);
}

.small-gap-before {
    @include gap('before', $COLOR_WHITE, 20px, 0deg, 0, true, 250px, 80px, -20%);

    @media (max-width: 1199px) {
        content: none;
    }
}

@media (max-width: 1649px) {
    [class*='white-gap']:before, [class*='white-gap']:after, [class*='small-gap']:before {
        content: none;
    }
}

@media (max-width: 1199px) {
    [class*='edge--']:before, [class*='edge--']:after {
        content: none;
    }
}

/** Components **/
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 0;
    border-width: 0 0 1px;
    background-color: $COLOR_WHITE;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: -1px -1px 1px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px -1px 1px 2px rgba(255, 255, 255, 1);
    box-shadow: -1px -1px 1px 2px rgba(255, 255, 255, 1);

    .container {
        display: flex;
    }
    &.top-nav-collapse {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand {
        float: left;
    }
    .logo {
        background: url('../images/japan/version1/logo.svg') no-repeat;
        background-size: contain;
        width: 180px !important;
        height: 40px;
        margin: 15px 0;
    }
    .navbar-collapse {
        margin: auto 0 auto auto;

        .navbar-nav {
            display: flex;
            align-items: center;

            > li {
                white-space: nowrap;
                text-align: center;
                margin: 0 25px 0 0;

                img {
                    height: 30px;
                }
            }
            a, a:visited {
                font-weight: 400 !important;
                padding: 15px 0;
                color: $COLOR_BLACK;
                font-size: $FONT_SIZE_L;
            }
            a:hover, a:focus {
                text-decoration: none;
            }
        }
    }
    .navbar-toggle {
        position: relative;
        float: right;
        background: url('../images/japan/version1/main_menu.svg') no-repeat;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        display: none; // hide on desktop

        &:focus {
            outline: 0;
        }
    }
}

@media (max-width: 1199px) {
    .navbar-fixed-top {
        margin-bottom: 0;
        padding: 15px 0;
        overflow: hidden;
        flex-direction: column;
        max-height: 70px;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s, background-color 0.4s;

        .container {
            display: block;
        }
        &.expand {
            max-height: 440px;
            background-color: $COLOR_WHITE;
        }
        .navbar-header {
            width: 100%;
            display: flex;
            align-items: center;

            .navbar-brand {
                height: 30px;
                width: 180px !important;
                margin: 0 15px;

                @media (max-width: 575px) {
                    height: 40px;
                    margin: 0 auto;
                }
            }
            .navbar-toggle {
                display: block;
                height: 30px;
                width: 30px;
            }
        }
        .navbar-collapse {
            margin: 0;
            width: 100%;
            height: 0;
            pointer-events: none;
            opacity: 0;
            -webkit-transition: height 0.3s;
            -moz-transition: height 0.3s;
            -ms-transition: height 0.3s;
            -o-transition: height 0.3s;
            transition: height 0.3s;

            .navbar-nav {
                display: block;
                padding-top: 5px;
                width: 100%;

                > li {
                    margin: 10px 0;
                    padding: 0;
                    text-align: left;
                }
                &.word-wrap {
                    > li {
                        white-space: nowrap;
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
            &.expand {
                opacity: 1;
                pointer-events: auto;
                height: 100%;
            }
        }
    }
}

.intro {
    position: relative;
    padding-top: 0;
    @media (max-width: 1199px) {
        padding-bottom: 0;
    }

    .intro-bg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url('../images/japan/version2/bg-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        @media (max-width: 1199px) {
            background-position-x: 85%;
            opacity: 0.5;
            top: -60px;
        }
    }
    .container {
        padding-top: 200px;
        padding-bottom: 400px;

        .intro-subtext {
            color: $COLOR_BLUE;

            @media (max-width: 575px) {
                text-align: center;
            }
        }
        @media (max-width: 1199px) {
            padding-top: 150px;
            padding-bottom: 50px;
        }
    }
}

.cards {
    > [class*='gr-'] {
        margin: 25px 0;
    }
    .card-leaf, .card--light {
        position: relative;
        height: 100%;   // equal-height card
    }
    &--less-margin {
        > [class*='gr-'] {
            margin: 25px -35px;
            @media (max-width: 1199px) {
                margin: 25px 0px;
            }
        }
    }
    &--numbered {       // auto-numbered card
        justify-content: center;
        counter-reset: section;

        .card-leaf:before {
            @include flex-center;
            position: absolute;
            counter-increment: section;
            content: counter(section);
            background: $COLOR_BLUE;
            border: 10px solid $COLOR_WHITE;
            color: $COLOR_WHITE;
            border-radius: 50%;
            top: -30px;
            left: 0;
            width: 60px;
            height: 60px;
            font-size: 18px;
            @media (max-width: 767px) {
                top: -15px;
                width: 30px;
                height: 30px;
                font-size: 14px;
            }
        }
    }
}

.card-leaf {
    @include flex-center;
    background-color: $COLOR_WHITE;
    border-radius: 10px 50px;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    max-width: 300px;
    max-height: 275px;
    min-height: 275px;
    color: $COLOR_BLUE;
    margin: 0 auto;
    @media (max-width: 767px) {
        font-size: 22px;
        padding: 15px;
        max-height: 200px;
        min-height: 200px;
    }
}

.card {
    @include card(1px, $COLOR_BLUE);
    padding: 20px;
    position: relative;

    .card-header {
        &__bubble {
            margin: -21px;
            padding: 15px;
            margin-bottom: 40px;
            min-height: 106px;

            h3 {
                text-align: center;
                color: $COLOR_WHITE;
                margin-bottom: 0;
            }
        }
        &__ribbon {
            margin: auto;
            margin-top: -74px;
            margin-bottom: 40px;
        }
    }
    .card-divider {
        margin: 20px -20px;
    }
    .icon-sm, .icon-md {
        margin: 10px;
    }
    .color-light-blue {
        color: $COLOR_LIGHT_BLUE;
    }
    .color-red {
        color: $COLOR_RED;
    }
}

.numbered {
    counter-reset: section;

    > [class*='gr-'] {
        margin: 25px 0;
    }
    .rounded {
        position: relative;

        &:before {
            @include flex-center;
            position: absolute;
            counter-increment: section;
            content: counter(section);
            background: $COLOR_ORANGE;
            color: $COLOR_WHITE;
            border-radius: 50%;
            top: -10px;
            left: -5px;
            width: 32px;
            height: 32px;
        }
    }
}

.twb-buttons {
    @include flex-center;

    ul {
        display: flex;
        counter-reset: section;

        li {
            counter-increment: section;
            content: counter(section);
            background-color: $COLOR_WHITE;
            border: 2px solid $COLOR_BLUE;
            border-radius: 50%;
            padding: 2px;
            margin: 0 10px;
            cursor: pointer;

            &.active {
                background-color: $COLOR_ORANGE;
                border-color: $COLOR_ORANGE;
            }
        }
    }
    .twb-button {
        width: 24px;
        height: 24px;
        background-size: cover;

        &-prev {
            background-image: url('../images/japan/version2/left_enabled.svg');
        }
        &-next {
            background-image: url('../images/japan/version2/right_enabled.svg');
        }
    }
}

.tab-container {
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: 1439px) {
        padding-bottom: 0;
        padding-top: 0;
        width: 55vw;

        .ic-1, .ic-2, .ic-3, .ic-4, .ic-5, .ic-6, .ic-7, .ic-8 {
            background-size: cover;
        }
        .icon-sm {
            width: 48px;
            height: 48px;
        }
        .tab-image {
            max-width: 50%;
            flex-basis: 50%;
        }
    }
    @media (max-width: 575px) {
        margin-top: -60px;
    }
}

.twb-content-wrapper {
    overflow: hidden;
    display: flex;

    .twb-content-container {
        display: inline-flex;
        position: relative;
        min-width: 100%;
        left: 0;
        transition: left 0.3s;

        .twb-content {
            position: relative;
            min-width: 100%;
            text-align: center;
        }
    }
}

.box-o, .box {
    @include flex-center;
    padding: 0 10px;
    text-align: center;

    &.box-o {
        border: 1px solid $COLOR_LIGHT_GRAY;
    }
    p {
        margin: 0;
    }
    &-column {
        flex-direction: column;
    }
}

// Icons
.ic-1 {
    background-image: url('../images/japan/version1/icon-1.svg');
}

.ic-2 {
    background-image: url('../images/japan/version1/icon-2.svg');
}

.ic-3 {
    background-image: url('../images/japan/version1/icon-3.svg');
}

.ic-4 {
    background-image: url('../images/japan/version1/icon-4.svg');
}

.ic-5 {
    background-image: url('../images/japan/version1/icon-5.svg');
}

.ic-6 {
    background-image: url('../images/japan/version1/icon-6.svg');
}

.ic-7 {
    background-image: url('../images/japan/version1/icon-7.svg');
}

.ic-8 {
    background-image: url('../images/japan/version1/icon-8.svg');
}

.ic-new-account {
    background-image: url('../images/japan/version1/new-acc.svg');
}

.ic-secure-email {
    background-image: url('../images/japan/version1/secure-email.svg');
}

.ic-knowledge-test {
    background-image: url('../images/japan/version2/ic-knowledge-test.svg');
}

.ic-deposit-money {
    background-image: url('../images/japan/version1/deposit-money.svg');
}

.ic-devices {
    background-image: url('../images/japan/version2/img-devices@2x.png');
}

.ic-award {
    height: 175px;
    margin: 20px;
    padding: 30px;
    @media (max-width: 1199px) {
        height: 80px;
        padding: 0;
    }
}
