body {
    overflow-x: hidden;
    width: 100%;

    * {
        box-sizing: border-box;
    }
}

.scroll-lock {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    line-height: 1.5;

    &.color-white {
        color: $COLOR_WHITE;
    }
}

section {
    padding: 80px 0;

    .bg-shine-v {
        margin-top: -80px;
    }
    .margin-bottom-40 {
        margin-bottom: 40px;
    }
    @media (max-width: 575px) {
        padding: 50px 0;

        .bg-shine-v {
            margin-top: -50px;
        }
    }
}

footer {
    text-align: justify;

    > div {
        font-size: 14px;
        padding: 10px 15px;
    }
    p {
        margin: 0;
    }
    .logo {
        max-height: 40px;
        width: 180px;
        @media (max-width: 575px) {
            display: none;
        }
    }
}

form {
    margin-bottom: 40px;

    h1 {
        font-weight: bold;
        color: $COLOR_WHITE;
        text-align: center;
        margin-top: 50px;

        &.margin-bottom-30 {
            margin-bottom: 30px;
        }
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
    .input-group {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 510px;
        margin: auto;
        @media (min-width: 575px) {
            flex-direction: row;
            justify-content: center;
        }

        input[type='email'] {
            width: 100%;
            font-size: 14px;
            padding: 10px;
            margin: 5px 0;
            max-width: 340px;
            outline: none;
            @media (max-width: 575px) {
                margin: 5px auto;
            }

            &.error-field {
                border: 1px solid $COLOR_RED;
            }
        }
        button {
            max-width: 340px;
            margin: 5px 20px;
            outline: none;
            @media (max-width: 575px) {
                margin: 5px auto;
                width: 100%;
            }
        }
        .error-msg {
            position: absolute;
            top: 100%;
            left: 3px;
            @media (max-width: 575px) {
                position: relative;
                margin: 5px 0;
            }
        }
    }
    .signup-form-success, .signup-form-error {
        background-color: $COLOR_ORANGE;
        padding: 5px;
        color: $COLOR_WHITE;
        border-radius: 5px;

        p {
            text-align: center;
        }
    }
}

.flex {
    @include flex-center;
    text-align: left;

    .box {
        flex-direction: column;
        align-items: flex-start;
    }
    .box ~ .box {
        margin: 60px 0 0;
    }
    &.margin-top-20 {
        margin: 20px 0 0;
    }
    p {
        margin: 0;
    }
}

.flex-end {
    align-self: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.pattern {
    display: block;
    background-repeat: repeat;
    background-position: center center;

    &-wave {
        background-image: url('../images/japan/version1/wave.svg');
    }
    &-polkadots {
        background-image: url('../images/japan/version1/polkadots.svg');
    }
    &-confetti {
        background-image: url('../images/japan/version1/confetti.svg');
    }
    &-geometric {
        background-image: url('../images/japan/version1/geometric.png');
    }
    &-semicircle {
        background-image: url('../images/japan/version1/semicircle.svg');
    }
    &-stretch {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;

    &-shine-v {
        background-image: url('../images/japan/version1/bg-shine-v.svg');
        background-size: cover;
        @media (min-width: 2559px) {
            padding-bottom: 150px;
        }

        .container {
            padding-bottom: 80px;
            @media (max-width: 575px) {
                padding-bottom: 40px;
            }
        }
    }
    &-shine-rectangle {
        background-color: $COLOR_DARK_BLUE;
        background-image: url('../images/japan/version1/bg-shine-v.svg');
        background-size: cover;
    }
    &-ribbon {
        background-image: url('../images/japan/version1/blue-ribbon.svg');
        background-size: contain;
    }
    &-bubble-box {
        @include flex-center;
        background-image: url('../images/japan/version1/bubble-box.svg');
        background-size: contain;
        position: relative;

        h1 {
            color: $COLOR_WHITE;
            padding: 15px;
            font-weight: bold;
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
        & + img {
            margin-top: -20px;
            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
    }
}

.fill-bg-color {
    /* stylelint-disable color-no-hex */
    background-color: #f4f4f6 !important;
    /* stylelint-enable color-no-hex */
}

.text-bold {
    font-weight: bold;
}

.text-semibold {
    font-weight: 600 !important;
}

.text-medium {
    font-weight: 500 !important;
}

.color-blue {
    color: $COLOR_BLUE;
}

.color-orange {
    color: $COLOR_ORANGE;
}

/* Components */
.navbar-fixed-top {
    // position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 0;
    border-width: 0 0 1px;
    background-color: $COLOR_WHITE;

    &.top-nav-collapse {
        background: none;
    }
    .logo {
        background: url('../images/japan/version1/logo.svg') no-repeat;
        background-size: contain;
        height: 40px;
        width: 180px;
        margin: 15px 0;
        float: left;
        @media (max-width: 575px) {
            margin: 10px 0;
        }
    }
    .navbar-icon {
        height: 30px;
        margin: 15px 10px;
        @media (max-width: 575px) {
            height: 20px;
            margin: 10px 5px;
        }
    }
    .navbar-header {
        align-items: center;

        .navbar-item-align-left, .navbar-item-align-right {
            display: flex;

            &.navbar-item-align-left {
                justify-content: flex-start;
            }
            &.navbar-item-align-right {
                justify-content: flex-end;
            }
            @media (max-width: 575px) {
                justify-content: center !important;
            }
        }
    }
}

.intro {
    background-color: $COLOR_DARK_BLUE;
    background-image: radial-gradient(circle at top, $COLOR_BLUE 5%, $COLOR_DARK_BLUE 65%);
    position: relative;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    @media (min-width: 480px) and (max-width: 575px) {
        padding-top: 50px;
    }

    &:before {
        @include triangle($COLOR_DARK_BLUE, 100px, 'down');
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        @media (max-width: 575px) {
            @include triangle($COLOR_DARK_BLUE, 40px, 'down');
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
        }
    }
    .intro-text {
        color: $COLOR_WHITE;

        &.intro-text {
            font-size: 72px;
            font-weight: 600;
            white-space: nowrap;
            margin-top: 80px;
            margin-bottom: 30px;
            @media (min-width: 576px) and (max-width: 768px) {
                font-size: 50px;
                margin-top: 60px;
            }
            @media (max-width: 575px) {
                font-size: 36px;
                white-space: pre-wrap; // wrap text on mobile
                max-width: 245px;
                text-align: center;
                margin-top: -20px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: 575px) and (orientation: landscape) {
                white-space: nowrap; // don't wrap text on mobile landscape
                text-align: left;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .intro-subtext {
        color: $COLOR_GRAY;

        &.intro-subtext {
            max-width: 500px;
            margin: 30px 0 50px;
            @media (max-width: 768px) {
                margin: 30px 0;
                font-size: 16px;
            }
        }
    }
    form {
        margin-bottom: 80px;
        @media (max-width: 575px) {
            margin-bottom: 30px;
        }

        .input-group {
            justify-content: flex-start;
            margin-left: 0;
        }
    }
    .intro-bottom-text {
        font-weight: 600;
        margin-bottom: 0;
        @media (max-width: 786px) {
            font-size: 24px;
        }
    }
}

.spacing {
    padding-top: 100px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }

    .section-title {
        margin-top: 80px;
        @media (max-width: 575px) {
            margin-top: 40px;
        }
    }
}

// Sections' heading
.section-title {
    @include flex-center;
    margin-bottom: 10px;

    * {
        padding: 15px;
        border-radius: 5px;
        margin: 0;
        text-align: center;
    }
    h1 {
        color: $COLOR_WHITE;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    .rounded-bubble {
        @include speech-bubble($COLOR_ORANGE, 10px, 'right');
        font-weight: bold;
        text-align: center;
        border-radius: 50%;
        padding: 20px;
        @media (max-width: 575px) {
            display: none;
        }
    }
    .bg-blue {
        background-color: $COLOR_BLUE;
        padding: 10px 15px;
    }
    .bg-orange {
        background-color: $COLOR_ORANGE;
        font-weight: bold;

        &.v-padding {
            padding: 10px 15px;
        }
    }
    .bg-ribbon {
        padding: 0;

        h1 {
            padding: 15px 40px;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
    .bg-bubble {
        @include speech-bubble($COLOR_BLUE, 30px, 'down');
        padding: 15px 30px;
        text-align: center;
        font-size: 36px;
        @media (max-width: 575px) {
            font-size: 28px;
        }

        &.margin-bottom {
            margin-bottom: 1em;
        }
    }
}

// Cards group
.cards {
    > [class*='gr-'] {
        margin: 15px 0;
        display: flex;      // 1. fix for height: 100% in Safari

        .card, .card--light {
            flex: 1;        // 2. fix for height: 100% in Safari
            height: 100%;   // equal-height card
        }
    }
    &--numbered {       // auto-numbering card
        counter-reset: section;

        .card:before, .card--light:before {
            position: absolute;
            counter-increment: section;
            content: counter(section);
            background: $COLOR_BLUE;
            color: $COLOR_WHITE;
            border-radius: 50%;
            top: -20px;
            left: -20px;
            width: 40px;
            height: 40px;
            @include flex-center;
        }
    }
}

// Card - thick border
.card {
    @include card(3px, $COLOR_ORANGE);
    padding: 30px;
    position: relative;

    .card-header {
        color: $COLOR_WHITE;

        &__bubble {
            margin: -30px;
            padding: 30px;
        }
        &__ribbon {
            position: absolute;
            top: -43px;
            padding: 15px;
            left: 0;
            right: 0;
            margin: auto;
            @media (max-width: 575px) {
                top: -20px;
                padding: 5px;

                h1 {
                    font-size: 20px;
                }
            }

            & + .card-body {
                margin-top: 60px;
                margin-bottom: 30px;
                @media (max-width: 575px) {
                    margin-top: 0;
                    margin-bottom: 0;

                    .img-md {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .card-body {
        .bg-bubble {
            @include speech-bubble(#f4f4f6, 10px, 'down');
            color: $COLOR_BLUE;
            font-weight: 600;
            padding: 15px;
            margin: 0 0 20px;
        }
        img.equal-height {
            width: 80%;
            height: 86px;
        }
    }
    .icon-pair {
        margin-top: 20px;

        span {
            display: inline-block;
            text-align: center;
            margin: 0 5px;
        }
    }
}

// Card - thin border
.card--light {
    @include card(1px, $COLOR_ORANGE);
    padding: 20px;
    position: relative;

    .card-header {
        &__bubble {
            @include flex-center;
            margin: -21px;
            padding: 15px;
            margin-bottom: 40px;
            min-height: 106px;
            @media (max-width: 768px) {
                min-height: 130px;
            }
            @media (max-width: 575px) {
                min-height: 88px;
            }

            h3 {
                text-align: center;
                color: $COLOR_WHITE;
                margin-bottom: 0;
                font-size: 20px;
                @media (max-width: 575px) {
                    font-size: 16px;
                }
            }
            &-sm {
                min-height: 70px;

                h3 {
                    @media (max-width: 575px) {
                        font-size: 20px;
                    }
                }
            }
        }
        &__ribbon {
            margin: auto;
            margin-top: -74px;
            margin-bottom: 40px;
        }
    }
    .card-footer {
        margin-top: 10px;
    }
    &.icon-heart {
        justify-content: center;
    }
    &.icon-heart:before {
        position: absolute;
        content: url('../images/japan/version1/heart.svg');
        left: 0;
        right: 0;
        margin: auto;
        bottom: -18px;
    }
    .card-divider {
        margin: 20px -20px;
    }
    .icon-sm, .icon-md {
        margin: 10px;
    }
    .color-light-blue {
        color: $COLOR_LIGHT_BLUE;
    }
    .color-red {
        color: $COLOR_RED;
    }
    &.key-plus {
        font-weight: 600;
        padding: 15px 15px 30px;

        p {
            margin: 0;
        }
    }
    &.no-padding {
        padding: 0;
    }
}

// Speech bubble with outline
.bubble-outline-wrapper {
    counter-reset: section;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 20px;

    .bubble-outline {
        position: relative;
        height: 60%;        // equal-height

        .numbered:before {  // auto-numbering
            position: absolute;
            counter-increment: section;
            content: counter(section);
            background: $COLOR_BLUE;
            color: $COLOR_WHITE;
            border-radius: 50%;
            top: -15px;
            left: -15px;
            width: 32px;
            height: 32px;
            @include flex-center;
        }
    }
}

.bubble-outline {
    @include speech-bubble($COLOR_WHITE, 10px, 'down');
    @include flex-center;
    border: 1px solid $COLOR_ORANGE;
    padding: 15px 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 154px;
    min-height: 50%;

    &:after {
        @include triangle($COLOR_WHITE, 10px, 'down');
        bottom: -8px;
        z-index: 2;
    }
    &:before {
        @include triangle($COLOR_ORANGE, 10px, 'down');
        bottom: -10px;
        z-index: 1;
    }
    p {
        margin: 0;
        font-size: 18px;
    }
}

.box-o, .box {
    @include flex-center;
    padding: 0 10px;
    text-align: left;
    @media (max-width: 768px) {
        max-width: 200px;
    }
    @media (max-width: 320px) {
        max-width: 160px;
    }

    &.box-o {
        border: 1px solid $COLOR_LIGHT_GRAY;
        border-radius: 6px;
    }
    p {
        margin: 0;
    }
    &-column {
        flex-direction: column;
    }
}

.icon-sm, .icon-md, .icon-lg {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px auto;

    &.icon-sm {
        height: 32px;
        width: 32px;

        &.big {
            height: 40px;
            width: 40px;
        }
    }
    &.icon-md {
        height: 48px;
        width: 48px;
    }
    &.icon-lg {
        height: 50px;
        min-width: 50px;
    }
}

.icon-1 {
    background-image: url('../images/japan/version1/icon-1.svg');
}

.icon-2 {
    background-image: url('../images/japan/version1/icon-2.svg');
}

.icon-3 {
    background-image: url('../images/japan/version1/icon-3.svg');
}

.icon-4 {
    background-image: url('../images/japan/version1/icon-4.svg');
}

.icon-5 {
    background-image: url('../images/japan/version1/icon-5.svg');
}

.icon-6 {
    background-image: url('../images/japan/version1/icon-6.svg');
}

.icon-7 {
    background-image: url('../images/japan/version1/icon-7.svg');
}

.icon-8 {
    background-image: url('../images/japan/version1/icon-8.svg');
}

.icon-lock-switch {
    background-image: url('../images/japan/version1/lock-switch.svg');
}

.img-md {
    width: 145px;
    height: 145px;
}

.responsive-lg {
    max-width: 120px;
    max-height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .gr-padding-5-m {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    h2, h1.color-orange {
        font-size: 20px !important;
    }
    .subtitle {
        font-size: 18px !important;
    }
    p {
        font-size: 16px;
    }
}
