#accordion {
    @if not $IS_LTR {
        .ui-state-active, .ui-state-default, .ui-state-hover {
            background-position: left !important;
        }
        h3.ui-state-default {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><defs><style>.cls-1{fill:#{rgba($COLOR_BLUE, 1)};}</style></defs><title>arrow_left</title><path class="cls-1" d="M15.7,16.59,11.125,12,15.7,7.41,14.3,6l-6,6,6,6Z"/></svg>');
        }
    }
    .ui-accordion-content {
        padding-top: 0;
    }
}
