#androidApp, #appstore {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: relative;
}

#appstore {
    background: url('../images/pages/applications/appstore.svg') 0 0/100px 30px no-repeat;
    @include BIDIR_PROP(margin-left, margin-right, 10px);
}

#androidApp {
    background: url('../images/pages/trade/google-play-badge.png') 0 0/100px 30px no-repeat;
}

/* trading page */
#trading_socket_container {
    #androidApp, #appstore {
        @include BIDIR_VALUE(float, right, left);
    }
    @media (max-width: 768px) {
        #appstore, #androidApp {
            margin: 0 auto;
            padding-bottom: 10px;
            float: none;
        }
    }
}

iframe#chart_frame {
    width: 1px;
    min-width: 100%;
    *width: 100%; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

.chart-delay {
    display: block;
    text-align: center;
    margin-bottom: 0.2em;
    color: $COLOR_RED;
}

.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;

    > div {
        margin: auto;
        max-width: 44em;
        max-height: 80vh;
        background-color: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        overflow: auto;
        text-align: left;
    }
}

#reality_check_content {
    td {
        width: 12.5%;
    }
    [data-balloon] {
        border-bottom: none;
    }
}
