#exception {
  padding: 0px 0;
  min-height: 200px;
  text-align: center;
  h1 {
    font-weight: normal;
    font-size: 1.6em;
    margin: 10% 0 5% 0;
  }
  a {
    @include link-button;
    display: inline;
  }
  table.code {
      margin-left: 50px;
      font-size: 12px;
      border-spacing: 2px;
      border-collapse: collapse;
      background: $COLOR_GRAY;
      td {
          border: 1px solid $COLOR_GRAY_SHADE;
      }
      td.current {
          font-style: italic;
          font-weight: bold;
          color: $COLOR_RED;
      }
  }
}
