#footer {
    #footer-menu {
        padding: 10px 0;
        h4 {
            font-size: 13px;
            font-weight: bold;
        }
        li {
            line-height: 1;
        }
        .partner img {
            max-width: 65%;
            margin: 0.3em auto;
        }
    }
    #footer-regulatory {
        a {
            display: inline-block;
            text-decoration: underline;
        }
        #regulatory-text {
            line-height: 1.2em;
            text-align: justify;
            font-size: 10px;
        }
        #social-networks {
            padding-top: 20px;
        }
        #iom_icon_footer {
            max-width: 90px;
        }
        #lga_icon_footer {
            max-width: 140px;
        }
        #mfsa_logo {
            max-width: 320px;
            margin-top: 10px;
        }
        #mifid_logo {
            max-width: 150px;
            margin-top: 15px;
        }
        .social-icons {
            @include BIDIR_VALUE (text-align, right, left);
            .social-network-icon {
                width: 30px;
                height: 30px;
                padding-right: 5px;
                padding-top: 10px;
            }
        }
        #ratelimit-error-message {
            display: none;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $COLOR_YELLOW;
            z-index: 999;
            text-align: center;
            .message {
                margin: 12px;
                font-style: italic;
                color: $COLOR_RED;
                a {
                    color: $COLOR_GREEN;
                    font-size: inherit;
                }
            }
        }
    }
    #footer-last {
        a {
            text-decoration: underline;
        }
        .gambling {
            margin: 0;
            text-align: justify;
            font-size: 13px;
            font-weight: 400;
            line-height: 110%;
        }
    }
    #end-note {
        line-height: 25px;
        text-align: center;
        background: $COLOR_RED;
        color: $COLOR_WHITE;
        font-size: $FONT_SIZE_XS;
        position: fixed;
        bottom: 0;
        width: 100%;
        a {
            color: $COLOR_WHITE;
        }
    }
}
