#footer {
    #footer-menu {
        h4 {
            font-size: $FONT_SIZE_S;
        }
        li {
            line-height: 1;
        }
    }
    .content-inverse-color a {
        text-decoration: underline;
    }
    #footer-regulatory {
        #regulatory-text {
            text-align: justify;
            font-size: $FONT_SIZE_XXS;
        }
        #iom_icon_footer {
            max-width: 90px;
        }
        #lga_icon_footer {
            max-width: 140px;
        }
        #ratelimit-error-message, #site-status-message {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $COLOR_YELLOW;
            z-index: 999;
        }
        #site-status-message {
            z-index: 9999;
        }
    }
    #footer-last {
        .gambling {
            text-align: justify;
            font-size: $FONT_SIZE_XS;
            font-weight: 400;
            line-height: 110%;
        }
    }
    #end-note {
        line-height: 25px;
        background: $COLOR_RED;
        font-size: $FONT_SIZE_XS;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;
    }
}
