/* Logo and top bar */
body #topbar {
    @include BIDIR_VALUE(text-align, right, left);
    #virtual-text {
        font-weight: 700;
    }
    #topbar-info {
        @include BIDIR_PROP(margin-left, margin-right, auto);
        height: 23px;
        > div {
            height: 23px;
        }
    }
    #gmt-clock, #contact-us, .upgrademessage {
        align-self: center;
    }
    #gmt-clock {
        white-space: nowrap;
    }
    .upgrademessage {
        text-align: center;
    }
    .upgrademessage a {
        @include link-button;
        border-radius: 2px;
        font-size: 90%;
        padding: 2px 4px;
        text-transform: none;
        @include BIDIR_VALUE(margin, 0 0 0 10px, 0 10px 0 0);
    }
    a {
        color: $COLOR_WHITE;
        white-space: nowrap;
        text-decoration: none;
    }
    #select_language {
        top: -3px;
    }
    #display_language li:first-child {
        margin-top: 0;
    }
}

#header {
    height: 75px;
    a {
        img {
            height: 55px;
        }
    }
    select#client_loginid option[disabled=disabled] {
        background-color: $COLOR_LIGHT_GRAY;
    }
    #binary-logo-text {
        margin-top: 0 !important;
        img {
            width: 90%;
        }
    }
    #client-logged-out {
        @include BIDIR_VALUE(text-align, right, left);
        #btn_login {
            margin-bottom: 0;
        }
    }
    #mobile-menu-icon {
        img {
            max-width: 32px;
        }
    }
    #mobile-menu-icon-container {
        margin-top: 5px;
        margin-right: 3px;
    }
    #menu-top {
        text-align: center;
        white-space: nowrap;
        a:hover {
            opacity: 0.75;
        }
        li {
            line-height: 1;
            display: inline-block;
            text-align: center;
            margin: 0;
            white-space: normal;
            &:last-child {
                background: none;
            }
            a {
                font-weight: normal;
                vertical-align: middle;
                display: table-cell;
                height: 50px;
                max-width: 110px;
                text-decoration: none;
                letter-spacing: 0;
                text-transform: capitalize;
                padding: 0px 10px;
                word-wrap: break-word;
                color: $COLOR_WHITE;
            }
        }
    }
    .topMenuBalance {
        visibility: hidden;
    }
    #main-logout {
        @include BIDIR_VALUE(float, right, left);
        .main-account > .account-type {
            white-space: nowrap;
        }
    }
    #all-accounts {
        z-index: 99;
    }
}
