meter#password-meter {
  width: 10.9em;
  height: .5em;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: top;
  display: block;
}

meter#password-meter::-webkit-meter-bar {
  background: #f5f5f5;
  box-shadow: 0 5px 5px -5px #333 inset;
}
