meter#password-meter {
    display: block;
    width: 10.9em;
    height: 0.5em;
    border: 1px solid $COLOR_DARK_WHITE;
    border-radius: $BORDER_RADIUS;
}

meter#password-meter::-webkit-meter-bar {
    background: $COLOR_LIGHT_GRAY;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.25) inset;
}
