.lightbox {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;
}

.lightbox > div {
    display: table-cell;
    vertical-align: middle;
}

.lightbox > div > div {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    width: 44em;
    text-align: center;
    background-color: $COLOR_WHITE;
    border-radius: $BORDER_RADIUS;
    max-height: 80vh;
    overflow: auto;
}

#reality-check-content, #balances-content {
    padding: 0;
    text-align: left;
    td {
        width: 12.5%;
        text-align: center;
    }
    label {
        display: inline-block;
        width: 14em;
    }
    [data-balloon] {
        border-bottom: none;
    }
}

#reality-check-content {
    @media screen and (max-width: 480px) {
        width: 45% !important;
    }
}

#reality-check-nav, #balances-nav {
    margin-top: 1em;
    span:nth-child(2) {
        display: inline-block;
        width: 5em;
    }
}

#reality-check-nav {
    @media screen and (max-width: 480px) {
        width: 45% !important;
    }
}

@media screen and (max-width: 480px) {
    #risk_classification.lightbox > div > div {
        width: 95vw;
    }
}
