#ui-timepicker-div, #ui-datepicker-div {
    &, &:before, &:after {
        transition: none;
    }
}

.ui-datepicker, .ui-timepicker-table {
    &.ui-widget-content {
        border: 0;
    }
    &.ui-corner-all, .ui-corner-all {
        border-radius: 0;
    }
}
