.price_moved_up {
    background-color: $COLOR_LIGHT_BLUE;
    color: $COLOR_WHITE;
}

.price_moved_down {
    background-color: $COLOR_RED;
    color: $COLOR_WHITE;
}

a.close {
    position: absolute;
    @include close;
}

.inner-close-wrapper {
    padding: 0;
    width: 35px;

    a.inner-close {
        @include close;
    }
}

.profit {
    color: $COLOR_GREEN;
}

.loss {
    color: $COLOR_RED;
}

#notifications_wrapper {
    .notice-msg {
        margin-bottom: 5px;
        padding: 10px 26px;
        line-height: 25px;
        font-size: $FONT_SIZE_S;
        position: relative;

        &.dismissible {
            cursor: pointer;
        }
        .notification-dismiss {
            position: absolute;
            top: 0;
            right: 0;
            color: $COLOR_BLUE;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-family: 'Arial';
            font-size: $FONT_SIZE_N;
        }
        &:hover .notification-dismiss {
            color: $COLOR_ORANGE;
        }
    }
}

#trading_socket_container, #trading_socket_container_beta {
    #notifications_wrapper .notice-msg {
        margin-bottom: 10px;
    }
}
