<div class="gr-12 gr-padding-30 gr-no-gutter">
    <h2>[% l("Pre-contract Document") %]</h2>
    <p>[% l("Japan website Pre-contract Document Paragraph 1") %]</p>
    <p>
        <a class="button" href="[% japan_docs_url _ '/documents/binary_maeshomen.pdf' %]" download target="_blank">
            <span>[% l("Japan website Download Text for Pre-contract Document") %]</span>
        </a>
    </p>
</div>
