// Dark Theme
.theme--dark {
    background: $COLOR_DARK_BLUE_1;
    color: $COLOR_WHITE;

    .inline-icon {
        @include colorIcon($COLOR_DARK_BLUE_7, none);

        &.active {
            @include colorIcon($COLOR_DARK_BLUE_5, $COLOR_WHITE, $COLOR_WHITE);
        }
        &.disabled {
            @include colorIcon($COLOR_DARK_BLUE_8, none);
        }
        &.white {
            @include colorIcon($COLOR_WHITE);
        }
    }
    .trade-container {
        background: $COLOR_DARK_BLUE_2;

        &__price {
            color: $COLOR_WHITE;

            &-info-basis {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &__fieldset {
            background: $COLOR_DARK_BLUE_3;
            color: $COLOR_DARK_BLUE_7;
            border-color: $COLOR_DARK_BLUE_3;

            &-info {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &__input {
            background: $COLOR_DARK_BLUE_2;
            color: $COLOR_DARK_BLUE_7;
            border-color: $COLOR_DARK_BLUE_2;
        }
        &__barriers {
            &--up, &--down {
                @extend .inline-icon.white;
            }
        }
        &__currency {
            color: $COLOR_DARK_BLUE_7;
        }
        &__error {
            &-info {
                color: $COLOR_WHITE;
            }
        }
        &__allow-equals-label {
            color: $COLOR_DARK_BLUE_7;
        }
        .chartContainer:before {
            background-image: linear-gradient(to right, rgba(16, 19, 32, 1), rgba(16, 19, 32, 0));
        }
    }
    .purchase-container {
        &__error {
            background: $COLOR_DARK_BLUE_3;
            color: $COLOR_DARK_BLUE_7;

            a {
                color: $COLOR_DARK_BLUE_7;

                &:hover {
                    color: $COLOR_WHITE;
                    font-weight: 500;
                }
            }
            &-result {
                color: $COLOR_DARK_BLUE_7;

                span.label {
                    color: $COLOR_DARK_BLUE_7;
                }
            }
            &-login {
                color: $COLOR_WHITE;
            }
        }
        &__option div.box .left-column .type-wrapper {
            background: $COLOR_DARK_BLUE_6;
        }
        &__lock {
            background: $COLOR_DARK_BLUE_3;

            &-icon {
                @extend .inline-icon.white;
            }
            &-button {
                background: transparent;
            }
            &-header {
                color: $COLOR_WHITE;
            }
            &-message {
                background: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;
            }
        }
    }
    .btn-purchase:disabled {
        box-shadow: 0 2px 2px 0 $COLOR_DARK_BLUE_7;
        background: $COLOR_DARK_BLUE_6;
        color: $COLOR_DARK_BLUE_8;
    }
    .card-list {
        &__card {
            background: $COLOR_DARK_BLUE_5;
            border-color: $COLOR_DARK_BLUE_5;

            div[class*='-card__header'] {
                background: $COLOR_DARK_BLUE_3;
                border-color: $COLOR_DARK_BLUE_5;
                color: $COLOR_DARK_BLUE_7;
            }
            div[class*='-card__body'] {
                color: $COLOR_DARK_BLUE_7;
            }
        }
    }
    .number-selector {
        &__selection {
            color: $COLOR_DARK_BLUE_7;
            background-color: $COLOR_DARK_BLUE_2;

            &.selected {
                background-color: $COLOR_DARK_BLUE_5;
                color: $COLOR_WHITE;
            }
            &:hover {
                background-color: $COLOR_DARK_BLUE_4;
            }
        }
    }
    header {
        background: $COLOR_DARK_BLUE_1;
        border-color: $COLOR_DARK_BLUE_1;

        .menu-items {
            .menu-left .menu-links a {
                &.active {
                    span {
                        color: $COLOR_WHITE;
                    }
                    &:after {
                        background-color: $COLOR_WHITE;
                    }
                }
                &:hover:not(.active) {
                    background-color: $COLOR_DARK_BLUE_4;
                }
                span {
                    color: $COLOR_DARK_BLUE_7;
                }
            }
            .menu-left .binary-logo, .menu-right {
                border-color: $COLOR_DARK_BLUE_2;
            }
        }
        .inkbar {
            background-color: $COLOR_WHITE;
        }
    }
    footer {
        background: $COLOR_DARK_BLUE_1;
        color: $COLOR_DARK_BLUE_7;

        .server-time {
            color: $COLOR_DARK_BLUE_7;
        }
        .footer-links a {
            span {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover {
                background: $COLOR_DARK_BLUE_4;
            }
            &.active {
                background: $COLOR_DARK_BLUE_4;

                &:after {
                    background: $COLOR_WHITE;
                }
            }
        }
        .network-status-circle--blinker {
            background: $COLOR_DARK_BLUE_7;
        }
        .footer-links-left {
            .ic-positions {
                &:after {
                    background-color: $COLOR_DARK_BLUE_7;
                }
            }
        }
    }
    // inline trade-types icons
    .type-wrapper {
        background: $COLOR_DARK_BLUE_6;
    }
    .portfolio.container {
        background: $COLOR_DARK_BLUE_5;
    }
    .portfolio-empty, .statement-empty {
        span {
            color: $COLOR_DARK_BLUE_7;
        }
        button.btn span {
            color: unset;
        }
    }
    .statement.container {
        .statement-filter {
            background: $COLOR_DARK_BLUE_5;
            color: $COLOR_DARK_BLUE_7;
            border-color: $COLOR_DARK_BLUE_5;
        }
        .statement__content {
            background: $COLOR_DARK_BLUE_5;
        }
    }
    .table {
        border-color: $COLOR_DARK_BLUE_5;

        &__head, &__foot {
            background: $COLOR_DARK_BLUE_3;
        }
        &__head, &__foot, &__row {
            border-color: $COLOR_DARK_BLUE_5;
        }
        &__body {
            a.table__row:hover {
                background: $COLOR_DARK_BLUE_5;
            }
            .table__row {
                &, &:active, &:visited {
                    color: $COLOR_DARK_BLUE_7;
                }
            }
        }
        &__cell {
            color: $COLOR_DARK_BLUE_7;
        }
    }
    .statement, .portfolio {
        &-card__header {
            border-color: $COLOR_DARK_BLUE_5;
        }
    }
    // TODO: refactor to inline SVG and change colors with CSS
    .portfolio-card {
        &__purchase:before {
            background-image: url('../images/portfolio/ic_purchase_dark.svg');
        }
        // &__payout:before {
        //     background-image: url('../images/statement/ic_payout_dark.svg');
        // }
        &__indicative--price-stable:before {
            background-image: url('../images/portfolio/ic_price_stable_dark.svg');
        }
    }
    .statement-card__icon {
        @extend .inline-icon.white;
    }
    .login-message-wrapper {
        .message a {
            color: $COLOR_DARK_BLUE_7;

            &:hover {
                color: $COLOR_WHITE;
            }
        }
    }
    .mobile-widget {
        border-color: $COLOR_DARK_BLUE_5;

        .fieldset-minimized {
            color: $COLOR_DARK_BLUE_7;

            &__basis {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &:hover, &:focus, &:active {
            border-color: $COLOR_WHITE;
        }
    }
    .error-container p {
        color: $COLOR_DARK_BLUE_7;
    }
    .barspinner {
        @extend .barspinner.white;
    }
    .toggle-button {
        background-color: $COLOR_LIGHT_BLACK_1;
        color: $COLOR_LIGHT_BLACK_4;

        &_selected {
            background-color: $COLOR_DARK_BLUE_2;
            color: $COLOR_WHITE;
        }
    }
    .btn--alternate {
        background: $COLOR_DARK_BLUE_5;
        border-color: $COLOR_DARK_BLUE_5;

        .btn__text {
            color: $COLOR_WHITE;
        }
    }
    .block-ui {
        background: rgba(16, 19, 32, 0.6); // this is color dark blue 2 with 0.6 opacity

        &__loading-spinner-path {
            animation: dash 1.5s ease-in-out infinite, colorOrange 6s ease-in-out infinite;
        }
    }
    .switch-button:not(.switch-button--toggled) {
        background: $COLOR_DARK_BLUE_5;
    }
    .toggle-chart-layout {
        border-color: $COLOR_DARK_BLUE_7;

        &:after {
            background: $COLOR_WHITE;
        }
    }
    .tab {
        &__header {
            color: $COLOR_DARK_BLUE_7;
        }
        &--active {
            .tab__header {
                color: $COLOR_WHITE;
            }
        }
    }
    .tab-underline {
        border-color: $COLOR_WHITE;
    }
    .full-page-modal {
        background-color: rgba(31, 36, 61, 0.8);

        &__dialog {
            background-color: $COLOR_DARK_BLUE_3;
            box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_3;
        }
        &__content, &__header {
            color: $COLOR_DARK_BLUE_7;
        }
        &__btn {
            background-color: $COLOR_DARK_BLUE_3;

            &:hover {
                background-color: $COLOR_DARK_BLUE_7;
            }
            &-text {
                color: $COLOR_WHITE;
            }
        }
    }
    .toast {
        &__body {
            background-color: $TOAST_BACKGROUND_COLOR_INFO;
            color: $TOAST_TEXT_COLOR_DARK;

            &--error {
                background-color: $TOAST_BACKGROUND_COLOR_ERROR_DARK !important;
            }
            &--info {
                background-color: $TOAST_BACKGROUND_COLOR_INFO_DARK !important;
            }
            &--success {
                background-color: $TOAST_BACKGROUND_COLOR_SUCCESS_DARK !important;
            }
            &--warning {
                background-color: $TOAST_BACKGROUND_COLOR_WARNING_DARK !important;
            }
        }
        &__close-button {
            color: $TOAST_CLOSE_BUTTON_COLOR_DARK;
        }
    }
    .datepicker {
        &__input {
            background: $COLOR_DARK_BLUE_3;
            color: $COLOR_WHITE;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
        &__native-overlay {
            background: $COLOR_DARK_BLUE_5;

            &:hover, &:focus, &:active {
                border-color: $COLOR_WHITE;
            }
        }
    }
    .range-slider {
        &__track {
            background: $COLOR_DARK_BLUE_2 !important;

            &::-webkit-slider-thumb {
                background: $COLOR_PURPLE;
            }
            &::-moz-range-thumb {
                background: $COLOR_PURPLE;
            }
            &::-moz-range-track {
                background: $COLOR_DARK_BLUE_2;
            }
            &:active::-webkit-slider-thumb {
                box-shadow: 0 0 0 4px rgba(79, 96, 174, 0.32);
            }
            &:active::-moz-range-thumb {
                box-shadow: 0 0 0 4px rgba(79, 96, 174, 0.32);
            }
        }
        &__ticks-step {
            border-color: $COLOR_DARK_BLUE_2;
            background: $COLOR_DARK_BLUE_2;

            &--active, &--marked {
                background: $COLOR_PURPLE;
                border-color: $COLOR_PURPLE;
            }
            &:hover:not(&--active) {
                background: $COLOR_PURPLE;
                border-color: $COLOR_PURPLE;
                box-shadow: 0 0 0 6px rgba(79, 96, 174, 0.32);
            }
        }
        &__line {
            background: $COLOR_PURPLE;
        }
    }
    .settings-dialog {
        background: $COLOR_DARK_BLUE_3;

        &__container {
            background: $COLOR_DARK_BLUE_3;

        }
        &__tab-content {
            background: $COLOR_DARK_BLUE_3;
        }
        &__general-container, &__chart-container {
            background: $COLOR_DARK_BLUE_5;
        }
        &__header {
            color: $COLOR_DARK_BLUE_7;
        }
        &__row {
            background-color: $COLOR_DARK_BLUE_2;

            &-name {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover {
                background-color: $COLOR_DARK_BLUE_4;
            }
        }
        &__language {
            &-dialog-container {
                background: $COLOR_DARK_BLUE_3;
            }
            &-header {
                background: $COLOR_DARK_BLUE_3;
                color: $COLOR_DARK_BLUE_7;

            }
            &-row {
                background: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;

                &:hover {
                    background: $COLOR_DARK_BLUE_4;
                }
            }
            &-name {
                color: $COLOR_DARK_BLUE_7;
            }
        }
    }
    .acc-info {
        &__id {
            color: $COLOR_WHITE;
        }
        &:hover:not(.show) {
            background-color: $COLOR_DARK_BLUE_4;

            .symbols {
                background: $COLOR_DARK_BLUE_4;
            }
        }
        &__balance {
            .symbols {
                background: $COLOR_DARK_BLUE_2;
            }
        }
        &--show {
            &:after {
                background: $COLOR_WHITE;
            }
        }
        &--is-virtual {
            .acc-balance-amount, .symbols {
                color: $COLOR_ORANGE;
            }
        }
    }
    .acc-switcher {
        &__wrapper {
            background: $COLOR_DARK_BLUE_3;
        }
        &__account:hover {
            background-color: $COLOR_DARK_BLUE_4;
        }
        &__list {
            background-color: $COLOR_DARK_BLUE_3;

            &-group {
                border-color: $COLOR_DARK_BLUE_2;
            }
            &-title {
                color: $COLOR_DARK_BLUE_7;
            }
            .acc-switcher__account {
                border-color: $COLOR_DARK_BLUE_2;

                .acc-switcher__id {
                    color: $COLOR_DARK_BLUE_7;
                }
                .acc-switcher__radio {
                    border-color: $COLOR_DARK_BLUE_7;
                }
                &--selected {
                    .acc-switcher__id {
                        color: $COLOR_WHITE;
                    }
                    .acc-switcher__radio {
                        border-color: $COLOR_GREEN_1;
                        background: $COLOR_GREEN_1;
                    }
                }
            }
        }
        &__logout {
            background-color: $COLOR_DARK_BLUE_2;

            span {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover {
                background-color: $COLOR_DARK_BLUE_4;
            }
        }
        &__new-account-title {
            color: $COLOR_DARK_BLUE_7;
            border-color: $COLOR_DARK_BLUE_7;

            &:before {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover {
                background: $COLOR_DARK_BLUE_4;
            }
        }
    }
    .allow-equals {
        &__label {
            color: $COLOR_DARK_BLUE_7;
        }
    }
    .popconfirm {
        background: $COLOR_DARK_BLUE_3;

        &__header {
            color: $COLOR_DARK_BLUE_7;
        }
        &__button {
            background: $COLOR_DARK_BLUE_3;

            &-text {
                color: $COLOR_DARK_BLUE_7 !important;
            }
            &:hover {
                background: $COLOR_DARK_BLUE_5 !important;
            }
        }
        &:after {
            border-color: $COLOR_DARK_BLUE_3;
        }
    }
    .calendar {
        background: $COLOR_DARK_BLUE_3;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8), 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        &__body {
            border-color: $COLOR_DARK_BLUE_2;
        }
        &__text {
            color: $COLOR_WHITE;
        }
        &__btn {
            color: $COLOR_DARK_BLUE_7;

            &--select {
                color: $COLOR_WHITE;
            }
        }
        &__cell {
            color: $COLOR_DARK_BLUE_7;

            &:hover {
                background: $COLOR_DARK_BLUE_5;
            }
            &--today {
                border: 1px solid $COLOR_DARK_BLUE_7;
                color: $COLOR_WHITE;
            }
            &--disabled, &--other {
                color: $COLOR_DARK_BLUE_8;
            }
            &--disabled {
                &:hover {
                    background: $COLOR_DARK_BLUE_3;
                }
            }
            &--active {
                color: $COLOR_WHITE;
                background: $COLOR_DARK_BLUE_5 !important;

                &:hover {
                    background: $COLOR_DARK_BLUE_3;
                }
            }
        }
    }
    .contracts-type-dialog {
        &__list-wrapper {
            background: $COLOR_DARK_BLUE_3;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        }
    }
    .contract-type-list {
        &__label span {
            color: $COLOR_DARK_BLUE_7;
        }
        &__contract-wrapper {
            background: $COLOR_DARK_BLUE_2;
            color: $COLOR_DARK_BLUE_7;
        }
    }
    .contract-type-item {
        background: $COLOR_DARK_BLUE_2;
        color: $COLOR_DARK_BLUE_7;

        &__title {
            color: $COLOR_DARK_BLUE_7;
        }
        &--selected {
            background: $COLOR_DARK_BLUE_5;

            span {
                color: $COLOR_WHITE;
            }
        }
        &:hover:not(.contract-type-item--selected) {
            background: $COLOR_DARK_BLUE_4;
        }
    }
    .trade-type-info-dialog {
        &__header {
            .title {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &__gif {
            background-color: $COLOR_DARK_BLUE_2;
            color: $COLOR_DARK_BLUE_8;
        }
        &__content {
            p {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        &__info-wrapper {
            background: $COLOR_DARK_BLUE_3;
        }
    }
    .trade-type-info-navigation {
        &__circle-button {
            background-color: $COLOR_DARK_BLUE_8;

            &--active {
                background-color: $COLOR_DARK_BLUE_7;
            }
        }
    }
    .contract-type-widget {
        color: $COLOR_DARK_BLUE_7;
        background: $COLOR_DARK_BLUE_2;
        border-color: $COLOR_DARK_BLUE_2;

        &:hover {
            border-color: $COLOR_DARK_BLUE_7;
        }
        &:focus, &:active {
            outline: 0;
            border-color: $COLOR_DARK_BLUE_7;
            box-shadow: 0 0 0 2px rgba(127, 131, 151, 0.3);
        }
        &__display {
            span[name=contract_type] {
                color: $COLOR_DARK_BLUE_7;
            }
        }
        .category-wrapper {
            background: $COLOR_DARK_BLUE_5;

            .category-type {
                path, rect {
                    &:not(.important) {
                        fill: $COLOR_WHITE;
                    }
                    &.transparent {
                        fill: $COLOR_DARK_BLUE_5;
                    }
                }
                .stroke-active {
                    stroke: $COLOR_WHITE;
                }
            }
        }
    }
    .button-menu {
        &__button {
            background-color: $COLOR_DARK_BLUE_2;

            span {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover:not(&--active) {
                background-color: $COLOR_DARK_BLUE_4;
            }
            &--active {
                color: $COLOR_WHITE;
                background-color: $COLOR_DARK_BLUE_5;
            }
        }
    }
    .time-picker {
        &__icon {
            g {
                stroke: $COLOR_DARK_BLUE_7;
            }
        }
        &__dialog {
            background: $COLOR_DARK_BLUE_3;
        }
        &__selector {
            &--hours, &--minutes {
                border-color: $COLOR_DARK_BLUE_2;
                color: $COLOR_DARK_BLUE_7;

            }
            &-list-title {
                color: $COLOR_WHITE;
            }
            &-list-item {
                color: $COLOR_DARK_BLUE_7;

                &--disabled {
                    color: $COLOR_DARK_BLUE_8;
                    pointer-events: none;
                }
                &--selected {
                    background: $COLOR_DARK_BLUE_5;
                }
                &:hover:not(&--selected):not(&--disabled) {
                    background: $COLOR_DARK_BLUE_4;
                }
            }
        }
    }
    .input-field {
        &__label {
            color: $COLOR_DARK_BLUE_7;
        }
        &:has(input[type=checkbox]) {
            display: inline-block;
        }
    }
    .input-wrapper {
        &__button:not(:disabled) {
            &:hover {
                background-color: $COLOR_DARK_BLUE_4;
            }
        }
    }
    .input {
        background: $COLOR_DARK_BLUE_2;
        border-color: $COLOR_DARK_BLUE_2;
        color: $COLOR_DARK_BLUE_7;

        &[type=checkbox] {
            border-color: $COLOR_DARK_BLUE_7;

            &:hover {
                border-color: $COLOR_ORANGE;
            }
            &:checked {
                background: $COLOR_ORANGE;
                border-color: $COLOR_ORANGE;
            }
            &:not(:checked) {
                &:focus, &:active {
                    border-color: $COLOR_DARK_BLUE_7;
                }
            }
        }
        &:hover {
            border-color: $COLOR_DARK_BLUE_7;
        }
        &:focus, &:active {
            border-color: $COLOR_DARK_BLUE_7;
            box-shadow: 0 0 0 0.2rem rgba(127, 131, 151, 0.3);
            color: $COLOR_WHITE;
        }
        &::placeholder {
            color: $COLOR_DARK_BLUE_7;
        }
    }
    .dropdown {
        &__display {
            background: $COLOR_DARK_BLUE_2;
            border-color: $COLOR_DARK_BLUE_2;

            &-text {
                color: $COLOR_DARK_BLUE_7;
            }
            &:hover, &:focus, &:active {
                border-color: $COLOR_DARK_BLUE_7;
            }
            &:focus, &:active {
                box-shadow: 0 0 0 2px rgba(127, 131, 151, 0.3);
            }
        }
        &--show > .dropdown__display--clicked {
            border-color: $COLOR_DARK_BLUE_7;
            box-shadow: 0 0 0 2px rgba(127, 131, 151, 0.3);
        }
    }
    .list {
        background: $COLOR_DARK_BLUE_3;

        &__label-text {
            color: $COLOR_WHITE;
        }
        &__item {
            &-text {
                color: $COLOR_DARK_BLUE_7;
            }
            &--selected .list__item-text {
                color: $COLOR_WHITE;
                font-weight: 700;
                background: $COLOR_DARK_BLUE_5;
            }
            &:hover, &--highlighted {
                background: $COLOR_DARK_BLUE_4;
            }
        }
    }
}
