// Dark Theme for Global Layout
.theme-wrapper.dark {
    background: $COLOR_BLUE;

    #header header, footer, .app-contents {
        background: $COLOR_BLUE;
    }
    #header header.shadow {
        box-shadow: 0 1px 0 0 $COLOR_COOL_GRAY;

        .menu-links a {
            &.active {
                span {
                    color: $COLOR_WHITE;
                }
                &:after {
                    background-color: $COLOR_WHITE;
                }
            }
            &:hover {
                span {
                    color: $COLOR_WHITE;
                }
            }
            span {
                color: $COLOR_DARK_GRAY;
            }
        }
        .menu-items {
            .menu-left .binary-logo, .menu-right {
                border-color: $COLOR_COOL_GRAY;
            }
        }
    }
    footer {
        border-color: $COLOR_COOL_GRAY;
        color: $COLOR_DARK_GRAY;

        .server-time {
            border-color: $COLOR_COOL_GRAY;
        }
    }
    fieldset {
        background: $COLOR_LIGHTER_BLUE;
        color: $COLOR_WHITE;
        border-color: $COLOR_COOL_GRAY;

        div.fieldset-header {
            span.field-info.left {
                color: $COLOR_DARK_GRAY;
            }
        }
    }
}
